[2021-08-17 13:38] JanisE opened #1 "Suggestions for template hierarchy page in themes handbook"
A few suggestions on https://developer.wordpress.org/themes/basics/template-hierarchy/ (from a person who's learning WP and reading WP docs for the first time).

1) Fix the link on "query string", which currently points to a (non-anchored) "This page was moved to" page.

2) Update the explanation regarding the query string and how it relates to finding the right template.
As currently I read:

Man

[2021-08-17 13:40] JanisE opened #2 "Repeating names in headers on the loop doc page"
On page https://developer.wordpress.org/themes/basics/the-loop/ , the last two headers seem to have some duplication in them (repeating the function name twice).

[2021-08-17 14:19] JanisE opened #3 "The example code of code reply script is broken"
The example code of code reply script (https://developer.wordpress.org/themes/basics/including-css-javascript/#the-comment-reply-script) is broken:
[code]

And the example code in the next section ("Combining Enqueue Functions") as well.

[2021-08-17 15:28] mkaz opened #4 "Documentation section of Core Contributor Handbook needs content"
Navigating to Core Contributor Handbook and then Contribute with Docs leads me to this page which is empty
https://make.wordpress.org/core/handbook/docs/

It probable should directly link to: https://make.wordpress.org/docs/handbook/

[2021-08-17 15:50] joyously commented on #1
1. that link is to the Glossary, but it is to the old glossary (codex).
2. I suggest removing "It comes after the initial question mark and may contain a number of parameters separated by ampersands."
3. The hierarchy itself doesn't care whether the template is met with a child file or a parent file. That doesn't belong on this page, which is about how WP maps a requested URL to a template file.

[2021-08-17 15:58] joyously commented on #2
It seems to be a problem with the headings containing links.

Perhaps the Table of Contents plugin is messing it up.

[2021-08-17 16:17] JanisE commented on #1
(1) Right, the link points to the old glossary which does not exist any more.

(3) If the hierarchy itself doesn't care about whether there is a parent theme or not, then this could be mentioned on that page. It would certainly help a programmer to understand what that page has set out explain:

So, if I want to adjust the design of my webpage, I would need to know which specific file is used, whi

[2021-08-18 02:58] basilhendroff opened #6 "Using Caddy to Give WordPress Its Own Directory"
### Source article
[Giving WordPress Its Own Directory](https://wordpress.org/support/article/giving-wordpress-its-own-directory/)
### The problem I'm having
The article is Apache-centric and doesn't support other webservers. It's an important article as it's referenced from the WP General Settings screen.

![wp11](https://user-images.githubusercontent.com/63370329/129828317-0c997af8-c43c-4a4b-ab3

[2021-08-18 04:46] basilhendroff opened #7 "Giving WordPress Its Own Directory"
### Source article
[Giving WordPress Its Own Directory](https://wordpress.org/support/article/giving-wordpress-its-own-directory/)
### The problem I'm having
There are multiple issues with this article. See https://wordpress.org/support/topic/giving-wordpress-its-own-directory-24/.

### Suggested improvements
1. [Moving a Root install to its own directory](https://wordpress.org/support/article/giv

[2021-08-18 06:59] basilhendroff opened #8 "Using Permalinks: Update Caddy references"
### Source article
[Using Permalinks](https://wordpress.org/support/article/using-permalinks/)

### The problem I'm having
The WordPress article [Using Permalinks](https://wordpress.org/support/article/using-permalinks/) has the one and only reference in WordPress support docs to Caddy. However, the reference is for Caddy V1, which is now defunct. Caddy V2 has been out since May 2020.
### Suggeste

[2021-08-18 10:00] JanisE opened #9 "Update authentication metchanisms with application password info"
On REST API authentication page https://developer.wordpress.org/rest-api/using-the-rest-api/authentication/ :

1) At this point, also application passwords is available natively, no need for a plugin.

2) "OAuth 1.0a Server" is last updated 5 years ago. Although, it may still be working all right and I don't know if there are better alternatives.

[2021-08-18 13:26] JanisE opened #10 "Add a REST API client library for PHP"
On https://developer.wordpress.org/rest-api/using-the-rest-api/client-libraries/ , there are client library recommendations for JavaScript, Ruby, C#.

I would suggest adding a recommendation for PHP as well, seeing as how Wordpress is run by PHP itself.

This could be a good enough candidate: https://github.com/varsitynewsnetwork/wordpress-rest-api-client (last updated 10 months ago).
This one pro

[2021-08-18 16:55] mkaz opened #11 "Update and modernize the design and styles for handbooks"
The overall design needs updating and modernizing to work better in a multi-device, responsive world. The fonts and typography are quite small and difficult to read. The middle columns are narrow, the sidebars are cramped and the overall look and feel of the documentation sites look dated.

This cuts across the entire Make network of sites, and [the News site has a design refresh in the works](htt

[2021-08-20 07:55] smileBeda opened #13 "Update QuickTags Documentation"
## Issue Description
[This DOC's code example](https://developer.wordpress.org/apis/handbook/quicktags/) is outdated and suboptimal.
It should be updated to use a more modern approach.
I have already put a newer example on [this page](https://codex.wordpress.org/Quicktags_API#A_more_modern_example).

## URL of the Page with the Issue
https://developer.wordpress.org/apis/handbook/quicktags/

## Sec

[2021-08-21 01:21] basilhendroff opened #14 "HTTPS for WordPress using Caddy"
---

## Issue Description

Only an Apache example is provided.
## URL of the Page with the Issue

[HTTPS for WordPress](https://wordpress.org/support/article/https-for-wordpress/)
## Section of Page with the issue

[Best Practices for HTTPS for WordPress](https://wordpress.org/support/article/https-for-wordpress/#best-practices-for-https-for-wordpress)
## Why is this a problem?

Examples for other

[2021-08-22 08:42] atachibana opened #15 "Outdated HTTP API link"
This issue was moved from [HelpHub issue #307](https://github.com/WordPress/HelpHub/issues/307) by [GeoJunkie](https://github.com/GeoJunkie) and [ma0sm](https://github.com/ma0sm).

## 1. issue opened by [GeoJunkie](https://github.com/GeoJunkie)

## Issue Description

In the [HTTP API](https://developer.wordpress.org/apis/handbook/http/) doc, the link to `Basic Authentication with the WordPress HTT

[2021-08-22 08:54] atachibana opened #16 "Incorrect Heartbeat interval duration range"
This issue was moved from [HelpHub issue #312](https://github.com/WordPress/HelpHub/issues/312) reported by [ptrkcsk](https://github.com/ptrkcsk).

## 1. issue opened by [ptrkcsk](https://github.com/ptrkcsk).

## Issue Description

The [Heartbeat API](https://developer.wordpress.org/plugins/javascript/heartbeat-api/) page says:

As far as I can tell, the upper bound on the interval is *120* second

[2021-08-22 08:59] atachibana opened #17 "Plugin handbook shortcode example code is incorrect"
This issue was moved from [HelpHub issue #314](https://github.com/WordPress/HelpHub/issues/314) reported by [oskar-fagerfjall](https://github.com/oskar-fagerfjall).

## **Issue Description**

In the [Shortcodes with Parameters](https://developer.wordpress.org/plugins/shortcodes/shortcodes-with-parameters/) chapter in the plugin handbook, the complete example at the end is incorrect. It works fine

[2021-08-22 09:03] atachibana opened #18 "Plugin Handbook custom meta boxes incorrect AJAX server side code"
This issue was moved from [HelpHub issue #315](https://github.com/WordPress/HelpHub/issues/315) originally reported by [ribaricplusplus](https://github.com/ribaricplusplus).

<hr />

Hello,

I think [this](https://developer.wordpress.org/plugins/metadata/custom-meta-boxes/#server-side-code) server side code is incorrect. It's supposed to be handling the AJAX request, yet it seems to be enqueueing

[2021-08-22 09:37] atachibana opened #19 "New Page: How to move WordPress site from HTTP to HTTPS"
This issue was originally created as [HelpHub #333](https://github.com/WordPress/HelpHub/issues/333) by atachibana and comment was added by [ashfame](https://github.com/ashfame).

---
There are two methods:
1. Using the plugin
2. Setting up WordPress manually (without plugin)

For above method 2, the step will be (but might be missing)
1. Backup WordPress files and database
2. Set SSL certificate

[2021-08-22 12:51] atachibana commented on #2
@joyously

Thank you. You are 100% correct.
The heading that includes function name with parentheses causes this duplicating error. I modified the heading string (by removing parentheses) and fixed this issue.

[2021-08-22 14:29] atachibana commented on #3
@JanisE
Thank you. I fixed those errors.
https://developer.wordpress.org/themes/basics/including-css-javascript/

fyi.
To tell the truth, this content was in the one large Class block and couldn't be modified simply. If I edit any line, whole content was garbled... I had to convert them to usual blocks...

[2021-08-23 00:52] #3 closed

[2021-08-25 08:31] JanisE opened #21 "Duplicate headers in API reference"
On https://developer.wordpress.org/rest-api/reference/users/, there are duplication on the topics list for entries: "Update a User", "Retrieve a User", "Delete a User".

I would suggest distinguish between them by change them to, e.g., "Update Any User" or "Update a User by ID" and "Update the User Currently Logged In".

[2021-08-25 13:51] #2 closed

[2021-08-25 14:06] theMikeD commented on #19
There should also be section for doing this with WP CLI, which would be a one-line search and replace command on the db, like this

[code]
to test, then remove the `--dry-run` when ready

[2021-08-26 04:45] basilhendroff opened #22 "Using Caddy to harden WordPress"
---

## Issue Description

Only Apache examples are provided,
## URL of the Page with the Issue

[Hardening WordPress](https://wordpress.org/support/article/hardening-wordpress/)
## Sections of the Page with the issue

[Securing wp-includes](https://wordpress.org/support/article/hardening-wordpress/#securing-wp-includes)
[Securing wp-config.php](https://wordpress.org/support/article/hardening-word

[2021-08-28 01:45] basilhendroff commented on #19
I think this needs a section on going from HTTPS to HTTP as well. This may be required when a WP site is relocated behind a reverse proxy that terminates TLS.

[2021-08-28 02:12] basilhendroff opened #23 "Using Caddy to deter brute force attacks in WordPress"
---

## Issue Description

Include examples for the Caddy webserver.
## URL of the Page with the Issue

[Brute Force Attacks](https://wordpress.org/support/article/brute-force-attacks/)
## Sections of Page with the issue

[Protect Your Server](https://wordpress.org/support/article/brute-force-attacks/#protect-your-server)
[Password Protect wp-login.php](https://wordpress.org/support/article/brute-

[2021-08-28 08:58] TukuToi opened #24 "Add a section in support doc asking to give useful replies in support forum"
## Issue Description
I’ve come across support replies telling them users to „add this code to XY file: {code here}“

no explanation as of what the code does or why it’d be useful.

this is generally a bad idea IMO and shouldn’t be done.

thus I’d suggest adding a section to https://make.wordpress.org/support/handbook/giving-good-support/ mentioning to please elaborate on an answer so it is clear w

[2021-08-28 09:10] TukuToi commented on #24
Seems I posted in the wrong thing.
Checking where I _should_ post this and then closing. No interaction needed therefore.

[2021-08-28 10:10] TukuToi opened #25 "Upadte Must Use Plugins DOC"
## Issue Description
[This information](https://wordpress.org/support/article/managing-plugins/#must-use-plugins) seems wrong, or at least contradicting to https://wordpress.org/support/article/must-use-plugins/

MU Plugins can by my knowledge be used as well in single installs. It is long time ago that these where `multi user` plugins, now those are `must use` plugins.

## URL of the Page with th

[2021-08-29 02:17] atachibana commented on #25
@TukuToi
I completely agree with you. [This information](https://wordpress.org/support/article/managing-plugins/#must-use-plugins) must be older one and just renamed from `multi-user` to `must use` later.
How about replacing whole section by excerpted sentences from must-use-plugin page?
For example,

## Must-Use Plugins
Must-use plugins (a.k.a. mu-plugins) are plugins installed in a special direc

[2021-08-29 02:20] TukuToi commented on #25
Makes perfect sense to me!

[2021-08-29 03:56] atachibana commented on #1
@joyously
Thank you. I'll fix the document according to your advice.

@JanisE
Certainly this page is missing the description about Child Themes.
How about adding some sentences at the end of Overview section? For example,

## Overview
...

When you are using a [child theme](https://developer.wordpress.org/themes/advanced-topics/child-themes/), any file you add to your child theme will overwrite th

[2021-08-29 04:00] TukuToi opened #26 "Update links inside the posts-screen DOC"
## Issue Description
In this DOC https://wordpress.org/support/article/posts-screen/, there are several links intended to be anchor links, but they lead to other (irrelevant) pages.

## URL of the Page with the Issue
https://wordpress.org/support/article/posts-screen/

## Section of Page with the issue
Example:
https://wordpress.org/support/article/posts-screen/#actions > BULK EDIT

## Why is this

[2021-08-29 07:29] JanisE commented on #1
That would be a perfect note about child themes, thanks!

[2021-08-29 12:24] theMikeD commented on #1
"...any file you add to your child theme will **over-ride** the same file in the parent theme."

[2021-08-29 14:25] joyously commented on #1
"if a child them contains" should be "if a child theme contains"
But I think this is a bad idea to add to this page, given that the template logic is changing because of full site editing.

[2021-08-29 14:35] theMikeD commented on #1
We had a discussion on slack about how old stuff must remain and can't be purged, and I think this falls under that decision doesn't it?

[2021-08-29 14:56] joyously commented on #1
Do you mean the image, because this issue is about the template hierarchy page.

No one is suggesting to purge old stuff. The suggestion is to add information that doesn't really belong on this page, and that information will conflict with any new docs that talk about how the template hierarchy is affected by templates created in the editor.

[2021-08-30 14:09] JanisE commented on #1
If duplicating information is the problem, just a hyperlink can also be added to where this information is written, instead of copying the text.

[2021-08-30 14:41] atachibana commented on #25
@TukuToi Thank you for the confirmation. I modified the section.
https://wordpress.org/support/article/managing-plugins/#must-use-plugins

[2021-08-30 14:41] #25 closed

[2021-08-30 15:16] atachibana commented on #1
Hi all,
First, I modified the page with your whole suggestions include typo (@theMikeD and @joyously, thank you for careful reading). These updated information must be helpful to existing theme developer. I hope I don't exceed my authority...
https://developer.wordpress.org/themes/basics/template-hierarchy/

@joyously
FSE! Can we still use this Theme Handbook with minor changes for FSE? I imagined

[2021-08-30 16:56] joyously commented on #1
I don't know. I have deliberately not followed the evolving mess of the block world and the new custom post type named "template". @carolinan was leading the handbook changes, I think.

[2021-08-31 07:18] audrasjb commented on #4
Hello! Thanks for pointing this out. I added a short introduction and a link to the Documentation Team Handbook.
--> https://make.wordpress.org/core/handbook/docs/

[2021-08-31 07:18] #4 closed

[2021-09-02 08:22] carolinan commented on #1
@atachibana I have not heard any suggestions about having two separate handbooks, but if you think this would be a better solution, please bring it up with the [team representatives](https://make.wordpress.org/themes/handbook/about/members/). _It might be easier to have two separate handbooks than trying to combine them._

FSE is experimental and until it is no longer experimental, the documentati

[2021-09-02 08:32] kafleg commented on #1
@atachibana I will look into this and reply here. Sorry, I missed this notification.

[2021-09-02 12:01] kafleg commented on #1
I prefer to go with a separate handbook for FSE. But I am not sure how users will find it easy on the same or in different.

[2021-09-02 14:28] atachibana commented on #6
Though we have another issue #7 for the same page, just adding the 'see also' must be accepted.
I enhanced your suggestion. Thank you.
We may change this section when we receive another web server info.

[2021-09-03 08:23] atachibana commented on #1
@carolinan, @kafleg and all, Thank you.

For the time being, at least while FSE is experimental, the Gutenberg Handbook and minor changes to Developer Handbook will be fine. In fact, [theme.json page](https://developer.wordpress.org/themes/advanced-topics/theme-json/) exists in the Theme Handbook.
I close this issue but would like to follow this topic.

[2021-09-03 08:23] #1 closed

[2021-09-03 08:48] carolinan commented on #1
theme.json is not limited to full site editing, it also works with "classic" themes.

[2021-09-03 09:10] JanisE opened #29 "Zero and one argument for add_filter being "the same""
## Issue Description
In the following remarks:

It is not precisely clear what it means for none/no/zero arguments to be "the same as 1" argument.

If it means that functions with 0 arguments may be used as callbacks for filters with 1 argument, it is true for filters with 2, 3, and 4 arguments as well. E.g., this does work all right:
[code]

If it means that functions with 1 argument may be used

[2021-09-03 09:27] atachibana commented on #1
@carolinan
Ah, Sorry, I mixed the FSE and block relating features in my context.

[2021-09-03 14:04] theMikeD commented on #29
I think what it's referring to is the declaration of taking 1 is the same as not declaring anything. But yes it does need some work.

[2021-09-03 21:39] zzap commented on #23
Hello @basilhendroff ,

Thank you very much for your proposal.

As this is end user documentation we don't want to overwhelm users with every single software they can come across with. This article is covering the most common cases they will most likely use. I'm in business for over a decade and only now heard about Caddy.

I suggest writing a blog post/tutorial and submitting link to review for p

[2021-09-03 21:41] zzap commented on #22
Same as #23

Thanks

[2021-09-03 21:43] zzap commented on #14
Same as #22, #23 and #8

Hello @basilhendroff ,

Thank you very much for your proposal.

As this is end user documentation we don't want to overwhelm users with every single software they can come across with. This article is covering the most common cases they will most likely use. I'm in business for over a decade and only now heard about Caddy.

I suggest writing a blog post/tutorial and submit

[2021-09-03 21:44] zzap commented on #8
Same as #14, #22 and #23

Hello @basilhendroff ,

Thank you very much for your proposal.

As this is end user documentation we don't want to overwhelm users with every single software they can come across with. This article is covering the most common cases they will most likely use. I'm in business for over a decade and only now heard about Caddy.

I suggest writing a blog post/tutorial and submi

[2021-09-03 22:13] zzap commented on #9
Hello @JanisE ,

Thank you very much for reporting this. However, REST API team is in charge for their documentation so it's best to report it in [their repo](https://github.com/WP-API/docs/issues). This is the actual page: https://github.com/WP-API/docs/blob/master/using-the-rest-api/authentication.md

Thanks

[2021-09-03 22:13] #9 closed

[2021-09-03 22:15] zzap commented on #10
Same as the other REST API issue, #9, this one should be reported in [REST API repo](https://github.com/WP-API/docs/issues). Thanks

[2021-09-03 22:15] #10 closed

[2021-09-03 22:18] zzap commented on #21
Same as the other REST API issues, #9 and #10 , this one should be reported in [REST API repo](https://github.com/WP-API/docs/issues). Thanks

[2021-09-03 22:18] #21 closed

[2021-09-07 12:05] basilhendroff commented on #23
Hi @zzap,

I would be pleased to do this for the issue, however, I have adopted exactly this approach with issue #6 and it also was rejected. There does not appear to be a consistent methodology between doc maintainers.

Can I also suggest that issues are not closed initially, but feedback provided to contributors? This will allow contributors a chance to respond to the feedback.  This will save t

[2021-09-07 12:05] basilhendroff commented on #22
Hi @zzap,

I would be pleased to do this for the issue, however, I have adopted exactly this approach with issue #6 and it also was rejected. There does not appear to be a consistent methodology between doc maintainers.

Can I also suggest that issues are not closed initially, but feedback provided to contributors? This will allow contributors a chance to respond to the feedback.  This will save t

[2021-09-07 12:06] basilhendroff commented on #14
Hi @zzap,

I would be pleased to do this for the issue, however, I have adopted exactly this approach with issue #6 and it also was rejected. There does not appear to be a consistent methodology between doc maintainers.

Can I also suggest that issues are not closed initially, but feedback provided to contributors? This will allow contributors a chance to respond to the feedback.  This will save t

[2021-09-07 12:06] basilhendroff commented on #8
Hi @zzap,

I would be pleased to do this for the issue, however, I have adopted exactly this approach with issue #6 and it also was rejected. There does not appear to be a consistent methodology between doc maintainers.

Can I also suggest that issues are not closed initially, but feedback provided to contributors? This will allow contributors a chance to respond to the feedback.  This will save t

[2021-09-07 13:53] atachibana commented on #8
@basilhendroff

Hi, my English must be bad... But, #6 enhanced your suggestion and added See Also. Please check at the bottom of https://wordpress.org/support/article/giving-wordpress-its-own-directory/

[2021-09-07 19:19] basilhendroff commented on #8
Ah, Akira-san. Gomenasai. Wakarimasen.

I did interpret your response as _'A `See Also` section would be considered if a similar request was received for another webserver'_. My apologies.

As I've suggested to @zzap, it would probably be a good idea not to close issues immediately. but to have the contributor involved in the feedback loop. This way, the contributor can say _'Yeah. I've checked th

[2021-09-07 19:40] johnbillion commented on #19
Related page that could do with some improvement: https://wordpress.org/support/article/https-for-wordpress/

[2021-09-07 20:22] basilhendroff commented on #22
@zzap Please consider adding the following link for a `See Also` resource:

[Using Caddy to harden WordPress](https://caddy.community/t/using-caddy-to-harden-wordpress/13575)

[2021-09-07 20:40] francislavoie commented on #8
@zzap I'd strongly suggest you reconsider. Caddy is the easiest way to serve a WordPress site securely, with TLS. Most WordPress sites only need 4 lines of config:

[code]

Caddy will automatically fetch a certificate from Let's Encrypt or ZeroSSL when it starts up, making it unnecessary to run certbot or other tools to do it. https://caddyserver.com/docs/automatic-https

Caddy is written in Go, s

[2021-09-07 20:57] basilhendroff commented on #14
@zzap Please consider adding the following link for a `See Also` resource:

[HTTPS for WordPress using Caddy](https://caddy.community/t/https-for-wordpress-using-caddy/13577)

[2021-09-07 21:25] basilhendroff commented on #23
@zzap Please consider adding the following link for a `See Also` resource:

[Using Caddy to deter brute force attacks in WordPress](https://caddy.community/t/using-caddy-to-deter-brute-force-attacks-in-wordpress/13579)

[2021-09-07 22:54] basilhendroff commented on #8
@zzap Some chronological events to consider when reviewing @francislavoie's comments.

1. If [this infographic](https://hostingtribunal.com/blog/wordpress-statistics/) is to be believed, around 75% of hacked CMS sites in 2021 were built on WordPress.
2. Apache has the largest webserver market share. This is not surprising given [it was released in 1995](https://en.wikipedia.org/wiki/Apache_HTTP_Se

[2021-09-07 23:10] francislavoie commented on #8
I also want to point out that Caddy has been around since 2015, it's not a new project by any means. Caddy v2 was a rewrite started in summer of 2019, and released in early 2020 to solve some fundamental mistakes in the design (because there was a lack of cohesive configuration design in the early versions).

Caddy is _most definitely_ a production ready server, large companies use it to serve ten

[2021-09-07 23:47] basilhendroff commented on #8
@zzap Please consider adding the following link for a `See Also` resource:

[Caddy considerations when using permalinks in WordPress](https://caddy.community/t/caddy-considerations-when-using-permalinks-in-wordpress/13583)

Also, under the section [mod_rewrite: “Pretty Permalinks”](https://wordpress.org/support/article/using-permalinks/#mod_rewrite-pretty-permalinks), please remove the now obsolet

[2021-09-08 09:44] zzap commented on #8
Hello all,

I admire your passion for this topic and have no doubt that Caddy is everything you say it is. However, this is not a matter of convincing me or anyone in Documentation team that Caddy is good.

WordPress [officially recommends](https://wordpress.org/about/requirements/) Apache and NginX. According to [W3 Techs](https://w3techs.com/technologies/overview/web_server) those are by far the

[2021-09-08 10:09] zzap commented on #8
I'm adding `external links` label and reopening issue so that we can discuss relevance for external resource.

[2021-09-08 10:12] zzap commented on #6
I'm adding `external links` label and reopening issue so that we can discuss relevance for external resource. For reference see https://github.com/WordPress/Documentation-Issue-Tracker/issues/8#issuecomment-915085945

[2021-09-08 10:12] zzap commented on #14
I'm adding `external links` label and reopening issue so that we can discuss relevance for external resource. For reference see https://github.com/WordPress/Documentation-Issue-Tracker/issues/8#issuecomment-915085945

[2021-09-08 10:13] zzap commented on #23
I'm adding `external links` label and reopening issue so that we can discuss relevance for external resource. For reference see https://github.com/WordPress/Documentation-Issue-Tracker/issues/8#issuecomment-915085945

[2021-09-08 10:13] zzap commented on #22
I'm adding `external links` label and reopening issue so that we can discuss relevance for external resource. For reference see https://github.com/WordPress/Documentation-Issue-Tracker/issues/8#issuecomment-915085945

[2021-09-08 10:16] Kenshino opened #30 "Some end-user docs are too technical"
---

## Issue Description

Some end-user docs are too technical and are reflective of a by-gone era where some hosts simply failed at supporting WordPress. Hence needing us to provide documentation.

e.g. https://wordpress.org/support/article/using-permalinks/ starts talking about htaccess etc. Really, we ought to just be telling the end-user to contact their host and work it out - perhaps with a

[2021-09-08 11:09] javiercasares commented on #22
Maybe the documentation about Caddy should be at the Hosting Documentation

[2021-09-11 02:34] kharissulistiyo opened #32 "Breadcrumb overlays the page title on mobile screen"
## Issue Description
Breadcrumb overlays the page title on smaller screen when the breadcrumb contains at lest 3 lines.

![IMG_6627](https://user-images.githubusercontent.com/1859092/132933137-5a9f01cf-7869-4a50-b7c2-2ecd3078a1ae.PNG)

## URL of the Page with the Issue
https://make.wordpress.org/polyglots/handbook/for-editors/translation-collaboration-team-building-tips/guide-organize-a-local-even

[2021-09-12 16:13] daviedR opened #33 "Theme.json backward compatibility list contains wrong information."
## Issue Description

The theme.json backward compatibility equivalences list contains wrong information.

![image](https://user-images.githubusercontent.com/1287713/133027006-f9619062-187d-4cb9-b8cc-d643aad8b62a.png)

## URL of the Page with the Issue

https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#backward-compatibility-with-add_theme_support

## Section of Page wi

[2021-09-12 16:14] hitendrachopda-multidots commented on #32
Hello kharissulistiyo ,

To fix this issue, it's required to add more padding in media CSS given the below.

`@media (max-width: 876px)
.single-handbook .handbook-breadcrumbs ~ #primary {
    padding-top: 9rem;
}`

Hope this solution will work.

Best,

[2021-09-12 22:02] kharissulistiyo commented on #32
@hitendrachopda-multidots,

Thanks for the code.

I am thingking  that the breadcumb line could potentially increase.

[2021-09-13 14:38] mkaz commented on #33
Good catch, thanks! Would you like to update the official documentation here: https://github.com/WordPress/gutenberg/blob/trunk/docs/how-to-guides/themes/theme-json.md

The documentation contributor guide is here: https://developer.wordpress.org/block-editor/contributors/documentation/

[2021-09-13 16:26] daviedR commented on #33
Hi @mkaz

I just created a pull request: https://github.com/WordPress/gutenberg/pull/34791. But I can't find a way to add the `[Type] Documentation` label in the pull request.

[2021-09-13 23:06] mkaz commented on #33
Closed in https://github.com/WordPress/gutenberg/pull/34791 :+1:

[2021-09-13 23:06] #33 closed

[2021-09-21 14:40] zzap commented on #30
I suggest we use this issue to gather all similar articles and then, by the topics covered, see where it should live. We are missing a space for some common topics, shared among all developers, such as Localisation and Internationalisation, Escaping, Sanitising.. .htaccess etc

[2021-09-21 15:03] MuhammadFaizanHaidar commented on #26
@atachibana I am not able to reproduce this issue. All the anchor links are pointing to the correct on-page anchor.

![anchor](https://user-images.githubusercontent.com/44171332/134196130-4d9e8ef7-fd57-4de6-a692-32441da06661.PNG)

[2021-09-21 15:13] MuhammadFaizanHaidar commented on #26
@TukuToi yeah now that's a bug can you please update the section of page with issue? Thanks

[2021-09-21 15:15] TukuToi commented on #26
That is since the begin the proper section.
https://wordpress.org/support/article/posts-screen/#actions
It is the only link leading to that section

The Example in BULK EDIT Section has no hyperlink, but it is mentioned in my suggested fix section:

[2021-09-21 16:09] MuhammadFaizanHaidar commented on #26
@TukuToi I have updated anchor links and some URLs that were leading no where. Can you please counter verify. Thanks

[2021-09-21 16:10] kimmenbert opened #34 "Linting all things in IDE - the ultimate doc"
## Document how to setup code linting / fixing in IDE for following WordPress coding standards
Hi,
I think it would be great to have a go-to doc for all tools recommended for linting PHP, JS, CSS etc to follow WP coding standards.

Including how to setup and utilize this linting in the most popular IDE's (vscode, phpstorm)

Linting php: `wp-coding-standards/wpcs`
Linting js / css / md / json: npm

[2021-09-22 04:20] TukuToi commented on #26
1. Inside string `so see the Bulk Edit section for details on the Bulk Editing process.` holds a link that still leads to wrong section, it says `Bulk Edit section` but leads to `#action`
In fact `Bulk Edit section` is not even a section, it has no link, so either we need to add a link to it, or remove that anchor
2. Inside this `This dropdown allows you to select, by date, which Posts are display

[2021-09-22 04:35] MuhammadFaizanHaidar commented on #26
For part 1 : I think till we have a valid link I can remove that anchor.
For part 2  :  I have updated the anchor links.

[2021-09-22 04:54] TukuToi commented on #26
Looking good to me!

[2021-09-22 04:56] MuhammadFaizanHaidar commented on #26
Thanks I added a link to Bulk Edit sub heading making it an anchor.

[2021-09-22 07:00] swashata opened #35 "[DevHub] Document using wpcs in Plugin Developer Handbook"
## What is the new page you are requesting?

In the Plugin Developer Handbook, we have a section [Developer Tools](https://developer.wordpress.org/plugins/developer-tools/), which outlines using two WordPress Plugins. I want to add a page, describing the usage of `wpcs` with the `WordPress-Extra` sniff rules so that a plugin developer can be made aware of possible security related issues. These is

[2021-09-22 08:57] estelaris opened #36 "Overview of WP and History"
## Issue Description
Articles **Overview of WordPress** and **History** are similar and complimentary of each other.

## URL of the Page with the Issue
https://wordpress.org/support/article/overview-of-wordpress/ and https://wordpress.org/support/article/history/

## Section of Page with the issue
Title after merging documents.

## Why is this a problem?
The intention of both articles is to give t

[2021-09-22 13:01] theMikeD commented on #35
Sounds great to me. Write it up and we'll take a look at it together.

[2021-09-22 22:55] AetherUnbound opened #37 "Update comment moderation page with newer terms"
## Issue Description

The "Comment Moderation" article references a "blacklist" for comments. The most recent version of WordPress refers to these as "Disallowed Comment Keys".

![image](https://user-images.githubusercontent.com/10214785/134432585-22e31e6c-ef71-48d8-9e21-36923691a542.png)

Additionally, the last section on the page is entitles "Why Not Blacklisting". From my understanding, it appe

[2021-09-23 06:53] swashata commented on #35
Hello @theMikeD, I have made the first draft as the primary `README.md` of this repository.

https://github.com/swashata/wp-plugin-wpcs-setup

Please let me know what you think.

[2021-09-23 22:29] jennydupuy opened #38 "Wrong post type of documentation content"
## Issue Description
The post type of "Get a faster, more secure website: update your PHP today" isn’t correct

## URL of the Page with the Issue
https://wordpress.org/support/update-php/

## Section of Page with the issue
All the content

## Why is this a problem?
This documentation content is not a post, but a page. Without knowing its url, we can't access this content. There is no menu item to

[2021-09-23 22:44] Clorith commented on #38
This is actually a special page, where the content is defined in code to be translatable on WordPress.org, as it is linked from within individual WordPress sites,  when alerting users of an outdated PHP version.

It also has code picking up URL details when linked from WordPress. This is why it is a page, so that a page template can be used,ans lives outside HelpHub.

[2021-09-23 22:46] joyously commented on #38
I was about to say the same thing, but I did a search on the code first, and couldn't find "update-php" so I'm not sure it's there or got as far as planned.

[2021-09-23 22:51] jennydupuy commented on #26
Thanks for this fix but why it is not indicated in a change log.
For teams that translate the documentation and report the changes made to the original documentation, it's hard to find where the change is located.
In the French team, we use https://developerka.org/helphub-updates/ to see which posts have been updated but often we have to scan the content to find the change made. So the changelog i

[2021-09-24 02:49] MuhammadFaizanHaidar commented on #26
Hi @jennydupuy thanks for guidance my Locale is Urdu and I can't find one in the language select. Can you please guide me further how can I add these changes to the changelog. Thanks

[2021-09-24 06:03] audrasjb commented on #38
I can't find [any translated version for fr_FR](https://fr.wordpress.org/support/update-php/), so I guess it doesn't work.

Ok, we're going to translate it after copying into an HelpHub article and it will do the job but given the importance of this page, I think it would be necessary to point this issue out to other HelpHub locales so they can also plan to translate this important page.

[2021-09-24 16:53] Clorith commented on #38
It's a weird one, I see it's changed a little since I last looked at it.

The text strings that get injected can be seen at https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-support/helphub-update-php-strings.php, and since it's a page template, any locale wishing to have their own localized version would need to create their own page under t

[2021-09-25 15:35] zzap commented on #26
@jennydupuy the change was not in content just fixing destinations of links inside the article. Link was pointing on a section in the same article. It was wrong and fixed now. These changes shouldn't effect any locale really.

[2021-09-25 15:35] #26 closed

[2021-09-25 15:37] zzap commented on #26
@MuhammadFaizanHaidar @TukuToi

Please make pull requests with your usernames added to this document: https://github.com/WordPress/Documentation-Issue-Tracker/blob/main/CONTRIBUTORS.md

Thank you

[2021-09-27 04:26] Kenshino commented on #38
We can at least link it from HelpHub I reckon? @atachibana

[2021-09-27 04:29] Kenshino commented on #30
Let's create a separate issue for dev docs @zzap - Can you pick that up?

[2021-09-27 08:21] jennydupuy commented on #26
I agree with you @zzap, it has no impact for the locales since the link anchor will be different in each locale, but the post is mentioned as updated and the fact that there is no change log forces the locales to look for the change, thus spending time for nothing. My goal in this request is just to save time. Thanks

[2021-09-27 08:28] TukuToi commented on #26
1. There has not been any PR for this issue here AFAIK, at least, I did not create one, and I cannot see any PR linked to this Ticket neither any PR related to this ticket in the PR list
2. If we need to keep updated some sort of list or doc we _need to clarify this somewhere else than in this ticket_
3. There is no mention on this or of PR creation or of adding our usernames to any contributor fi

[2021-09-27 10:50] zzap opened #40 "Add request PR for Contributors in README"
## Issue Description

We want to keep an eye on all contributors to Docs team so we have a document [CONTRIBUTORS.md](https://github.com/WordPress/Documentation-Issue-Tracker/blob/main/CONTRIBUTORS.md). Everyone who reported issue, fixed issue and/or participated in discussion should create PR to add their info in this document. Required info is wp.org username, GitHub username and GitHub issue nu

[2021-09-27 10:54] zzap commented on #26
@TukuToi

1. End user docs (HelpHub) is edited directly in WordPress article as we don't have GitHub repository connected to it. I have reviewed changes before closing this issue as fixed. This same procedure will apply to parts of DevHub as well.
2. Agree. I'm open for suggestions but in new issue.
3. Agree. I created issue for it https://github.com/WordPress/Documentation-Issue-Tracker/issues/40

[2021-09-27 10:56] TukuToi commented on #26
@zzap thanks - I am then more confused as before why wed need to add some username to a list when making PRs 😃
If we do not make PRs... what is the point of adding the username to the list as mentioned here https://github.com/WordPress/Documentation-Issue-Tracker/issues/26#issuecomment-927138265?

[2021-09-27 10:59] MuhammadFaizanHaidar commented on #40
@zzap  I am interested to contribute in this issue can you please assign this issue to me thanks!

[2021-09-27 10:59] TukuToi commented on #40
If someone already has said badge/recognition I think it is not necessary?
Perhaps we should specify that as well, so we don't get "unwanted" PRs of "I am contributing XY"?

[2021-09-27 11:03] MuhammadFaizanHaidar commented on #40
I think its okay to show number of contributions one has made to the docs. Like props( 1 ), props(2) so on.
and add a field badge awarded true/false.

[2021-09-27 11:06] zzap commented on #40
For getting the badge yes, it is not necessary but we might want to keep track off all contributions (all issues). This is probably not ideal way as it is manual and tend to grow in time (and table cell) but GitHub doesn't really track discussion participants as far as I know. Let's discuss this more.

[2021-09-27 11:09] TukuToi commented on #40
Well, there are ways to do that, let me know if I should?
(Git API is relatively easy to use and allows for such queries automatically but we would need some server where to deploy that code)

Another possible thing is to just make a link, like so:
https://github.com/WordPress/Documentation-Issue-Tracker/issues/created_by/TukuToi
https://github.com/WordPress/Documentation-Issue-Tracker/pulls/TukuT

[2021-09-27 11:12] zzap commented on #40
Yes, that's great for people who created issues and PRs, definitely helpful. What we are missing is people who participated in discussions and fixed the issues (without PRs).

[2021-09-27 11:25] zzap opened #41 "[HelpHub] Changelogs for Docs managed directly in WordPress"
## Issue Description
Block editor end user docs has manually added changelog for every new edit on the article. This is very helpful, especially for translators when updating articles in their locales.

First part of this issue is to apply this practice to the rest of documentation managed directly in WordPress - the rest of HelpHub and parts of DevHub (Plugin, Theme, Common APIs Handbooks).

Seco

[2021-09-27 11:37] zzap opened #42 "Too technical end user docs migration to dev docs"
## What is the new page you are requesting?
As mentioned in #30 , some docs is too technical for end users and should be moved to dev docs. At this point we don't know exactly which topics are covered so we're going to use this issue to list all docs that should be migrated so we can decide the place for them. Some are fairly common topics and might need a completely new place (such as .htaccess,

[2021-09-27 11:37] zzap commented on #30
Done https://github.com/WordPress/Documentation-Issue-Tracker/issues/42

[2021-09-27 11:58] Kenshino commented on #40
That was what I was thinking at first @zzap which is why I created that file.

But I wonder if it was potentially prohibitive to expect contributors to also know how to

1. Create branches
2. Create a PR
3. Potentially deal with branch conflicts if the file is edited across a few PRs

Hence I defaulted back to using Google Docs for the time being.

Let's consider the above before moving into anyth

[2021-09-27 14:14] theMikeD commented on #35
Would you prefer a PR or comments?

[2021-09-27 14:16] swashata commented on #35
A PR sounds great. We can collaborate and communicate very easily.

[2021-09-27 14:22] swashata commented on #35
I have added you as a collaborator to make the process easier!

[2021-09-27 15:57] courane01 commented on #41
This would also be a great area to also explore on Learn.

[2021-09-27 16:26] e-ernoult opened #44 "Multilingual WordPress support article - Update mentioned plugins"
## Issue Description
Several multilingual plugins mentioned in the Multilingual WordPress page aren’t maintained anymore and could probably be removed from the article.

## URL of the Page with the Issue
https://wordpress.org/support/article/multilingual-wordpress/

## Section of Page with the issue
**Introduction** and **Different types of multilingual plugins** sections

## Why is this a problem

[2021-09-28 05:12] ramonanextend opened #45 "Broken links"
## Issue Description
I found broken links at two articles.

## URL of the Page with the Issue
1. https://make.wordpress.org/support/handbook/giving-good-support/examples-of-good-vs-bad-support/
2. https://make.wordpress.org/support/handbook/giving-good-support/understanding-users-reading-beyond-the-question-and-probing/

## Section of Page with the issue
1. Broken link is at: "As covered in Approa

[2021-09-28 07:07] Kenshino commented on #45
@Clorith ^

[2021-10-01 22:06] Clorith commented on #45
Thanks, these two pages have been updated.

There may be some other older references, as the support team removed a lot of "dead", which were duplicates of handbook pages from a decade back before the handbook system was in place.

[2021-10-01 22:06] #45 closed

[2021-10-04 05:42] Kenshino commented on #34
@atachibana - potentially a guide in the Common API handbook?

[2021-10-04 20:22] Kenshino commented on #34
Also seems like this is partially covered in #35 ?

[2021-10-05 17:14] femkreations commented on #30
Here is the list of articles in the end-user docs that have technical content. The list is organized based on the categories. There may be overlaps as some of the articles are in multiple categories.

GETTING STARTED
-------------------
https://wordpress.org/support/article/restoring-your-database-from-backup/#using-mysql-mariadb-commands
 
https://wordpress.org/support/article/upgrading-wordpress

[2021-10-08 08:56] estelaris opened #47 "WordPress Features"
## Issue Description
Information is outdated

## URL of the Page with the Issue
https://wordpress.org/support/article/wordpress-features/

## Section of Page with the issue
https://wordpress.org/support/article/wordpress-features/#at-a-glance
https://wordpress.org/support/article/wordpress-features/#broadcast-your-ideas

## Why is this a problem?
The information and links are outdated

## Suggeste

[2021-10-08 09:02] estelaris opened #48 "Change title for WordPress Features"
## Issue Description
A new title was recommended during GSoD

## URL of the Page with the Issue
https://wordpress.org/support/article/wordpress-features

## Section of Page with the issue
Title

## Why is this a problem?
Title needs to follow the guidelines as written during GSoD

This fix is part of the recategorization project. Our goal is to reorganize the end-user articles in HelpHub in order

[2021-10-08 11:52] estelaris opened #49 "Link updates on article WordPress features"
## Issue Description
Update links. Links are to ther WP documentation articles.

## URL of the Page with the Issue
https://wordpress.org/support/article/wordpress-features

## Section of Page with the issue
Several, in the list below,
example
- [ ] the section is listed first | `then the sentence with the wrong link` and lastly, **the correct link**

## Why is this a problem?
Links still linking t

[2021-10-08 12:04] estelaris opened #50 "Change title for New To WordPress - Where to Start"
## Issue Description
A new title was recommended during GSoD

## URL of the Page with the Issue
https://wordpress.org/support/article/new-to-wordpress-where-to-start/

## Section of Page with the issue
Title

## Why is this a problem?
Title needs to follow the guidelines as written during GSoD

This fix is part of the recategorization project. Our goal is to reorganize the end-user articles in Hel

[2021-10-08 12:40] estelaris opened #51 "Content update to New to WordPress - Where to Start"
## Issue Description
Content update

## URL of the Page with the Issue
https://wordpress.org/support/article/new-to-wordpress-where-to-start/

## Section of Page with the issue
These changes are in section `Step four – Set up WordPress`

## Why is this a problem?
Excesive and unnecesary linking

## Suggested Fix

- [x] Step four | For help on creating ... `Users > Your Profile` pages for guidance.

[2021-10-08 12:46] agnieszkaszuba opened #52 "Various small issues in the Glossary doc"
## Issue Description

* In the introduction to the Glossary it says "If you are a contributor please don’t add definitions for generic terms (API, PHP, JavaScript, etc…).". But there are glossary entries for all these terms.

* https://wordpress.org/support/article/glossary/#bookmarklet - 'their' would be more gender-inclusive than 'his/her'.

* https://wordpress.org/support/article/glossary/#cvs

[2021-10-10 06:32] #16 closed

[2021-10-13 04:04] #37 closed

[2021-10-13 21:31] wilrevehl opened #53 "[DevHub] Conveying the importance of wp_doing_ajax during init and admin_init hooks"
WordPress speed complaints have long been a thorn in our side. We have been analyzing some complex WordPress sites we host and one aspect which weighs heavily on the php consumption is the use of init and admin_init hooks in plugins. The reason this appears to compound php loads is due to plugins which commonly use AJAX. This often leads to a large volume of init/admin_init calls running repeatedl

[2021-10-14 16:32] theMikeD commented on #53
I'd be happy to add something like this to the Plugin handbook if you'd like to take a stab at writing up a starting point.

[2021-10-19 14:21] juanmaguitar opened #54 "[HelpHub] A list of articles under https://wordpress.org/support/article/ would be nice to have for analysis purposes"

[2021-10-22 01:55] TukuToi opened #55 "Writing Posts Documentation has several references to "See {Topic} for more information" but no link to that add-on topic"
## Issue Description
When reading https://wordpress.org/support/article/writing-posts/ it appears that many times a phrase similar to `For more information, see {Topic}.` is used.
But it  is never linked to any further reading topic, thus the user/reader has actually to google the subject. Often there _are_ actually additional docs we could link to in here.

## URL of the Page with the Issue
https

[2021-10-22 01:59] TukuToi opened #56 "Dashboard versus Administration Panel"
## Issue Description
I could not help but notice that often `Dashboard` and `Administration Panel` are used interchangeably.
I _think_ it would be better to stick to one - and I _think_ `Dashboard` is the adequate terms since there is a reference to that in the WP Admin Area, while there is no `Administration Panel`.

## URL of the Page with the Issue
I noticed this here https://wordpress.org/supp

[2021-10-22 14:22] paulshryock opened #57 "Plugin Handbook page ordered list is missing a chapter, has wrong numbers, and uses inconsistent terminology"
## Issue Description
The [Plugin Handbook page](https://developer.wordpress.org/plugins/) describes the table of contents in an ordered list.

1. It appears that the **Privacy** chapter was added to the table of contents after this page was written. It is missing.
2. Some of the chapter (or "section") numbers mentioned in the list are incorrect.
3. There is inconsistent terminology used: The table

[2021-10-25 13:40] imgnx opened #58 "[Advanced admin] Permalink Structure Docs (wysiwyg)"
## Issue Description
The documentation containing instructions to edit permalinks is too technical and many hosting platforms now limit SSH access. The new documentation should show users how to use the Settings > Permalink feature of WordPress@latest.

Note: SFTP is a viable option, but not for wysiwyg (non-API) users.

Linked to #30

## URL of the Page with the Issue
https://wordpress.org/suppor

[2021-10-29 23:34] AbeSelig commented on #51
I can help with this - can you assign the issue to me?

[2021-11-02 14:20] zzap commented on #30
The workflow for this one

- you select a number of links from that issue,
- open your own issue a paste all those links in there
- go back to parent issue and link your own issue in the comment
- I'll go through previous comments and strike through links you selected

[2021-11-02 14:43] juanmaguitar commented on #57
@theMikeD I would like to understand how these changes are done.
Could you provide a summary of how these changes have been applied once you do them?
Thanks in advance!

[2021-11-02 14:57] juanmaguitar commented on #54
This list can be useful here
https://docs.google.com/spreadsheets/d/1It2w9pEv6X4CzIOFUilN5KnUxT06rI863750hjNdDvs/edit#gid=625788042

[2021-11-02 14:58] juanmaguitar commented on #54
Also lists of articles are available under:
- https://wordpress.org/support/wp-json/wp/v2/articles?per_page=100
- https://wordpress.org/support/wp-json/wp/v2/articles?per_page=100&page=2

[2021-11-02 15:38] paulshryock commented on #57
Gonna go out on a limb here and guess that site content is managed in WordPress?

[2021-11-07 05:29] sahilrajthapa opened #59 "Typo in link destination"
## Issue Description
There is a typo in the link destination.

## URL of the Page with the Issue
https://developer.wordpress.org/plugins/taxonomies/working-with-custom-taxonomies/

## Section of Page with the issue
Introduction to Taxonomies

## Why is this a problem?
Currently in the introduction to taxonomies section, there is a link to taxonomies page. But the link returns page not found.

## S

[2021-11-09 02:00] internationalhouseofdonald commented on #58
Bear with me because this is my first edit. 😅 ...

A lot of the content on this document should simply be moved to the development documentation — namely all of the content that contains code and/or anything instructing users to edit their .htaccess file.

The main part that needs to be added into this document goes something like this...

---

## ⚠️ Fixing SEO Problems with 301 Redirects

---

Ev

[2021-11-09 02:07] internationalhouseofdonald commented on #58
Maybe this is a better search term? https://wordpress.org/plugins/search/seo+301+redirect/

[2021-11-10 00:19] annezazu opened #60 "Navigation Block Support Page"
Need a new page for the navigation block and need to [update the overall blocks page here](https://wordpress.org/support/article/blocks/). This doc needs to include the following:

- Responsive hamburger menu that can be turned always on, on for small screen sizes, or off.
- Note about keyboard accessible.
- Ability to add a wide range of blocks including Search, Site Icon, etc.
- Ability to contr

[2021-11-10 00:20] annezazu opened #61 "Styles Support Page"
Needed for 5.9. This will need to include the following:

- Overview of how Styles works and when you'll see this as an option.
- Typography description.
- Colors description, including setting custom colors.
- Layout description.
- Blocks section at a high level.

[2021-11-10 00:23] annezazu opened #62 "Template Part Focus Mode Support Page"
Needed for 5.9. Can pull information from this: https://make.wordpress.org/core/2021/11/02/core-editor-improvement-introducing-template-part-focus-mode/ Need to explain that seeing this is dependent on theme in use.

[2021-11-10 00:24] annezazu opened #63 "Block Theme Support Page"
Needed for 5.9 and needs to include the following:

- How to find block themes.
- What block themes are.
- What options are available with block themes (Styles, Templates, Template Parts).
- How to update site icon: https://core.trac.wordpress.org/ticket/54370
- How to update what your homepage shows
- Template overviews.
- Template part overviews.

[2021-11-10 00:35] annezazu opened #64 "Block Pattern Inserter Explorer Update"
Update[ this page](https://wordpress.org/support/article/block-pattern/) to include a reference to the explorer modal: https://github.com/WordPress/gutenberg/pull/35773

[2021-11-10 00:39] annezazu opened #65 "Update Image Related Support Docs for Duotone support"
Update for duotone controls for the following:
- https://wordpress.org/support/article/gallery-block/
- https://wordpress.org/support/article/image-block/

There's not currently a page for Post Featured Image block and I'm not sure I'll have time so will start with these!

[2021-11-10 00:43] annezazu opened #66 "Update Gallery Block page after refactor"
Need to update [this page](https://wordpress.org/support/article/gallery-block/) to include reference to more controls available due to refactor: https://wordpress.org/news/2021/09/upcoming-gallery-block-improvements/

[2021-11-10 00:44] annezazu opened #67 "Update List View page to include new features"
Since 5.8, a few new features have been released including drag & drop, collapsing sections of blocks, and more integrated settings with the addition of the three dot menu. Need to update this page: https://wordpress.org/support/article/list-view/

[2021-11-10 00:52] annezazu opened #68 "Update Customizer page for block theme links"
Need to update https://wordpress.org/support/article/appearance-customize-screen/ to include references for block themes since the customizer won't be visible for block themes.

[2021-11-10 00:54] annezazu opened #69 "Dimension Controls Support Page"
[Pulled from this slack convo](https://wordpress.slack.com/archives/C02RP4WU5/p1635880554158000), I plan to approach this by adding an overall dimension controls page that then has link on each respective block page to that page. Pulled from this overview issue https://github.com/WordPress/gutenberg/issues/28356 here are the blocks to update:

- Buttons block: https://github.com/WordPress/gutenber

[2021-11-10 12:39] estelaris commented on #47
I am tempted to keep the 2011 link to the sentence "[WordPress isn't even used as a blog](https://max.limpag.com/article/wordpress-open-source-cms-2011/)" for historic purposes. It has absolutely no bad/wrong/negative effect on the content. Will appreciate a discussion from the team.

Follow instructions in the comment from @atachibana `"[About feed] WordPress used to create the closed network wit

[2021-11-11 19:05] femkreations opened #70 "Removing technical details from the selected end user docs"
## Issue Description
Related to #30, selecting the following pages from which the technical details will be removed

## URL of the Page with the Issue
https://wordpress.org/support/article/using-permalinks/
https://wordpress.org/support/article/login-trouble/

## Section of Page with the issue

## Why is this a problem?

Hosting providers take care of supporting WordPress. hence these details need

[2021-11-11 19:31] femkreations commented on #30
Refer #70 for the URLs I am working on.

[2021-11-12 14:26] stevenlin-x commented on #15
As labeled, there are two issues with this ticket.

1.)
The linked text "In the HTTP API doc" in the issue text body above doesn't work.

It should be:
https://developer.wordpress.org/apis/

2.)
When you visit the "Common APIs Handbook" URL above and examine the pages, there are no text named "Basic Authentication with the WordPress HTTP API" as mentioned in "Issue Description" of the issue text b

[2021-11-16 14:18] mkaz opened #71 "WP 5.9 Release -Update screenshots in user documentation"
## Issue Description

With the upcoming WP 5.9 release on Dec 14, there will be visual changes with the editor and across WordPress. We should aim to update as many of the screenshots in the documentation as possible to reflect the updates, giving priority to the items that are changed the most.

Documentation Start: https://wordpress.org/support/

## Step 1

The initial ask for this issue is to g

[2021-11-17 03:04] femkreations commented on #70
Using Permalinks: https://docs.google.com/document/d/12gS7fdCft62oA8_xdpXxMFOmi1prg43Za7tP_8p9EIY/edit

[2021-11-17 17:14] femkreations commented on #70
Login Trouble: https://docs.google.com/document/d/16p5e1IC_PUfADsZ3L6u1-NkM9awkM1jhI66r8f9UVh4/edit

[2021-11-19 10:00] Soigneur commented on #71
https://docs.google.com/spreadsheets/d/1Kuzwm6gy121WyAWmV1KM5f0ib0_OVQq_2KWcmVqlq00/edit?usp=sharing

[2021-11-19 14:21] #15 closed

[2021-11-19 18:03] femkreations opened #72 "Remove technical details from End User Docs ->Managing Plugins"
## Issue Description
Related to #30, selecting the following page from which the technical details will be removed

## URL of the Page with the Issue

https://wordpress.org/support/article/managing-plugins/

## Section of Page with the issue

https://wordpress.org/support/article/managing-plugins/#wordpress-plugin-tips
https://wordpress.org/support/article/managing-plugins/#advanced-troubleshootin

[2021-11-19 18:05] femkreations commented on #30
Working on #72 Managing Plugins URL

[2021-11-20 14:26] stevenlin-x commented on #24
1.)
Text for the support doc:

Title of the new section:
`Provide useful explanation/context in your replies`

Body of the new section:

[code]

[code]

[code]

2.)
@Clorith
Can you add the above to the support doc?
Thank You.

[2021-11-20 17:39] femkreations commented on #72
Pls review the google doc for the non-technical details.

I have rewritten parts of the document, added in new details (enabling auto-updates etc), added screenshots. New headings and sections are also added.

Pls review and let me know. Thanks

https://docs.google.com/document/d/1pOaRrlY-QwvsqindVT4XknnAmGjoIjd2wbeabvi1L8U/

[2021-11-21 17:38] femkreations opened #73 "[HelpHub-Advanced Admin] Remove technical details from End User Docs->Updating WordPress"
## Issue Description

Related to #30, selecting the following page from which the technical details will be removed

## URL of the Page with the Issue

https://wordpress.org/support/article/updating-wordpress/

## Section of Page with the issue

## Why is this a problem?

Hosting providers take care of supporting WordPress. hence these details need not be included in the end-user docs.

## Suggest

[2021-11-21 17:39] femkreations commented on #30
Working on #73 Updating and Upgrading WordPress instructions

[2021-11-22 14:52] dimkasta commented on #8
@zzap I would also like to ask you to reconsider.

Answering to your previous posts, with all due respect, I cannot understand the resistance to fix the obsolete info about Caddy in the documentation

It's not a matter of Caddy being recommended by Wordpress or not. Caddy is already referenced in the documentation. It's not new extra software, as you say, that would overwhelm users.

Users ARE cur

[2021-11-22 16:55] annezazu commented on #66
Removing this for 5.9 due to it being pushed to 6.0

[2021-11-23 17:30] hasanuzzamanbe commented on #49
Hi,
I want to contribute, How can I start with it?
thanks

[2021-11-28 10:46] swashata commented on #35
Any updates @theMikeD?

[2021-11-29 14:02] carolinan commented on #62
I think there is a need for an article about what a template part is, not only the template part focus mode?

[2021-11-29 17:48] xpufx commented on #8
At the very least put a note that says the url you guys are pointing to pertains to caddy v1.

[2021-11-29 18:20] annezazu opened #74 "Template Part Support Page"
## What is the new page you are requesting?

An article describing what a template part block is and how best to use it, likely similar to Query Loop or other theme blocks.

## How will this new page help you?

It's part of a feature that will see greater adoption with WordPress 5.9's feature set.

[2021-11-29 18:21] annezazu commented on #62
Yes! Agreed: https://github.com/WordPress/Documentation-Issue-Tracker/issues/74

[2021-11-29 18:24] annezazu commented on #62
Note that we'll need to ensure this is explained: https://github.com/WordPress/gutenberg/issues/30732

[2021-11-30 12:47] carolinan commented on #63
Public preview of the draft: https://wordpress.org/support/?p=15113575&post_type=helphub_article&preview=1&_ppp=7b721b13e7

[2021-12-01 02:56] annezazu commented on #63
Sent feedback to you via DM. Thanks so much for kicking this off!

[2021-12-02 08:31] MuhammadFaizanHaidar commented on #47
@estelaris I have updated the article according to the instructions. Please have a review, find link below!
https://wordpress.org/support/article/wordpress-features/

[2021-12-02 10:50] carolinan commented on #74
I have started on this, and I found it difficult to describe how:

- The settings are different depending on if it is a full site editing theme or a theme that supports template editing.
- The alignments depend on if the template part block is inside a block with "inherit default layout".
- The Replace option in the toolbar is only available if there is a template part to replace it with (requires

[2021-12-02 17:57] mburridge opened #75 "Check for WP_Block_Patterns_Registry class before registering a block pattern"
## Issue Description
The page on registering block patterns and block pattern categories doesn't mention a check for `if ( class_exists( 'WP_Block_Patterns_Registry' ) )`. Should it?

## URL of the Page with the Issue
https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/

## Section of Page with the issue
Prior to https://developer.wordpress.org/block-editor/refer

[2021-12-03 03:40] annezazu commented on #61
Draft here: https://docs.google.com/document/d/1Uqrg5_hHldxKFgDEF2Pl6WO7Wl5t8FxqSZyuwR_oNTM/edit?usp=sharing

@carolinan  any chance you'd be up for reviewing this draft?

[2021-12-03 03:48] annezazu commented on #61
Shared the URL for now so it can be added to the Welcome Guide eventually: https://github.com/WordPress/gutenberg/pull/36172#issuecomment-985191904

[2021-12-03 09:16] Clorith commented on #24
New text has been introduced to the handbook page 👍

[2021-12-03 09:16] #24 closed

[2021-12-03 09:29] stevenlin-x commented on #49
I've updated the links.

[2021-12-05 06:00] #49 closed

[2021-12-06 07:46] stevenlin-x commented on #51
The are two problems in your suggested fix:

- 2nd task:
The "in the dashoboard" is a misspelling. It should be "dashboard".

- 5th task:
The "Themes" link still link to Codex:
https://codex.wordpress.org/Appearance_Themes_SubPanel
and should be linked to HelpHub directly:
https://wordpress.org/support/article/appearance-themes-screen/

I've updated the page.

[2021-12-06 11:03] jennydupuy opened #76 "The table of contents is not always displayed"
I'm co-leader of the French WordPress documentation and I've noticed for a few weeks that when we publish new translated posts, the articles don't offer the table of contents anymore.
For example:
https://fr.wordpress.org/support/article/appearance-customize-screen/ published on October 29, 2021 displays the table of contents but
https://fr.wordpress.org/support/article/theme-base-sur-des-blocs/ p

[2021-12-06 21:37] femkreations commented on #73
THis page has been rewritten. Pls review the google doc here: https://docs.google.com/document/d/1go0BWFwJMICiVnjVQkgVNjPeFHRmjlzbqq2vw9Pk874/

Added details and screenshots in the section -> "Before Updating WordPress".

Also added new/missing information and screenshots for 'Automatic Background Updates'

Added new section called 'Things to do after the update'

[2021-12-06 22:27] femkreations commented on #42
Here is the list of technical documents or sections that need to be migrated into dev docs. I will keep updating this list as I work on the pages listed in #30

https://wordpress.org/support/article/updating-wordpress/#manual-update
https://wordpress.org/support/article/changing-file-permissions/
https://wordpress.org/support/article/upgrading-wordpress-extended-instructions/

https://wordpress.or

[2021-12-07 01:46] femkreations opened #77 "Reword the end user doc ->Using FileZilla to make it generic"
## Issue Description

Refer to the discussion in slack->https://wordpress.slack.com/archives/C02RP4WU5/p1638283171478500
Reword the end-user doc entirely "Using FileZilla" to make it more general and include information on updating files on the server and how to access files on the server.

## URL of the Page with the Issue

https://wordpress.org/support/article/using-filezilla/

## Section of Pag

[2021-12-07 08:30] kovshenin opened #78 "Improve best practices in our Using Subversion guide"
## Issue Description

Hi!

I submitted a new plugin a few days ago and got SVN access to the plugins repository, as well as a congratulations e-mail, with a link to the Using Subversion document. The documentation mentions things like "Checkout the root of your repository" which is exactly what users should *not* be doing, and likely the cause of many complaints in the WordPress community about th

[2021-12-07 19:22] femkreations opened #79 "[HelpHub-Advanced Admin] Remove tech details from 'Resetting Password' end-user doc"
## Issue Description

Related to #30, selecting the following page from which the technical details will be removed

## URL of the Page with the Issue

https://wordpress.org/support/article/resetting-your-password/

## Section of Page with the issue

https://wordpress.org/support/article/resetting-your-password/#through-mysql-command-line
 https://wordpress.org/support/article/resetting-your-passw

[2021-12-07 19:28] femkreations commented on #30
Working on #79 Resetting Password

[2021-12-09 10:46] kosvrouvas opened #80 "Typo in "Using Subversion" text"
## Issue Description
Typo. A period in the text.

## URL of the Page with the Issue
https://developer.wordpress.org/plugins/wordpress-org/planning-your-plugin/#5-push-out-the-first-version

## Section of Page with the issue
"about u.sing SVN on WordPress.org"

[2021-12-10 14:49] #51 closed

[2021-12-10 22:52] courtneyr-dev commented on #71
Training team is organizing screenshots, screencasts, and more that should be updated across Learn.WordPress.org as well.

[2021-12-11 06:34] Soigneur commented on #71
Thanks, at this stage, there are no more URLs to add to the list from my end, feel free to update the spreadsheet

[2021-12-12 15:10] atachibana commented on #70
@femkreations
It's very well edited and easy to understand for all users. 😊
Thank you.

Using Permalinks:
One minor thing
"When want to share a blog post ..." should be "When you want to ..."

Login Trouble:
I believe almost all failure must be caused by password problem. How about swapping the order of paragraph Enable Cookies and Password Problems?

Also we have to remember those technical tips

[2021-12-12 15:29] atachibana commented on #72
@femkreations
Thank you for the whole rewrite.
Very nice! ❤️

I believe below paragraphs can be kept.

- Must-Use Plugins
- Developing Plugins (The 2nd paragraph should introduce the WordPress Plugin Developer Handbook (https://developer.wordpress.org/plugins/)

[2021-12-13 05:31] #80 closed

[2021-12-13 20:33] mkaz commented on #71
@courtneyr-dev For clarification, the Training team is updating just on the Learn site and not on Support documentation?

It will still be good to share assets between the two where it makes sense so we have consistency. 👍

[2021-12-14 00:14] femkreations commented on #79
Pls, review the google doc.
https://docs.google.com/document/d/1C_YMPdI6DPHvU_oAUM_FvTl7uhmLCtSbchzkX7ILMvs/

I have broken down the process into 4 scenarios.

1- Reset Your Password Through The Automatic Emailer
2-Change Your Password From The WordPress Dashboard
3-Change Another User’s Password From The WordPress Dashboard
4-Reset Another User’s Password From The WordPress Dashboard

Also update

[2021-12-14 15:36] TeBenachi opened #81 "Deciding how to call the PHP based themes"
As theme team is currently updating the [Theme Handbook](https://developer.wordpress.org/themes/), Theme Handbook main page will act as a gateway with two links to each theme.  We will need to decide how to call the PHP based themes.

Most of us have been calling as Classic Theme.

[2021-12-14 15:38] TeBenachi commented on #81
At the theme team meeting, we had a productive discussion and decided Classic Themes is preferable.

https://wordpress.slack.com/archives/C02RP4Y3K/p1639495209432600

[2021-12-14 16:28] femkreations opened #82 "[Advanced Admin] Remove technical details from 'WordPress Backups' end user docs"
## Issue Description

Related to #30, selecting the following page from which the technical details will be removed

## URL of the Page with the Issue

https://wordpress.org/support/article/wordpress-backups
https://wordpress.org/support/article/backing-up-your-database/
https://wordpress.org/support/article/restoring-your-database-from-backup/
https://wordpress.org/support/article/backing-up-your

[2021-12-14 16:30] femkreations commented on #30
Working on #82  WordPress Backups, Backing Up Your Database, Restoring Your Database From Backup, Backing Up Your WordPress Files

[2021-12-14 19:34] TeBenachi opened #83 "Update Theme Handbook main page with links to each theme"
### Issue:
The block theme info is located in the Block Editor Handbook. When developers look for information on building themes, they most likely go to the Theme Handbook.

### URL:
Themes section on Block Editor Handbook
https://developer.wordpress.org/block-editor/how-to-guides/themes/

### Suggested Fix:
Add a brief explanation and links to each theme to provide a clear distinction between Cla

[2021-12-14 19:43] TeBenachi commented on #83
Suggested text.  It should go after the 2nd paragraph, and before the step 1 on the [Theme Handbook](https://developer.wordpress.org/themes/).

_There are two types of themes, the Classic theme, and the Block theme. The Classic theme is the original theme that is built on PHP. On the other hand, the Block theme is the new theme that is built mainly using HTML. The Block theme is composed entirely

[2021-12-15 03:04] annezazu opened #84 "Update Template Editor Support Doc"
Need to update this page https://wordpress.org/support/article/template-editor/ Off the top of my head, the following needs to be thought of:

- Add info about browsing templates/site editing flows (whether this doc makes sense or a new one is needed).
- Add in mention of new theme blocks one can use.
- Add demo/video of navigating between templates.
- Explain how one can add a custom template usi

[2021-12-15 03:15] annezazu commented on #60
Whew, finally kicked this off with a very rough draft: https://docs.google.com/document/d/1Em-c8TBubfiFc1XDfldtjq_ifXyAt0rIOJjz6pfmLP4/edit?usp=sharing

Hoping to get something firmer in place this week.

[2021-12-15 03:23] annezazu commented on #74
Finally digging in here. Thanks for the patience. For starters, love the simplicity of this line:

Stealing it for the navigation block as I had a much clunkier one in place! I'd recommend moving this line after intro-ing, loosely, what it is.

This is repeated twice:

I might also update it to say something closer to [what's in the glossary: ](https://developer.wordpress.org/block-editor/explanat

[2021-12-15 09:55] PanosSynetos opened #85 "remove_all_actions - update more information section to reflect to 4.7 changes in code"
## Issue Description
The issues described in the `More Information` section,  about warnings and infinite loops, are only relevant for pre 4.7 releases. It should be mentioned, so the developers are aware.

## URL of the Page with the Issue
https://developer.wordpress.org/reference/functions/remove_all_actions/

## Section of Page with the issue
More Information

## Why is this a problem?
What is

[2021-12-15 09:56] PanosSynetos commented on #85
Oh and I didn't mention, it would be great if this can be assigned to me, I'd love to contribute and help on it

[2021-12-15 20:09] annezazu opened #86 "User doc comparing Patterns vs Reusable Blocks vs Template Parts"
There seems to be widespread confusion around when to use each of these options. Writing a quick doc with an overall explanation comparing/contrasting each with links to respective docs would likely go a long way to help folks make good decisions :)

Adding the 5.9 label but it's not required for 5.9 IMO.

[2021-12-16 10:55] TeBenachi opened #87 "Update theme.json Version"
Update theme.json version section to include a reference to version 2 associating with WordPress 5.9.
https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#version

## How will this help theme authors?
It will help theme authors clarify a few points, including the difference between versions 1 and 2. Also, the Block themes with version 1 continue to work under WordPress 5.9

[2021-12-17 10:27] stevenlin-x commented on #52
1.) Item 1, I assume it's best to remove the second sentence in the intro and keep the content of term definitions?
"If you are a contributor, please don’t add definitions for generic terms (API, PHP, JavaScript, etc…)."

2.) Item 5, #moblogging, do you have any suggestion on how to write the pronunciation? I don't.

3.) Item 6, #quicktag, the text "Back to the Top" links to Codex and needs to be

[2021-12-20 08:02] kafleg commented on #81
We agreed on:

**Classic Themes
Block Themes**

[2021-12-21 19:37] annezazu opened #88 "Site Logo Block Support Page"
Need to include information about using it in Site Editor and Template Editor, including the ability to set the Site Icon with it for FSE: https://github.com/WordPress/gutenberg/pull/35892#event-5800922904

[2021-12-21 20:07] annezazu commented on #64
Updated this today with a new video and slight text change for the explorer modal. Changes scheduled for Jan 25, 2022.

[2021-12-21 20:07] #64 closed

[2021-12-21 20:56] annezazu commented on #67
Added in sections for the following:
- How to drag and drop blocks
- How to manage blocks
- How to collapse sections

Updated the video to include more demonstrations of the above. All scheduled for Jan 25, 2022.

[2021-12-21 20:56] #67 closed

[2021-12-21 20:58] annezazu commented on #66
Keeping this for 5.9 since it was added back in :D

[2021-12-21 22:26] annezazu commented on #66
- Updated all screenshots
- Update to include duotone
- Updated to include individual image cropping information
- Updated to include adding alternative text for Images
- Updated to customize individual images (link, duotone, etc)

This is set to update January 25, 2022

[2021-12-21 22:26] #66 closed

[2021-12-22 01:19] annezazu commented on #68
Updated the note at the top to include the following with a link to the block theme page in progress https://github.com/WordPress/Documentation-Issue-Tracker/issues/63:

Update will go live Jan 25, 2022.

[2021-12-22 01:19] #68 closed

[2021-12-22 01:21] annezazu commented on #63
@carolinan do you still think this is something you can see to completion? I have a lot of time dedicated before the end of the year so was thinking of going through and finalizing this one but wanted to check in first :)

[2021-12-22 01:58] annezazu commented on #61
Added in a few images and made some slight changes to content. For now, going to schedule to go live on January 25th, 2022 at 3am UTC (should be enough in advance of the release and just need to make sure block themes ships at the same time https://github.com/WordPress/Documentation-Issue-Tracker/issues/63). Added in the Block Editor and Design and Layout categories. Set it to intermediate for exp

[2021-12-22 01:58] #61 closed

[2021-12-22 02:30] carolinan commented on #63
@annezazu You can finalize it if you want.
I was waiting to see if there was any progress on the site icon. It doesn't look like the site icon features are going to be in 5.9 so I think that part needs to be removed.

[2021-12-22 02:37] annezazu commented on #63
Oh my gosh! Amazing timing - I was watching this PR as I do think this is going to make it into 5.9 (listed as backport) https://github.com/WordPress/gutenberg/pull/35892#event-5800922904 and was going to start a doc for the Site Logo block: https://github.com/WordPress/Documentation-Issue-Tracker/issues/88 Thinking more though, that's definitely overkill and it would be better to mention within y

[2021-12-22 03:08] carolinan commented on #63
I did not see that it got merged :)

[2021-12-23 05:36] stevenlin-x commented on #59
I've fixed it.

[2021-12-23 05:36] #59 closed

[2021-12-23 20:35] annezazu commented on #60
Whew -- been hard at work on this. Here's the public preview:

https://wordpress.org/support/?p=15191692&post_type=helphub_article&preview=1&_ppp=f1d83cdb26

Thanks to anoopd for the various videos! @carolinan in case you can review or @zzap  :) Going to schedule for January 25, 2022 for now as it's full of info and definitely covers the basics.

[2021-12-27 09:59] juanmaguitar opened #89 "[docs pages] Lack of Context for Docs (no learning path)"
## Issue Description
When we visit a doc like [Blocks](https://wordpress.org/support/article/blocks/) there are no resources to follow a "learning path"

![diagram docs blocks](https://user-images.githubusercontent.com/422576/147488372-9bfdf277-04ea-4313-9a62-2c2cc7bb1415.png)

So when a user get to this documents there is no answer to the questions: Where am i? Where should I go next? What should

[2021-12-27 10:48] TeBenachi commented on #60
Thank you for putting together the navigation doc. It is very helpful 📚
I thought it might be handy to have additional info on the spacer block and the order of menu links.

### Spacer block
Under the [additional menu items section](https://wordpress.org/support/?p=15191692&post_type=helphub_article&preview=1&_ppp=f1d83cdb26#add-additional-menu-items), I think it would be useful to have additional

[2021-12-27 15:51] annezazu commented on #89
Thanks so much for opening this and providing some ways to level up. I wouldn't recommend linking to the Navigation Block doc as that's not set to go live until Jan 25th (what you are sharing is just the temporary public preview).  Here's another doc just in case:

https://wordpress.org/support/article/query-loop-block/

This might work better as Meta ticket: https://meta.trac.wordpress.org/ as it

[2021-12-27 16:10] juanmaguitar commented on #89
Thank you @annezazu for the feedback
I've changed the example doc in the description of the issue.
I've also create a Meta Ticket for this issue → https://meta.trac.wordpress.org/ticket/6001#ticket

[2021-12-27 21:24] annezazu commented on #60
Excellent feedback! Thanks so much for reviewing. I just updated the following based on what you shared:
- Added a new section called: "Transform menu items into other blocks"
- Edited the all pages option to include that new pages will automatically be added and instructions to convert to links.
- Added a note to the Move Block section about needing to convert to links with a link to the above st

[2021-12-28 01:33] annezazu opened #90 "Update "Using Themes" with TT2 information"
Need to update this page https://wordpress.org/support/article/using-themes/ with the following:
- Mention block theme and link to block theme documentation.
- Mention/link to TT2 in default theme section.
- Mention TT2 is a block theme and it won't work with prior versions of WordPress without Gutenberg.

cc @carolinan anything else stand out to you?

[2021-12-28 01:55] annezazu opened #91 "Update Plugin and Theme Editor documentation due to change of location & name"
Due to the decisions made in https://core.trac.wordpress.org/ticket/54382, the following happens:
- Regardless of themes, the Theme Editor and Plugin Editor have been renamed to Theme File Editor and Plugin File Editor respectively.
- For block themes, the Theme File Editor and Plugin File Editor lives under Tools.
- For classic themes, the Theme File Editor remains under Appearance and Plugin Fil

[2021-12-28 02:29] annezazu commented on #91
Updated all of these tonight and saved as future changes. For anyone looking to review, you'll need to check out the saved updates in the sidebar under "Updates" in order to see the changes:

<img width="288" alt="Screen Shot 2021-12-27 at 9 29 07 PM" src="https://user-images.githubusercontent.com/26996883/147521156-ed9ef4ed-dae0-4212-83b3-7a9751b9c0f3.png">

[2021-12-28 02:29] #91 closed

[2021-12-28 03:58] kafleg commented on #90
CC: @TeBenachi

[2021-12-28 10:58] TeBenachi commented on #60
Looks great! Thank you so much for updating!!

[2021-12-28 13:00] TeBenachi opened #92 "Theme Handbook: Add link to the Block Editor Handbook"
### What issue will it solve?
Currently, the information related to the Block Theme resides within the [Block Editor Handbook](https://developer.wordpress.org/block-editor/how-to-guides/themes/).
Many theme developers go to the [Theme Handbook](https://developer.wordpress.org/themes/) to look for theme-related info, including the Block Theme. However, the Theme Handbook mainly provides the info re

[2021-12-28 15:04] annezazu commented on #71
@courtneyr-dev @Soigneur hi, folks! Can either of you confirm that you'll be taking this work on? Just trying to make sure everything is covered :)

[2021-12-28 15:14] annezazu opened #93 "Site Editor Support Doc"
Similar to https://wordpress.org/support/article/wordpress-editor/ and https://wordpress.org/support/article/template-editor/, need to create a Site Editor support doc for now.

In the future, I can imagine there can be a consolidated version when the experiences are more streamlined. For now, it seems wise to have a separate Site Editor doc that links out to things like the block theme doc, Style

[2021-12-28 15:16] annezazu opened #94 "Update Block Pattern doc to include Explorer Modal"
Need to update https://wordpress.org/support/article/block-pattern/ to include references to the Explorer Modal (new video, brief blurb).

[2021-12-28 15:18] annezazu commented on #93
Starting an empty doc here https://wordpress.org/support/wp-admin/post.php?post=15201243&action=edit so I can reference https://wordpress.org/support/article/site-editor/ in this issue: https://github.com/WordPress/gutenberg/issues/21245

[2021-12-28 16:54] Soigneur commented on #71
I am confirming I will be taking on this till end. I need supervision as screenshot capture awaits the 5.9 release in Jan?

[2021-12-31 01:58] annezazu commented on #60
Closing this out for now since it's scheduled and ready to go.

[2021-12-31 01:58] #60 closed

[2021-12-31 15:20] annezazu commented on #63
Went through to update as much as I could but am confused by the Static Page section. Mind finishing that part @carolinan ? For example, with TT2 there isn't a homepage template to set with a page or post. From my vantage point, the main way to set a static page would be to select a static page option in Settings > Reading to then edit in the Editor. Otherwise, if I create a new Front Page templat

[2021-12-31 15:47] annezazu commented on #63
Because having visuals helps me... here's a very rough draft for the Site Editor, reusing pieces from this current doc: https://wordpress.org/support/?p=15201243&post_type=helphub_article&preview=1&_ppp=7b31478236

I personally think the following makes the most sense:
- Simplify the Block theme article even more when mentioning templates, template parts, styling. Perhaps just make this a bullet l

[2021-12-31 16:43] mkaz commented on #63
I think you're on the right track, from a user point of view, the Site Editor is the key interface into the theme, so it makes more sense for the documentation to reflect that. The Block theme support page can focus more on theme basics like:

-  what are difference between block/classic themes,
- explain things like "just because a theme shows an example color" you don't need to switch themes to

[2022-01-01 00:17] annezazu commented on #63
Awesome. Thank you for the confidence check! Glad my thinking isn't too far out there 🤠.

[2022-01-03 07:06] carolinan commented on #63
I agree, the details you mentioned can be moved to the site editor help page.

There is more than one way to create a static home page.
- Either create a new **page** in the block editor, create a new template for it, and assign the page as the static homepage.
- Open the index template and add all your blocks including the content directly.
-Depending on the theme, create a new template via the a

[2022-01-03 07:26] carolinan commented on #63
The previous preview link for the block theme support page expired, here is a new link:
https://wordpress.org/support/?p=15113575&post_type=helphub_article&preview=1&_ppp=8fd0686e9c

[2022-01-03 07:47] carolinan commented on #63
I removed the part about how to update what your homepage displays. (See post revisions or below for a backup).
I also added a heading above the paragraph about the widgets, and updated the images.

I find this paragraph difficult to read, can we split the first sentence into two shorter ones?

"A Template part is a block for managing different areas of your webpage that help set structure for reu

[2022-01-03 08:31] carolinan commented on #93
There is more than one way to add a static homepage, which is part of the difficulty.

Themes have two templates that affect the homepage: home, and front-page. But this has never been relevant for end users, because if the theme is built correctly, their settings just work.

From the theme developer handbook:
**front-page.php**
The front page template is always used as the site front page if it e

[2022-01-03 09:50] carolinan commented on #93
Here is a new draft text for the home page:

<h2 id="how-to-update-what-your-homepage-displays">How to update what your homepage displays</h2>

<p>Your homepage can show a list of your latest blog posts or a static page with custom content.</p>

<p>Which setting you use depends on the templates that are included in your theme. To view the list of templates, go to the Administration Screen > Appear

[2022-01-03 11:27] kafleg commented on #92
Nice suggestion!

[2022-01-03 17:04] authentictech opened #95 "Error in the Privacy Policy code example"
## Issue Description

There is a code error in the Privacy Policy code example
## URL of the Page with the Issue

https://developer.wordpress.org/plugins/privacy/suggesting-text-for-the-site-privacy-policy/
## Section of Page with the issue

The code example section
## Why is this a problem?

The `add_action` statement incorrectly references the function name.
## Suggested Fix

Change `add_action(

[2022-01-03 17:52] authentictech opened #96 "Checking user capabilities example code produces error "Call to undefined function wp_get_current_user()""
## Issue Description

The example code provided in the two examples below (which are basically the same code) fails to work because the code produces an error "Call to undefined function wp_get_current_user()".

## URL of the Page with the Issue

1. https://developer.wordpress.org/plugins/security/checking-user-capabilities/#restricted-to-a-specific-capability
2. https://developer.wordpress.org/pl

[2022-01-04 16:11] hellofromtonya commented on #63
With 5.9 RC1 today, need to get a link to the new support page for the block themes. The Welcome Panel has a link to it, which is `https://wordpress.org/support/article/block-themes/`, a guess of what the article's URL might be. Is this the right URL? Or ___?

[2022-01-04 17:09] annezazu commented on #63
Yes. The link will be this: https://wordpress.org/support/article/block-themes/.

[2022-01-05 01:12] annezazu commented on #63
@carolinan can you check out this preview? https://wordpress.org/support/?p=15113575&post_type=helphub_article&preview=1&_ppp=8fd0686e9c

I moved the big pieces to the Site Editor doc and then listed key features as as bullet items with links to each individual doc. I also added in more notes around how you can customize key parts of your theme without needing to necessarily switch. It makes for a

[2022-01-05 02:01] annezazu commented on #93
Thanks SO much @carolinan. This is very helpful and has been integrated. My only concern is how to address what happens when you have the option to create a new Front page template which then isn't able to be selected from the Template list when editing a page you've set as your homepage. This might be fairly edge case though so am going to move on for now, unless you think otherwise. I agree this

[2022-01-05 02:16] annezazu commented on #88
Removing for 5.9 as it's not a priority doc and the key part around being able to set a site icon using the site logo block has been appropriately integrated.

[2022-01-05 03:31] carolinan commented on #93
It looks good to me. I think it is ready, and if you come up with additional points, they can be added over time.
I think the length of the page is good too.

There are many things that are relevant to editing in the site editor, like using the list view, and the template part in isolation, but I believe those are covered on other pages.
For advanced users, there is also the new export feature, I'

[2022-01-05 03:33] carolinan commented on #63
"With a block theme, you can place and edit blocks outside your content using the Template Editor or by going to the Administration Screen > Appearance > Editor (beta). "

I think this can be shortened now that we can use the term "site editor", and it should link to the new page.

[2022-01-05 03:39] carolinan commented on #63
In the list below "What options are available with block themes?" could we switch places of template parts and templates, because templates are required and template parts are optional.
Maybe add a link to the navigation block page?

One concern that I have is that when we compare classic themes and block themes, this might only make sense for users who have used classic themes and are already fam

[2022-01-05 12:51] TeBenachi opened #97 "Theme Handbook: Create a new page for Updating Your Theme to explain SVN upload"
Uploading a theme using SVN has been open since October. To encourage theme authors to use SVN, I think it is a good idea to create a new page explaining other ways to update their themes in addition to a zip file.

My idea is to remove the [Updating your theme section](https://developer.wordpress.org/themes/releasing-your-theme/submitting-your-theme-to-wordpress-org/#updating-your-theme). Then cr

[2022-01-05 13:25] TeBenachi opened #98 "Theme Handbook: Updating accessibility review request"
The [accessibility review process](https://make.wordpress.org/themes/handbook/review/accessibility/) has been changed and need to be updated.

**[Suggested Draft]**
**Requesting an accessibility review of a live theme:**
When an existing theme is updated with an `accessibility-ready` tag, the theme is sorted into the [accessibility queue](https://themes.trac.wordpress.org/query?status=closed&keywo

[2022-01-05 16:14] joyously commented on #97
Instead of removing a section that could be linked to from other places, could you just add a link to the new page? The new one is mostly about SVN, so the long-standing way to update with a zip file should not be listed **only** there.
And why exactly is there a goal "to encourage theme authors to use SVN"?

[2022-01-05 17:28] TeBenachi commented on #97
You have a good point. Thanks for your input. It makes sense not to remove the section if there are cross-links to the section.

One of the main purposes is to reduce Trac tickets when updating themes. Also, updating can be automated when using SVN.

[2022-01-05 18:55] annezazu commented on #63
Thank you -- updated the above considering:
- Updated to mention how this is coming to 5.9
- Updated to just say Site Editor in the section you flagged.
- Changed order of templates and template parts.
- Added in a brief "When should I use a block theme?" section (can evolve this)
- Added link to navigation block page and query loop under "How are block themes different from classic themes?" while

[2022-01-05 19:00] annezazu commented on #60
Going to ship today in [light of this convo in slack](https://wordpress.slack.com/archives/C02RP4WU5/p1641317048292100) where current links in 5.9 RC1 are broken because these are not published.

[2022-01-05 19:08] annezazu commented on #64
Shipped changes today in [light of this convo in slack](https://wordpress.slack.com/archives/C02RP4WU5/p1641317048292100) where current links in 5.9 RC1 are broken and some of those docs link to this one.

[2022-01-05 19:19] annezazu commented on #93
Oohh great call. Added a section called "tools" and added in mentions of List View, patterns, and exporting. Left out template part in isolation as that will be covered for that page.

Going to ship today in [light of this convo in slack](https://wordpress.slack.com/archives/C02RP4WU5/p1641317048292100) where current links in 5.9 RC1 are broken because these are not published.

[2022-01-05 19:33] annezazu opened #99 "Update Blocks page to include more theme blocks"
Update https://wordpress.org/support/article/blocks/ to include navigation block and template part block. Took care of this today and am scheduling to ship the update in [light of this convo in slack](https://wordpress.slack.com/archives/C02RP4WU5/p1641317048292100) where current links in 5.9 RC1 are broken. Those links that are broken reference these new pages so it makes sense to update this for

[2022-01-05 19:34] annezazu commented on #99
Closing as this was done :) Merely including this for tracking purposes.

[2022-01-05 19:34] #99 closed

[2022-01-05 21:18] annezazu commented on #74
Alright! I dove in and built out this page today with sections similar to other advanced blocks, like the query loop block. As @carolinan noted, this is a tricky block to describe but I think this does it enough justice for now.

Going to ship today in [light of this convo in slack](https://wordpress.slack.com/archives/C02RP4WU5/p1641317048292100) where current links in 5.9 RC1 are broken because

[2022-01-05 21:25] annezazu commented on #74
Noting I had to make some changes since this PR wasn't backported for RC1 (I added way more than I needed to 🤦🏼 ): https://github.com/WordPress/gutenberg/pull/36571

[2022-01-05 22:43] annezazu commented on #84
Whew finally dove in today and did the following:
- Updated the theme block mention to link to overall blocks list as it doesn't make sense to continually update them here.
- Added in information around how there's the template editor found within the Post editor and Template Editor found within the Site Editor. I did this through creating a section titled "How to edit templates via the Site Edito

[2022-01-05 22:48] annezazu commented on #93
Done: https://wordpress.org/support/article/site-editor/

[2022-01-05 22:51] annezazu commented on #74
Shipped: https://wordpress.org/support/article/template-part-block/

[2022-01-05 22:53] annezazu commented on #62
Closing this out since I included a section in https://github.com/WordPress/Documentation-Issue-Tracker/issues/74 dedicated to this :)

[2022-01-05 22:53] #62 closed

[2022-01-05 22:53] #74 closed

[2022-01-05 22:53] #63 closed

[2022-01-05 22:53] #93 closed

[2022-01-05 22:54] #84 closed

[2022-01-06 09:33] carolinan commented on #98
This draft looks correct to me, thank you.

Are there any other places where we might need to update this?

[2022-01-06 09:37] carolinan commented on #97
I agree with Joy.

The text looks correct to me; I think there is a link missing here? "Tips: If you are not sure about the exact name of your theme (e.g. hyphen, underscore), you can find it at this link."

[2022-01-06 09:56] kafleg commented on #97
Yes, I recommend adding a new page as well.

[2022-01-06 10:02] kafleg commented on #97
(1) Create a copy of the repository on your local machine. Replace /NameOfYourTheme/ with your theme name. svn co https://themes.svn.wordpress.org/NameOfYourTheme/

Is **NameOfYourTheme** or **theme directory name**? Or both works?

[2022-01-06 10:15] TeBenachi commented on #97
@kafleg Thanks for checking. NameOfYourTheme is the theme directory name. I added an example to clarify.

For example, if your theme name is Twenty Twenty-One, use svn co https://themes.svn.wordpress.org/twentytwentyone/

[2022-01-06 10:17] TeBenachi commented on #98
@carolinan Thank you so much for checking!

[2022-01-06 12:04] TeBenachi commented on #98
I think it is safe to remove this sentence from the How to be “Accessibility Ready” section.

_**Themes with this tag may not be made live in the theme repository until they have passed an accessibility audit.**_

[2022-01-06 14:01] kafleg opened #100 "Change Theme Review Team text to Themes Team"
On this page, there is a text Theme Review Team. This team name is changed to Themes Team a long time back.
https://developer.wordpress.org/themes/releasing-your-theme/submitting-your-theme-to-wordpress-org/

Just opened this issue for the tracking purpose.

![image](https://user-images.githubusercontent.com/13062231/148394305-f1498616-9262-467d-b7d2-3c0617512728.png)

[2022-01-06 14:01] TeBenachi commented on #97
Suggestion for the **[uploading your theme section](https://developer.wordpress.org/themes/releasing-your-theme/submitting-your-theme-to-wordpress-org/#uploading-your-theme)** with a link to the new page.

==
When you are ready to submit your theme for review, please upload your theme ZIP at Themes > Upload. **_Future updates are to be uploaded via the same page or SVN. Learn more about [how to up

[2022-01-06 14:04] kafleg commented on #97
More information about the theme review process is available on the Theme Review Team’s website.

_More information about the theme review process is available on the Themes Team handbook._

[2022-01-06 14:05] TeBenachi commented on #97
Thanks for catching that!

[2022-01-06 14:05] kafleg commented on #97
Also, we can add a link to the upload page here, _[Themes > Upload](http://wordpress.org/themes/upload)._

[2022-01-06 14:53] joyously commented on #97
I think using a bundled theme name is a bad example since they can be different between the name and the folder. Other themes can't.

[2022-01-06 14:55] joyously commented on #97
It sounds okay to say "on a website", but sounds funny to say "on a handbook".

[2022-01-07 06:39] carolinan commented on #92
I removed the word "experimental" from the notice on the [first page](https://developer.wordpress.org/themes/).

[2022-01-07 06:53] carolinan commented on #92
The template tag page above is not relevant for block themes because they use blocks instead.
Instead of having a notice that links to the block editor handbook, should the page have a notice that says the information is only for classic themes?

[2022-01-07 07:17] kafleg commented on #100
I can fix it myself. :)

[2022-01-07 07:18] kafleg commented on #100
Updated, https://developer.wordpress.org/themes/releasing-your-theme/submitting-your-theme-to-wordpress-org/

[2022-01-07 07:43] carolinan commented on #87
@oandregal @mkaz

For this page I would suggest that a table of contents with links to the headings/sections replaces the current toc.

I also think it would be good to try to simplify the language, as a non native English speaker I find that I have to go back and read the text more than once.
I am assuming that the main reason why a developer visits this page is to learn the implementation detail

[2022-01-07 08:01] carolinan commented on #87
I completely forgot that we also have this page in the theme developer handbook:
https://developer.wordpress.org/themes/advanced-topics/theme-json/

@TeBenachi @kafleg can I go a head and update the examples in this theme handbook page to theme.json version 2?

[2022-01-07 08:05] #81 closed

[2022-01-07 08:05] #100 closed

[2022-01-07 08:11] carolinan opened #101 "[Theme handbook] Links on the reference page point to codex"
## Issue Description

The reference pages in the theme developer handbook has lists of links to template tags and conditional tags,
but the links are to the old codex pages.
The list needs to be checked to confirm if it is still complete and relevant.

The page is also missing a link to one of the most important pages, the developer code reference:
https://developer.wordpress.org/reference/

## UR

[2022-01-07 08:13] kafleg commented on #101
I am able to change the codex link to new developer handbook links.

Need to check and verify this: **The list needs to be checked to confirm if it is still complete and relevant.**

[2022-01-07 08:26] carolinan commented on #90
It's unrelated to TT2, but there are two more updates that can be done to improve the page;
The image in the section "Adding New Themes using the Administration Screens" seems to be broken/missing.

Below the last heading "Creating themes", the name of the team needs to be updated:
`Whichever the case, you are welcome to join Theme Review Team` should be
`Whichever the case, you are welcome to joi

[2022-01-07 10:34] TeBenachi commented on #92
Yes, there are some pages that share info for both. I was hoping that the link would help new authors finding about the block theme.

Great point about adding “the information is only for classic themes”. It makes sense and clarify more.

Suggestion:
**The information is for Classic theme. Want to build a Block theme? See Create a block theme for building a block theme.**

Agree. I think it's a go

[2022-01-07 11:29] TeBenachi commented on #87
Yes please. Thank you so much!

[2022-01-07 12:00] oandregal commented on #87
:wave: There's a couple of documents for `theme.json` in the block editor handbook:

- [theme.json reference](https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/): automated doc to refer to each specific property. It's the specification document. In https://github.com/WordPress/gutenberg/pull/37772  I'm proposing to add the version of theme.json in which a given fie

[2022-01-07 14:52] TeBenachi commented on #97
@joyously Thanks for pointing it out. I changed to hello-world instead. I think it’s neutral enough.

[2022-01-07 18:36] annezazu commented on #60
To loop back on next week... :) Will update the doc accordingly.

[2022-01-08 16:58] joyously opened #102 "Theme Handbook: details/summary usage"
## Issue Description
There are a few uses of the `<details>` and `<summary>` tags, which I think is good, but either the styling needs to improve or they should default to open, because they are easily overlooked.

## URL of the Page with the Issue
https://make.wordpress.org/themes/handbook/review/required/

## Section of Page with the issue
There is one at the bottom of the Functionality and Feat

[2022-01-10 04:08] kafleg opened #103 "Change the theme name in child theme page"
Information on the child theme page is quite old. Better to change the theme name to the current latest WordPress core theme.
https://developer.wordpress.org/themes/advanced-topics/child-themes/

Twenty Fifteen => Twenty Twenty-Two

[2022-01-10 06:34] stevenlin-x commented on #95
I've revised the Code Example.

[2022-01-10 06:35] Kenshino commented on #103
Feel free to edit it but there isn't really a need or benefit to this.

It's fine as long as we understand there's no need to update documents for such reasons. It's a catch-up we won't ever finish

[2022-01-10 08:50] kafleg commented on #103
Thanks for adding your view. :)

[2022-01-10 10:47] carolinan commented on #83
Technically, there are also child themes, and there are hybrids, so I think we should avoid stating this?

[2022-01-10 17:54] annezazu commented on #60
^ looking back over, I had already included a section!  I renamed it for good measure to "manage menus (delete, rename)" to make it easier to find:

https://wordpress.org/support/article/navigation-block/#manage-menus-delete-rename

[2022-01-10 23:22] annezazu commented on #65
Updated Gallery block to include a note about duotone, including a video showing off the feature. It has been scheduled as part of a wider gallery block update for Jan 25, 2022 (release day).

[2022-01-10 23:47] annezazu commented on #65
Updated Image block to include updated screenshots, notes about duotone with a video, and updated list of toolbar features.

[2022-01-10 23:47] annezazu commented on #65
All updates scheduled for January 25, 2022. Closing this out for now.

[2022-01-10 23:47] #65 closed

[2022-01-10 23:50] annezazu commented on #94
Sigh -- I blame the pandemic. This is a duplicate issue of this one: https://github.com/WordPress/Documentation-Issue-Tracker/issues/64 Apologies for the confusion. I visited the doc, didn't see the update since it is scheduled, and opened this forgetting I had already updated it. Closing this out.

[2022-01-10 23:50] #94 closed

[2022-01-11 01:02] annezazu commented on #90
Updated done today and scheduled for January 25, 2022 at the same time as the various other docs. Updates include:
- Fixing the image under "Adding New Themes using the Administration Screens". This was a GIF. As a result, I added a short video instead.
- Updating the last heading as mentioned above.
- Updated 8,450 themes to "over 9,000" themes based on the current number in the directory (9,143)

[2022-01-11 01:06] annezazu opened #104 "Update Common WordPress errors with block theme info"
Need to update this page: https://wordpress.org/support/article/common-wordpress-errors/ in light of [this slack convo](https://wordpress.slack.com/archives/C02RP4VMP/p1637080950219600?thread_ts=1636999727.203900&cid=C02RP4VMP). Essentially, need to include information about troubleshooting the age of block themes:

[2022-01-11 06:41] carolinan commented on #90
The minimum required version for Twenty Twenty-Two will been increased to 5.9:
https://github.com/WordPress/twentytwentytwo/pull/326

[2022-01-11 12:44] carolinan commented on #104
Should this page include something about common errors when you use a block theme? Like the message for when templates are not found?

[2022-01-11 12:45] carolinan commented on #104
(Or do we wait to see if this is a problem that users start reporting and asking about)

[2022-01-11 12:48] TeBenachi commented on #97
Closing this ticket as the page has been updated.
https://developer.wordpress.org/themes/releasing-your-theme/updating-your-theme/

[2022-01-11 12:48] #97 closed

[2022-01-11 13:26] TeBenachi commented on #83
True. Thank you for your input.

Revised suggestion:

**In this section, you can learn how to build** the Classic or Block themes. The classic theme is the original theme that primarily uses PHP. The block theme is a newer theme that is built mainly using HTML. The block theme is composed entirely of blocks allowing users to take full advantage of the full site editor.

Head over to the [Block Edi

[2022-01-11 14:56] TeBenachi opened #105 "Add How to create a child theme in the Block theme handbook"
Currently there is no information regarding how to create a child theme for the block theme. I think it would be helpful to add how to create a child theme in the Block theme handbook.

https://developer.wordpress.org/block-editor/how-to-guides/themes/

[2022-01-11 16:09] TeBenachi commented on #92
Closing this ticket as the Theme Handbook page has been updated.
https://developer.wordpress.org/themes/

[2022-01-11 16:10] TeBenachi commented on #92
Sorry I closed the ticket by mistake.

[2022-01-11 16:12] TeBenachi commented on #83
Closing this ticket as the Theme Handbook page has been updated.
https://developer.wordpress.org/themes/

[2022-01-11 16:12] #83 closed

[2022-01-11 17:42] annezazu commented on #90
Awesome. Going to loop back on this in early Feb as that's when it seems to be anticipated that TT2 will be live in the directory.

[2022-01-11 17:43] #90 closed

[2022-01-11 17:45] annezazu commented on #104
Hmm good question. Right now, I lean towards _not yet_ and instead updating as errors come in. The confidence in my answer is very low here though and I'd likely need help documenting the various things folks would want to see.

[2022-01-11 23:12] annezazu commented on #104
Added in this language throughout the doc and scheduled the update for Jan 25th, 2022 with the others:

I also changed phrasing to "the default theme" to "a default theme" to indicate that folks shouldn't just switch to the latest. This is an extremely slight update but I am hoping to be iterative here since I imagine it's an often used page.

cc @zzap for further thoughts too! For now, going to c

[2022-01-11 23:12] #104 closed

[2022-01-12 01:10] carolinan commented on #105
Creating a child theme works in the same way for both types of themes. I think we should have it on the existing page.

[2022-01-12 01:13] carolinan commented on #103
Agree, as long as the content including any code examples are still valid, the theme name doesn't need to be updated.

[2022-01-12 02:25] annezazu commented on #69
Whew have a draft: https://wordpress.org/support/?p=15242206&post_type=helphub_article&preview=1&_ppp=8374967e92

@carolinan or @mkaz would either of you bhance be able to review?

[2022-01-12 02:45] #98 closed

[2022-01-12 10:22] TeBenachi commented on #105
Good point! I think the [Create a Block](https://developer.wordpress.org/block-editor/how-to-guides/themes/create-block-theme/#custom-templates) page would be a good place, possibly after [Example themes](https://developer.wordpress.org/block-editor/how-to-guides/themes/create-block-theme/#example-themes) section.

**Suggested text:**

(1) Create a new folder for your child theme in `/wp-content/f

[2022-01-12 12:07] karmatosed opened #106 "New page in theme handbook: from classic to block-based themes"
## What is the new page you are requesting?
The page will be focused on how you move your theme to block-based if you choose to. It will include:

- Why you would want to (or when not even to) - being clear about what is beta or not.
- How to convert customizer options and settings.
- How to implement global styles and other specific settings you would have done in customizer before (likely this w

[2022-01-12 12:31] carolinan commented on #106
I am not sure about including topics like why, we have to be careful to not write too opinionated content.
-I would prefer if the handbook did not include as much time-sensitive content since it needs to be maintained.
Consider that several of the handbook pages had not been updated since 2014.

[2022-01-12 12:32] karmatosed opened #107 "[Themes] Add in docs somewhere about the sliding scale of site editing"
Site editing doesn't have to include all the features. It can just be you implement theme.json or you add block styles, block patterns. Saying about this progressive, scaling approach is important somewhere in the documentation.

There is no particular page with this issue, it's more about adding to the documentation around site editing.

@annezazu has a great post about this: https://nomad.blog/2

[2022-01-12 12:40] zzap commented on #106
I'd normally agree with maintaining time-sensitive content but in this case I would make an exception. I believe we need to make transition from non-block to block based, and FSE, as friendly as possible. We already skipped the opportunity to do that when Gutenberg was merged in 5.0 and I'd like to avoid repeating that mistake.

I'll even volunteer to maintain these "transitional" pages myself.

[2022-01-12 13:57] TeBenachi opened #108 "New Pages for the Block themes"
As we are moving forward with merging with the [Theme handbook](https://developer.wordpress.org/themes/), here is a list of suggested new pages related to the block theme. The new pages will go under the [Block theme section](https://developer.wordpress.org/themes/block-themes/).

==

Introduction and overview
Difference between block theme and classic theme

How to create a block theme
- File str

[2022-01-12 15:26] atachibana commented on #106
Do we encourage authors of classic themes to convert their themes to block-based themes?
I think the block-based theme (+ FSE) is based on a completely different concept from Classic Theme (+ Widgets, Customizer). It's great that the authors of the classic theme want to make it a block-based theme, but isn't that like re-designing it from scratch?

[2022-01-12 16:56] zzap opened #109 "Migrating block editor end user docs issues from Trello to GitHub"
## Context

Before we created this repository, block editor end user documentation was managed in [Trello board](https://trello.com/b/JnTCzOsL/gutenberg-end-user-docs) and team's [Google Drive folder](https://drive.google.com/drive/folders/1Nc4ePFxDsSREZimEcqy4n16z5NqUaMwQ?usp=sharing). The way it was managed is recorded in [this video](https://wordpress.tv/2021/05/25/birgit-pauli-haack-milana-cap

[2022-01-13 04:01] carolinan commented on #106
In my opinion, no, it is not that simple, because there are many factors that the writers will not be aware of, like time, cost, etc.
But the handbook can try to give enough information so that the reader can make the decision.

On this topic:
https://fullsiteediting.com/lessons/adding-full-site-editing-features-to-classic-themes/#h-should-we-update-or-retire-existing-themes

[2022-01-13 06:37] carolinan commented on #69
Hi!
The text flows well and is easy to read.

The two first blocks in the image below "How to find dimension controls" have the dimension panel closed, which I found confusing. It felt like the main focus of those images where the typography- and color controls instead.

Types of controls, padding;

I believe this should be `space between`, not space behind?

Types of controls, margin;

I think th

[2022-01-13 08:48] carolinan commented on #108
In addition to the above, we need to include information about block markup and how to use it.

Please consider the following updates to be a starting point.
**Feel free to edit/remove/add content, including moving it to different documents**

There is a scheduled update for the entry page for block themes that is ready to be reviewed.
I listed the [theme basics chapter](https://developer.wordpres

[2022-01-13 08:52] carolinan commented on #108
Theme.json can be used by both classic themes and block themes. The existing page is in the advanced section, and has a scheduled update that is ready for review:
https://developer.wordpress.org/wp-admin/post.php?post=138713&action=edit

[2022-01-13 14:00] TeBenachi commented on #106
I think it would be helpful as an informative purpose without being too persuasive or opinionated.

[2022-01-13 15:45] atachibana commented on #106
@carolinan @zzap
I understand the purpose of your comment. You provide information as a conversion method, but do not recommend it. I think so too.

This @carolinan 's words were very good for me:
_You can choose to update your existing theme, retire it, convert it to a full site editing theme, or do nothing.
Existing themes will not break, so doing nothing is a valid option. Just make sure that y

[2022-01-13 18:04] carolinan commented on #106
I think that having a clear "last updated" note on each page can mitigate some of the problems with time-sensitive content.

[2022-01-14 03:48] carolinan commented on #108
Added a section about enqueueing block styles, but it is very long. Eventually, this may be replaced by a proper developer reference page for the new wp_enqueue_block_style().

[2022-01-14 04:03] carolinan commented on #108
Added a theme.json setting and add_theme_support comparison table.

[2022-01-14 04:05] carolinan commented on #108
Theme authors are asking how to correctly load JavaScript in the different editors.
I think we need to include that, but I don't actually have the answer to that.
(My personal preference is don't do that, and rely on blocks instead)

[2022-01-14 04:18] carolinan commented on #106
Do we want to recommend starting with creating block themes by editing a theme in the site editor?

[2022-01-14 14:28] atachibana commented on #85
@PanosSynetos The part you are pointing out is automatically generated by the WordPress source code. There are several ways to deal with this.

1. Leave a comment.
You can add a comment from "Add Note or Feedback" on this page. This is just notification to others, not solving the issue.

2. Create a ticket to report this issue.
https://make.wordpress.org/core/reports/

3. Fix it by yourself.
After

[2022-01-15 08:24] stevenlin-x commented on #96
I've revised the Code Examples.

[2022-01-15 17:27] #96 closed

[2022-01-16 04:35] #95 closed

[2022-01-16 05:35] stevenlin-x commented on #85
@atachibana

I think you got mixed up?

The "More Information" section is edited by using the Edit Explanation button at the top.

[2022-01-17 01:07] atachibana commented on #85
@stevenlin-x
Thank you as always. I was completely wrong...

@PanosSynetos
I'm very sorry, as Steven says this section can be edited by ourselves.
How about changing the current statements as followiings:

[code]

[2022-01-17 07:32] PanosSynetos commented on #85
Cool @atachibana - I'll take care of it and let you know when I'm done

[2022-01-17 12:55] atachibana commented on #85
@PanosSynetos

Thank you so much!

I updated the More Information section.
https://developer.wordpress.org/reference/functions/remove_all_actions/

[2022-01-17 12:55] #85 closed

[2022-01-17 21:59] annezazu commented on #69
Thanks so much for reviewing per usual <3.

Great point. For whatever reason, I didn't think to close those tabs out as a way to get a condensed shot. Updated!

Updated 🤦🏼

Updated 💥

I struggled with this too. Thank you for flagging that issue too. Great context on where folks are likely to get confused. To help resolve this, I added in slightly more context to that section and added an additiona

[2022-01-17 21:59] #69 closed

[2022-01-17 22:11] annezazu opened #110 "Update Group block documentation for 5.9 features"
While updating the [Group block doc](https://wordpress.org/support/article/group-block/) to include dimension controls changes https://github.com/WordPress/Documentation-Issue-Tracker/issues/69, I noticed it was also missing information on layout, border, etc. This is just a quickly opened and soon to be closed issue noting that this doc has been updated to cover these new settings.

[2022-01-17 22:26] annezazu commented on #110
Updated!

[2022-01-17 22:26] #110 closed

[2022-01-17 22:33] annezazu commented on #69
Added in a link to dimension controls docs to the following docs:
- Buttons block: https://wordpress.org/support/article/buttons-block/
- Group block: https://wordpress.org/support/article/group-block/
- Cover block: https://wordpress.org/support/article/cover-block/

For columns and spacer, these were removed and [will be added back in the future](https://github.com/WordPress/gutenberg/pull/37360

[2022-01-18 06:18] jamesgoldswain opened #111 "Typo in the "Fix Doc Issue Report" option when creating a new issue"
_"exisiting"_ should be _existing_
![image](https://user-images.githubusercontent.com/238641/149881309-eb236bf2-2dac-4e48-8bfc-eafdea7bdb93.png)

[2022-01-18 06:27] jamesgoldswain opened #112 "Typos in section 4. Installing VVV"
## Issue Description
The section with the note on running the _vagrant up_ command has spelling mistakes which would improve the manner in which it reads.

## URL of the Page with the Issue
https://make.wordpress.org/core/handbook/tutorials/installing-a-local-server/installing-vvv/#4-start-up-vvv

## Section of Page with the issue
4-start-up-vvv

## Why is this a problem?
Typo - should be, reads i

[2022-01-18 06:31] jamesgoldswain opened #113 "Typo in section 3. Grabbing VVV"
## Issue Description
The word _installing_ has been typed incorrectly

## URL of the Page with the Issue
https://make.wordpress.org/core/handbook/tutorials/installing-a-local-server/installing-vvv/#3-grabbing-vvv

## Section of Page with the issue
3-grabbing-vvv

## Why is this a problem?
"official instructions for _**installting**_ VVV are here."

## Suggested Fix
"official instructions for _**in

[2022-01-18 14:56] zzap commented on #11
I believe there's an overal wp.org design update happening right now so I'm going to close this one.

[2022-01-18 14:56] #11 closed

[2022-01-18 15:05] zzap commented on #32
This is overal meta issue because it applies to all handbooks. It will most likelye be fixed with the new design for the whole wp.org. If not, I suggest opening a ticket in meta Track with component `Handbooks` - https://meta.trac.wordpress.org/newticket.

[2022-01-18 15:05] #32 closed

[2022-01-18 15:23] zzap opened #114 "Remove mentions of plugins in user docs"
## Issue Description
We are recommending multilinual plugins.

## URL of the Page with the Issue
https://wordpress.org/support/article/multilingual-wordpress/

## Why is this a problem?
1. we are documenting only WordPress, not themes or plugins
2. we can't recommend theme or plugin because we're not responsible for it's proper functionality, support or documentation
3. this is prone to favorising

[2022-01-18 15:41] TeBenachi commented on #105
Please disregard my above comment. it did not make sense 😔
I agree on updating the existing [child theme](https://developer.wordpress.org/themes/advanced-topics/child-themes/) page.

I think only [#3 Enqueue stylesheet](https://developer.wordpress.org/themes/advanced-topics/child-themes/#3-enqueue-stylesheet
) section need to be updated with the block theme info.

**Suggestion:**

[code]

[2022-01-18 15:44] TeBenachi commented on #105
For [Enqueueing Styles and Scripts](https://developer.wordpress.org/themes/advanced-topics/child-themes/#enqueueing-styles-and-scripts) section, [relating to this comment](https://github.com/WordPress/Documentation-Issue-Tracker/issues/108#issuecomment-1012731899), can a child theme for block theme add javascript?

[2022-01-18 16:29] theMikeD commented on #114
The only issue here is that the search results return only free solutions, which means WPMl is not shown. How do we address this? Or do we?

[2022-01-18 16:32] zzap commented on #114
We note that there are paid options outside of WordPress repository and searching `WordPress multilingual plugin` in Google should provide enough results for moving forward.

[2022-01-18 17:27] santanainniss commented on #109
Working on 5.8 Widget Screen: https://trello.com/c/E74yu6Ua/104-widget-screen?filter=label:5.8,label:WP5.8

[2022-01-18 18:03] santanainniss commented on #109
5.8 widget screen is all good.

[2022-01-18 18:06] santanainniss commented on #109
@zzap working on 5.8 Query Loop Block

[2022-01-18 18:11] santanainniss commented on #109
Did not have a linked live document --> https://trello.com/c/aRyoj9sq/115-query-loop-block?filter=label:5.8,label:WP5.8 or corresponding /core doc.

I did find --> https://wordpress.org/support/article/query-loop-block/ published on the same day referenced by @annezazu and it looks all good!

This Trello card can be closed.

[2022-01-18 18:12] santanainniss commented on #109
@zzap working on 5.8 Block Pattern

[2022-01-18 18:23] santanainniss commented on #109
https://wordpress.org/support/article/block-pattern/ Looks great! Changes referenced reflected and live.

[2022-01-18 18:26] santanainniss commented on #109
@zzap Reviewed 5.8 Block Pattern Directory. There isn't any context or source to compare on Trello (https://trello.com/c/fvlMKyyO/117-block-pattern-directory?filter=label:5.8,label:WP5.8), but the [Block Pattern Directory ](https://wordpress.org/support/article/block-pattern-directory/) article is live on /support

[2022-01-19 15:04] TeBenachi commented on #106
I gathered information from many great resources and created a brief draft. As I’m still learning myself, I thought it would be great to get peer feedback.
I tried to be as neutral as possible without being persuasive. I’m still struggling to come up with examples or snippets, but I would really appreciate any insights or ideas for the example.

https://gist.github.com/TeBenachi/241d0308bf7d7a04a9

[2022-01-19 15:35] #111 closed

[2022-01-19 16:07] zzap commented on #112
Thank you for reporting this, @jamesgoldswain. It is fixed now.

[2022-01-19 16:07] #112 closed

[2022-01-19 16:07] #113 closed

[2022-01-19 16:24] zzap commented on #106
I wouldn't say reccomend it. More just stating there's an option and it's possible. There might be cases, I'm not sure exactly how but let's say there's a case when some of the block-based features are needed in the project but, for some reason, building a block-based theme from the start is not an option at the moment.

Maybe @karmatosed can help with that.

[2022-01-20 01:34] annezazu commented on #86
I have a very rough draft here based on various notes/ideas: https://docs.google.com/document/d/16bT9ME4g8j5Qe_-rOlM0kzk1vuZjPNG5142pK1_Vnmc/edit?usp=sharing

I think a table makes sense to include but, for now, want to get feedback on this first. @carolinan or @zzap would you be so kind? <3

[2022-01-20 04:14] carolinan commented on #106
Love it;
-I did not understand the first heading: Adopting blocks to child themes.

-The first list with the benefits of block themes is great and I think it should be on the first page of the block theme chapter? (not hidden on a child page like "converting themes" or similar)

Under the heading Enabling template editor:

This is correct, but I think the paragraph needs some more context, because

[2022-01-20 04:17] carolinan commented on #106
Thinking out loud, on the topic of converting customizer options;
Untested -I'm thinking that if your theme has a customizer option with a call to action with colors and text,
the block pattern can use get_theme_mod() to catch the websites current setting, and after that the customizer option can be removed.

[2022-01-20 04:22] carolinan commented on #105
I don't think this is accurate?
But the theme only needs to enqueue it if it is used.

[2022-01-20 04:38] carolinan commented on #108
Yes, we can refer to the Loading JavaScript page in the block editor handbook.
I was hesitant to recommend enqueue_block_editor_assets because it used to trigger a warning. The warning has now been removed.

[2022-01-20 05:08] carolinan commented on #108
The original page I started writing in is now called "Block theme setup"
https://developer.wordpress.org/wp-admin/post.php?post=138840&action=edit

I move the template/parts and block markup content to a new page called "Templates and template parts"
https://developer.wordpress.org/wp-admin/post.php?post=139037&action=edit

[2022-01-20 05:16] carolinan commented on #108
At the start of the block markup section, it says:

This reads rude to me and needs to be softened up. I was trying to avoid using a passive voice.

[2022-01-20 12:52] carolinan commented on #106
@karmatosed Did you mean "the color palette in theme.json replaces the color option", "the cover block is the only way to add a body background image" (!)  or did you mean more specialized customizer options?

[2022-01-20 13:02] TeBenachi commented on #92
I'm closing this ticket as we are moving forward with moving the Block theme contents to the Theme Handbook.

[2022-01-20 13:02] #92 closed

[2022-01-20 13:09] TeBenachi commented on #105
Thanks for checking.

**Revised:**

[code]

[2022-01-21 11:00] carolinan commented on #106
Could use everyone's sanity check on this one, if this is a reasonable approach.
Converting customizer settings to block patterns
https://developer.wordpress.org/wp-admin/post.php?post=139216&action=edit

[2022-01-21 16:44] karmatosed commented on #106
What a great backscroll of comments, thank you everyone. Let me try and reply where I was asked to.

Your example is what I meant @carolinan. I think getting too specialized probably isn't needed as a version one. However, it would include a lot of linking and reference to many things that are options in Customizer in a lot of themes.

Happy to @zzap

I understand this is a hard balance, but there

[2022-01-22 01:44] carolinan commented on #106
I'm sorry but I did not understand this paragraph.

[2022-01-22 01:49] carolinan commented on #106
Theme authors want complete examples. It is not possible to provide a complete example of how to add theme.json in a classic theme because it is going to depend entirely on how the theme handles CSS _and if the theme is meant to support both blocks and classic content._

If a classic theme is not providing block styles, if it is providing block styles, and *how* they are providing block styles, if

[2022-01-22 02:03] carolinan commented on #106
This is what is on my mind:

- The theme handbook should provide guidance, links to resources like the code reference, and examples.
- The theme handbook can also include high level concepts _as long as they are labeled as such._
- The theme handbook can not provide the solution **if the solution has not been invented yet.**

I can share what I have attempted to do, I can share my thought process

[2022-01-22 02:31] TonyGravagno opened #115 "before_delete_post More Information: unclear, inaccurate"
## Issue Description

Developer note for action `before_delete_post` is not clear, slightly incorrect, and can be misleading. I think it's just time to refresh that text.

## URL of the Page with the Issue
https://developer.wordpress.org/reference/hooks/before_delete_post/

## Section of Page with the issue
More Information

## Why is this a problem?
The first statement "_the hook runs only when t

[2022-01-22 15:22] courtneyr-dev commented on #71
So sorry for the delayed response. As a team, this is our first major effort into content for the latest release. We've got https://make.wordpress.org/training/2022/01/04/january-2022-sprint/ posted showing work in progress. Blank means it needs to be done and does not have a volunteer yet.

As a team, we are going to work on getting this in to LearnWP's GitHub projects, hopefully before 6.0 is re

[2022-01-24 08:44] juanmaguitar opened #116 "Add file name and path to code examples in Block Editor Handbook"
## Issue Description
Code examples in [Block Editor Handbook](https://developer.wordpress.org/block-editor/) doesn't include the name  and path of the file the content is referring to

Also, references to real code related to the examples could be really useful for the final user

## URL of the Page with the Issue
Any code example in any page of the [Block Editor Handbook](https://developer.wordpr

[2022-01-24 09:18] juanmaguitar commented on #116
I close the issue as I think the right place to keep track of this is the [gutenberg repository itsef](https://github.com/WordPress/gutenberg)
I've opened an [issue to request this change in that repo](https://github.com/WordPress/gutenberg/issues/38174)

[2022-01-24 09:18] #116 closed

[2022-01-24 11:06] Soigneur commented on #71
@courtneyr-dev @mkaz My Github account is Soigneur and my slack username is Mitchblue006, I was under the assumption I was the volunteer on this issue, as it was a good first issue. To date, a list of all screenshots was uploaded to this page, and i am awaiting the next step as to which pages need updated screenshots or not? I am awaiting feedback. Thanks.

[2022-01-24 18:13] annezazu opened #117 "Twenty Twenty-Two support page"
Similar to previous default themes, we need a TT2 support page: https://wordpress.org/support/article/twenty-twenty-one/ Thank you to [folks who flagged this in slack](https://wordpress.slack.com/archives/C02RP4VMP/p1642633404049200)! I managed to miss this one.

I've kicked off a draft here: https://docs.google.com/document/d/1NnInppt4lGVHCjgdVvrF18AgoPVKWteUvJkmvrEENiU/edit#

Since this is a blo

[2022-01-25 02:49] annezazu commented on #86
Alrighty. I think I have a fairly stable draft. @carolinan mind taking _one more look_? I'm not as rushed for 5.9 for this but would love to ship it sooner rather than later if possible.

[2022-01-25 03:59] carolinan commented on #86
I have read through it and I think it is ready to be published.

[2022-01-25 18:29] annezazu commented on #117
https://wordpress.org/support/article/twenty-twenty-two/

Closing for now. Will loop back later once 5.9 is out and the TT2 is in the directory to include links to 5.9 and the support forums for the theme.

[2022-01-25 18:29] #117 closed

[2022-01-25 19:03] annezazu commented on #86
Done: https://wordpress.org/support/article/comparing-patterns-template-parts-and-reusable-blocks/

[2022-01-25 19:03] #86 closed

[2022-01-26 16:02] annezazu commented on #117
Updated :)

[2022-01-27 13:50] carolinan commented on #87
I think you misunderstood. Theme.json is available for any theme, and can be used without Gutenberg with 5.8 or 5.9. That is the documentation that I am suggesting should be in the theme developer handbook.

And then there are updates and additional **new** features that are being developed tested that were not ready for 5.9.
Since new features can change often, they are not always documented unti

[2022-01-27 15:12] #40 closed

[2022-01-27 15:23] zzap commented on #115
Thank you @TonyGravagno. I'd suggest just one thing to enhance readability - let's split the list into when the **is** running and when **not**.

[code]

I'll leave this to self-assigned @stevenlin-x 🙌

[2022-01-27 15:43] zzap opened #118 "Image Block"

[2022-01-27 16:00] zzap opened #119 "[HelpHub] Spacer"
Article: https://wordpress.org/support/article/spacer-block/

## Updating for 5.7
- [ ] Show the Spacer block’s background on hover - [28129](https://github.com/WordPress/gutenberg/pull/28129)

## General
- [ ] make sure all screenshots are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/taPw9yzX/70-spacer

[2022-01-27 16:37] zzap opened #120 "[HelpHub] Social Icons Block"
Article: https://wordpress.org/support/article/social-icons/

## Updating for 5.7
- [x] Add Patreon, Telegram, and Tiktok icons - [26118](https://github.com/WordPress/gutenberg/pull/26118)
- [x] Add ability to change social icon sizes - [25921](https://github.com/WordPress/gutenberg/pull/25921)
- [x] Enhance social links placeholder to look more like the end result - [26953](https://github.com/Wor

[2022-01-27 16:46] zzap commented on #109
All cards with 5.8 label are reviewed and, where needed, migrated to GitHub issues: #118, #119, and #120.

[2022-01-27 19:02] zzap opened #121 "[HelpHub] How to add a new block"
Article: https://wordpress.org/support/article/adding-a-new-block/

## Updating for 5.7
- [x] Allow dragging blocks from the inserter into the canvas - [27669](https://github.com/WordPress/gutenberg/pull/27669)
- [ ] Make empty paragraphs take up the same space on the frontend, as in the editor - [27995](https://github.com/WordPress/gutenberg/pull/27995)

## General
- [x] update title to 'Adding a

[2022-01-27 19:11] zzap opened #122 "[HelpHub] Buttons Block"
Article: https://wordpress.org/support/article/buttons-block/

## Updating for 5.6
- [x] Add unlink URL to buttons block - [23445](https://github.com/WordPress/gutenberg/pull/23445)
- [x] Add a block example to the Buttons block - [24249](https://github.com/WordPress/gutenberg/pull/24249)
- [x] Fix style specificity for Button blocks with outline style and background colors - [24599](https://githu

[2022-01-27 19:18] zzap opened #123 "[HelpHub] Heading Block"
Article: https://wordpress.org/support/article/heading-block/

## Updating for 5.7
- [ ] Allow adding a header by typing /h1, /h2 etc. - [26597](https://github.com/WordPress/gutenberg/pull/26597)
- [ ] add wide and full width options - [25917](https://github.com/WordPress/gutenberg/pull/25917)

## General
- [ ] make sure all screenshots are relevant for current version (5.9)
- [ ] update changelog

[2022-01-27 20:45] zzap opened #124 "[HelpHub] Paragraph Block"
Article: https://wordpress.org/support/article/paragraph-block/

## Updating for 5.7
- [ ] Add Keyboard Input inline format - [26801](https://github.com/WordPress/gutenberg/pull/26801)

## General
- [ ] make sure all screenshots are relevant for current version (5.9)
- [ ] Video updates
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/mWOy1uu2/1-pa

[2022-01-27 20:53] zzap opened #125 "[HelpHub] File"
Article: https://wordpress.org/support/article/file-block/

## Updating for 5.7
- [x] Move the URL button to the Block toolbar - [26602](https://github.com/WordPress/gutenberg/pull/26602)
- [x] Remove default value for allowedTypes property - [24318](https://github.com/WordPress/gutenberg/pull/24318)

## General
- [x] make sure all screenshots are relevant for current version (5.9)
- [x] update ch

[2022-01-27 20:58] zzap opened #126 "[HelpHub] WordPress Editor Page"
Article: https://wordpress.org/support/article/wordpress-editor/

## Updating for 5.7
- [ ] #395

## General
- [ ] make sure all screenshots are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/zQHoNdgv/84-wordpress-editor-page

[2022-01-27 21:08] zzap commented on #109
All cards with 5.7 label are reviewed and, where needed, migrated to GitHub issues (or updated existing ones): #121, #122, #123, #120, #124, #125, #126, and #119.

[2022-01-28 12:11] karmatosed commented on #106
@carolinan thanks for your replies. I think we are all trying to get the best information out there which is great. What we all might share can be seen as opinion and again that's ok in this space as documentation can be iterated. The key is getting something up. If there are no best practices, get some pointers and show the perspectives.

[2022-01-28 12:24] zzap opened #127 "[HelpHub] Latest Posts"
Article: https://wordpress.org/support/article/latest-posts-block/

## Updating for 5.6
- [x] Add option for adding link in featured image - [24548](https://github.com/WordPress/gutenberg/pull/24548)
- [x] Explain all Block Settings (Content, Date, Author, Feaured images, settings for featured image and more

## General
- [x] make sure all screenshots are relevant for current version (5.9)
- [x] u

[2022-01-28 12:28] zzap opened #128 "[HelpHub] About Block Directory"
Article: https://wordpress.org/support/article/block-directory/

## Updating for 6.1
- [ ] Adds CTA and external link to block inserter flow - [41112](https://github.com/WordPress/gutenberg/pull/41112)

## Updating for 5.6
- [ ] Add a "reinstall" button when a block type is not found - [22631](https://github.com/WordPress/gutenberg/pull/22631)

## General
- [ ] Make sure all screenshots are releva

[2022-01-28 13:03] zzap opened #129 "[HelpHub] Media+Text Block"
Article: https://wordpress.org/support/article/media-text-block/

## Updating for 5.6
- [ ] set image size - [24688](https://github.com/WordPress/gutenberg/issues/24688)

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/wCU0qRld/6-mediatext-block

[2022-01-28 16:23] zzap opened #130 "[HelpHub] Twitter"
Article: https://wordpress.org/support/article/twitter-embed/

## General
- [ ] make sure all screenshots are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/NPgZwdOV/22-twitter

[2022-01-28 16:25] zzap opened #131 "[HelpHub] Button"
Article: https://wordpress.org/support/article/button-block/

## General
- [ ] Redirect to buttons block - https://wordpress.org/support/article/buttons-block/

Issue migrated from Trello: https://trello.com/c/tAg5JCrR/67-button

[2022-01-28 16:28] zzap opened #132 "[HelpHub] Page Jump"
Article: https://wordpress.org/support/article/page-jumps/

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Add ALT tags for images
- [ ] Make sure videos are relevant for the current version (6.0)
- [ ] Make sure the headings are in sentence case
- [ ] Update the changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/ctCN8

[2022-01-28 16:32] zzap opened #133 "[HelpHub] Block Toolbar > More Options"
Article: https://wordpress.org/support/article/more-options/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] make sure all options are relevant for current version (5.9)
- [ ] update changelog at the end of the article
- [ ] update reusable block at HelpHub
- [ ] check if every block article is using reusable block

Issue migrated from Trello: https:

[2022-01-28 16:36] zzap opened #134 "[HelpHub] List of Blocks"
Article: https://wordpress.org/support/article/blocks/

## General
- [x] make sure all blocks for current version (5.9) are listed
- [x] make sure all blocks are linked to existing articles
- [x] update changelog at the end of the article
- [x] create GitHub issue for each block without article

Issue migrated from Trello: https://trello.com/c/eNOYMnLw/11-list-of-blocks

[2022-01-30 14:50] atachibana commented on #134
@zzap
As a preliminary step, I compared with the Core Blocks Reference which is automatically generated by source code.
https://developer.wordpress.org/block-editor/reference-guides/core-blocks/
Note: It is not covering embedded block variations.

Missing Blocks in the HelpHub Blocks page:

Comment Author Avatar
Comment Author Name
Comment Content
Comment Date
Comment Edit Link
Comment Reply Link

[2022-01-31 08:02] stevenlin-x commented on #115
I've revised the Explanation section.

[2022-01-31 13:06] courtneyr-dev commented on #71
Hey there - the Training team keeps our revisions list going within the team channel and on our team site with a pinned post "Sprints".  HTTPS://make.wordpress.org/training.

[2022-01-31 13:57] Soigneur commented on #71
I am not sure what to do regarding any more work? Should this ticket be closed?

[2022-01-31 15:21] zzap commented on #115
Thank you @TonyGravagno and @stevenlin-x :heart:

@TonyGravagno can you please give me your WordPress.org username. I can't find you there and really want to give you a "contributor" badge :)

[2022-01-31 16:39] zzap commented on #134
This is great @atachibana :heart:

We should create an issue for each

[2022-01-31 16:42] zzap commented on #116
thank you @juanmaguitar :heart:

[2022-01-31 16:44] zzap commented on #117
Thank you @annezazu :heart:

[2022-01-31 16:52] zzap opened #135 "[HelpHub] Custom HTML"
Article: https://wordpress.org/support/article/custom-html/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] add missing sections (use other blocks to compare)
- [ ] add changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/QjFi6aZu/64-custom-html

[2022-01-31 16:57] zzap opened #136 "[HelpHub] YouTube"
Article: https://wordpress.org/support/article/youtube-embed/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/2NHkQGs1/24-youtube

[2022-01-31 17:28] zzap opened #137 "[HelpHub] How to use the preview function"
Article: https://wordpress.org/support/article/how-to-use-the-preview-function/

## General
- [ ] make sure all screenshots are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/ofsa1S8g/97-how-to-use-the-preview-function

[2022-01-31 17:30] zzap opened #138 "[HelpHub] Moving Blocks"
Article: https://wordpress.org/support/article/moving-blocks/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/RYDXTnei/103-moving-blocks

[2022-01-31 17:39] zzap opened #139 "[HelpHub] Keyboard Navigation & Shortcuts"
Article: https://wordpress.org/support/article/block-editor-keyboard-shortcuts/

From Trello card:

## General
- [ ] check if all shortcuts are added, check for Linux too
- [ ] make sure all screenshots are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/brwjju3J/107-keyboard-navigation-shortcuts

[2022-01-31 18:14] zzap opened #140 "[HelpHub] Audio"
Article: https://wordpress.org/support/article/audio-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/a9EwwJS6/73-audio

[2022-01-31 18:17] zzap opened #141 "[HelpHub] Quote Block"
Article: https://wordpress.org/support/article/quote-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/FA20cGRv/4-quote-block

[2022-01-31 18:20] zzap opened #142 "[HelpHub] Video Block"
Article: https://wordpress.org/support/article/video-block/

## General
- [ ] make sure all screenshots are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/btHwtPKo/58-video-block

[2022-01-31 18:22] zzap opened #143 "[HelpHub] First Steps with WordPress"
Article: https://wordpress.org/support/article/first-steps-with-wordpress/

## General
- [x] make sure all screenshots/videos are relevant for current version (5.9)
- [x] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/0oQYPV6P/87-wordpress-lessons

[2022-01-31 18:28] zzap opened #144 "[HelpHub] Cover Block"
Article: https://wordpress.org/support/article/cover-block/

## General
- [ ] make sure all screenshots are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/9ttURAdw/8-cover-block

[2022-01-31 18:47] zzap opened #145 "[HelpHub] Table"
Article: https://wordpress.org/support/article/table-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] add changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/s5oqm2cj/65-table

[2022-01-31 18:49] zzap opened #146 "Verse Block"

[2022-01-31 18:56] zzap opened #147 "[HelpHub] Preformatted Block"
Article: https://wordpress.org/support/article/preformatted-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/2oO8WArE/74-preformatted-block

[2022-01-31 18:59] zzap opened #148 "[HelpHub] Pull Quote"
Article: https://wordpress.org/support/article/pullquote-block/
## General
- [ ] make sure all screenshots are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/mL6H2t7u/75-pull-quote

[2022-02-01 17:57] estelaris commented on #47
@atachibana I am not sure what you want us to change on the [feed](https://wordpress.org/support/article/wordpress-features/#broadcast-your-ideas)] section from this article. Should we remove the entire section and add the explanation you mentioned above? or only remove the links to RSS1.0, RSS2.0 and Atom?

[2022-02-02 21:37] annezazu commented on #90
Noting that I updated this page in light of TT2 being live in the directory with a link.

[2022-02-03 10:40] atachibana commented on #47
@estelaris
I said that, but RSS is still in use, so let's keep it. You don't need to change anything. Thanks.

[2022-02-04 09:46] hannaw93 commented on #121
I can pick up this issue :)

[2022-02-04 09:49] jaz-on commented on #148
@zzap I'll take care of this one to start with! :)

[2022-02-04 09:49] lnaima commented on #144
I'd like to work on this issue

[2022-02-04 09:49] manuelaugustin commented on #141
I'd like to pick up this issue.

[2022-02-04 09:49] agnieszkaszuba commented on #147
I'd like to take this issue :)

[2022-02-04 09:56] nilovelez commented on #146
I'll take this one

[2022-02-04 09:56] michaelbriantina commented on #142
I guess I'll try updating this article :)

[2022-02-04 09:56] mrkdevelopment commented on #136
@zzap Ill work on the youtube block

[2022-02-04 10:38] zzap opened #149 "[HelpHub] More"
Article: https://wordpress.org/support/article/more-block/

## General
- [x] make sure all screenshots/videos are relevant for current version (5.9)
- [x] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/HGHAQs7r/68-more

[2022-02-04 10:41] mrkdevelopment commented on #136
@zzap this is ready for review and submitted to the save for later.

[2022-02-04 10:41] lnaima commented on #144
Since the "Transform group" old screenshots are showing styles, which I don't have so I'll post my screenshot here

![cover-group-v5 9](https://user-images.githubusercontent.com/6752710/152515300-db287189-42ab-46bb-8ae0-b7ffdf66c585.jpg)

[2022-02-04 10:41] zzap opened #150 "[HelpHub] Page Break"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/page-break-block/

## General
- [x] make sure all screenshots/videos are relevant for current version (5.9)
- [x] add changelog at the end of the article

Issue migrated from Trello: h

[2022-02-04 10:43] nilovelez commented on #146
New options missing from "More rich controls": "Inline code" and "Keyboard input"
![image](https://user-images.githubusercontent.com/1619760/152515703-e2eca22c-d905-4f2f-a52c-918dff34852c.png)

[2022-02-04 10:48] mrkdevelopment commented on #130
@zzap Ill take on this one and make the relevant updates

[2022-02-04 10:48] zzap opened #151 "[HelpHub] Separator"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/separator-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello:

[2022-02-04 10:56] zzap opened #152 "[HelpHub] Columns Block"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/columns-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: h

[2022-02-04 11:01] michaelbriantina commented on #142
I made sure that all screenshots are relevant for WP 5.9 and I updated the changelog as well. Done!

[2022-02-04 11:02] nilovelez commented on #146
Needs some cleanup on the reusable blocks part (More rich text controls, More options...)

[2022-02-04 11:04] lnaima commented on #144
For the cover dimensions there's a new option about padding.

![cover-dimensions-v5 9](https://user-images.githubusercontent.com/6752710/152518441-2133d86a-2fe6-429e-874c-e1311ae40318.jpg)

[2022-02-04 11:06] lnaima commented on #144
Color option is quite different, maybe a change on text should be necessary
![cover-overlay-v5 9](https://user-images.githubusercontent.com/6752710/152518811-85c583b2-c168-450a-a142-451541f78d78.jpg)

[2022-02-04 11:11] jaz-on commented on #148
@zzap Ok I am done with the tasks.

I updated every screenshot + adding a new video tutorial.
Everything is tested on WordPress v5.9 (medias are named after the version number for consistency).
I drafted the updated changelog at the end of the post.

I found a few issues to discuss:
- first the "transform to" button has changed: there is no more options to change the styles there
- in fact, the bl

[2022-02-04 11:15] mrkdevelopment commented on #130
@zzap this one is ready for your review

[2022-02-04 11:18] mrkdevelopment commented on #137
@zzap I checked these and they don't look to need a change. Everything is relevant and up to date.

[2022-02-04 11:18] manuelaugustin commented on #141
Overview video at beginning:

https://user-images.githubusercontent.com/27805437/152520228-cbd82eda-eb53-430e-b014-eb277dff046f.mp4

[2022-02-04 11:21] jaz-on commented on #133
Ok I'm taking this one! :)

[2022-02-04 11:42] hannaw93 commented on #123
In progress :)

[2022-02-04 11:43] zzap commented on #137
Thank you, we can close this then.

[2022-02-04 11:43] #137 closed

[2022-02-04 11:48] zzap opened #153 "[HelpHub] Latest Comments"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/latest-comments-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] add changelog at the end of the article

Issue migrated from Trel

[2022-02-04 11:52] zzap opened #154 "[HelpHub] Categories"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/categories-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] add changelog at the end of the article

Issue migrated from Trello: h

[2022-02-04 11:54] zzap opened #155 "[HelpHub] Archives"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/archives-block/

## General
- [x] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] add changelog at the end of the article

Issue migrated from Trello: htt

[2022-02-04 11:56] zzap opened #156 "[HelpHub] Calendar Widget Block"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/calendar-block/

## General
- [x] make sure all screenshots/videos are relevant for current version (5.9)
- [x] update changelog at the end of the article

Issue migrated from Trello:

[2022-02-04 12:07] zzap opened #157 "[HelpHub] RSS Block"
Article: https://wordpress.org/support/article/rss-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] add changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/9IxuhwMI/15-widgets-rss-block

[2022-02-04 12:12] zzap opened #158 "[HelpHub] Tag Cloud Widget Block"
Article: https://wordpress.org/support/article/tag-cloud-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] add changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/Keo75uIU/17-tag-cloud-widget-block

[2022-02-04 12:15] zzap opened #159 "Shortcode"

[2022-02-04 12:18] zzap opened #160 "[HelpHub] Search Widget Block"
Article: https://wordpress.org/support/article/search-block/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/P8mRd8p4/16-search-widget-block

[2022-02-04 12:22] zzap opened #161 "[HelpHub] Embeds"
Article: https://wordpress.org/support/article/embeds/

## Updating for 6.1
- [x] Add a link to the new Pocket casts embed block variation article #494
- [x] Update the Embeds Changelog

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure the headings are in sentence case
- [ ] Convert

[2022-02-04 12:35] jaz-on commented on #133
Quick note: this subtask "update reusable block at HelpHub" should be dealt in a separate issue.

[2022-02-04 12:41] agnieszkaszuba commented on #147
I updated the images and video and saved the changes for later (tomorrow).

I noticed some general things that still need to be updated in the article:

- Under 'Change block type or style' there is a part about being able to add background color when you transform the block type to Group. But I think now you can also do that in the Preformatted block.
- 'Drag' is now one of the standard controls.

[2022-02-04 12:46] agnieszkaszuba commented on #143
I'd like to take this issue :)

[2022-02-04 13:20] lnaima commented on #159
I'd like to work on this issue

[2022-02-04 13:22] hannaw93 commented on #123
All is complete except updating screenshots. Since I can't add them directly, I will upload them here to make further editing easier:
<img width="748" alt="Block Toolbar" src="https://user-images.githubusercontent.com/48948921/152535886-5ccd55d0-8200-4a8a-9d1e-320c8d28cb12.png">
<img width="779" alt="Heading block can be transformed to a Paragraph, Columns, Group, List, Quote or a Pullquote" src="

[2022-02-04 13:26] agnieszkaszuba commented on #143
Actually I couldn't see any screenshots that are not up to date for 5.9 😅 So unless I missed them maybe there aren't any that need to be update in this article.

[2022-02-04 13:29] hannaw93 commented on #131
I can pick this up :)

[2022-02-04 13:30] manuelaugustin commented on #157
I'd like to pick up this issue.

[2022-02-04 13:32] lnaima commented on #159
In the "More Options:" section, I don't have the "Edit as HTML" option, if anyone can check if it has been removed here's the screenshot. In that case the text also shoud be updated
![shortcode-options-v5 9](https://user-images.githubusercontent.com/6752710/152537457-1684e122-0eef-4e55-9af6-ea3a2efae299.jpg)

[2022-02-04 13:34] agnieszkaszuba commented on #160
I will start with this issue

[2022-02-04 13:39] #148 closed

[2022-02-04 13:40] #130 closed

[2022-02-04 13:40] #142 closed

[2022-02-04 13:40] #136 closed

[2022-02-04 13:41] lnaima commented on #159
In the "Color settings" section, options are different now, we have more than only colors, here's the screenshot
![shortcode-group-options-v5 9](https://user-images.githubusercontent.com/6752710/152538651-2a906364-0488-4f56-a81e-72864e18b490.jpg)

[2022-02-04 13:41] #147 closed

[2022-02-04 13:45] #133 closed

[2022-02-04 13:48] manuelaugustin commented on #157
## Intro
![Intro RSS feed 5 9 Large](https://user-images.githubusercontent.com/27805437/152539186-866a1204-19ae-4379-9520-49934234cbbd.jpeg)
![Intro add Large](https://user-images.githubusercontent.com/27805437/152539196-d012caa6-e50a-4249-8b80-b6b5aac23506.jpeg)
![Intro feed simple Large](https://user-images.githubusercontent.com/27805437/152539220-95f9e0e2-0924-4322-b3d0-b8afd43c0b80.jpeg)

## B

[2022-02-04 13:51] #131 closed

[2022-02-04 13:58] jaz-on commented on #133
@zzap I updated the post with my last screenshots + adding a quick tip about the name of the "remove block" option.

[2022-02-04 14:00] agnieszkaszuba commented on #160
I partially updated the article (until the ‘Change button position’ section) and saved the changes for later.

[2022-02-05 00:09] mkaz commented on #71
With the 5.9 release out, the screenshots can now be updated. You will need to ask in #docs Slack channel for permissions.

[2022-02-06 06:32] atachibana commented on #71
@Soigneur I set editor permission of support pages (https://wordpress.org/support) to your wordpress.org account mitchblue006. Now, you can open any pages for editing (, or you might need accept the invitation first, if it exists in your mail box).

Please note that some members might be updating the screenshots for their each issues: https://github.com/WordPress/Documentation-Issue-Tracker/issues

[2022-02-06 06:55] atachibana commented on #143
@agnieszkaszuba
As you see, there are no big differences between 5.9 and previous versions, but some exist:

- Log In: 5.9 login panel has the language selector at the bottom.
- Test Drive Your WordPress Site: 5.9 default theme is Twenty Twenty-two.
- Changing the Look: 5.9 will list Twenty Twenty-two.
- Creating a post: Twenty Twenty-two will show us different editor view.

[2022-02-06 07:26] atachibana commented on #159
@lnaima I confirmed there are no 'Edit as HTML" option, though could not find the GitHub issue nor release notes relating to it. I believe we can remove the text, too.

[2022-02-06 09:09] Soigneur commented on #71
Thank you @mkaz @atachibana, I still am feeling like this issue is being handled by Learning team, and not sure to proceed?

[2022-02-08 01:59] courtneyr-dev commented on #71
@atachibana is correct.  The training team handles content on Learn.WordPress.org.  We related to the Docs team, but separate areas of content to be revised and updated.

[2022-02-08 12:49] zzap commented on #123
Thank you

[2022-02-08 12:49] #123 closed

[2022-02-08 15:38] zzap commented on #159
Updated article with screenshots and removed the "Edit as HTML" option.

[2022-02-08 16:09] zzap commented on #157
Updated post with all screenshots.

[2022-02-08 16:09] #157 closed

[2022-02-08 16:15] #144 closed

[2022-02-08 16:37] zzap opened #162 "[HelpHub] SoundCloud"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/soundcloud-embed/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello

[2022-02-08 16:40] zzap opened #163 "[HelpHub] Spotify"
Article: https://wordpress.org/support/article/spotify-embed/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/tl3WPWGv/28-spotify

[2022-02-08 16:49] zzap opened #164 "[HelpHub] Flickr Block"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/flickr-embed/

## General
- [x] Make sure all screenshots are relevant for the current version (6.0)
- [x] Make sure videos are up to date
- [x] Make sure the headings are in sentence

[2022-02-08 16:51] zzap opened #165 "[HelpHub] WordPress.tv"
Article: https://wordpress.org/support/article/wordpress-tv-embed-block/

## General
- [x] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/94mSETBN/53-wordpresstv

[2022-02-08 16:54] zzap opened #166 "[HelpHub] Mixcloud"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/mixcloud-embed/

## General
- [x] Make sure all screenshots are relevant for the current version (6.0)
- [x] Make sure videos are up to date
- [x] Make sure the headings are in sentenc

[2022-02-09 23:08] femkreations commented on #72
Thanks for the review. I have updated the Managing Plugins page.
https://wordpress.org/support/article/managing-plugins/

[2022-02-10 14:59] zzap opened #167 "[HelpHub] VideoPress"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/videopress-embed/

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure

[2022-02-10 14:59] zzap opened #168 "[HelpHub] TikTok"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/tiktok-embed/

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure the

[2022-02-10 15:04] zzap opened #169 "[HelpHub] Screencast"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/screencast-block/

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure

[2022-02-10 15:06] zzap opened #170 "[HelpHub] Issuu"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/issuu-embed/

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure the

[2022-02-10 15:08] zzap opened #171 "[HelpHub] Crowdsignal"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/crowdsignal-embed/

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in sent

[2022-02-10 15:11] zzap opened #172 "[HelpHub] Kickstarter"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/kickstarter-embed/

## General
- [x] Make sure all screenshots are relevant for the current version (6.0)
- [x] Make sure videos are up to date
- [x] Make sure the headings are in sent

[2022-02-10 15:38] zzap opened #173 "[HelpHub] ReverbNation"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/reverbnation-embed/

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make su

[2022-02-10 15:41] zzap opened #174 "[HelpHub] SmugMug"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/smugmug-embed/

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure th

[2022-02-10 15:55] zzap opened #175 "[HelpHub] Meetup.com"
Article: https://wordpress.org/support/article/meetup-embed/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/2Sz862uP/40-meetupcom

[2022-02-10 15:57] zzap opened #176 "[HelpHub] CloudUp"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/cloudup-embed/

## General
- [x] Make sure all screenshots are relevant to the latest version
- [x] Make sure videos are up to date
- [x] Add ALT tags for the images
- [x] Make sure th

[2022-02-10 16:00] zzap opened #177 "[HelpHub] Dailymotion"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/dailymotion-embed/

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in sent

[2022-02-10 16:02] zzap opened #178 "[HelpHub] Reddit"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/reddit-embed/

## General
- [x] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: ht

[2022-02-10 16:07] zzap opened #179 "[HelpHub] Slideshare"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/slideshare-embed/

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in sente

[2022-02-10 16:09] zzap opened #180 "[HelpHub] Animoto"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/animoto-embed/

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure th

[2022-02-10 16:26] zzap opened #181 "[HelpHub] Speaker Deck"
Article: https://wordpress.org/support/article/speaker-deck-embed/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/QTtiClWE/50-speaker-deck

[2022-02-10 16:27] zzap opened #182 "[HelpHub] Imgur"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/imgur-embed/

## General
- [x] make sure all screenshots/videos are relevant for current version (5.9)
- [x] update changelog at the end of the article

Issue migrated from Trello: htt

[2022-02-10 16:29] zzap opened #183 "[HelpHub] Instagram"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/instagram-embed/

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in senten

[2022-02-10 16:32] zzap opened #184 "[HelpHub] Facebook"
Article: https://wordpress.org/support/article/facebook-embed/

Discontinued in WordPress 5.6.

## General
- [ ] make sure all screenshots/videos are relevant for the last WordPress version that supports it (5.6)
- [ ] update changelog at the end of the article
- [ ] Make sure the headings are in sentence case
- [ ] Update the changelog at the end of the article

Issue migrated from Trello: https:

[2022-02-10 16:36] zzap opened #185 "[HelpHub] TED"
Article: https://wordpress.org/support/article/ted-embed/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/W9PCz7KJ/54-ted

[2022-02-10 16:38] zzap opened #186 "[HelpHub] Scribd"
Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

Original article: https://wordpress.org/support/article/scribd-embed/

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in sentence

[2022-02-10 16:39] zzap opened #187 "[HelpHub] WordPress"
Article: https://wordpress.org/support/article/wordpress-embed/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/pbHaV7GM/26-wordpress

[2022-02-10 16:41] zzap opened #188 "[HelpHub] Vimeo"
Article: https://wordpress.org/support/article/vimeo-embed/

## General
- [ ] make sure all screenshots/videos are relevant for current version (5.9)
- [ ] update changelog at the end of the article

Issue migrated from Trello: https://trello.com/c/YstvNPmR/30-vimeo

[2022-02-10 16:45] zzap commented on #109
Trello board has been completely migrated and closed. From now on block editor end user docs issues will be worked on through GitHub issues here.

![Gutenberg End User Docs _ Trello](https://user-images.githubusercontent.com/1508963/153454767-60797518-90df-4d6f-b523-9b2e16f82f59.png)

[2022-02-10 20:30] annezazu commented on #106
Wanted to chime in here as I also think adding more clarity around types of themes as a way to show and better reflect gradual adoption might help. Specifically thinking about pulling in [this part from this roundup of answers](https://make.wordpress.org/core/2021/10/28/fse-program-answers-from-round-three-of-questions/):

- Block theme: a theme made for FSE using HTML templates and theme.json, al

[2022-02-11 11:38] TeBenachi commented on #106
Thanks for sharing the link. It is very helpful. I think it makes a lot of sense to provide a clear definition of different themes on the Theme Hanbook. It would clarify a lot of questions the theme authors may have.

Please see the draft below. It should go under [Enabling block features](https://developer.wordpress.org/themes/block-themes/converting-a-classic-theme-to-a-block-theme/#enabling-blo

[2022-02-13 00:57] authentic29 commented on #187
mm

[2022-02-14 19:00] annezazu commented on #106
I dig it! I think this is very clear and to the point.

[2022-02-14 21:21] TonyGravagno commented on #115
I am WP \@starbuck. Thank you @zzap and @stevenlin-x .

[2022-02-15 16:35] zzap commented on #122
New screenshots for 5.9, including features added in 5.6 and 5.7.

![01-add-buttons](https://user-images.githubusercontent.com/1508963/154106483-4d897693-fa56-405f-ba91-d2232d46a645.png)
![02-add-buttons](https://user-images.githubusercontent.com/1508963/154106487-b371fd29-ed88-4b80-9c86-1089933d9d4b.png)
![03-add-buttons](https://user-images.githubusercontent.com/1508963/154106491-bd29bf32-1858-4

[2022-02-15 16:37] zzap commented on #122
New sections that should be added:

- [ ] Buttons block settings
- [ ] Border setting for individual button
- [ ] Dimensions setting for individual button

[2022-02-15 19:48] #122 closed

[2022-02-15 20:48] TeBenachi opened #189 "[Theme Review Handbook] Creating a FAQ page for Theme Review"
Theme authors regularly ask similar questions on Slack. Some authors post a question over a weekend and wait for a long time for a response. It would be helpful for both authors and reviewers to have a list of frequently asked questions on the Review Handbook where everyone can quickly look for an answer.

Please note that the list of FAQs is not meant to add additional requirements. It is for cla

[2022-02-15 23:38] joyously commented on #189
Is this like https://make.wordpress.org/themes/handbook/faq/  ?

[2022-02-16 01:29] TeBenachi commented on #189
👀 Yes!!
I had no idea there was one already!  Thanks for the link!

[2022-02-16 12:43] zzap commented on #138
Screenshots:

![01-move-block](https://user-images.githubusercontent.com/1508963/154266931-970e6d29-dca5-45a2-b737-f54ec5800384.png)
![02-move-block](https://user-images.githubusercontent.com/1508963/154266933-02d85e1d-dd0d-4f2e-ab1e-27cfce1e1e23.png)
![03-move-to-block](https://user-images.githubusercontent.com/1508963/154266935-051dddb8-738c-422b-a6b9-e2903aaa074a.png)
![04-move-to-block](https:

[2022-02-16 12:49] zzap commented on #138
Videos and screenshots updated.

[2022-02-16 12:49] #138 closed

[2022-02-17 11:45] estelaris opened #190 "[HelpHub] - Merge articles"
## Issue Description
 As part of the recategorization project, we are suggesting to merge some articles that have either duplicated information or they are complementary to each other. Some titles also need to be changed.

**Do not make any changes until the tickets in [core #4328](https://core.trac.wordpress.org/ticket/4328) and [meta #5519](https://meta.trac.wordpress.org/ticket/5519) are resolv

[2022-02-18 01:23] TonyGravagno opened #191 "v5.6 configuring-automatic-background-updates and WP_AUTO_UPDATE_CORE"
## Issue Description
Info for WP_AUTO_UPDATE_CORE needs more work for WP 5.6+. It's missing detail and the original update to this text for v5.6 is ambiguous.

## URL of the Page with the Issue
https://wordpress.org/support/article/configuring-automatic-background-updates/

## Section of Page with the issue
Constant to Configure Core Updates

## Why is this a problem?
Text from the page:

- The fi

[2022-02-18 03:25] Codebrother1 commented on #188
This fixes #188
**Embedded Vimeo Video**
![2022-02-15_10-47-18](https://user-images.githubusercontent.com/20616836/154610847-fc01cf39-6b77-4740-b980-5686f759e2db.png)

**Add a Vimeo Embed block to your post**
![2022-02-15_10-48-41](https://user-images.githubusercontent.com/20616836/154610911-499e540a-bf01-401d-96f0-e565ce5ecd8b.png)

**Paste the Vimeo URL from Step 1**
![2022-02-15_10-49-56](https

[2022-02-21 11:39] zzap commented on #191
Hello @TonyGravagno , thank you very much for reporting this.

As, at the moment, we don't have documentation based on pased versions (even though it is planned for the future), we are focusing only on current possibilities. So everything that's not true for current version has to go.

If you are willing and still motivated, it would be great if you'd take this task on you. After all, you are in t

[2022-02-21 11:50] zzap commented on #188
Hello @Codebrother1, thank you so much for making these :heart:

I have two requests, if it's possible.

1. Can you create a screenshot of video with changed background color. Currently we have it with gray

![image11-edited-2](https://user-images.githubusercontent.com/1508963/154949756-e13857e9-9626-4bb8-ab20-68b8b9163d2b.png)

2. Can you edit out grammarly logo from screenshots. It's important t

[2022-02-21 11:52] zzap commented on #189
@TeBenachi can we close this issue now or is there something else you'd like to use it for?

[2022-02-21 11:57] TeBenachi commented on #189
Yep I can do that. I was planning on creating a new list of QA but it is taking longer than I was hoping. I will create a new ticket then. Thanks!

[2022-02-21 11:57] #189 closed

[2022-02-22 05:03] Codebrother1 commented on #188
Sure thing! This fixes
I created a screenshot of the video with a background color changed to grey.
I removed the Grammarly logo from your screenshots.

**Embedded Vimeo Video**
![2022-02-21_22-28-58](https://user-images.githubusercontent.com/20616836/155063476-17381b5f-9a8e-443a-a16c-2deddbae81ee.png)

**Add a Vimeo Embed block to your post**
![2022-02-21_22-34-28](https://user-images.githubuserc

[2022-02-22 08:18] Soigneur commented on #71
I have received necessary permissions to update the screenshots. I have question that maybe should come up in meeting, I am using my own dummy account for the updated screenshot and may come across as "too busy" compared to  someone starting a website from scratch. Check this image that I have cropped to replace the first line item on the spreadsheet of URLs linked to this issue.
![Screenshot1](ht

[2022-02-23 05:33] Codebrother1 commented on #187
### Part 1

**This fixes #109**
**An Example:**
![2022-02-22_16-56-36](https://user-images.githubusercontent.com/20616836/155233584-f1b85b8b-fbdb-434c-b950-66a0d407bc3a.png)

**Go to your post or page**
**Add the WordPress block**
![2022-02-22_16-48-34](https://user-images.githubusercontent.com/20616836/155233245-60b63bd9-46d1-4251-9420-029355e70d4b.png)

**Paste the link into the text box and cli

[2022-02-24 19:16] zzap commented on #120
Screenshots
![01-search-social-icons](https://user-images.githubusercontent.com/1508963/155591914-fa4ed9df-6224-4cd3-b311-7311fe35c5c0.png)
![02-social-icons-add](https://user-images.githubusercontent.com/1508963/155591915-b75b3d58-60ad-4207-ba0d-703eeb4c0e87.png)
![03-social-icons-add](https://user-images.githubusercontent.com/1508963/155591919-24331de2-bc1f-4a3d-9256-1fb6cd4c75de.png)
![04-socia

[2022-02-24 21:54] TonyGravagno commented on #191
OK, I'll take this on and do my best to create brief new content that is completely current. Please keep this open and assign to me if you wish. Thanks.

[2022-03-01 12:28] zzap commented on #120
![Social Icons – sizes](https://user-images.githubusercontent.com/1508963/156169172-03f1430c-a799-4d96-9f5e-0d1461b0e31f.png)

[2022-03-01 14:12] estelaris opened #192 "[HelpHub] Change article titles"
There are new title recommendations as part of the GSoD.

## Issue Description
 The issue is broken into several parts so we can better keep track of all changes

## URL of the Page with the Issue
 See list below

## Section of Page with the issue
 Title and sometimes the URL

## Why is this a problem?
Title needs to follow the guidelines as written during GSoD

This fix is part of the recategoriz

[2022-03-01 14:12] #50 closed

[2022-03-01 14:13] #48 closed

[2022-03-01 14:34] femkreations commented on #42
The technical details removed from HelpHub are currently stored in google drive here.
https://drive.google.com/drive/u/0/folders/1e6ppOQ1SPF9dCoBMdCbOJC04-y4gfFWC

[2022-03-01 15:47] zzap commented on #120
![Social Icons – colors](https://user-images.githubusercontent.com/1508963/156201029-15aed9c2-651c-4022-bcc1-1e68aa4f8832.png)

[2022-03-01 16:25] zzap commented on #120
![Social Icons – justify](https://user-images.githubusercontent.com/1508963/156207838-365e7864-6ef4-4126-85f2-c50ec895cc5b.png)

[2022-03-01 16:33] #120 closed

[2022-03-01 16:50] zzap commented on #188
Looking great, thank you so much. Do you want to update the article yourself?

[2022-03-01 17:35] Codebrother1 commented on #188
Yes, I'd like to give it a try

[2022-03-01 19:57] #188 closed

[2022-03-02 17:36] femkreations commented on #70
The page https://wordpress.org/support/article/login-trouble/ has been updated.

[2022-03-02 19:00] femkreations opened #193 "[HelpHub] Site Logo"
## What is the new page you are requesting?

New article required for the Site Logo block

## General

- [x] make sure all screenshots are relevant for the current version (5.9)
- [x] update changelog at the end of the article

[2022-03-03 12:13] zzap commented on #140
Screenshots

![01 audio-add](https://user-images.githubusercontent.com/1508963/156562572-3579af1b-f871-4036-8f06-5e97e7beedfc.png)
![02 audio-toolbar](https://user-images.githubusercontent.com/1508963/156562575-6535b885-250e-4148-9369-2d923b448b40.png)
![03 audio-block](https://user-images.githubusercontent.com/1508963/156562576-77cb4e11-89ec-4fab-ad09-1659d0ddaca3.png)

[2022-03-03 17:54] femkreations opened #194 "[HelpHub] Site Tagline"
## What is the new page you are requesting?
New article required for the Site Tagline block

## General
- [ ] make sure all screenshots are relevant for the current version (5.9)
 - [ ] update changelog at the end of the article

[2022-03-03 17:55] femkreations opened #195 "[HelpHub] Site Title"
## What is the new page you are requesting?
New article required for the Site Title block

## General
 - [ ] make sure all screenshots are relevant for current version (5.9)
 - [ ] update changelog at the end of the article

[2022-03-03 17:58] femkreations opened #196 "[HelpHub] Post Title"
## What is the new page you are requesting?

New article required for the Post Title block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 17:59] femkreations opened #197 "[HelpHub] Post Content"
## What is the new page you are requesting?

New article required for the Post Content block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:00] femkreations opened #198 "[HelpHub] Post Date"
## What is the new page you are requesting?

New article required for the Post Date block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:01] femkreations opened #199 "[HelpHub] Post Excerpt"
## What is the new page you are requesting?

New article required for the Post Excerpt block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:03] femkreations opened #200 "[HelpHub] Post Featured Image"
## What is the new page you are requesting?

New article required for the Post Featured Image block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:03] femkreations opened #201 "[HelpHub] Post Categories"
## What is the new page you are requesting?

New article required for the Post Categories block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:04] femkreations opened #202 "[HelpHub] Post Tags"
## What is the new page you are requesting?

New article required for the Post Tags block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:05] femkreations opened #203 "[HelpHub] Login/out"
## What is the new page you are requesting?

New article required for the Login/out block

## New page
- [ ] Create a new article for the Login/out block
- [ ] Make sure the URL slug under Permalink is: login-out-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

## Update for 6.1
- [ ] Remov

[2022-03-03 18:06] femkreations opened #204 "[HelpHub] Page List"
## What is the new page you are requesting?

New article required for the Page List block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:07] femkreations opened #205 "[HelpHub] Amazon Kindle"
## What is the new page you are requesting?

New article required for the Amazon Kindle block

## New page for 6.0
- [ ] Create a new article for the Amazon Kindle Embed block
- [ ] Make sure the URL slug under Permalink is: amazon-kindle-embed-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’

[2022-03-03 18:08] femkreations opened #206 "[HelpHub] Comment Author Avatar"
## What is the new page you are requesting?

New article required for the Comment Author Avatar block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:09] femkreations opened #207 "[HelpHub] Comment Author Name"
## What is the new page you are requesting?

New article required for the Comment Author Name block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:10] femkreations opened #208 "[HelpHub] Comment Content"
## What is the new page you are requesting?

New article required for the Comment Content block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:11] femkreations opened #209 "[HelpHub] Comment Date"
## What is the new page you are requesting?

New article required for the Comment Date block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:12] femkreations opened #210 "[HelpHub] Comment Edit Link"
## What is the new page you are requesting?

New article required for the Comment Edit Link block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:13] femkreations opened #211 "[HelpHub] Comment Reply Link"
## What is the new page you are requesting?

New article required for the Comment Reply Link block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:14] femkreations opened #212 "[HelpHub] Comment Template"
## What is the new page you are requesting?

New article required for the Comment Template block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:15] femkreations opened #213 "[HelpHub] Comments Pagination"
## What is the new page you are requesting?

New article required for the Comments Pagination block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:16] femkreations opened #214 "[HelpHub] Next Page (Comments)"
## What is the new page you are requesting?

New article required for the Next Page (Comments) block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:17] femkreations opened #215 "[HelpHub] Page Numbers (Comments)"
## What is the new page you are requesting?

New article required for the Page Numbers (Comments) block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:18] femkreations opened #216 "[HelpHub] Previous Page (Comments)"
## What is the new page you are requesting?

New article required for the Previous Page (Comments) block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:19] femkreations opened #217 "[HelpHub] Comments Query Loop"
## What is the new page you are requesting?

New article required for the Comments Query Loop block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:20] femkreations opened #218 "[HelpHub] Embed"
## What is the new page you are requesting?

New article required for the Embed block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:20] femkreations opened #219 "[HelpHub] Home Link"
## What is the new page you are requesting?

New article required for the Home Link block

## New page for 6.0
- [ ] Create a new article for the Home Link block
- [ ] Note that this block is visible only when the user is in the Navigation block (contextual)
- [ ] Make sure the URL slug under Permalink is: home-link-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to block

[2022-03-03 18:21] femkreations opened #220 "[HelpHub] Unsupported"
## What is the new page you are requesting?

New article required for the Unsupported block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:22] femkreations opened #221 "[HelpHub] Navigation Area"
## What is the new page you are requesting?

New article required for the Navigation Area block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 18:23] femkreations opened #222 "[HelpHub] Custom Link"
## What is the new page you are requesting?

New article required for the Custom Link block

## New page for 6.0
- [x] Create a new article for the Custom Link block
- [x] Note that this block is visible only when the user is in the Navigation block (contextual)
- [x] Make sure the URL slug under Permalink is: custom-link-block
- [x] 	At the top of the page, under the title, add the  ‘Link back to

[2022-03-03 18:24] femkreations opened #223 "[HelpHub] Submenu"
## What is the new page you are requesting?

New article required for the Submenu block

## New page for 6.0
- [ ] Create a new article for the Submenu block
- [ ] Note that this block is visible only when the user is in the Navigation block (contextual)
- [ ] Make sure the URL slug under Permalink is: submenu-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reu

[2022-03-03 18:24] femkreations opened #224 "[HelpHub] Pattern"
## What is the new page you are requesting?

New article required for the Pattern block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:10] femkreations opened #225 "[HelpHub] Post Author"
## What is the new page you are requesting?

New article required for the Post Author block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:11] femkreations opened #226 "[HelpHub] Post Author Biography"
## What is the new page you are requesting?

New article required for the Post Author Biography block

## New page for 6.0
- [ ] Create a new article for the Post Author Biography block
- [ ] Make sure the URL slug under Permalink is: post-author-biography-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘re

[2022-03-03 19:12] femkreations opened #227 "[HelpHub] Post Author Name"
## What is the new page you are requesting?

New article required for the Post Author Name block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:12] femkreations opened #228 "[HelpHub] Post Author Name"
## What is the new page you are requesting?

New article required for the Post Author Name block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:13] femkreations opened #229 "[HelpHub] Post Comment"
## What is the new page you are requesting?

New article required for the Post Comment (deprecated) block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:14] femkreations opened #230 "[HelpHub] Post Comments"
## What is the new page you are requesting?

New article required for the Post Comments block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:20] femkreations opened #231 "[HelpHub] Post Comments Count"
## What is the new page you are requesting?

New article required for the Post Comments Count block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:21] femkreations opened #232 "[HelpHub] Post Comments Form"
## What is the new page you are requesting?

New article required for the Post Comments Form block

## New page
- [ ] Create a new article for the Post Comments Form block
- [ ] Make sure the URL slug under Permalink is: post-comments-form-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

##

[2022-03-03 19:22] femkreations opened #233 "[HelpHub] Post Comments Link"
## What is the new page you are requesting?

New article required for the Post Comments Link block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article