[2022-03-03 19:23] femkreations opened #234 "[HelpHub] Post Navigation Link"
## What is the new page you are requesting?

New article required for the Post Navigation Link block

## General

- [x] make sure all screenshots are relevant for the current version (5.9)
- [x] update changelog at the end of the article

[2022-03-03 19:23] femkreations opened #235 "[HelpHub] Post Template"
## What is the new page you are requesting?

New article required for the Post Template block

## New page
- [ ] Create a new article for the Post Template block
- [ ] Make sure the URL slug under Permalink is: post-template-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

## Updating for 6

[2022-03-03 19:24] femkreations opened #236 "[HelpHub] Post Terms block"
## What is the new page you are requesting?

New article required for the Post Terms block

## New page for 6.0
- [ ] Create a new article for the Post Terms block
- [ ] Make sure the URL slug under Permalink is: post-terms-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.
- [ ] Make a note t

[2022-03-03 19:25] femkreations opened #237 "[HelpHub] Pagination"
## What is the new page you are requesting?

New article required for the Pagination block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:26] femkreations opened #238 "[HelpHub] Next Post"
## What is the new page you are requesting?

New article required for the Next Post block

## New page
- [ ] Create a new article for the Next Post  block
- [ ] Make sure the URL slug under Permalink is: next-post-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

## Update for 6.2
- [ ] Add

[2022-03-03 19:27] femkreations opened #239 "[HelpHub] Page Numbers (Pagination)"
## What is the new page you are requesting?

New article required for the Page Numbers (Pagination) block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:28] femkreations opened #240 "[HelpHub] Previous Post"
## What is the new page you are requesting?

New article required for the Previous Post  block

## New page
- [x] Create a new article for the Previous Post  block
- [x] Make sure the URL slug under Permalink is: previous-post-block
- [x] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [x] Convert all reusable blocks to a ‘regular block’.

## Update for 6

[2022-03-03 19:29] femkreations opened #241 "[HelpHub] Query Title"
## What is the new page you are requesting?

New article required for the Query Title block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:30] femkreations opened #242 "[HelpHub] Read More"
## What is the new page you are requesting?

New article required for the Read More block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:30] femkreations opened #243 "[HelpHub] Table of Contents"
## What is the new page you are requesting?
New article required for the Table of Contents block

## New page for 6.0
- [ ] Create a new article for the Table of Contents block
- [ ] Make sure the URL slug under Permalink is: table-of-contents-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

[2022-03-03 19:31] femkreations opened #244 "[HelpHub] Term Description"
## What is the new page you are requesting?

New article required for the Term Description block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:32] femkreations opened #245 "[HelpHub] Text Columns"
## What is the new page you are requesting?

New article required for the Text Columns (deprecated) block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:41] femkreations opened #246 "[HelpHub] Row"
## What is the new page you are requesting?

New article required for the Row block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:42] femkreations opened #247 "[HelpHub] Pinterest"
## What is the new page you are requesting?

New article required for the Pinterest block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:43] femkreations opened #248 "[HelpHub] Wolfram Cloud"
## What is the new page you are requesting?

New article required for the Wolfram Cloud block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:43] femkreations opened #249 "[HelpHub] Archive Title"
## What is the new page you are requesting?

New article required for the Archive Title block

## General

- [ ] make sure all screenshots are relevant for the current version (5.9)
- [ ] update changelog at the end of the article

[2022-03-03 19:44] femkreations opened #250 "[HelpHub] Posts List"
## What is the new page you are requesting?

New article required for the Posts List block

## New page for 6.0
- [ ] Create a new article for the Post List block
- [ ] Make sure the URL slug under Permalink is: posts-list-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

## General
- [ ] Ma

[2022-03-07 11:11] zzap commented on #193
Duplicate of #88

[2022-03-07 20:04] francisei opened #251 "Gutenberg Dev Doc: Fix Markdown formatting within HTML div tag"
## Issue Description
I addressed Gutenberg doc issue [32929](https://github.com/WordPress/gutenberg/issues/32929).The updated content includes an alert callout, which, according to Gutenberg doc standard for [Callout notices](https://developer.wordpress.org/block-editor/contributors/documentation/#callout-notices), “The recommended way to implement in markdown is to use the raw HTML and callout ca

[2022-03-08 17:43] femkreations commented on #134
FYI, separate issues have been opened for the missing blocks. Refer to https://github.com/orgs/WordPress/projects/23/views/1.
To find the tracker related to each item, clicking on the Item in the Title Column that opens a rich text editor with details.

[2022-03-08 18:26] Soigneur commented on #71
Ok, I viewed @zzap video on updating [screenshots](url) https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/, and was helpful generating this image [](https://www.awesomescreenshot.com/image/23685600?key=7a40963d70ba82a5860af84818338a61)

[2022-03-08 18:27] Soigneur commented on #71
![Uploading Dashboard ‹ myfirstwpsite — WordPress.png…]()

[2022-03-09 08:56] Soigneur commented on #71
Updated first batch of screen shots as per spreadsheet.
![Add New Post ‹ myfirstwpsite — WordPress](https://user-images.githubusercontent.com/86670177/157407187-91c4fdaf-7aa7-40fd-9947-a80832f610a3.png)
![Add New Post ‹ zepefi — WordPress](https://user-images.githubusercontent.com/86670177/157407197-732f2faa-3d76-47c1-9ccb-4157b36056b1.png)
![Comments ‹ myfirstwpsite — WordPress](https://user-imag

[2022-03-09 22:41] femkreations commented on #244
Page is ready: https://wordpress.org/support/article/term-description-block/

[2022-03-10 22:38] femkreations commented on #249
@zzap This page is ready for review: https://wordpress.org/support/article/archive-title-block/

[2022-03-11 06:44] tellyworth opened #252 "Documentation for the Pattern Directory creator/submission process"
## What is the new page you are requesting?

The WordPress.org Pattern Directory will soon be open to the public to create and submit new patterns. We'll need some new docs and doc updates to reflect that.

I think at a minimum, probably:
* An extra section on the [Pattern Directory doc page](https://wordpress.org/support/article/block-pattern-directory/) linking to the creator/submission tool (fi

[2022-03-11 12:00] zzap commented on #249
@femkreations article looks great, thank you so much for working on it.

A few of things:
- At the top of article make `Note: This block only works on the archive pages.` more visible. Use `[info][/info]` for the blue notice.
- Add in notice that this block should be used in Site editor because that's the only place you can edit archives (otherwise block won't be visible on frontend) and link to t

[2022-03-11 12:17] zzap commented on #244
@femkreations awesome work :heart:

Same few things as for Archive Title:
- At the top of article make `Note: This block only works on the archive pages.` more visible. Use `[info][/info]` for the blue notice.
- Add in notice that this block should be used in Site editor because that's the only place you can edit archives (otherwise block won't be visible on frontend) and link to this article: htt

[2022-03-11 16:51] femkreations commented on #228
Duplicate of #227

[2022-03-11 16:51] #228 closed

[2022-03-11 17:54] femkreations commented on #249
@zzap. Thanks for the review.  I updated with the Note, placed the blue Notice box one paragraph below as otherwise, the blue box messes up with the topics navigation (see screenshot attached)
![Screen Shot 2022-03-11 at 9 50 40 AM](https://user-images.githubusercontent.com/2823103/157923020-2fb9fc4b-024a-484e-96e5-f586d8233d29.png)

[2022-03-11 18:07] femkreations commented on #244
@zzap Thanks for the review. I created a reusable block for the notice that we can use on all the blocks. Pls let me know if any changes are needed.

[2022-03-12 20:19] bph commented on #252
@tellyworth could you also provide to the meta.trac ticket(s) It might help with the discovery and speed up the process or creating these document, if the writer can read up on the discussion around the new features.

Yes, I would think that documentation about the submission process would certainly be valuable.

[2022-03-12 20:56] bph commented on #248
- [Gutenberg PR ](https://github.com/WordPress/gutenberg/pull/35656)with some screenshots and information.
- [Core Trac Ticket](https://core.trac.wordpress.org/ticket/53326), with more information

[2022-03-12 20:59] bph commented on #247
- [GitHub PR with screenshot and information](https://github.com/WordPress/gutenberg/pull/34895)
- [Core Trac Ticket](https://core.trac.wordpress.org/ticket/53448)

[2022-03-13 14:59] atachibana commented on #56
@TukuToi

Thank you for the comment.
There is some confusion in the definitions associated with "dashboard".

Administration Screen
https://wordpress.org/support/article/administration-screens/

Dashboard Screen
https://wordpress.org/support/article/dashboard-screen/

Dashboard points the top page of Administration Screen(s) in WordPress. So, in this context, Administration Screen is the correct t

[2022-03-13 14:59] #56 closed

[2022-03-14 20:20] bph commented on #252
A list of issues/PRs with information can be found in the project [Pattern Directory creator](https://github.com/WordPress/pattern-directory/projects/2)

[2022-03-15 11:14] atachibana commented on #8
@dimkasta

Under an effort to remove technical sections from user documentation (#30), links containing Caddy V1 information and other software have been removed from this page.
https://wordpress.org/support/article/using-permalinks/

Those technical parts are stored in google docs and will be pasted somewhere in the future after external link consideration (#70).

[2022-03-15 14:54] zzap commented on #140
Screenshots, changelog and content updated.

[2022-03-15 14:54] #140 closed

[2022-03-15 15:49] atachibana commented on #118
Applied the changes to the HelpHub page.
https://wordpress.org/support/article/image-block/

[2022-03-17 13:17] zzap commented on #244
I modified your reusable block a bit. Contrast between link and background color wasn't high enough for accessibility.

It looks like we don't have those notice shortcodes available at HelpHub. Regardless, we can't put any link inside. So I faked the styling but we'll have to do something sustainable about it.

Here's how it looks like now:
![reusable-archive-block](https://user-images.githubuserc

[2022-03-17 13:19] #244 closed

[2022-03-17 13:23] bph commented on #244
_Just remember:_ Reusable blocks need to be "Converted to regular blocks" before the "update" or "publish" process. Reusable blocks don't travel to the Polyglot's sites. The translators won't see the content inside the reusable block to be translated.

[2022-03-17 13:34] #249 closed

[2022-03-17 13:44] bph commented on #252
After testing the submission process, I created a first draft of the  new page and could use a  [review via Google Doc](https://docs.google.com/document/d/1i1XKACiuCyOhi0OZNi9psmgxzBKF-IZOiHLiFFLW1e4/edit#), regarding current content and what's missing. (don't worry about typos and grammar)
@tellyworth @zzap

[2022-03-17 17:28] femkreations commented on #200
@zzap The page is ready for review: https://wordpress.org/support/article/post-featured-image/

[2022-03-17 20:47] femkreations commented on #196
@zzap The page is ready for review: https://wordpress.org/support/article/post-title-block/

[2022-03-18 13:04] zzap commented on #196
Looks great. Thank you @femkreations :heart:

[2022-03-18 13:04] #196 closed

[2022-03-18 13:07] zzap commented on #200
Awesome work :heart:

[2022-03-18 13:07] #200 closed

[2022-03-18 13:10] zzap commented on #71
Which article are these screenshots for @Soigneur?

[2022-03-18 13:16] zzap commented on #115
@TonyGravagno since you're not on WordPress slack I have to ask you here. Can you please go to [this URL](https://profiles.wordpress.org/associations/documentation-contributor/) while logged in and request membership? Sorry there's no more elegant way to give you recognition for your contributions. Thank you :heart:

[2022-03-18 15:40] Soigneur commented on #71
Check the spreadsheet above, and the url for which the screenshot belongs
is labeled updated/not updated

On Fri, 18 Mar 2022 at 15:10, Milana Cap ***@***.***> wrote:

--
Kind regards
*Michel du Preez*
*www.mybigshort.com <http://www.mybigshort.com>*

[2022-03-18 22:01] femkreations commented on #199
@zzap: This page is ready for review: https://wordpress.org/support/article/post-excerpt-block/

[2022-03-21 11:15] zzap commented on #199
Great work, as always. Thank you :heart:

[2022-03-21 11:15] #199 closed

[2022-03-21 12:49] zzap commented on #127
Screenshots

![01-latest-posts](https://user-images.githubusercontent.com/1508963/159264026-bee07046-db86-464c-9dfc-3ed073ff154c.png)
![02-latest-posts-toolbar](https://user-images.githubusercontent.com/1508963/159264029-66f0e652-4c60-4109-84e7-5c20257006b4.png)
![03-latest-posts-alignment](https://user-images.githubusercontent.com/1508963/159264030-ae3a9c29-d767-4a49-9fb7-c27ff80a0d7d.png)
![04-l

[2022-03-21 14:29] atachibana commented on #119
- [#28129](https://github.com/WordPress/gutenberg/pull/28129) improved user experience during block handling. It means there are no additional feature, so, not required to enhance it into user documentation.
- Updated screenshots to WordPress 5.9
<img width="191" alt="spacer-block-toolbar-all" src="https://user-images.githubusercontent.com/8876600/159282002-2c078011-f075-4676-9c1c-303145867468.png

[2022-03-21 14:50] atachibana commented on #119
@zzap
Updated all screenshots and modified description for WordPress 5.9.

[2022-03-21 14:50] #119 closed

[2022-03-21 15:14] zzap commented on #119
Thank you, great work :heart:

[2022-03-21 16:19] femkreations commented on #201
@zzap This page is ready for review: https://wordpress.org/support/article/post-categories-block/

[2022-03-21 17:53] femkreations commented on #202
@zzap This page is ready for review: https://wordpress.org/support/article/post-tags-block/

[2022-03-21 18:49] zzap commented on #201
Awesome, thank you :heart:

[2022-03-21 18:49] #201 closed, assigned to femkreations

[2022-03-21 18:50] zzap commented on #202
Great job, thank you :heart:

[2022-03-21 18:50] #202 closed

[2022-03-21 19:03] TonyGravagno commented on #115
Done. Thanks!

[2022-03-21 22:09] femkreations commented on #198
@zzap The page is ready for review: https://wordpress.org/support/article/post-date-block/

[2022-03-22 09:42] rmartinezduque commented on #247
Hi! I've been recently working on the article for the Pinterest embed block. I followed the structure of similar articles, such as the [Twitter embed](https://wordpress.org/support/article/twitter-embed/).

- [Google doc for review](https://docs.google.com/document/d/1yffQ3eqAk4aJuaKcp0Tku3OdIEPCjEG-3MhEl8qRngQ/edit?usp=sharing)
- [Screenshots folder](https://drive.google.com/drive/folders/1DpIsEK

[2022-03-22 15:30] zzap commented on #247
Hi @rmartinezduque , thank you so much for working on this. Text is great, I just left a comment to remove one sentence. As for screenshots being in Spanish, I made those same ones with English. Here they are:

![Pinterest-1](https://user-images.githubusercontent.com/1508963/159518788-98f221a9-6041-4c78-ad41-44a5d302ab49.png)
![Pinterest-2](https://user-images.githubusercontent.com/1508963/1595187

[2022-03-22 17:38] femkreations commented on #198
@zzap  Thanks for catching that. I updated to remove the wrong screenshot.

[2022-03-23 08:44] rmartinezduque commented on #247
@zzap Thank you for reviewing this so quickly and sending these screenshots! I'll make the changes in the draft now. My WordPress.org username is `rmartinezduque`. 🙂

[2022-03-23 10:53] rmartinezduque commented on #247
@zzap just an update here: I included one more screenshot of an embedded Pinterest profile (I was able to get it in English) at the beginning of the article as I thought it would be nice to have another example. If for some reason you think it doesn't fit well, please feel free to let me know. Thank you again!

[2022-03-23 10:54] zzap commented on #115
Refresh your profile :raised_hands:

[2022-03-23 18:26] zzap commented on #198
Awesome, thanks :raised_hands:

[2022-03-23 18:26] #198 closed

[2022-03-23 20:24] bph commented on #252
- [ ] Added report a pattern section on the [block patten directory page](https://wordpress.org/support/article/block-pattern-directory/)
- [ ] Created new page **Submit Your Block Pattern to the Directory** [(public preview link)](https://wordpress.org/support/?
p=15489182&post_type=helphub_article&preview=1&_ppp=41be0c95b2)

[2022-03-23 20:24] #252 closed

[2022-03-23 21:18] jennydupuy opened #254 "Link to 404 page in Block Pattern Directory post"
## Issue Description
Link to 404 page in Block Pattern Directory post

## URL of the Page with the Issue
https://wordpress.org/support/article/block-pattern-directory/

## Section of Page with the issue
Resource links

## Why is this a problem?
The link [Submit a pattern to the directory](https://wordpress.org/support/article/submit-your-block-pattern-to-the-directory/) link to a 404 page.
The lin

[2022-03-23 21:23] SadeqSp opened #255 "fixed typo: removing an unnecessary 's'"
## Issue Description
it's a typo

## URL of the Page with the Issue
https://developer.wordpress.org/themes/functionality/administration-menus/#example

## Section of Page with the issue
Determining Location for New Menus > Example

## Why is this a problem?
there is an unnecessary 's' in the example code

## Suggested Fix
...
function register_my_theme_more_settings_menu() {
    add_submenu_page(

[2022-03-23 21:29] bph commented on #254
Just publish the article. It's been reviewed before.
Also, if there are instructions for the "extended plugin to schedule the update or publish the post" that would be quite helpful.

[2022-03-23 21:29] #254 closed

[2022-03-23 21:55] jennydupuy commented on #254
ok cool!
but I just noticed that the Schedule updates plugin is no longer active on fr.wordpress.org/support and it's the same for wordpress.org/support

[2022-03-23 22:43] TonyGravagno commented on #115
I am SOOOOOOOOOO honored. TYVM ... and now on to actually earning those creds...

[2022-03-24 13:48] rmartinezduque commented on #247
Hi @zzap! Thanks for the detailed instructions. The preview looked to me, so I went ahead and published it: https://wordpress.org/support/article/pinterest-embed/!

If you could double-check in any case that everything is as it's supposed to be, I'd also appreciate it! Thank you! 🙌

[2022-03-25 13:41] jennydupuy opened #258 "Modification in the post Submit your Block Pattern to the Directory"
## Issue Description
Following the modification of the composition directory header (see: [https://github.com/WordPress/pattern-directory/commit/e87d8d559306873d118afcdb4951b2811c7024bc]), it would be advisable to modify point 2 in the paragraph "So, how does this work?  " in the post "Submit your Block Pattern to the Directory".

## URL of the Page with the Issue
https://wordpress.org/support/art

[2022-03-25 13:43] jennydupuy commented on #258
I can do this modification, if you want.

[2022-03-25 14:32] bph commented on #258
I don't see that link ever-changing, but who knows.
The downside for the readers is they now need to look for another link on another page. That's the place where they get lost.
If the link does change, I'd rather update the page with the correct link.

[2022-03-25 18:10] femkreations commented on #197
@zzap: The page is ready: https://wordpress.org/support/article/post-content-block/ . Thanks!

[2022-03-28 08:43] rmartinezduque commented on #248
Hi! I've been recently working on the article for the Wolfram embed block. Screenshots are of the current version (5.9).

Here's the [Google doc for review](https://docs.google.com/document/d/13sMdVIiSUBpTLJScDBGNe2Gdqh8-ovAPC-BLxn_RUaI/edit?usp=sharing) and the [Screenshots folder](https://drive.google.com/drive/folders/1agDArqchbNPHZYIwDVa0quQEsaCfuyn_?usp=sharing).

I use the name "Wolfram" rat

[2022-03-29 04:57] HILAYTRIVEDI opened #259 "Page stylings issue"
## Issue Description
While I visited the Administration Menus documentation page. The page styling appears to be horrible.

## URL of the Page with the Issue
https://developer.wordpress.org/themes/functionality/administration-menus/#top-level-menus

Video for the issue: https://www.awesomescreenshot.com/video/8112955?key=b19ffff3c2b86a01253cbec26483cabf

[2022-03-29 05:00] stevenlin-x commented on #255
@SadeqSp , good catch.

$menu_slug of add_menu_page()

corresponds to

$parent_slug of add_submenu_page()

I've fixed the typo.

[2022-03-29 05:11] stevenlin-x commented on #259
@HILAYTRIVEDI ,

You were quick in reporting issues.

This was an accident while I was working on #255.

The styling issues were caused by the Visual Editor not properly formatting when you edit (adding <pre> unnecessarily)

It was fixed in less than 15 min.

[2022-03-29 05:17] HILAYTRIVEDI commented on #259
HI @stevenlin-x, Should I close this issue then?

[2022-03-29 06:52] stevenlin-x commented on #259
@HILAYTRIVEDI ,

Yes. I'll close it.

[2022-03-29 06:52] #259 closed

[2022-03-29 10:37] atachibana opened #260 "Missing supported browser version information"
## Issue Description

There is no supported browser version information on the Requirements page.

## URL of the Page with the Issue

https://wordpress.org/about/requirements/

## Suggested Fix

Perhaps we could include the information on the following page?
https://make.wordpress.org/core/handbook/best-practices/browser-support/
as

**Supported browsers**

WordPress supports following Web browser

[2022-03-29 22:20] bph commented on #258
@jennydupuy not sure who strong you feel about this?

[2022-03-30 01:35] anyk17 commented on #163
Updated screenshots, the text might need some changes too

![003-spotify_album_example](https://user-images.githubusercontent.com/19748471/160733227-d8135415-79ca-492e-bb33-afe3dbbb27da.jpg)
![03-add_block](https://user-images.githubusercontent.com/19748471/160733230-fa473de3-734a-4b47-8036-8c9ea4ac3551.jpg)
![04-embed_button](https://user-images.githubusercontent.com/19748471/160733231-4fecd13b-9

[2022-03-30 01:49] miminari commented on #260
Thanks for creating the Issue!

Since @atachibana recommended it to me, I will copy my comment on [Slack](https://wordpress.slack.com/archives/C02RP4WU5/p1648523789609119) here as well. Sorry it was so useless and long...

However, I feel this is very important information, not only for core contributors but for all WordPress users, but it is a child of the [Best Practices](https://make.wordpress.

[2022-03-30 02:04] atachibana commented on #260
@zzap, @karmatosed, @kafleg, @carolinan @TeBenachi
Please review above comment. Thanks.

[2022-03-30 02:20] rocket-martue commented on #260
How about displaying a list of supported browsers and links to them on the following page?
That way, more people will find it.
[https://wordpress.org/download/](https://wordpress.org/download/)
[https://wordpress.org/support/article/before-you-install/](https://wordpress.org/support/article/before-you-install/)

[2022-03-30 03:53] #255 closed

[2022-03-30 06:41] jennydupuy commented on #258
@bph
By indicating a path to follow rather than a direct link, we make sure that when the documentation is translated into a locale, the translator will indicate the label of the "create a new pattern" link of his locale. The user remembers that it is enough to go to the patterns directory to propose a new one. There is no need to go back to the documentation to access the composition editor or to

[2022-03-30 06:45] jennydupuy commented on #258
@bph
A little repetition here: "You are working Working on your block pattern in the pattern editor."

[2022-03-30 14:40] joyously commented on #260
Here are my comments from [Slack](https://wordpress.slack.com/archives/C02RP4WU5/p1648566822098429?thread_ts=1648523789.609119&cid=C02RP4WU5):

---
I want to emphasize that the list should be prominent, but so should what the list applies to: **admin** and if you use blocks, **front end**.

[2022-03-31 11:09] nishitlangaliya commented on #181
Hi @zzap ,

**1. Add the Speaker Deck block from the block list.**

![image](https://user-images.githubusercontent.com/11435772/161037725-85bd3595-c839-4312-93c0-ec6f9c70a21b.png)

**2.  Add the Deck link into the URL box**

![image](https://user-images.githubusercontent.com/11435772/161038851-7a051c65-9e37-4a4f-8d55-47c48b334253.png)

**3.  Click the “Embed” button**

![image](https://user-images

[2022-03-31 12:09] nishitlangaliya commented on #135
Hi @zzap ,

1.  How to take custom html block.
![image](https://user-images.githubusercontent.com/11435772/161048570-bfa3538d-5a68-4e6f-9b2f-f67c9d3f9b15.png)

2. How to add code into it
![image](https://user-images.githubusercontent.com/11435772/161050856-ac7674df-631c-4a38-874a-c92d1a6f1d23.png)

3.  Preview block.
![image](https://user-images.githubusercontent.com/11435772/161051008-ee260781-85

[2022-04-04 10:26] zzap commented on #135
Hello @nishitlangaliya , thank you so much for working on this :heart:

Would you like to update article yourself? If so, I'll need your wordpress.org username to give you the access.

[2022-04-04 10:38] zzap commented on #181
Hello @nishitlangaliya , thank you for working on this :raised_hands:

Everything looks awesome. I have just one small request. Can you crop 10. screenshot so it matches the one we already have? Thanks

Cuurent one :point_down:
![screenshot](https://i0.wp.com/wordpress.org/support/files/2020/09/Screen-Shot-2020-09-04-at-12.46.34-PM.png)

[2022-04-04 11:34] zzap commented on #260
I agree this list should be prominent and accompanied with explanation what it exactly means. I see pages like core handbook and main about and download, to which we don't have access.

My first question is where this list should live? There are a few good and logical places but then, do we want to have the same info in several places (which will inevitably be forgoten and we'll end up with at lea

[2022-04-04 11:40] zzap commented on #163
Hello @anyk17 , thank you so much for working on this :star2:

You are right, text needs to be modified for alignment settings. You can find the updated list here: https://wordpress.org/support/article/video-block/#block-toolbar

Also, this sentnece needs to be removed:

[code]

Would you like to update the article? If so, give me your wordpress.org username so I can give you the access. Thanks

[2022-04-04 11:48] zzap commented on #248
Hello @rmartinezduque , thank you so much for working on this :heart:

Everything looks great and yes, we can update screenshots once the new name is mergded.

Would you like to create this page in HelpHub? If so, I need your wordpress.org username so I can give you the access. Thanks

[2022-04-04 11:50] zzap commented on #197
Looks awesome :raised_hands: Thank you so much :heart:

[2022-04-04 11:50] #197 closed

[2022-04-04 11:54] zzap commented on #247
You can change that by making word `Changelog` a heading. H2 would be semantically correct. Thanks

[2022-04-04 11:54] #247 closed

[2022-04-04 13:33] theMikeD commented on #260
My question is: what does "supported" mean specifically?

[2022-04-04 13:49] joyously commented on #260
I think supported means no extra effort is needed to use that browser.
In real terms, when you report an issue, if it works in the supported browsers, it's not fixed.

[2022-04-04 15:29] mikachan opened #261 "How to install WordPress: incorrect link"
## Issue Description

On the How to install WordPress page (https://wordpress.org/support/article/how-to-install-wordpress/), there is a link for 'Before you install' under the 'Things to Know Before Installing WordPress' title. It's currently set to go to https://wordpress.org/support/installation/before-you-install/, but this redirects to https://wordpress.org/support/topic/before-you-install/.

[2022-04-04 20:09] femkreations commented on #195
@zzap This page is ready and primed for 6.0. It is currently scheduled to be published on May 24, 2022.
Pls review:
https://wordpress.org/support/?post_type=helphub_article&p=15525633
Thanks!

[2022-04-05 02:19] femkreations commented on #194
@zzap The page is ready for review: https://wordpress.org/support/article/site-tagline-block/
I didnt see any updates for 6.0 (refered to Birgit's 6.0 End User documenation.) Hence published the page.
Thanks!

[2022-04-05 04:59] md-codechallenge commented on #181
Hi @zzap ,

Thanks for your response. Response to your feedback I have added cropped scrrenshot.

![image](https://user-images.githubusercontent.com/59202898/161681971-5444f523-1b6f-4f60-80fe-d0a767630953.png)

Let me know if any changes need.

Thanks

[2022-04-05 11:01] rmartinezduque commented on #247
Done, thank you so much!

[2022-04-05 11:40] rmartinezduque commented on #248
Sure, @zzap. Happy to create the page in HelpHub later this week. I'll follow the same process that you suggested in the [HelpHub Pinterest Issue](https://github.com/WordPress/Documentation-Issue-Tracker/issues/247#issuecomment-1076350037) and let you know once published. Thank you!

[2022-04-05 13:49] zzap commented on #181
Looks great, thanks :raised_hands:

Would you like to update the article as well? If so, give me your wordpress.org username so I can give you the access.

[2022-04-07 12:10] estelaris opened #262 "[HelpHub] Fix wording on Gallery block for Remove Gallery"
## Issue Description

## URL of the Page with the Issue
 https://wordpress.org/support/article/gallery-block/#more-options

## Section of Page with the issue
 On the section **More options**, the last item is described as **Remove block** and the image and the actual settings refer to this as **Remove Gallery**

## Why is this a problem?
 Cause the settings say something different

## Suggested Fi

[2022-04-07 14:59] stevenlin-x commented on #261
It seems @Otto42 has already fixed the link.

[2022-04-07 15:13] femkreations commented on #262
Made the edit. Thanks

[2022-04-08 01:09] anyk17 commented on #163
Hi @zzap thanks! Yes, I'd like to work on it. My username in wordpress.org is @anyk17

[2022-04-08 04:09] #261 closed

[2022-04-08 09:08] estelaris commented on #192
Thanks for the comment @theMikeD. We are avoiding the How-to's on purpose, so I will remove the How to.. from that title. The Post Status, you are correct, it should be Use Post Status or What is Post Status?

[2022-04-08 19:32] rmartinezduque commented on #248
Hello! Just a quick update here that I have not forgotten this :) The Wolfram team wanted to review the article and I was waiting to see if they had any feedback before publishing it. I won't be available next week but I'm hoping to help with this once I'm back (April 18).

[2022-04-10 09:14] SJeca commented on #145
I'd like to work on this
https://wordpress.org/support/article/block-editor-keyboard-shortcuts/

[2022-04-10 09:48] nem-c commented on #125
@zzap I might give this one a run if you don't mind

[2022-04-10 10:00] dvarouxis commented on #145
![Add New Post ‹ kugama — WordPress (2)](https://user-images.githubusercontent.com/103357583/162612917-3351d422-e82b-4842-8922-ee4eff1ebfce.png)
![Add New Post ‹ kugama — WordPress (1)](https://user-images.githubusercontent.com/103357583/162612918-95a69446-06c0-43d8-810f-3d9966db0cba.png)
![Add New Post ‹ kugama — WordPress](https://user-images.githubusercontent.com/103357583/162612920-501485b9-ef

[2022-04-10 10:29] SJeca commented on #139
I'd like to work on this
https://wordpress.org/support/article/block-editor-keyboard-shortcuts/

[2022-04-10 10:33] SJeca commented on #139
Everything is up to date. Functionalities are the same as they are in the previous version.

[2022-04-10 11:42] nem-c commented on #125
Changelog updates:

<img width="497" alt="Screenshot 2022-04-10 at 14 39 29" src="https://user-images.githubusercontent.com/8862106/162616275-ab339cd9-ece4-49c9-9c90-789170540b2a.png">

- Updated 2022-04-10
  - Updated new block toolbar settings
- Updated 2020-09-19
  - Updated new block toolbar features
  - Updated new block settings features
  - Updated 5.5 screenshots
- Updated 2020-06-18
  - A

[2022-04-12 05:39] stevenlin-x opened #263 "Faulty link in the "Common WordPress Errors" HelpHub page"
## Issue Description
Under the section "[The White Screen of Death](https://wordpress.org/support/article/common-wordpress-errors/#the-white-screen-of-death)" of the [Common WordPress Errors](https://wordpress.org/support/article/common-wordpress-errors/) page, the sentence "The [WP_DEBUG feature](https://wordpress.org/support/article/editing-wp-config-php/#wp_debug) often provides additional info

[2022-04-12 05:45] stevenlin-x commented on #263
I've made the fix.

[2022-04-12 14:59] zzap opened #264 "[Docs Handbook] Add guideline on how to work on GitHub issues"
It seems that we have developed a sort of a workflow for working on thsese issues but no one knows about it. Since we don't have PRs here we can't use some other GitHub features, such as "Request review" etc. Also, due to permissions, contributors can't assign themselves or move issues through our project boards.

So we have workarounds:
- You browse issues and find what you like. Post in comment

[2022-04-12 19:13] femkreations opened #265 "[HelpHub] Site Title block"
Article:  https://wordpress.org/support/article/site-title-block/

## Updating for 6.0
- [x] Add the transform between Site Title and Site Logo block. [37920](https://github.com/WordPress/gutenberg/pull/37920)

## General
- [x] Make sure all screenshots are relevant for the current version (6.0)
- [x] Make sure videos are up to date
- [x] Make sure the headings are in sentence case
- [x] Update th

[2022-04-12 22:18] femkreations opened #266 "[HelpHub] Post Author Name block"
## New page for 6.0
- [ ] Create a new article for the Author Name block [36001](https://github.com/WordPress/gutenberg/pull/36001)
- [ ] Make sure the URL slug under Permalink is: post-author-name-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

## Update for 6.2
- [ ] Mark "post author na

[2022-04-12 22:26] femkreations opened #267 "[HelpHub] Author Biography block"
## New page for 6.0
- [x] Create a new article for the Author Biography block [38269](https://github.com/WordPress/gutenberg/pull/38269)
- [x] Make sure the URL slug under Permalink is: author-biography-block
- [x] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [x] Convert all reusable blocks to a ‘regular block’.

## General
- [x] Make sure all screensh

[2022-04-13 10:55] zzap commented on #195
Looking great. Thank you :heart:

[2022-04-13 10:55] #195 closed

[2022-04-13 10:59] zzap commented on #125
This one got me thinking for a while :joy: I thought that was a timestamp for the screenshot

Can you rename of the file to be just `file` or `Uploaded file`?

[2022-04-13 11:00] zzap commented on #139
Thank you so much for checking this @SJeca :heart:

[2022-04-13 11:00] #139 closed

[2022-04-13 11:02] zzap commented on #145
@dvarouxis thank you so much for working on this :heart:

Would you like to update the article yourself? If so, I need your wp.org username to give you permissions.

[2022-04-13 11:04] zzap commented on #163
Hi @anyk17 , you should have permissions to update article. Let me know if you need any help :raised_hands:

[2022-04-13 11:10] zzap commented on #194
Looks great! Awesome job, as usual :heart:

[2022-04-13 11:10] #194 closed

[2022-04-13 16:22] femkreations opened #268 "[HelpHub] Archives block"
Article:  https://wordpress.org/support/article/archives-block/

## Updating for 6.0
- [x] Add transform between Calendar and Archives. [38324](https://github.com/WordPress/gutenberg/pull/38324)
- [x] Add yearly, weekly, and daily archive settings to the archives block. [38440](https://github.com/WordPress/gutenberg/pull/38440)

### Updating for 5.9
- [ ] Refer to the [tracker](https://github.com/

[2022-04-13 17:15] femkreations opened #269 "[HelpHub] Avatar block"
## New page for 6.0
- [ ] Create a new article for the Avatar block [39728](https://github.com/WordPress/gutenberg/pull/39728)
- [ ] Make sure the URL slug under Permalink is: avatar-block
- [x] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [x] Convert all reusable blocks to a ‘regular block’.

## General
- [x] Make sure all screenshots are relevant to

[2022-04-13 17:22] femkreations opened #270 "[HelpHub] Buttons block"
Article:  https://wordpress.org/support/article/buttons-block/

## Updating for 6.0
- [ ] Preserve styling from adjacent button blocks when inserting a new button block. [37905](https://github.com/WordPress/gutenberg/pull/37905)
- [ ] Add select-parent button to block toolbar "More options" menu. [40105](https://github.com/WordPress/gutenberg/pull/40105)

## General
- [ ] Make sure all screenshots

[2022-04-13 17:33] femkreations opened #271 "[HelpHub] Code block"
Article:  https://wordpress.org/support/article/code-block/

## Updating for 6.1
- [ ] Add transformation to Paragraph. [43938](https://github.com/WordPress/gutenberg/pull/43938)
- [ ] Add missing typography supports to code block [43255](https://github.com/WordPress/gutenberg/pull/43255)

## Updating for 6.0
- [ ] Add paragraph in transforms option. [38295](https://github.com/WordPress/gutenberg/

[2022-04-13 17:42] femkreations opened #272 "[HelpHub] Columns block"
Article:  https://wordpress.org/support/article/columns-block/

Quick video overview of how to contribute this change (with English subtitles): https://wordpress.tv/2022/03/04/update-screenshots-in-wordpress-documentation/

## Updating for 6.1
- [ ] Add axial block spacing to Columns block. [44101](https://github.com/WordPress/gutenberg/pull/44101)
- [ ] Prevent single Columns blocks from transfor

[2022-04-13 17:48] femkreations opened #273 "[HelpHub] Categories block"
Article:  https://wordpress.org/support/article/categories-block/

## Updating for 6.0
- [x] Add transform between Tag Cloud and Categories. [38566](https://github.com/WordPress/gutenberg/pull/38566)

### Updating for 5.9
- [x] Refer to the [tracker](https://github.com/WordPress/Documentation-Issue-Tracker/issues/154)

## General
- [x] Make sure all screenshots are relevant for the current version

[2022-04-13 17:56] femkreations opened #274 "[HelpHub] Calendar block"
Article:  https://wordpress.org/support/article/calendar-block/

## Updating for 6.0
- [x] Add transform between calendar and archives. [38324](https://github.com/WordPress/gutenberg/pull/38324)

### Updating for 5.9
- [x] Refer to the [tracker](https://github.com/WordPress/Documentation-Issue-Tracker/issues/156)

## General
- [x] Make sure all screenshots are relevant for the current version (6.0

[2022-04-13 20:05] femkreations opened #275 "[HelpHub] Cover block"
Article:  https://wordpress.org/support/article/cover-block/

## Updating for 6.0
- [ ] Makes cover block dynamic and adds featured image binding. [39658](https://github.com/WordPress/gutenberg/pull/39658)
- [ ] Mention the upload error. [39428](https://github.com/WordPress/gutenberg/pull/39428)

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure

[2022-04-13 20:17] femkreations opened #276 "[HelpHub] Gallery block"
Article:  https://wordpress.org/support/article/gallery-block/

## Updating for 6.0
- [x] Move add/edit media to block toolbar. [38036](https://github.com/WordPress/gutenberg/pull/38036)
- [x] Auto-migration of v1 Gallery blocks to v2 format when edited [36191](https://github.com/WordPress/gutenberg/pull/36191)

**Explain the following features using video/screenshots:**
Use the gap support functi

[2022-04-13 20:26] femkreations opened #277 "[HelpHub] Heading block"
Article:  https://wordpress.org/support/article/heading-block/

## Updating for 6.0
- [x] Add note: remove anchor when transforming Heading to a Paragraph. [38604](https://github.com/WordPress/gutenberg/pull/38604)

### Updating for 5.9
- [x] Refer to the [tracker](https://github.com/WordPress/Documentation-Issue-Tracker/issues/123)

## General
- [x] Make sure all screenshots are relevant for the

[2022-04-13 20:37] femkreations opened #278 "[HelpHub] Image block"
Article:  https://wordpress.org/documentation/article/image-block/

## Updating for 6.3
- [x] Add image block aspect ratio control [51545](https://github.com/WordPress/gutenberg/pull/51545)
- [x] ~Image Lightbox: Add a reset button [51239](https://github.com/WordPress/gutenberg/pull/51239)~
- [x] Allow dragging-and-dropping images from the inserter to image blocks [49673](https://github.com/WordPr

[2022-04-13 20:53] femkreations opened #279 "[HelpHub] Paragraph block"
Article:  https://wordpress.org/support/article/paragraph-block/

## Updating for 6.0
- [ ] Merge text settings into typography panel. [36334](https://github.com/WordPress/gutenberg/pull/36334)
- [x] Add a link completer for inline links to posts. [29172](https://github.com/WordPress/gutenberg/pull/29172)

### Updating for 5.9
- [x] Refer to the [tracker](https://github.com/WordPress/Documentation

[2022-04-13 20:59] femkreations opened #280 "[HelpHub] Post Excerpt block"
Article:  https://wordpress.org/support/article/post-excerpt-block/

## Updating for 6.1
- [ ] Update the placeholder for post excerpt. [40178](https://github.com/WordPress/gutenberg/pull/40178)
- [ ] Remove redundant block name from "settings" panels [40275](https://github.com/WordPress/gutenberg/pull/40275)

## Updating for 6.0
- [ ] Add to and from Post Content transformations. [37651](https://

[2022-04-13 21:01] femkreations opened #281 "[HelpHub] Post Content block"
Article:  https://wordpress.org/support/article/post-content-block/

## Updating for 6.1
- [x] Update post content placeholder. [40177](https://github.com/WordPress/gutenberg/pull/40177)
- [x] Add typography supports. [43339](https://github.com/WordPress/gutenberg/pull/43339)
- [x] Add justification controls to constrained layout. [44065](https://github.com/WordPress/gutenberg/pull/44065)

## Upda

[2022-04-13 21:05] femkreations opened #282 "[HelpHub] Post Date block"
Article:  https://wordpress.org/support/article/post-date-block/

## Updating for 6.0
- [ ] Allow user to pick Site Default, a suggested date format, or a custom date format. [39209](https://github.com/WordPress/gutenberg/pull/39209)

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in sente

[2022-04-13 21:13] femkreations opened #283 "[HelpHub] Query Loop block"
Article:  https://wordpress.org/documentation/article/query-loop-block/

## Update for 6.2
- [x] Remove color block supports. [46147](https://github.com/WordPress/gutenberg/pull/46147)
- [x] Show pattern titles in setup [46688](https://github.com/WordPress/gutenberg/pull/46688)
- [x] Use BlockPatternsList component for Query block patterns modal [47366](https://github.com/WordPress/gutenberg/pull/

[2022-04-13 21:20] femkreations opened #284 "[HelpHub] Quote block"
Article:  https://wordpress.org/support/article/quote-block/

## Updating for 6.0
- [x] Remove the Large style option from the quote block. [37580](https://github.com/WordPress/gutenberg/pull/37580)
- [x] Add color support to the quote block. [39899](https://github.com/WordPress/gutenberg/pull/39899)

### Updating for 5.9
- [x] Refer to the [tracker](https://github.com/WordPress/Documentation-Issu

[2022-04-13 23:28] femkreations opened #285 "[HelpHub] Read More block"
## New page for 6.0
- [ ] Create a new article for the Read More block [37649](https://github.com/WordPress/gutenberg/pull/37649)
- [ ] Make sure the URL slug under Permalink is: read-more-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

## General
- [ ] Make sure all screenshots are releva

[2022-04-14 00:48] joyously opened #286 "Theme Handbook: hierarchy is shown as a bulleted list"
The formatting of the example list of files and folders is wrong. It's a unordered list instead of showing a hierarchy.

## URL of the Page with the Issue
https://developer.wordpress.org/themes/basics/linking-theme-files-directories/

## Section of Page with the issue
The list following this sentence:

Screenshot:
![Linking Theme Files Directories Theme Developer Handbook WordPress Developer Resou

[2022-04-14 03:58] nishitlangaliya commented on #181
HI @zzap ,

Thanks for your response. I would like to update the article. But currently somehow I am not able to give time. I am happy to do contribution. :)

Thanks

[2022-04-14 15:29] femkreations opened #287 "[HelpHub] Site Logo block"
## New page for 6.0
- [x] Create a new article for the Site Logo block
- [x] Make sure the URL slug under Permalink is: site-logo-block
- [x] At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [x] Add option to set site icon from the Site Logo block settings. [35892](https://github.com/WordPress/gutenberg/pull/35892)
- [x] Add transform between core/site-logo

[2022-04-14 15:36] femkreations opened #288 "[HelpHub] Social Icons block"
Article: https://wordpress.org/support/article/social-icons/

## Updating for 6.0
- [ ] Add the ability to show/hide labels. [38152](https://github.com/WordPress/gutenberg/pull/38152)

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in sentence case
- [ ] Update the changelog at the end of

[2022-04-14 15:45] femkreations opened #289 "[HelpHub] Spacer block"
Article:  https://wordpress.org/support/article/spacer-block/

## Updating for 6.3
- [x] Adapt flex child controls for Spacer [49362](https://github.com/WordPress/gutenberg/pull/49362)
- [x] Add spacing presets to the spacer block [44002](https://github.com/WordPress/gutenberg/pull/44002)

## Updating for 6.1
- [x] Add spacing block supports [43366](https://github.com/WordPress/gutenberg/pull/4336

[2022-04-14 16:06] femkreations opened #290 "[HelpHub] Tag Cloud block"
Article:  https://wordpress.org/support/article/tag-cloud-block/

## Updating for 6.0
- [x] Add outline style. [37092](https://github.com/WordPress/gutenberg/pull/37092)
- [x] Transforms between Tag Cloud and Categories. [38566](https://github.com/WordPress/gutenberg/pull/38566)

### Updating for 5.9
- [x] Refer to the [tracker](https://github.com/WordPress/Documentation-Issue-Tracker/issues/158)

[2022-04-14 16:24] femkreations opened #291 "[HelpHub]: Template Part block"
Article:  https://wordpress.org/documentation/article/template-part-block/

## Update for 6.3
- [x] Sort template parts by type in navigation screen. [50841](https://github.com/WordPress/gutenberg/pull/50841)
- [x] Add corresponding area icon to template part menu items. [52102](https://github.com/WordPress/gutenberg/pull/52102)
- [x] Library: Rename template parts to library. [50769](https://gith

[2022-04-14 16:33] tillkruss opened #292 "Add object caching section to optimization page"
## Issue Description

The new [Performance plugin](https://github.com/WordPress/performance) check for the existence of an object cache on larger sites. The health check links to an `object-caching` section, which needs to be added.

See https://github.com/WordPress/performance/pull/111

## URL of the Page with the Issue

[code]
## Suggested Fix

I can write up the section, unless someone else is

[2022-04-14 16:39] femkreations opened #293 "[HelpHub] Post Featured Image block"
Article:  https://wordpress.org/documentation/article/post-featured-image-block/

## Update for 6.3
- [x] Add aspect-ratio to post featured image block. [47854](https://github.com/WordPress/gutenberg/pull/47854)
- [x] Replace "Image size" with "Resolution" in image size controls [44190](https://github.com/WordPress/gutenberg/pull/44190)
- [x] Remove 16:10 from Post Featured Image [48969](https://g

[2022-04-14 19:35] femkreations opened #294 "[HelpHub] Stack block"
## New page for 6.0
- [ ] Create a new article for the Stack block [](url)
- [ ] New Group, Stack, Row block descriptions. [40176](https://github.com/WordPress/gutenberg/pull/40176)
- [ ] Improve Stack and Row setup states. [39935](https://github.com/WordPress/gutenberg/pull/39935)
- [ ] Make sure the URL slug under Permalink is: stack-block
- [ ] 	At the top of the page, under the title, add the 

[2022-04-14 19:37] femkreations opened #295 "[HelpHub] Row block"
## New page
- [ ] Create a new article for the Row block
- [ ] Make sure the URL slug under Permalink is: row-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.

## Updating for 6.0
- [ ] New Group, Stack, Row block descriptions. [40176](https://github.com/WordPress/gutenberg/pull/40176)
- [ ] Add Gap support. [37459](https://github.com/WordPress/g

[2022-04-14 19:38] femkreations opened #296 "[HelpHub] Group block"
Article:  https://wordpress.org/documentation/article/group-block/

## Updating for 6.2
- [x] use a variation picker in the placeholder [43496](https://github.com/WordPress/gutenberg/pull/43496)
- [x] unwrap inner block when pressing Backspace at start. [45075](https://github.com/WordPress/gutenberg/pull/45075)
- [x] Layout child fixed size should not be fixed by default and should always have a v

[2022-04-15 16:25] femkreations opened #297 "[HelpHub] Navigation block"
Article:  https://wordpress.org/documentation/article/navigation-block/

## Updating for 6.2
- [ ] Add layout child sizing to the Navigation block. [47584](https://github.com/WordPress/gutenberg/pull/47584)
- [ ] Allow multiple navigations with the same ref. [47453](https://github.com/WordPress/gutenberg/pull/47453)
- [ ] Remove the manage menus button from the selector. [47441](https://github.com

[2022-04-15 16:48] femkreations opened #298 "[HelpHub] Page List block"
## New page for 6.0
- [ ] Create a new article for the Page List block
- [ ] Make sure the URL slug under Permalink is: page-list-block
- [ ] At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Simplify loading state [38983](https://github.com/WordPress/gutenberg/pull/38983)
- [ ] Convert all reusable blocks to a ‘regular block’.

### Updating for 5.9
- [

[2022-04-16 05:01] #263 closed

[2022-04-18 16:52] femkreations opened #299 "[HelpHub] Block-based Widgets Editor"
Article: https://wordpress.org/support/article/block-based-widgets-editor/

## Updating for 6.0
- [ ] Add preview pane to widget editor. [37012](https://github.com/WordPress/gutenberg/pull/37012)
- [ ] Add a note that this feature is available from 5.8 onwards and with a classic theme that has widgets.

## General
- [x] Make sure all screenshots are relevant to the latest version
- [x] Make sure v

[2022-04-18 17:00] anyk17 commented on #163
Thanks @zzap I've completed the changes, let me know if anything else is needed 😃

[2022-04-18 17:40] femkreations opened #300 "[HelpHub] Reusable blocks"
Article:  https://wordpress.org/documentation/article/reusable-blocks/

## Updating for 6.3
- [x] Rename to 'Patterns' and add option to also add a non-synced Pattern. [51144](https://github.com/WordPress/gutenberg/pull/51144)

## Updating for 6.2
- [x] Colorize template parts and Reusable blocks. [45473](https://github.com/WordPress/gutenberg/pull/45473)
- [x] Move document information and outlin

[2022-04-18 17:56] femkreations opened #301 "[HelpHub] More options"
Article:  https://wordpress.org/support/article/more-options/

## Updating for 6.1
- [x] Block Locking: Add the 'Apply to inner blocks' option. [41876](https://github.com/WordPress/gutenberg/pull/41876)
- [x]  Improve content locking experience. [43956](https://github.com/WordPress/gutenberg/pull/43956)
- [x] Make it easier to select "Edit visually" when in "Edit as HTML [41516](https://github.com

[2022-04-18 19:48] femkreations opened #302 "[HelpHub] WordPress Editor"
Article:   https://wordpress.org/support/article/wordpress-editor/

## Updating for 6.1
- [x] Add estimated time to read to table of contents in editor [41611](https://github.com/WordPress/gutenberg/pull/41611)
- [x] Partial multi selection: limit if selection contains unmergeable block. [42934](https://github.com/WordPress/gutenberg/pull/42934)
- [x] Reduce active tab accent weight. [40998](https

[2022-04-18 19:49] femkreations opened #303 "[HelpHub] Page/Post Sidebar settings"
Article:  https://wordpress.org/support/article/settings-sidebar/

## Updating for 6.0
- [ ] Most Used Terms: Update show terms condition. [38513](https://github.com/WordPress/gutenberg/pull/38513)

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in sentence case
- [ ] Update the changelog

[2022-04-18 19:58] femkreations opened #304 "[HelpHub] List View"
Article:  https://wordpress.org/documentation/article/list-view/

## Updating for 6.2
- [ ] Update template part children background color [46708](https://github.com/WordPress/gutenberg/pull/46708)
- [ ] Update template part hover style in list view. [46707](https://github.com/WordPress/gutenberg/pull/46707)
- [ ] Disable branch expansion when block editing is locked [45541](https://github.com/Wor

[2022-04-19 03:37] femkreations opened #305 "[HelpHub] Site Editor"
Article:  https://wordpress.org/support/article/site-editor/

## Updating for 6.1
- [x] Update clear customizations copy for templates [41765](https://github.com/WordPress/gutenberg/pull/41765)
- [x] Add clear customizations to template card [41743](https://github.com/WordPress/gutenberg/pull/41743)
- [x]  Use the label 'Clear customizations' when changes are revertable [40935](https://github.com/

[2022-04-19 03:38] femkreations opened #306 "[HelpHub] Template Editor"
Article:  https://wordpress.org/support/article/template-editor/

## Updating for 6.0
- [ ] Update template home, front-page, and search template descriptions. [38132](https://github.com/WordPress/gutenberg/pull/38132)
- [ ] Change edit links for templates and template parts. [36294](https://github.com/WordPress/gutenberg/pull/36294)
- [ ] Update and align template descriptions.([36000](https://gi

[2022-04-19 13:29] zzap commented on #163
Thank you so much for working on this :heart:

[2022-04-19 13:29] #163 closed

[2022-04-19 13:39] zzap commented on #181
![toolbar](https://user-images.githubusercontent.com/1508963/164016766-bdbd8008-0e92-465d-ab5a-d0c98ea62d49.png)

[2022-04-19 13:50] #181 closed

[2022-04-19 13:52] zzap commented on #187
Looking good @Codebrother1 , thank you so much :heart:

Would you like to update the article yourself?

[2022-04-19 13:54] Codebrother1 commented on #187
Yes @zzap , I will update!

[2022-04-19 17:05] Codebrother1 commented on #187
@zzap The article is updated with a changelog at the end of the article 2022-04-19

https://wordpress.org/support/article/wordpress-embed/

[2022-04-19 17:06] femkreations opened #307 "[HelpHub] Keyboard shortcuts in Block Editor"
Article:  https://wordpress.org/support/article/block-editor-keyboard-shortcuts/

## Updating for 6.0
- [ ] Double escape unselects all blocks. [36945](https://github.com/WordPress/gutenberg/pull/36945)
- [ ] Add keyboard shortcut help modal. [37650](https://github.com/WordPress/gutenberg/pull/37650)

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make

[2022-04-19 17:16] #187 closed

[2022-04-19 17:20] anyk17 commented on #175
@zzap I was going to work on this one, but the /meetup block doesn't show for me. Is this still supported?

[2022-04-19 18:27] femkreations opened #308 "[HelpHub] Adding a new block"
Article:  https://wordpress.org/support/article/adding-a-new-block/

## Updating for 6.0
- [ ] Adjust order of theme blocks and reorder inserter items. [36719](https://github.com/WordPress/gutenberg/pull/36719)
- [ ] Accessibility improvements for Block Inserter. [37357](https://github.com/WordPress/gutenberg/pull/37357)
- [ ] Prioritize core blocks over core block variations when they have the sa

[2022-04-19 18:44] femkreations opened #309 "[HelpHub] List of blocks"
Article:  https://wordpress.org/support/article/blocks/

## Updating for 6.0
- [x] Update categories for theme blocks. [37723](https://github.com/WordPress/gutenberg/pull/37723)

### Updating for 5.9
- [ ] Refer to the [tracker](https://github.com/WordPress/Documentation-Issue-Tracker/issues/134)

## General
- [x] Make sure all screenshots are relevant for the current version (6.0)
- [x] Make sure

[2022-04-19 18:52] femkreations opened #310 "[HelpHub] Preferences overview"
Article:  https://wordpress.org/support/article/preferences-overview/

## Updating for 6.1
- [x] Remove the Template panel option from the Preferences modal. [42030](https://github.com/WordPress/gutenberg/pull/42030)
- [x] Editor preferences: update order and copy. [40981](https://github.com/WordPress/gutenberg/pull/40981)
- [x] Update the modal design. [40781](https://github.com/WordPress/gutenbe

[2022-04-19 19:14] anyk17 commented on #185
Screenshots update
![02-embed_link](https://user-images.githubusercontent.com/19748471/164078542-ce35231a-3c68-44a6-a444-bb3e95f25b06.jpg)
![03-ted_video](https://user-images.githubusercontent.com/19748471/164078545-f0e6ffd6-0d17-41f2-81f9-cf520e90fe04.jpg)
![04-preview](https://user-images.githubusercontent.com/19748471/164078548-f84c9d85-1629-483b-b0e6-5d2f44a5e05b.jpg)
![05-transform](https://u

[2022-04-20 01:49] TukuToi opened #311 "Missing semicolon in Theme Header Doc"
## Issue Description
In the [DOC for Theme Headers](https://developer.wordpress.org/themes/functionality/custom-headers/) there is a Code Snippet in the [initial section](https://developer.wordpress.org/themes/functionality/custom-headers/#custom-header). That snippet misses a Semicolon `;` resulting in a Fatal Error if copy pasted to a theme functions.php file.

## URL of the Page with the Issue

[2022-04-20 15:13] zzap commented on #135
![01-add-custom-html](https://user-images.githubusercontent.com/1508963/164263756-13d7432b-f385-4953-bcdb-73e8122ef430.png)
![02-custom-html](https://user-images.githubusercontent.com/1508963/164263762-91c8b6d3-985e-4b45-b908-cde86309fc05.png)
![03-custom-html-preview](https://user-images.githubusercontent.com/1508963/164263768-4e6a6c16-8e7c-4186-af0e-62464c6daf6c.png)
![04-custom-html-more](https

[2022-04-20 15:22] #135 closed

[2022-04-20 15:59] zzap commented on #145
![01-table-block-select](https://user-images.githubusercontent.com/1508963/164273160-d350a7cb-208e-4529-a378-b6e5a1f98f80.png)
![02-table-block-toolbar](https://user-images.githubusercontent.com/1508963/164273161-bc3a7e25-76a5-4213-af11-31953c782829.png)

[2022-04-20 16:05] #145 closed

[2022-04-20 16:34] pbiron opened #312 "Update the Formatting Date and Time page to mention using `wp_date()` instead of `date_i18n()`."
## Issue Description

Replace mentions of [date_i18n()](https://developer.wordpress.org/reference/functions/date_i18n/) with [wp_date()](https://developer.wordpress.org/reference/functions/wp_date/).

## URL of the Page with the Issue

https://wordpress.org/support/article/formatting-date-and-time/#localization

## Section of Page with the issue

[Localization](https://wordpress.org/support/articl

[2022-04-20 17:17] femkreations opened #313 "[HelpHub] Styles overview"
Article:  https://wordpress.org/support/article/styles-overview/

## Updating for 6.1
- [x] Allow setting Letter case and Decoration to 'None' and add Letter case to Global Styles. [44067](https://github.com/WordPress/gutenberg/pull/44067)
- [x] Block Spacing: using spacing controls for block gap values to support presets in the UI. [43466](https://github.com/WordPress/gutenberg/pull/43466)
- [x]

[2022-04-20 18:27] rmartinezduque commented on #248
Hi @zzap,

I updated the [Google doc](https://docs.google.com/document/d/13sMdVIiSUBpTLJScDBGNe2Gdqh8-ovAPC-BLxn_RUaI/edit) with some minor changes that the Wolfram team requested.

They also suggested this:

(1) Change the following sentence to include links to Wolfram Notebooks for more information:

I don't see similar links in other HelpHub articles, so I would like you to confirm if this is p

[2022-04-20 18:52] femkreations opened #314 "[HelpHub] Comment block"
## New page
- [ ] Create a new article for the Comments block.
- [ ] Make sure the URL slug under Permalink is: comments-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

## Updating for 6.1
- [ ] Prevent comments rendering on password protected posts [40755](https://github.com/WordPress/gut

[2022-04-20 18:53] femkreations opened #315 "[HelpHub] Comment Template block"
## New page for 6.0
- [ ] Create a new article for the Comment Template block.
- [ ] Make sure the URL slug under Permalink is: comment-template-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

### Updating for 5.9
- [ ] Refer to the [tracker](https://github.com/WordPress/Documentation-Issu

[2022-04-20 20:27] femkreations opened #316 "[HelpHub] Comments Pagination block"
## New page for 6.0
- [x] Create a new article for the Comments Pagination block [36872](https://github.com/WordPress/gutenberg/pull/36872)
- [x] Make sure the URL slug under Permalink is: comments-pagination-block
- [x] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [x] Convert all reusable blocks to a ‘regular block’.

### Updating for 5.9
- [ ] Refer

[2022-04-20 20:34] femkreations opened #317 "[HelpHub] Comment Author Avatar block"
## New page for 6.0
- [ ] Create a new article for the Comment Author Avatar block
- [ ] Make sure the URL slug under Permalink is: comment-author-avatar-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.
- [ ] Add x2 to URL string that defines the image size by default. [39728](https://github

[2022-04-20 20:36] femkreations opened #318 "[HelpHub] Comment Author Name block"
## New page for 6.0
- [x] Create a new article for the Comment Author Name block
- [x] Make sure the URL slug under Permalink is: comment-author-name-block
- [x] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [x] Convert all reusable blocks to a ‘regular block’.

### Updating for 5.9
- [ ] Refer to the [tracker](https://github.com/WordPress/Documentation

[2022-04-20 20:41] femkreations opened #319 "[HelpHub] Comment Date block"
## New page for 6.0
- [ ] Create a new article for the Comment Date block
- [ ] Make sure the URL slug under Permalink is: comment-date-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

### Updating for 5.9
- [ ] Refer to the [tracker](https://github.com/WordPress/Documentation-Issue-Tracker

[2022-04-20 20:47] femkreations opened #320 "[HelpHub] Comment Content block"
## New page for 6.0
- [ ] Create a new article for the Comment Content block
- [ ] Make sure the URL slug under Permalink is: comment-content-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

### Updating for 5.9
- [ ] Refer to the [tracker](https://github.com/WordPress/Documentation-Issue-T

[2022-04-20 20:49] femkreations opened #321 "[HelpHub] Comment Reply Link block"
## New page for 6.0
- [ ] Create a new article for the Comment Reply Link block
- [ ] Make sure the URL slug under Permalink is: comment-reply-link-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

### Updating for 5.9
- [ ] Refer to the [tracker](https://github.com/WordPress/Documentation-I

[2022-04-20 20:51] femkreations opened #322 "[HelpHub] Comment Edit Link block"
## New page for 6.0
- [ ] Create a new article for the Comment Edit Link block
- [ ] Make sure the URL slug under Permalink is: comment-edit-link-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.
- [ ] Add the missing comment edit link icon. [36565](https://github.com/WordPress/gutenberg/pull

[2022-04-20 20:56] femkreations opened #323 "[HelpHub] Comment Pagination Page Numbers block"
## New page for 6.0
- [ ] Create a new article for the Comment Pagination Page Numbers block ([36890](https://github.com/WordPress/gutenberg/pull/36890))
- [ ] Make sure the URL slug under Permalink is: comment-page-numbers-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

## General
- [ ] M

[2022-04-20 21:01] femkreations opened #324 "[HelpHub] Comment Pagination Next Page block"
## New page for 6.0
- [ ] Create a new article for the Comment Pagination Next Page block ([36562](https://github.com/WordPress/gutenberg/pull/36562))
- [ ] Make sure the URL slug under Permalink is: comment-next-page-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

## General
- [ ] Make su

[2022-04-20 21:02] femkreations opened #325 "[HelpHub] Comment Pagination Previous Page block"
## New page for 6.0
- [ ] Create a new article for the Comment Pagination Previous Page block ([36912](https://github.com/WordPress/gutenberg/pull/36912))
- [ ] Make sure the URL slug under Permalink is: comment-previous-page-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

## General
- [ ]

[2022-04-21 05:03] stevenlin-x commented on #312
1.)
Thanks for the report.

2.)
There is another issue with the functions mentioned on the page. The is a user support page, not DevHub.

The parts about `date_i18n()` and `wp_date()` could be too technical to be mentioned on this HelpHub page to begin with. On the other hand, relocating these parts could be a different matter as outlined in #42.

[2022-04-26 14:53] zzap commented on #175
@anyk17 it has been removed (see [#35085](https://github.com/WordPress/gutenberg/issues/35085)). Let's leave this one for discussion at meeting to see how are we going to deal with it.

[2022-04-26 19:16] bph opened #326 "Release Work: Tracking Issue for Field Guide "But Wait, There is More!" responses from component maintainers"
Resource links:

- [Publishing Field Guide](https://make.wordpress.org/core/handbook/tutorials/publishing-the-field-guide/)
- [Tracking issue Component Outreach ](https://github.com/WordPress/gutenberg/issues/40609)(should have been started in this repo)

The items for the section are collected in the comments.
Suggested format:
`Component Name: Trac Ticket Summary (#Trac-Number).`

[2022-04-26 19:20] bph commented on #326
Media: Store file size media metadata [#41412](https://core.trac.wordpress.org/ticket/49412) - The internal code for image uploading has been updated to store the file size for each generated image size, not just the original.
props @desrosj

[2022-04-26 19:32] bph commented on #326
Upgrade/Install: Add filter to modify description in plugin card [#55480](https://core.trac.wordpress.org/ticket/55480)
Paul Biron to write a draft for `Misc Dev Note`

[2022-04-26 19:37] bph commented on #326
**Build/Test Tools**

- A .git-blame-ignore-revs file has been added to the repository with a curated list of “pinking shear” commits (ones only applying stylistic changes), making the blame feature on GitHub much more useful [#55422](https://core.trac.wordpress.org/ticket/55422)

- Webpack and all related build processes/scripts have been updated to version 5 [#51750](https://core.trac.wordpress.

[2022-04-26 19:42] bph commented on #326
**Comments:** Speeding up Dashboard and Comment moderation SQL load - #[19901](https://core.trac.wordpress.org/ticket/19901)
props @imath

[2022-04-26 19:51] bph commented on #326
**External libraries:**

- The Underscore.js and Backbone.js libraries have been updated to the latest versions [#55547](https://core.trac.wordpress.org/ticket/55547).
- PHPMailer has been updated to the latest version [#55277](https://core.trac.wordpress.org/ticket/55277).
- Sodium Compat has been updated to the latest version [#55453](https://core.trac.wordpress.org/ticket/55453).
- Random_Compa

[2022-04-26 20:06] bph commented on #326
**Network/Sites**: Improve cache key generation in WP_Site_Query [#55462](https://core.trac.wordpress.org/ticket/55462)

props Jonny Harris

[2022-04-26 20:11] bph commented on #326
**i18n**

- List item separator should be a WP_Locale property [#39733](https://core.trac.wordpress.org/ticket/39733)
- Allow languages path in register_block_type [#54797](https://core.trac.wordpress.org/ticket/54797)

Props @swissspidy

[2022-04-27 00:00] anyk17 commented on #185
Yes, definitely. I can take care of the update 😄

[2022-04-27 11:46] anyk17 commented on #218
Hey! I'd like to work on this task

[2022-04-28 09:00] stevenlin-x commented on #311
I've revised the code.

[2022-04-28 09:02] #311 closed

[2022-04-29 10:31] zzap opened #327 "Migrate CSS page from Codex to HelpHub"
## What is the new page you are requesting?

https://codex.wordpress.org/CSS

This page is linked to from WordPress customizer (Additional CSS) panel.
![image](https://user-images.githubusercontent.com/1508963/165928401-db1c92ce-0852-4ffc-ad03-1d0c5c03de2c.png)

## How will this new page help you?

It will be in new documentation where we direct all end users to look for information.

[2022-04-29 14:48] pbiron commented on #312
thanx

[2022-04-29 16:58] rmartinezduque commented on #248
The HelpHub article is now published: https://wordpress.org/support/article/wolfram-embed/ as agreed. @zzap let me know when you have a chance to review the links and I'll add them to the article if necessary. Thanks again!

[2022-04-29 18:43] bph commented on #326
Thank you @sabernhardt. - I added it to our [Misc Dev note](https://docs.google.com/document/d/1Zlq7Ep14nZPaC1GUEvI_spgPxV4xfCWPl4T9tKVPn_I/edit#) Document as is.

[2022-05-01 01:55] anyk17 commented on #218
I've created this draft https://wordpress.org/support/wp-admin/post.php?post=15596148&action=edit. Let me know if it's ok to publish

[2022-05-02 09:32] zzap commented on #326
Marking published/added to FG with :+1:

[2022-05-04 08:36] atachibana commented on #124
This issue will be fixed with #279.

[2022-05-04 08:36] #124 closed

[2022-05-04 08:40] atachibana commented on #279
From #124
- Add Keyboard Input inline format - https://github.com/WordPress/gutenberg/pull/26801

I created the draft document and will enhance it to the HelpHub article.

@zzap @femkreations
Please feel free to comment below document or this issue.
https://docs.google.com/document/d/1Br4YavsM4kd2hG5e980WjbHgQkbZLCIfGeWF8T7kxwo/edit?usp=sharing

[2022-05-07 06:02] stevenlin-x commented on #327
It's created:
https://wordpress.org/support/article/css/

The links on the article that have equivalent on HelpHub are replaced.

The rest remain the same.

[2022-05-09 10:43] zzap commented on #279
Hi @atachibana , great work on this, thank you so much :heart:

I would just add one thing. Since block locking is for every block I'd create reusable block for that part. Once inserted into the article it **has** to be converted to regular block for two reasons:

- reusable blocks are not visible for locales on rosetta sites
- the screenshot can be safely updated to match the block name

[2022-05-09 10:59] zzap commented on #248
@rmartinezduque thank you so much, looks great. As for the links, the first one is OK. The second one leads to API reference which is for developers and has no value to our end users whatsoever so we'll not add it.

Do you want to add it yourself?

[2022-05-09 11:01] zzap commented on #185
Thank you :heart:

[2022-05-09 11:01] #185 closed

[2022-05-09 11:12] zzap opened #328 "Migrating Know Your Sources from Codex to DevHub?"
## What is the new page you are requesting?

https://codex.wordpress.org/Know_Your_Sources

## How will this new page help you?

This is a curated list of helpful resources. Or it should be.

## The question

Where will it live? It's more development oriented and could be a good candidate for Advanced (still non existent handbook).

[2022-05-09 11:18] zzap opened #329 "Migrate Templates from Codex to DevHub"
## What is the new page you are requesting?

https://codex.wordpress.org/Templates

## How will this new page help you?

It should be in DevHub, most likely candidate for new, Advanced, handbook.

[2022-05-09 11:33] zzap opened #330 "Migrate Templates Tags from Codex to DevHub"
## What is the new page you are requesting?

https://codex.wordpress.org/Template_Tags

## How will this new page help you?

It should be in DevHub, most likely candidate for Common APIs handbook.

[2022-05-09 11:35] zzap opened #331 "Migrate Stepping into Templates from Codex to DevHub"
## What is the new page you are requesting?

https://codex.wordpress.org/Stepping_Into_Templates

## How will this new page help you?

It should be in DevHub, most likely candidate for Common APIs handbook.

[2022-05-09 11:46] zzap opened #332 "Migrate Site Architecture 1.5 (?) from Codex to DevHub"
## What is the new page you are requesting?

https://codex.wordpress.org/Site_Architecture_1.5

## How will this new page help you?

It should be in DevHub, most likely candidate for Common APIs handbook.

## Tasks

- [ ] Review and target outdated parts for removal
- [ ] Check all links on the page
- [ ] Links pointing to Codex pages should be replaced with equivalents from DevHub/HelpHub
- [ ] F

[2022-05-09 11:49] zzap opened #333 "Migrate The Loop in Action from Codex to DevHub"
## What is the new page you are requesting?

https://codex.wordpress.org/The_Loop_in_Action

## How will this new page help you?

It should be in DevHub, most likely candidate for Common APIs handbook.

## Tasks

- [ ] Review and target outdated parts for removal
- [ ] Check all links on the page
- [ ] Links pointing to Codex pages should be replaced with equivalents from DevHub/HelpHub
- [ ] For

[2022-05-09 12:52] atachibana commented on #279
@zzap
Thank you. Please feel free to modify the article or let me modify it when you are ready.
Also, I updated the article base on your comments on Google Docs. Thanks, again.

[2022-05-09 17:26] femkreations opened #334 "[HelpHub] Appearance Menu"
Article:  https://wordpress.org/support/article/appearance-menus-screen/

## Updating for 6.0
- [ ] Add a Note:: Remove Navigation Menus from the Appearance menu. [37212](https://github.com/WordPress/gutenberg/pull/37212)

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in sentence case
- [

[2022-05-09 18:08] femkreations opened #335 "[HelpHub] Update block styles for Tag Cloud block"
Articles:
https://wordpress.org/support/article/tag-cloud-block/

## Updating for 6.0
- [ ] Block Styles: Show style preview when hovered or focused. [34522](https://github.com/WordPress/gutenberg/pull/34522)

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure the headings are in sent

[2022-05-09 19:10] femkreations opened #336 "[HelpHub] Update border properties in the Border Settings panel"
Articles:
https://wordpress.org/support/article/search-block/
https://wordpress.org/support/article/pullquote-block/
https://wordpress.org/support/article/group-block/
https://wordpress.org/support/article/code-block/
https://wordpress.org/support/article/table-block/
https://wordpress.org/support/article/buttons-block/
https://wordpress.org/support/article/image-block/

Make the screenshot update

[2022-05-09 19:14] femkreations opened #337 "[HelpHub] Search block"
Article:  https://wordpress.org/support/article/search-block/

### Updating for 5.9
- [ ] Refer to the [tracker](https://github.com/WordPress/Documentation-Issue-Tracker/issues/160)

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in sentence case
- [ ] Update the changelog at the end of th

[2022-05-09 20:31] femkreations opened #338 "[HelpHub] Block Patterns"
Articles:
https://wordpress.org/support/article/block-pattern/
https://wordpress.org/support/article/pages-add-new-screen/
https://wordpress.org/support/article/submit-your-block-pattern-to-the-directory/

Update the above articles for the tracker listed below.

## Updating for 6.0
- [ ] Add: Option to pick a pattern on page creation. [40034](https://github.com/WordPress/gutenberg/pull/40034)

##

[2022-05-09 20:37] femkreations opened #339 "[HelpHub] Audio block"
Article:  https://wordpress.org/documentation/article/audio-block/

## Updating for 6.2
- [ ] Add toolbar button to add/remove caption. [45112](https://github.com/WordPress/gutenberg/pull/45112)

## Updating for 6.1
- [ ] Add: content role to relevant audio block attributes. [44037](https://github.com/WordPress/gutenberg/pull/44037)
- [ ]  Display upload error notices using snackbars. [43891](http

[2022-05-09 20:42] femkreations opened #340 "[HelpHub] Media+Text Block"
Article:  https://wordpress.org/support/article/media-text-block/

## Updating for 6.1
- [ ] Improve content locking on media & text block. [44036](https://github.com/WordPress/gutenberg/pull/44036)
- [ ] Add __experimentalRole attributes to media text block. [43957](https://github.com/WordPress/gutenberg/pull/43957)
- [ ] Display upload error notices using snackbars. [43890](https://github.com/Wo

[2022-05-09 20:49] femkreations opened #341 "[HelpHub] RSS block"
Article:  https://wordpress.org/support/article/rss-block/

## Updating for 6.0
- [ ] RSS: Update max items. [39819](https://github.com/WordPress/gutenberg/pull/39819)

## General
- [ ] Make sure all screenshots are relevant for the current version (6.0)
- [ ] Make sure videos are up to date
- [ ] Make sure the headings are in sentence case
- [ ] Update the changelog at the end of the article

[2022-05-12 13:11] carolinan opened #342 "Theme developer handbook: Add a dedicated page for patterns"
## What is the new page you are requesting?

A dedicated page about how to register and use block patterns.
A page that will refer back to the block editor handbook page at https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/

## How will this new page help you?

Right now, it seems that information about block patterns in themes is spread out over several pages:

[2022-05-12 13:17] carolinan opened #343 "Theme developer handbook: Update "Creating new themes using the Site Editor" for 6.0"
## Issue Description

The Site Editor export function has been improved or extended in WordPress 6.0, and the article refers to more limited features in WordPress 5.9.

## URL of the Page with the Issue

https://developer.wordpress.org/themes/block-themes/creating-new-themes-using-the-site-editor/

## Section of Page with the issue

## Why is this a problem?

The information is out of date and doe

[2022-05-12 13:23] carolinan commented on #343
You can assign this issue to me

[2022-05-12 13:29] carolinan opened #344 "Theme developer handbook: Update the theme.json page for 6.0"
## Issue Description

The page should be updated to include information about style variations added in 6.0.

## URL of the Page with the Issue

https://developer.wordpress.org/themes/advanced-topics/theme-json/

## Section of Page with the issue

## Why is this a problem?

It is missing information about new features.

## Suggested Fix

The information about style variations can be moved from the

[2022-05-12 20:59] TeBenachi opened #345 "Create a new section for “Reporting Theme security issue”"
## Purpose

This new section will explain how the theme team responds to vulnerability reporting and improve communications with security researchers or reporters. The theme team relies on the security researchers for discovery and communication with the developers when vulnerabilities are discovered in themes.

I think it’s a good idea to create a new section explaining how we respond to such rep

[2022-05-12 21:21] bph commented on #326
Huge thank you to @zzap for putting the Fieldguide together for 6.0

[2022-05-12 21:21] #326 closed

[2022-05-13 04:37] carolinan commented on #344
It feels short, can we explain what it is used for, maybe give an example from Twenty Twenty-two color and font variation?

[2022-05-13 08:44] leonidasmi commented on #334
I'm currently working on this :)

[2022-05-13 08:50] michaelbriantina commented on #337
I'll check on this issue.

[2022-05-13 08:55] manuelaugustin commented on #338
I'll check this article

[2022-05-13 09:04] jaz-on commented on #300
@zzap I'll have a look at this one.

[2022-05-13 09:12] hdvos commented on #341
Working on this

[2022-05-13 09:12] michaelbriantina commented on #337
I noticed there are no screenshots or written sections for the 'use button with icon'

![image](https://user-images.githubusercontent.com/30507511/168250288-97fdf62e-220f-41d2-93e1-663d7bf1a16e.png)

![image](https://user-images.githubusercontent.com/30507511/168250326-93cf75e3-30cb-4b90-9f1a-200bbfdd81da.png)

--

The 'more options' setting shows slightly different options now as well

![image](h

[2022-05-13 09:16] pls78 commented on #339
I'm working on this! :)

[2022-05-13 09:21] leonidasmi commented on #334
1st image (not sure if the difference is big enough to warrant an update - The `Bulk Select` seems to be removed):
Old:
![image](https://user-images.githubusercontent.com/12400734/168248949-f19a1a73-2c02-4eab-84d1-faaff57dbd07.png)
New:
![image](https://user-images.githubusercontent.com/12400734/168252418-174b8668-e865-46a7-bf7e-290db16190ba.png)

2nd image ([Adding Items to a Menu](https://wordpr

[2022-05-13 09:24] zzap commented on #334
Yes, that is a big difference. Thank you so much @leonidasmi :heart:

[2022-05-13 09:28] michaelbriantina commented on #340
The 'transform to' option now has a few more options

<img width="321" alt="image" src="https://user-images.githubusercontent.com/30507511/168252955-f868282c-8f3a-4f77-ab91-33b26d11051c.png">

--

There's also now an option of 'none' aside from just 'wide width' and 'full width'

<img width="240" alt="image" src="https://user-images.githubusercontent.com/30507511/168253211-7717cddd-8357-4d8a-bddf-

[2022-05-13 09:29] hdvos commented on #341
<img width="618" alt="Screenshot 2022-05-13 at 11 10 05" src="https://user-images.githubusercontent.com/26040749/168251764-3fe0c7fa-b6c6-44a6-b9d8-2d6d00f5cfb9.png">
<img width="598" alt="Screenshot 2022-05-13 at 11 14 50" src="https://user-images.githubusercontent.com/26040749/168252278-229f6db5-d5a8-4087-b276-2029381c2934.png">
<img width="281" alt="Screenshot 2022-05-13 at 11 16 18" src="https:

[2022-05-13 09:31] michaelbriantina commented on #310
I'll check on this!

[2022-05-13 09:34] leonidasmi commented on #268
I'm currently working on the screenshots for this :)

[2022-05-13 09:43] hdvos commented on #309
I am working on this

[2022-05-13 09:45] michaelbriantina commented on #310
The Preferences 'General' section now has slightly different options and headings.

It looks like the 'Appearance' section has been removed and merged together with the 'General' section as the 'display button labels' and 'use theme styles' options are now in the 'General' section.

<img width="755" alt="image" src="https://user-images.githubusercontent.com/30507511/168255432-8756944a-37f2-46b8-9f

[2022-05-13 09:49] michaelbriantina commented on #284
I'll check on this!

[2022-05-13 09:52] suascat commented on #277
I will work on this issue...

[2022-05-13 09:54] jaz-on commented on #300
Ping @zzap

**Quick notes:**
- https://wordpress.org/support/article/reusable-blocks/#edit-reusable-block : need review, not sure this is still working on the same way on 6.0 rc2
- https://wordpress.org/support/article/reusable-blocks/#remove-a-reusable-block : I didn't manage to reproduce this on 6.0 rc2

I generate new gifs for the article and saved it for being published on May 31th:
https://wo

[2022-05-13 09:58] hdvos commented on #309
All blocks seem to be organized differently. I will add the screenshots according to the new organization.

TEXT
<img width="296" alt="Screenshot 2022-05-13 at 11 45 38" src="https://user-images.githubusercontent.com/26040749/168257842-9cf17769-ad5d-496f-a3b8-6aab5c145ef7.png">

MEDIA
<img width="307" alt="Screenshot 2022-05-13 at 11 51 27" src="https://user-images.githubusercontent.com/26040749/1

[2022-05-13 10:00] michaelbriantina commented on #284
The 'Transform to' section how has 'columns' as an option, as well as the Styles section

![image](https://user-images.githubusercontent.com/30507511/168258929-91c7c77d-98ed-4f9f-8d75-bccdca0fc5dc.png)

--

The color settings after transforming it into a 'group' block now appear differently for both text and background

![image](https://user-images.githubusercontent.com/30507511/168259382-f110c02c

[2022-05-13 10:05] pls78 commented on #339
Here is the updated video:
https://user-images.githubusercontent.com/68744851/168261110-0cd9c47c-cd95-4830-88ac-d4c8d4cdbaf1.mp4

Screenshots follow, the number in the filenames (and the order in which they appear here) is related to the order of the screenshots in the doc.
<img width="524" alt="Screenshot 1" src="https://user-images.githubusercontent.com/68744851/168261377-14b81491-90c9-4ec3-92c6

[2022-05-13 10:05] manuelaugustin commented on #338
Here are updated screenshots for https://wordpress.org/support/article/block-pattern/#how-to-use-a-block-pattern. There were only some very minor changes in the interface as far as I can see.

![contextual patterns](https://user-images.githubusercontent.com/27805437/168261451-03749bcb-6d87-44c0-9f06-c78d052fff3f.jpeg)
![edit block](https://user-images.githubusercontent.com/27805437/168261455-6a46f

[2022-05-13 10:06] zzap commented on #338
Thank you so much @manuelaugustin :heart:

[2022-05-13 10:07] zzap commented on #339
Thank you @pls78 :heart:

[2022-05-13 10:37] suascat commented on #277
As tested in WP Version 6.0-RC2, transforming Heading to a Paragraph automatically removes the anchor text.

Some screenshots that need to be updated:

More Text Editing Options
![more-text-editing-options](https://user-images.githubusercontent.com/9716719/168265737-4640cdbf-12be-4c71-a243-54a63f21586b.png)

More Options
![more-options](https://user-images.githubusercontent.com/9716719/168265793-2

[2022-05-13 11:07] pls78 commented on #313
I'm working on this :)

[2022-05-13 11:08] manuelaugustin commented on #336
I'll make a start on checking the screenshots for the articles mentioned in this issue

[2022-05-13 11:14] hdvos commented on #335
I am starting on the screenshots.

[2022-05-13 11:21] leonidasmi commented on #268
_1st image(Here’s what it looks like when it’s embedded in the Editor):_
**Old:**
![image](https://user-images.githubusercontent.com/12400734/168256695-22c81a41-88e6-470e-89ab-3e7437ff79e8.png)
**New:**
![image](https://user-images.githubusercontent.com/12400734/168258054-3e59b0ba-71ac-4491-8755-e29b898be0fc.png)

_2nd image (Add Archives block with a slash command):_
**Old:**
![image](https://use

[2022-05-13 11:27] suascat commented on #303
I'm working on screenshots.

[2022-05-13 11:38] leonidasmi commented on #271
I'm working on the screenshots for this :)

[2022-05-13 11:46] suascat commented on #303
I found just 1 screenshot that needs to be updated.

![preferences](https://user-images.githubusercontent.com/9716719/168276841-8f6ad1a5-1954-443d-85d4-25858db68ec2.png)

[2022-05-13 11:47] pls78 commented on #313
Here is the updated video: https://user-images.githubusercontent.com/68744851/168276796-50967efd-2574-45d1-96d9-f6b054540463.mp4

Screenshots follow, the number in the filenames (and the order in which they appear here) is related to the order of the screenshots in the doc.
<img width="291" alt="Screenshot 1" src="https://user-images.githubusercontent.com/68744851/168276821-b295e22d-d595-450b-82b5

[2022-05-13 11:52] pls78 commented on #308
I'm starting working on this!

[2022-05-13 12:00] zzap commented on #268
Thank you so much :heart:

[2022-05-13 12:00] manuelaugustin commented on #336
Below you can find updated screenshots, divided by article.

## Search block

### Block settings
![block settings](https://user-images.githubusercontent.com/27805437/168278605-3acb8c18-136c-4ebb-88af-2facd1d9cab7.jpeg)

### Button position
![button position](https://user-images.githubusercontent.com/27805437/168278608-c3bd6606-6c11-4eff-ad65-7b6f2a8b9649.jpeg)

### More options
![more options](htt

[2022-05-13 12:03] hdvos commented on #335
# Image Block
<img width="673" alt="Screenshot 2022-05-13 at 13 16 47" src="https://user-images.githubusercontent.com/26040749/168272591-e021ee84-e2ba-4e9d-93b0-45f3e4e03cc9.png">
<img width="368" alt="Screenshot 2022-05-13 at 13 19 15" src="https://user-images.githubusercontent.com/26040749/168272923-8857f154-85ef-4841-8836-6800b128097c.png">

<img width="620" alt="Screenshot 2022-05-13 at 13 21

[2022-05-13 12:05] suascat commented on #301
Updating screenshots ...

[2022-05-13 12:06] leonidasmi commented on #271
_1st image_
**Old:**
![image](https://user-images.githubusercontent.com/12400734/168276053-1fa0a406-779a-48e7-a55e-0f5ff8744b88.png)

**New:**
![image](https://user-images.githubusercontent.com/12400734/168275970-549198cf-a931-4df1-b322-ea99f14ae928.png)

_2nd image_
**Old:**
![image](https://user-images.githubusercontent.com/12400734/168276518-a2cdca4c-543b-445d-b77c-560b8f893a54.png)

**New:**
!

[2022-05-13 12:06] leonidasmi commented on #274
I'm working on the screenshots for this! :)

[2022-05-13 12:09] jaz-on commented on #300
Here are the gifs I used, I revert the changes I prepared on the documentation:

![convert a reusable block to regular block 20220513](https://user-images.githubusercontent.com/56646501/168280141-23fcae6e-29fe-42d2-96b4-0c9dd4700fbd.gif)
![Create a Reusable Block 20220513](https://user-images.githubusercontent.com/56646501/168280148-67584460-ed2c-41e8-bb5d-66f6c58923dc.gif)
![Demonstration of the

[2022-05-13 12:13] jaz-on commented on #308
Here are the new screenshots:

![full admin screen 20220513](https://user-images.githubusercontent.com/56646501/168280604-d1d4ce78-74ab-4bbf-bfbc-30289e274d2d.png)
![full screen the inserter 20220513](https://user-images.githubusercontent.com/56646501/168280606-8b322f40-b469-45b0-8ca1-b159437b4b40.png)
![insert before:after actual block 20220513](https://user-images.githubusercontent.com/56646501/

[2022-05-13 12:14] jaz-on commented on #308
Oh f... sorry @pls78 I forget to say I was working on it... :/

[2022-05-13 12:14] suascat commented on #301
More options:

![more-options](https://user-images.githubusercontent.com/9716719/168279594-5f64add2-8da1-4794-a1e3-4ff81c505d2a.png)

You will notice new menu item "Lock". (Lock Paragraph).
**Lock** menu item description is missing as per the new screenshot in the documentation.

Clicking this menu time will have this new pop-up:

Lock paragraph:

![lock-paragraph](https://user-images.githubuserco

[2022-05-13 12:17] zzap commented on #308
thank you so much :raised_hands:

[2022-05-13 12:18] zzap commented on #301
Thank you :heart:

[2022-05-13 12:20] jaz-on commented on #300
FYI it's easy to replace the videos, just look at the files names. :)

[2022-05-13 12:23] jaz-on commented on #281
@zzap I'm taking this one

[2022-05-13 12:31] suascat commented on #273
Working on updating the screenshots

[2022-05-13 12:39] suascat commented on #273
Categories alignment:

![new-categories-align](https://user-images.githubusercontent.com/9716719/168283978-5fe3f2a6-2565-457d-ae19-8e919547b91c.png)

Additional menu items as per screenshot:

- None
- Wide width
- Full width

Categories settings:
![categories-block-settings](https://user-images.githubusercontent.com/9716719/168284385-bb60d81c-a25a-497f-a4dd-3bcf093e2950.png)

Additional menu items

[2022-05-13 12:41] leonidasmi commented on #274
_1st image:_
**Old:**
![image](https://user-images.githubusercontent.com/12400734/168280427-674451e1-ebac-4236-aa5e-16abf1aa4700.png)

**New:**
![image](https://user-images.githubusercontent.com/12400734/168280358-2f52d369-0e00-404e-aabd-396e74bf4099.png)

_2nd image:_
**Old:**
![image](https://user-images.githubusercontent.com/12400734/168281103-121f9958-afb4-4579-8f55-65a11f5233e2.png)

**New:**

[2022-05-13 12:53] hdvos commented on #335
# Quote Block

<img width="324" alt="Screenshot 2022-05-13 at 14 11 13" src="https://user-images.githubusercontent.com/26040749/168280449-e5f2e546-b8b1-4dce-b8ab-491935cdc2ea.png">

<img width="651" alt="Screenshot 2022-05-13 at 14 21 47" src="https://user-images.githubusercontent.com/26040749/168282071-4187d5aa-640a-4bec-b1bc-98ca3d3386e3.png">

<img width="649" alt="Screenshot 2022-05-13 at 14 2

[2022-05-13 12:54] hdvos commented on #335
I did not get to:
https://wordpress.org/support/article/table-block/
https://wordpress.org/support/article/buttons-block/
https://wordpress.org/support/article/separator-block/
https://wordpress.org/support/article/tag-cloud-block/
https://wordpress.org/support/article/social-icons/
https://wordpress.org/support/article/wordpress-editor/

[2022-05-13 13:00] zzap commented on #309
Thank you so much :heart:

[2022-05-13 18:47] TeBenachi commented on #345
I'm not so certain about the time line but would appreciate any inputs.

### Reporting Plugin Security Issues

If you find security issues in a theme, please make every attempt to contact the developer directory before contacting us. Or you can report it to security researchers or firms that help you create CVE numbers and communicate with the vendors.

If you cannot contact them directly, please

[2022-05-14 10:19] stevenlin-x commented on #327
1.)
The trac ticket to change the linked text was filed and committed.
https://core.trac.wordpress.org/ticket/55710

I also redirected the CSS Codex page.

2.)
In the opened Issues listed above, it seems each of the Codex page listed in the Issue also link to other Codex pages in its content, and each of those linked Codex pages could potentially link to other Codex pages.

So if you edit this way

[2022-05-14 11:45] rmartinezduque commented on #248
Sure, I have just added the first link to the guide and updated the changelog. Thank you @zzap!

[2022-05-15 06:18] femkreations commented on #302
@zzap @bph I've updated [WordPress Block Editor](https://wordpress.org/support/article/wordpress-editor/) page. It is scheduled for publishing on May 23rd. Pls review and let me know.
I have moved the block related information to a new page https://wordpress.org/support/article/working-with-blocks/ and added in a lot of the tracker items on this page (all related to the blocks)

[2022-05-15 20:39] TeBenachi commented on #344
Good point 😅

Revised below :)

===

Global Styles variations

A theme can have multiple JSON files for offering different styles at the top-level settings. When users select the additional style, it will overwrite the styles on the default theme.json. There are several requirements to keep in mind.

- The minimum required WordPress version is 6.0.
- The default theme.json must be located in the r

[2022-05-16 03:13] carolinan commented on #344
_When users select the additional style_

Where? :)

[2022-05-16 10:18] TeBenachi commented on #344
Thank you so much for reviewing Carolina!
I keep forgetting this is a brand new feature ☺️

_When users select the additional style under the Browse Styles in the side editor._

I update the theme.json page with the new content at the bottom of the page.
https://developer.wordpress.org/themes/advanced-topics/theme-json/?preview_id=136564&preview_nonce=d04e0a1fa2&preview=true

[2022-05-16 16:56] SavPhill opened #346 "Broken Link on Meta Handbook Page"
## Issue Description

The Meta Handbook page contains a broken link in the About section. I submitted this issue on the Meta Trac (https://meta.trac.wordpress.org/ticket/6314 ) but later realised that it should be submitted here.

## URL of the Page with the Issue

The URL which references the broken link: https://make.wordpress.org/meta/handbook/
## Section of Page with the issue

The link for th

[2022-05-18 00:58] femkreations commented on #305
@zzap @bph I've updated [Site Editor](https://wordpress.org/support/wp-admin/post.php?post=15654988&action=edit) page. It is scheduled for publishing on May 23rd. Pls review and let me know.
-Screenshots/videos updated.
-Rewritten and added new content

[2022-05-18 04:11] stevenlin-x commented on #346
What you did in the trac ticket was correct.

The editing of the Meta Handbook content does not belong here.

As indicated in the Readme of this repo, here is the coverage:

In addition, you can also try drop by in the Meta Slack channel: the link is in the contact section on the top right of this page
https://make.wordpress.org/meta/handbook/

[2022-05-18 15:56] tomjn opened #347 "Plugin Handbook AJAX doc does not mention or use the REST API"
## Issue Description

The document that describes how to use AJAX in WordPress only refers to the old admin AJAX API, and not only doesn't describe AJAX with the REST API, but doesn't mention its existence. The REST API is a surprise for most users trying to debug AJAX, even though debugging with the REST API gives you human readable error messages where Admin AJAX prints `0`

## URL of the Page w

[2022-05-19 05:42] carolinan commented on #343
@TeBenachi @kafleg

I have written an update and scheduled it for publishing on May 25, I hope that is enough time to review the changes and make adjustments.

[2022-05-19 09:46] bph commented on #295
I am not sure that the Row and the Stack need their own pages, as they are variations of the Group block.

[2022-05-19 09:50] bph commented on #294
@femkreations I am not sure that the Stack block needs a separate page. It's a variations of the [Group block. ](https://github.com/WordPress/Documentation-Issue-Tracker/issues/296)
They add responsiveness to a group of blocks out of the box after using multi-select feature.
See this [PR for illustration](https://github.com/WordPress/gutenberg/pull/39690)

[2022-05-19 11:22] kafleg commented on #343
@carolinan Thank you for the update.
What about adding a link to know how to upload the theme in the WordPress repo in the **Sharing your new theme** section?

[2022-05-19 13:28] carolinan commented on #343
Good idea, added.

[2022-05-19 20:16] skorasaurus opened #348 "Keyboard shortcut for selecting text across multiple blocks is missing"
## URL of the Page with the Issue
](https://wordpress.org/support/article/block-editor-keyboard-shortcuts/)

## Section of Page with the issue
Selection shortcuts ?

## Why is this a problem?

Feature Introduced in https://github.com/WordPress/gutenberg/pull/38892;

the Keyboard shortcut for selecting text across multiple blocks (without selecting all of the blocks' text) should appear at https://

[2022-05-21 10:02] #346 closed

[2022-05-21 14:55] Kenshino opened #349 "wp-config.php on HelpHub is too technical"
## Issue Description

wp-config.php on HelpHub is too technical

Whereas there's no explanation of it in DevHub

## URL of the Page with the Issue

https://wordpress.org/support/article/editing-wp-config-php/

## Section of Page with the issue

## Why is this a problem?

## Suggested Fix

I'll be moving most of the content to DevHub and restructure the content left on HelpHub

[2022-05-21 14:56] Kenshino commented on #349
Removing the entire section

<img width="874" alt="image" src="https://user-images.githubusercontent.com/4746365/169657138-7942af01-a552-4b6d-a5b8-fdc262995216.png">

There's no point for us to provide this - this info should be gotten from the host and we're well past the years where installation could fail because of wrong values added / not added by the host

[2022-05-21 16:00] Kenshino commented on #349
New DevHub page created on the Common API handbook page - https://developer.wordpress.org/apis/wp-config-php/

[2022-05-21 16:00] Kenshino commented on #349
HelpHub page fully simplified to suggest that users won't really need to edit wp-config.php

[2022-05-22 10:30] stevenlin-x commented on #327
I guess I may not have communicated properly above.

By spreadsheet, I don't necessarily mean it needs to be a full featured spreadsheet on an external source, such as Google Docs. That's not what I meant.

I'm aware there is a project for the above opened Issues; however, this is more "vertical" rather than "horizontal".
(by the way, thank you for the effort)
https://github.com/WordPress/Document

[2022-05-22 21:09] femkreations commented on #306
@zzap @bph I've updated [Template Editor](https://wordpress.org/support/wp-admin/post.php?post=15668277&action=edit ) page. It is scheduled for publishing on May 24th. Pls review and let me know.
-Screenshots/videos updated.
-Rewritten and added new content

[2022-05-23 15:10] xconsau opened #350 "Small typographical error in Query Controls Component documentation"
## Issue Description
On the Block Editor Components documentation, there is a small typo inside the onCategoryChange section. The word 'author' should be changed to 'category'.

## URL of the Page with the Issue
https://developer.wordpress.org/block-editor/reference-guides/components/query-controls/#oncategorychange

## Section of Page with the issue
The "onCategoryChange" section.

## Why is this

[2022-05-24 08:04] SavPhill opened #351 "Remove Abandoned Plugin Reference"
## Issue Description

In https://wordpress.org/support/article/custom-fields/ the following plugin is recommended:

Piklist – Plugin that allows you to create custom meta boxes and fields everywhere in WordPress.

However, this plugin has been closed permanently as of February this year:

https://wordpress.org/plugins/piklist/

This plugin reference should be removed from the support docs.

## URL

[2022-05-24 13:59] NekoJonez opened #352 "Upgrade PHP version on Twenty Twenty Two"
https://wordpress.org/support/article/twenty-twenty-two/
![image](https://user-images.githubusercontent.com/4569581/170053639-86627193-06af-4b7e-b0a2-ba403ebea03b.png)

It should say PHP v5.7

Found on Slack by Sumit Singh

[2022-05-24 14:05] sssumitsingh commented on #352
![image](https://user-images.githubusercontent.com/23701579/170054523-f610fe2e-7e66-4019-946a-2fde2ec0f3e5.png)
We need to update here also
![image](https://user-images.githubusercontent.com/23701579/170055150-4b524724-c0ad-48b3-8bd5-1283a825ca06.png)

[2022-05-25 04:48] stevenlin-x commented on #350
This issue doesn't belong in this repo.

It belongs to the gutenberg repo:
https://github.com/WordPress/gutenberg

As you see next to the title "QueryControls", there is an GitHub edit button which bring you to the PR screen.
https://github.com/WordPress/gutenberg/edit/trunk/packages/components/src/query-controls/README.md

[2022-05-25 04:51] stevenlin-x commented on #352
Why is it PHP v5.7?

The official theme page says it's v5.6 or higher
https://wordpress.org/themes/twentytwentytwo/

[2022-05-25 05:00] krupal-panchal opened #353 "Code typo mistake : Remove unused square bracket"
## Issue Description

There is a code snippet block on this page, including an unused square bracket on the first line. So it needs to remove and indent the code according to a coding standard for a better view.

## URL of the Page with the Issue

https://developer.wordpress.org/plugins/javascript/ajax/#client-side-summary

## Section of Page with the issue

[Client Side Summary](https://developer

[2022-05-25 07:05] xconsau commented on #350
Thank you, Steven. And my apologies for posting in the wrong repo. Thank you for the correct link.

[2022-05-25 08:43] #350 closed

[2022-05-25 11:22] ramonanextend opened #354 "Link to a better place at the Common WordPress Errors documentation"
## Issue Description
 At this article:
https://wordpress.org/support/article/common-wordpress-errors/
there's a link ("The WP_DEBUG feature often provides additional information.") that points to:
https://wordpress.org/support/article/editing-wp-config-php/#wp-debug
which should explain WP_DEBUG. But that page doesn't even mention the WP_DEBUG. I think the "common-wordpress-errors" page should lin

[2022-05-25 14:17] NekoJonez commented on #352
According to @sssumitsingh it should be v5.7 ... Maybe he can give his source.

[2022-05-25 14:20] NekoJonez opened #355 "On Support page, it still saying v5.9.2 instead of v5.9.3"
https://wordpress.org/support/

![image](https://user-images.githubusercontent.com/4569581/170284527-c9b7b9dc-e9d1-4912-a5ff-3400dbf91bc9.png)

I don't really know if it's the intention that this item stays or if it goes away since WordPress 6.0 is released... But, since we don't know what WP 6.0.1 (and if) is going to be here... Maybe this should be upgraded to v5.9.3

[2022-05-26 13:47] stevenlin-x commented on #352
1.)

So you got it wrong? It's not v5.7 that you're referring to, but v7.4.

2.)
As indicated above, it shouldn't be v5.7 because there is not even v5.7 to begin with as listed on the official PHP release page.
https://www.php.net/releases/

3.)
Should it be v7.4 or whatever the minimum required PHP version for the latest WordPress release is? The answer is NO.
https://wordpress.org/support/articl

[2022-05-27 04:14] stevenlin-x commented on #351
Thank you for reporting.

It's fixed.

However, other mentions of the plugins will also need to be removed. On HelpHub (end user documentation), no plugin, theme, and hosting etc will be promoted or recommended. The content instead suggests the reader to search "custom fields" for relevant plugins in the plugins directory.

[2022-05-27 15:31] tomjn opened #357 "QTags handbook page has a broken code example"
## Issue Description

The code provided for adding buttons to quick tags in the docs doesn't work properly in WordPress 6.0, and uses a non-standard approach.

## URL of the Page with the Issue

https://developer.wordpress.org/apis/handbook/quicktags/

## Section of Page with the issue

The code blocks

## Why is this a problem?

Because it's bad code that doesn't work

## Suggested Fix
Instead of

[2022-05-30 07:23] #352 closed

[2022-05-30 08:18] stevenlin-x commented on #353
It's fixed.

Thanks for reporting @krupal-panchal

[2022-05-30 08:26] krupal-panchal commented on #353
Thanks @stevenlin-x

[2022-05-30 08:26] #353 closed

[2022-05-31 12:22] bethanylang opened #358 "Add new Autoloaded options section to Optimization article"
## Issue Description
The [Performance Lab plugin](https://wordpress.org/plugins/performance-lab/), part of the work of the WP Performance Team, includes a health check for autoloaded options (see https://github.com/WordPress/performance/issues/92). We'd like to add a new section to the [Optimization article](https://wordpress.org/support/article/optimization/) to link to directly from the health c

[2022-06-01 04:27] stevenlin-x commented on #354
It's fixed.

I used the URL
https://wordpress.org/support/article/debugging-in-wordpress/
and linked to its WP_DEBUG section
https://wordpress.org/support/article/debugging-in-wordpress/#wp_debug

[2022-06-02 09:58] n8finch commented on #328
I would like to help with this.

[2022-06-02 10:02] NewYorkerLaura commented on #340
I am going to work on this today at the WCEU contributor day, verifying we are fully updated for 6.0

[2022-06-02 10:17] wmjohnston06 commented on #289
I am working on this issue during Contributor Day at WordCamp Europe 2022.

[2022-06-02 10:23] luminuu commented on #265
<img width="250" alt="Bildschirmfoto 2022-06-02 um 11 18 12" src="https://user-images.githubusercontent.com/7585600/171609089-a8ae48fa-4002-474e-bb24-0c919366c548.png">

There's just this screenshot that's a bit more different for 6.0. The other screenshots fit perfectly fine for 6.0.

[2022-06-02 10:24] abigail0r commented on #307
I'm working on this

[2022-06-02 10:24] AndreeaCristinaRadacina commented on #146
I will work on this one.

[2022-06-02 10:28] n8finch opened #365 "Add a link for Good First Issues to README.md and CONTRIBUTING.md docs"
## Issue Description
A lot of Contributing Sections have a link to "Good first issues" directly in the section to make it easy and less intimidating for newcomers to find an issue to work on.

## URL of the Page with the Issue
https://github.com/WordPress/Documentation-Issue-Tracker/blob/main/CONTRIBUTING.md

## Section of Page with the issue
"Resolving Issues"

## Why is this a problem?
If I'm a

[2022-06-02 10:33] jeroenrotty opened #366 "Updated image for multisite database"
## Issue Description
The current image is incorrect for the multisite database is incorrect. The prefix in a multisite instance is the same and it currently misses an underscore.

## URL of the Page with the Issue
https://wordpress.org/support/article/installing-multiple-blogs/

## Section of Page with the issue
First image.

## Why is this a problem?
It's incorrect info.

## Suggested Fix
I updat

[2022-06-02 10:33] telmott commented on #149
I'm working on this one 👍

[2022-06-02 10:37] abigail0r commented on #303
All the headings are in sentence case 👍

[2022-06-02 10:38] abigail0r commented on #304
All the headings are in sentence case 👍

[2022-06-02 10:41] abhansnuk commented on #302
@femkreations I added some items pre-release and just reviewing it from checking it against Learn WP and live runthroughs at WCEU/ contributor day. I have updated the reference to 2018 and updating some of the alt tags to give information about what the image shows for those who can not see it. Added alt tag to the featured image where it is used.

A couple of other changes to make it easier for u

[2022-06-02 10:45] abhansnuk commented on #302
Under FAQs,
Q. Does the Block editor allow editing posts and pages in the front end of the site?
No. It’s a representation of what site visitors see on the front end of your site. However, the layout and visual experience in the editor are much closer to the way things look on the public-facing side of your site.

Can I suggest we rework this answer for clarity? Thanks Femy.

[2022-06-02 10:48] abigail0r commented on #339
I'm working on this

[2022-06-02 10:50] abigail0r commented on #340
The title says "Media + Text" while the rest of the article refers to the block as "Media & Text"

[2022-06-02 10:53] heyawhite commented on #278
A post author block for Admin
<img width="767" alt="post-author-block_blank" src="https://user-images.githubusercontent.com/2766281/171614165-2f41061b-cd51-4ddb-b444-3942af40cfb4.png">

Edit details of the post author block
<img width="277" alt="post-author-block_details" src="https://user-images.githubusercontent.com/2766281/171614168-9d7e0e09-ce3a-4245-8545-8fcc69a8704c.png">

Choose a color for

[2022-06-02 10:54] heyawhite commented on #278
Advanced settings for the post author block
<img width="280" alt="Advanced settings" src="https://user-images.githubusercontent.com/2766281/171614441-de5e652a-3843-44f0-816a-8165dee3fb32.png">

[2022-06-02 10:55] AndreeaCristinaRadacina commented on #146
Screenshots:
<img width="346" alt="01_VerseBlock_addverseblock" src="https://user-images.githubusercontent.com/86592992/171614569-66bb562a-5391-419f-a339-c8c6015d9e7b.png">
<img width="448" alt="02_VerseBlock_blocktoolbar" src="https://user-images.githubusercontent.com/86592992/171614579-5e941378-6604-42de-affe-382a76979012.png">
<img width="362" alt="03_VerseBlock_changeblockstyle" src="https://u

[2022-06-02 10:56] heyawhite commented on #266
Admin post author block example
<img width="767" alt="Example post author block" src="https://user-images.githubusercontent.com/2766281/171614581-78fbfdc8-c99d-4922-aea7-8c396f238def.png">

Add a post author block
<img width="420" alt="Add a post author block" src="https://user-images.githubusercontent.com/2766281/171614645-e1d58d76-fc4a-4363-90d6-03e16e4dfac4.png">

Select the post author block,

[2022-06-02 10:58] marconmartins commented on #129
I'm checking this one.

[2022-06-02 10:59] lechatinformatique commented on #287
![site-logo-block](https://user-images.githubusercontent.com/52913621/171615162-59b64c08-90af-4b4f-8964-1b80dba3b23b.png)
![site-logo-duotone](https://user-images.githubusercontent.com/52913621/171615167-f4a98633-9d85-4b98-a142-4818d03147a8.png)
![site-logo-settings](https://user-images.githubusercontent.com/52913621/171615175-aa5d5ff0-ef29-4209-8189-f2d89d18f4e9.png)
![site-logo-default](https://

[2022-06-02 10:59] heyawhite commented on #266
Example block for Edwina
<img width="696" alt="edwina-example" src="https://user-images.githubusercontent.com/2766281/171615313-e71f4016-7c06-4e3b-8027-b6357432fddf.png">

[2022-06-02 11:00] heyawhite commented on #266
With a larger gravatar, byline, and page title

<img width="709" alt="Screen Shot 2022-06-02 at 12 00 05 PM" src="https://user-images.githubusercontent.com/2766281/171615498-c7bb5016-fe5c-4774-bc9f-5488484a3432.png">

[2022-06-02 11:00] marconmartins commented on #245
I'm checking this one.

[2022-06-02 11:02] marconmartins commented on #150
I'm checking this one.

[2022-06-02 11:07] leogermani commented on #329
In devhub, things should be here, right? https://developer.wordpress.org/themes/template-files-section/

[2022-06-02 11:09] abigail0r commented on #338
**Re: https://wordpress.org/support/article/block-pattern/#how-to-use-a-block-pattern**

- The subheadings appear in the same size and weight as paragraph text.
- [How to Customize a Block Pattern](https://wordpress.org/support/article/block-pattern/#how-to-customize-a-block-pattern) is not in sentence case

**Re: https://wordpress.org/support/article/pages-add-new-screen/**

All subheadings are i

[2022-06-02 11:10] #365 closed

[2022-06-02 11:12] NewYorkerLaura commented on #340
@abigail0r I'm in process currently updating I'll make the Media & Text change

[2022-06-02 11:16] abigail0r commented on #334
Headings not in sentence case:

- [Adding Your Menu to Your Site](https://wordpress.org/support/article/appearance-menus-screen/#adding-your-menu-to-your-site)

All other headings are in sentence case 👍

[2022-06-02 11:18] abigail0r commented on #337
Headings not in sentence case:

- "Change Button Position"

All other headings are in sentence case 👍

[2022-06-02 11:23] telmott commented on #149
Here are the new screenshots
<img width="702" alt="01-more-block-result" src="https://user-images.githubusercontent.com/18164005/171618471-b03cd743-ba3d-4ce8-809c-ef12e50171e6.png">
<img width="279" alt="04-more-block-settings" src="https://user-images.githubusercontent.com/18164005/171618492-abeb4d10-87e8-460e-87e5-674664cea1e7.png">
<img width="711" alt="03-more-block-block" src="https://user-im

[2022-06-02 11:28] AndreeaCristinaRadacina commented on #146
Hello there!
I have updated the screenshots using the 6.0 version and the Twenty-Twenty-Two theme:
There is another thumbnail for the block:

<img width="342" alt="01_VerseBlock_addverse" src="https://user-images.githubusercontent.com/86592992/171618704-0cf071c5-f390-49df-92f7-4d5ca4ec6a94.png">
The solid and gradient options of the group are displayed differently:
<img width="1680" alt="02_VerseB

[2022-06-02 11:32] abigail0r commented on #336
https://wordpress.org/support/article/search-block/
- "Change Button Position" subheading is not in sentence format
- "Alignment:" and "More Options:" subheadings contain unnecessary colons

https://wordpress.org/support/article/pullquote-block/
- "More Text Editing Options" is not in sentence format
- "Transform to:" "Moving handles:" "Change Alignment:" "Text Editing Options:" "More Options:" su

[2022-06-02 11:34] mileamadalin commented on #143
I come here with some new screenshots for the 6.0 WordPress version. I hope I'm in the right place. 😅

The first image, "01. login," is identical, so there is no change.

02. Start at the Top (Dashboard). We can also use the same one for the image "04. Test Drive the WordPress Administration Screens" since seems to be the same.

<img width="1440" alt="02_First Steps with WordPress_Dashboard" src="

[2022-06-02 11:41] leogermani commented on #17
Error confirmed.

Parsing shortcodes recursively is not a common usage, so I removed that and also improved the documentation for what the content is and clarifying that the example is only one of the things you could do with your content.

Also clarified that the `$content` parameter is just what is inside the shortcode and not the whole content of the post.

[2022-06-02 12:21] wmjohnston06 commented on #289
**_Suggested change 1: In the first paragraph of the article, update the text to read:_**

"If you want to have a space between two blocks, the spacer block is what you will use.
A **vertical** spacer adds space between blocks in a column (as in a page or post).
A **horizontal** spacer adds space between blocks in a row (as in a [Navigation block](https://wordpress.org/support/article/navigation-b

[2022-06-02 12:46] telmott commented on #149
@zzap here are the new screenshots. I just want to point out the on the posts page the "READ MORE" doesn't appear (first screenshot)

[2022-06-02 12:55] telmott commented on #149
usage video

https://user-images.githubusercontent.com/18164005/171633770-7db03a8f-574b-44f0-889c-c4af1c4fc99f.mp4

[2022-06-02 13:11] AndreeaCristinaRadacina commented on #160
I will work on this one.

[2022-06-02 13:18] AndreeaCristinaRadacina commented on #160
Screenshots:
Added a new screenshots, to contain the Bold / Italic options:
<img width="699" alt="01_SearchBlock_blocktoolbar" src="https://user-images.githubusercontent.com/86592992/171637817-1dfcc3c3-281c-4f02-988b-0fa311836668.png">
There is a new icon for the reusable blocks and one more option called Lock.
<img width="252" alt="02_SearchBlock_moreoptions" src="https://user-images.githubuserco

[2022-06-02 13:29] marconmartins commented on #150
<img width="552" alt="controls" src="https://user-images.githubusercontent.com/5478039/171639713-7d61e958-d269-4051-8d3f-1f5234f49c3c.png">

https://user-images.githubusercontent.com/5478039/171639717-40c88ae3-6e4c-4994-b8fc-355893b92053.mp4

<img width="712" alt="front-pagination" src="https://user-images.githubusercontent.com/5478039/171639818-60c74799-9901-48b4-8167-861f0794cec4.png">
<img widt

[2022-06-02 13:31] n8finch commented on #328
@zzap this is the first draft of the edited page, let me know what you think! 😁
---
# Resources for Building on WordPress

As you design your WordPress theme or build a plugin, you will be using a combination of HTML, CSS, PHP, and JavaScript (JS).

There are *plenty* (probably too many) resources online for you to get started with these web languages. It can be overwhelming!

With this resource p

[2022-06-02 13:38] marconmartins commented on #162
I'm working on this.

[2022-06-02 13:48] luminuu commented on #272
**Block Toolbar**
<img width="665" alt="Bildschirmfoto 2022-06-02 um 14 27 56" src="https://user-images.githubusercontent.com/7585600/171640131-c88a5f85-ff99-468e-bb2e-97a0f1a0b2d7.png">

**Transform to**
<img width="665" alt="grafik" src="https://user-images.githubusercontent.com/7585600/171639928-baf13cfd-4906-46c9-b7fd-84a7f9a89ac4.png">

**Group**
<img width="1383" alt="grafik" src="https://us

[2022-06-02 13:50] evrpress commented on #154
Let me work on this

[2022-06-02 13:54] AndreeaCristinaRadacina commented on #123
Here are the updated screenshots:
The tags appear differently:
<img width="496" alt="01_HeadingBlock_tags" src="https://user-images.githubusercontent.com/86592992/171644246-9f7d2e77-9f55-45ee-a713-abba28b2f61e.png">
There are some new editing options - highlight, keyboard input
<img width="510" alt="02_HeadingBlock_moreeditingoptions" src="https://user-images.githubusercontent.com/86592992/1716442

[2022-06-02 13:57] mileamadalin commented on #155
Looking on this one

[2022-06-02 14:01] luminuu commented on #289
### Screenshots for 6.0

**More options**
<img width="371" alt="grafik" src="https://user-images.githubusercontent.com/7585600/171646685-19eb1080-7493-4d85-ba96-08884d4cd6c2.png">

[2022-06-02 14:05] #17 closed

[2022-06-02 14:08] evrpress commented on #154
Here are the new screenshots

### List of categories
![dev local_wp-admin_post php_post=13 action=edit](https://user-images.githubusercontent.com/881729/171645293-1e2bb75a-23a0-4bd3-927f-15f4845548dc.png)

### quickselect with /
<img width="250" alt="image" src="https://user-images.githubusercontent.com/881729/171645789-4860b79c-d94b-4740-ae8d-c2876ee6b37c.png">

### alignment options
<img  alt="i

[2022-06-02 14:14] evrpress commented on #273
I've added some screenshots in #154

[2022-06-02 14:15] marconmartins commented on #162
<img width="335" alt="01-slash-add" src="https://user-images.githubusercontent.com/5478039/171649571-37c83d1e-a47e-4218-b42a-9d0a3420450b.png">
<img width="672" alt="02-add-url" src="https://user-images.githubusercontent.com/5478039/171649580-4100a8e8-873a-4850-8647-e605ad71a316.png">
<img width="694" alt="03-add-error" src="https://user-images.githubusercontent.com/5478039/171649581-7da7306c-f02a

[2022-06-02 14:16] evrpress commented on #158
I'll handle that

[2022-06-02 14:20] NewYorkerLaura commented on #340
@femkreations

As WCEU Contributor Day2022-06-02

The following has been accomplished:
- All screenshots are relevant for the current version (6.0)
- The headings are in sentence case
- Updated the changelog at the end of the article to reflect updates to text and images

Outstanding
- The video still needs to be updated

[2022-06-02 14:20] jennydupuy opened #368 "Incomplete sentence in Additional guide to using the Site Editor"
## Issue Description
In the post [Additional guide to using the Site Editor](), a sentence is incomplete.

## URL of the Page with the Issue
You can find this at https://wordpress.org/support/article/additional-guide-to-using-the-site-editor

## Section of Page with the issue
How to customize your home page > Static Page > Follow these steps to create a new template:

## Why is this a problem?
In

[2022-06-02 14:32] mileamadalin commented on #155
The first image to update:

"01. When it’s embedded."

<img width="677" alt="01  When it’s embedded" src="https://user-images.githubusercontent.com/6906834/171650626-744c462d-1b55-4f6c-abef-7cdc157eb592.png">

"02. Add Archives block."

<img width="332" alt="02 Add Archives block" src="https://user-images.githubusercontent.com/6906834/171651113-38f748c3-d143-44dd-b789-749bb7948355.png">

"03. Alig

[2022-06-02 14:37] telmott commented on #151
@zzap Here are the new 6.0 updated screenshots and videos:

https://user-images.githubusercontent.com/18164005/171654064-16561032-058b-4434-883c-8c54a47e03f6.mp4

<img width="419" alt="01-separator-add" src="https://user-images.githubusercontent.com/18164005/171654172-0eb91e47-4276-4e0e-86cc-c7a9c572b4f1.png">
![separator-advanced](https://user-images.githubusercontent.com/18164005/171654174-b1737

[2022-06-02 14:38] AndreeaCristinaRadacina commented on #125
Screenshots:
The replace options look different now:
<img width="267" alt="01_FileBlock_replace" src="https://user-images.githubusercontent.com/86592992/171654314-122eb033-60b3-4e53-91e6-b735221c3810.png">
There is a new icon for Reusable blocks and a new Lock option:

<img width="251" alt="02_FileBlock_moreoptions" src="https://user-images.githubusercontent.com/86592992/171654713-f8d5eee3-5a61-4e

[2022-06-02 14:43] evrpress commented on #290
Added screenshots to #158

[2022-06-02 14:47] leogermani commented on #18
Fixed. The examples don't look great and we can consider if we want to keep that ajax approach in the docs still... any opinions?

[2022-06-02 14:51] theMikeD commented on #17
Thanks @leogermani

[2022-06-02 14:53] theMikeD commented on #18
I think we keep the ajax concept even if the examples need refinement

[2022-06-02 14:54] theMikeD commented on #57
Yes it's managed in WordPress :) Once I get this fixed I'll summarize here.

[2022-06-02 14:56] leogermani commented on #18
I don't know at what point it was decided to make the examples really simple and without any sanitization, permission checks, usage of nonces and etc. This is noted in the page as being intentional but I'm not sure it's the best decision... but if this is consistent across all devhub, it's difficult to change it now

[2022-06-02 15:19] pharar opened #369 "Improvement in the "FAQ My site was hacked" Support documentation Page"
Hi guys! :)
I propose to change the "Quettera" link text in the page -> "Quttera". It is a typo.

## URL of the Page with the Issue
https://wordpress.org/support/article/faq-my-site-was-hacked/

## Section of Page with the issue
https://wordpress.org/support/article/faq-my-site-was-hacked/#some-steps-to-take

I also would like to propose myself to contribute with this Page since it is directly in

[2022-06-02 15:28] bph commented on #306
@femkreations are you ready to close this issue?

[2022-06-02 15:50] theMikeD commented on #18
Agreed. All examples should be best practice including phpcs formatting. It's in my overall plan.

[2022-06-03 16:28] femkreations commented on #306
@bph yes!

[2022-06-03 16:43] femkreations commented on #334
@NewYorkerLaura Thank you!

[2022-06-06 17:15] zzap commented on #158
Thank you so much @evrpress :heart:

For the block settings it seems like you had Group block selected. Here's the screenshot for Tag cloud block

![tag-cloud-settings](https://user-images.githubusercontent.com/1508963/172211472-5dc12f20-ca4e-4877-a33a-b58722888942.png)

[2022-06-06 17:18] zzap commented on #158
@evrpress do you want to update the article yourself? If so I'll give you access to dashboard.

It's also OK not to want this :grimacing: just let me know :raised_hands:

[2022-06-06 17:28] zzap commented on #335
@hdvos thank you so much for your screenshots :heart:  They can be used in another issue.

This issue is about block styles. For example, image block has two styles: default and rounded.

![image-default-style](https://user-images.githubusercontent.com/1508963/172213306-54366599-e9bd-4425-8f10-12c6a4b8d6c4.png)

![image-rounded-style](https://user-images.githubusercontent.com/1508963/172213309-561

[2022-06-06 17:36] zzap commented on #336
This issue is about border settings for blocks that has it. For example, this is setting for image block

![image-border-settings](https://user-images.githubusercontent.com/1508963/172214723-394bf4ea-7503-4014-8afb-1353d20f7c13.png)

[2022-06-06 17:42] zzap commented on #337
Here's new 6.0 settings

![search-button-settings](https://user-images.githubusercontent.com/1508963/172215718-4d9efb6d-106a-4ac2-a967-39c9770df86c.png)

Headings fixed, thank you @abigail0r

[2022-06-06 21:08] adamwoodnz commented on #276
The [docs for the Gallery Block](https://wordpress.org/support/article/gallery-block/) still include an `Edit as HTML` option, however this has been removed from the editor in 6.0, see PR https://github.com/WordPress/gutenberg/issues/39310.

Docs entry:
![Screen Shot 2022-05-31 at 4 52 17 PM](https://user-images.githubusercontent.com/1017872/171095401-ffc3cccb-ca3e-43be-813d-c4af5b965aef.png)

No

[2022-06-07 11:41] zzap commented on #125
https://user-images.githubusercontent.com/1508963/172370888-a3ba2df4-7604-46bd-892b-09d32846595d.mp4

[2022-06-10 21:37] francisei commented on #251
This issue is no longer applicable, due to the work done in [PR 41179](https://github.com/WordPress/gutenberg/pull/41179). I don't see a way to delete this issue, so leaving this comment.

[2022-06-10 21:37] #251 closed

[2022-06-13 00:48] miminari commented on #260
Thank you for your reply!

@zzap

I feel that the software download page would clearly state the scope of its support, normally.
As @rocket-martue wrote.
https://github.com/WordPress/Documentation-Issue-Tracker/issues/260#issuecomment-1082548530

I think that needs not only the list but some explanations about its scope etc.

@theMikeD @joyously
My understanding is that the "supported browser" we

[2022-06-13 01:56] joyously commented on #260
When I read "supported browser", I assume it will work in that browser and if it doesn't it will be fixed (supported).
I have reported several things in unsupported browsers, but they are never fixed.

Because of the reach of WP, I think the front end should support a wider range of browsers than the original list, which was for the admin. Either that, or don't output styles on the front end and g

[2022-06-13 03:13] miminari commented on #260
@joyously Thank you for your prompt reply.
I apologize for my lack of words. I too believe that if it says "supported", that is normal. @theMikeD asked for "specifics" and I trid to explain it that way.

I'm sorry I don't know the word, but "front end" that you said is about the page that generated by WordPress, isn't it? To avoid confusion, why don't we first just talk about the scope of support

[2022-06-13 03:39] joyously commented on #260
Yes, the pages that are about 40% of the internet.

Let's not. The whole point is that the supported browsers have always been for the WP product itself, meaning the admin pages. But a subtle shift has happened, and WP is now outputting styles on the front end, so the supported browsers now apply to much more (40% of the internet). I don't really care what is supported. What needs to happen is to

[2022-06-13 04:07] miminari commented on #260
@joyously OK, now I got we have no list or policy for all users now. (I think that's what you meant, sorry if I'm wrong.)
And we should make two lists for the front end and the admin, or "give the job back to the themes"?

Sorry I'm not sure what you mean by "give the job back to the themes", are you saying you think it would be better not to define the scope of support for WordPress itself? Even

[2022-06-13 04:12] miminari commented on #260
Or do you mean that it is difficult to define the scope of support on the WordPress side? Is that why there is none? But currently there is this page, and I think many people use it as a reference for the scope of browser support. If this is not the case, shouldn't that be mentioned somewhere?

[2022-06-13 10:04] atachibana commented on #260
@miminari

I believe Joy's "Giving the job back to the themes" means stopping output styles from core blocks. I think there is some irony and criticism in that statement (@joyously, please correct me, if it is wrong), but it would be impossible to change the current Gutenberg trend.

Ideally, WordPress is responsible for 40% of the Internet and should support a wide range of browsers. However, as

[2022-06-13 12:16] jonathanbossenger opened #370 "Add Action and Filter Reference Documents to DevHub"
## What is the new page you are requesting?
Two new pages based on the Codex pages on the [Action Reference list](https://codex.wordpress.org/Plugin_API/Action_Reference) and [Filter Reference list](https://codex.wordpress.org/Plugin_API/Filter_Reference)

## How will this new page help you?
These two pages are valuable reference documents for WordPress developers, as it allows a developer to both

[2022-06-13 13:53] joyously commented on #260
I think the requirements page for the WP software shows the supported browsers. But there is no mention anywhere that the list used to be for admin pages and is now also for pages that are generated.

Yes, it is difficult, but it is doable. For transparency, the change of core affecting the front end should be made very clear.

Yes, that is what I meant, and it is not impossible to change it. Ther

[2022-06-15 09:33] estelaris opened #371 "Images from CDN are not opening by link after clicking on them in HelpHub articles in attending to zoom them"
## Issue Description

Screenshots need update as described on trac ticket [#5559](https://meta.trac.wordpress.org/ticket/5559)

## Suggested Fix

Notes from Trac ticket:

Having wp-helphub.com in the content has been an ongoing problem..
Here's a list of all the articles which contain it:
~https://wordpress.org/support/?p=10851459 before-you-create-a-network [edit](https://wordpress.org/support/wp

[2022-06-15 09:46] estelaris opened #372 "Documentation licensing"
## What is the new page you are requesting?

Add this page as a docs article, under resources)
https://make.wordpress.org/docs/licensing/

[2022-06-15 15:35] bethanylang commented on #358
@stevenlin-x Thanks for picking this one up! I have editing access now via @zzap so I'm going to make this update myself.  :) Reassigning to me.

[2022-06-15 16:09] stevenlin-x commented on #358
They are here:

#external-linking-policy
https://make.wordpress.org/docs/tag/external-linking-policy/

[2022-06-15 18:28] bethanylang commented on #358
Actually, reopening this as I've reviewed the linked external linking policy more closely, and it looks like those requirements explicitly refer to the Plugin Developer Handbook but not end user documentation. @zzap Can you clarify please?

[2022-06-15 20:42] femkreations commented on #146
Updated the screenshots and the content. Added ALT tags for the images. Completed the review. @zzap

[2022-06-16 08:53] estelaris opened #373 "Unnecessary articles to delete"
## Issue Description

Article contains a number of links to WP articles in order to find them. The new site map will make it easier to search for articles and this type of articles will be unnecessary.

## URL of the Page with the Issue

https://wordpress.org/support/article/wordpress-lessons/)

## Suggested Fix

Delete article

- [x] [WordPress lessons](https://wordpress.org/support/article/wordp

[2022-06-16 17:52] femkreations commented on #160
Updated screenshots, added and tweaked the content, and added ALT tags for the images. Review complete @zzap

[2022-06-17 07:30] stevenlin-x commented on #368
I've revised the sentence.

[2022-06-17 08:27] jeroenrotty commented on #366
Thanks for updating. Closing issue.

[2022-06-17 08:27] #366 closed

[2022-06-19 08:58] atachibana commented on #143
@mileamadalin

Great Work!
I enhanced all your suggestions to the page.
https://wordpress.org/support/article/first-steps-with-wordpress/

[2022-06-19 08:58] #143 closed

[2022-06-19 14:56] #368 closed

[2022-06-21 14:42] zzap opened #374 "Contributor Day Tasks"
When you don't know what to do at Contributor Day, check these:

- [ ] Code reference comments formatting (spacing etc)
- [ ] Updating screenshots to current version (mostly HelpHub)
- [ ] ALT tags for images (mostly HelpHub)
- [ ] All headings should be in sentence case

[2022-06-21 14:47] lucprincen opened #375 "[DevHub] Fixing escaping and internationalization mistakes in user contributed notes"
I'm creating and updating this issue and plan on collecting issues with user contributed notes in the code reference.

**Contributing**
This issue will frequently be updated and I encourage you to add mistakes you find in the comments with the following format:

( checkbox ) - Brief issue description - link to comment
( larger issue description if warranted ).

**Progress**
Currently i've scrubbed

[2022-06-21 14:47] lucprincen commented on #375
Request to add the tracking issue label to this one @zzap

[2022-06-21 14:55] zzap commented on #375
This baby is all yours now :heart:

[2022-06-22 18:02] joyously opened #376 "out of date More Info on code reference for get_option"
## Issue Description
The "More Information" for the `get_option` function has a link to https://codex.wordpress.org/Option_Reference .
The list of commonly-used options says

but there is no longer any Miscellaneous Options page in WordPress, and

but there is nothing called Presentation in WordPress.
Also, this list is partially alphabetical, but a weird order overall.
Some of the options like `b

[2022-06-23 08:48] carolinan commented on #344
Let's close this as completed.

[2022-06-23 08:48] #344 closed

[2022-06-23 08:49] #343 closed, assigned to carolinan

[2022-06-23 18:53] gamebits opened #377 "Facebook oEmbed deprecation link broken"
## Issue Description

A malformed link fails to cite the source for Facebook's deprecation of oEmbed in October 2020.

## URL of the Page with the Issue

https://wordpress.org/support/article/facebook-embed/

## Section of Page with the issue

The first sentence, "Due to Facebook’s decision to close the oEmbed end point for embedding Facebook links", includes a link that points here:

[code]

[The

[2022-06-24 19:50] femkreations commented on #141
Added content, screenshots, images and video for 6.0. Review complete. @zzap

[2022-06-27 08:24] stevenlin-x commented on #377
I've revised the link.

Thanks for reporting.

[2022-06-27 11:49] #377 closed

[2022-06-28 07:50] christinavoudouris opened #378 "Dead link for 'Mac App Store 1-click install for WordPress' should be removed"
## Issue Description
The link described below takes me to a page which then prompts me to open the App Store on my mac. When I do that, the App Store gives me another prompt saying 'App Not Available.'

## URL of the Page with the Issue
[Installing WordPress On Your Own Computer](https://wordpress.org/support/article/installing-wordpress-on-your-own-computer)

## Section of Page with the issue
The

[2022-06-28 14:22] tobifjellner commented on #349
Remember to include a link in the userdoc to https://wordpress.org/support/article/debugging-in-wordpress/ which contains descriptions of those actions a "normal user" may need to actually do.

[2022-06-28 14:42] justintadlock commented on #269
Just noting that I'm working on the article for this ticket (we couldn't yet assign it to me in the docs meeting).

[2022-06-28 18:30] ryanwelcher opened #379 "Data module section needs practical code examples."
## Issue Description
Working with any of the data modules provided by WordPress can be very confusing. When looking at the Data Modules section in the handbook, there are almost no code examples for developers to use as reference. I would love to see an example for each action or selector that is exposed for use.

## URL of the Page with the Issue
https://developer.wordpress.org/block-editor/refer

[2022-06-29 19:45] TeBenachi opened #380 "Moving Codex Theme Development to Theme Handbook"
[The Codex Theme Development page](https://codex.wordpress.org/Theme_Development) is packed with a lot of information on one page, and it may take some time to edit and sort the contents into appropriate pages within the [Theme Handbook](https://developer.wordpress.org/themes/).

As a temporary solution, I think the [Classic themes page](https://developer.wordpress.org/themes/classic-themes/) is a

[2022-06-29 19:54] TeBenachi opened #381 "Moving Creating an Archive Index and Creating a Search Pages to Theme Handbook"
I think the [Creating an Archive Index](https://codex.wordpress.org/Creating_an_Archive_Index) can be added under the [Template Files Section](https://developer.wordpress.org/themes/template-files-section/) on the Theme Handbook.

Draft => https://developer.wordpress.org/wp-admin/post.php?post=140566&action=edit

And same for the [Creating a Search Page](https://codex.wordpress.org/Creating_a_Sear

[2022-06-29 20:22] femkreations commented on #265
Updated the page and the screenshot.

[2022-06-29 20:45] femkreations commented on #193
https://wordpress.org/support/article/site-logo-block/ New page created and updated for 6.0 with screenshots, content and video. @zzap

[2022-06-29 20:46] femkreations commented on #287
https://wordpress.org/support/article/site-logo-block/ New page created and updated for 6.0 with screenshots, content and video. @zzap

[2022-06-30 03:36] stevenlin-x commented on #378
It seems the Bitnami stack for WordPress no longer exist on the Mac app store.

I've removed the link.

Thanks for reporting.

[2022-06-30 03:36] #378 closed

[2022-06-30 03:39] stevenlin-x commented on #379
It seem this issue need to be closed.

The Block Editor Handbook is not the scope of this repo.

[2022-06-30 10:33] TeBenachi opened #382 "[Themes] Theme Handbook Issue Reporting"
To make reporting easier,  I think a small note, similar to the [Support Document pages](https://wordpress.org/support/article/how-to-install-wordpress/) would be helpful when someone finds an error or corrections. The note should be added on every page on the Theme Handbook.

Something like…

**Was this article helpful? How could it be improved?**
If you find any corrections, please let us know b

[2022-06-30 14:00] bph commented on #374
Helpful links to share with people at Documentation tables at Contributor Days

- [Documentation Issues Tracker](https://github.com/WordPress/Documentation-Issue-Tracker/issues/340)
- [Documentation Style Guide](https://make.wordpress.org/docs/style-guide/)
-

[2022-06-30 14:54] bethanylang commented on #358
Closing as per [discussion in Slack](https://wordpress.slack.com/archives/C02RP4WU5/p1656507618205849), the policy applies to all documentation.

[2022-06-30 14:54] #358 closed

[2022-06-30 16:12] ryanwelcher commented on #379
There are other tickets for the block editor handbook in this repo - https://github.com/WordPress/Documentation-Issue-Tracker/labels/block%20editor. Is there some documentation I have missed that explicitly states that?

[2022-07-01 03:59] stevenlin-x commented on #379
The https://github.com/WordPress/Documentation-Issue-Tracker/labels/block%20editor label refers to the HelpHub documentation with respect to the block editor, which is in this repo.

But editing the content in Block Editor Handbook is the domain of the gutenberg repo:
https://github.com/WordPress/gutenberg/tree/trunk/docs

For example, on the "[Data Module Reference](https://developer.wordpress.or

[2022-07-04 06:03] stevenlin-x commented on #75
1.)
This ticket needs to be closed here since it's not the scope of this repo.

Editing content in Block Editor Handbook is the scope of the gutenberg repo:
https://github.com/WordPress/gutenberg/tree/trunk/docs

On the "[Patterns](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/)" page, if you click the GitHub "Edit" button next to the title, it will lead yo

[2022-07-04 06:04] #379 closed

[2022-07-04 11:40] mburridge commented on #75
Thanks @stevenlin-x. I've created [PR #42117](https://github.com/WordPress/gutenberg/pull/42117) in the Gutenberg repo to address this issue. Closing.

[2022-07-04 11:40] #75 closed

[2022-07-04 13:32] ryanwelcher commented on #379
@stevenlin-x I was told by my @zzap to create this kind of tracking ticket here for docs work that is being done in the Gutenberg repo.

[2022-07-04 16:52] zzap commented on #379
@stevenlin-x we are trying to prepare a proposal for Block editor team to have a more PHP devs friendly documentation. This is not just docs update here and there, this is improving the whole section the way Documentation team sees it.

@ryanwelcher kindly offered to work on this and we want to prepare everything here first and then go to Gutenberg repo with all the examples and arguments.

So @ry

[2022-07-05 11:33] #127 closed

[2022-07-05 14:19] emmasophieyoung commented on #285
@estelaris I will work on this :)

[2022-07-05 15:31] zzap commented on #285
It's all yours @emmasophieyoung :raised_hands:

[2022-07-05 17:38] zzap opened #383 "[Docs Handbook] Onboarding documentation in Handbook"
This issue will be used for tracking the overall progress of updating onboarding documentation.

## Issue Description
Current onboarding documentation is out of date.

## URL of the Page with the Issue

- Getting started - https://make.wordpress.org/docs/handbook/get-involved/
- Ways to contribute - https://make.wordpress.org/docs/handbook/workflows/

## Why is this a problem?
Onbording is bottlen

[2022-07-05 18:05] zzap opened #384 "Team Handbook landing page"
## Issue Description
This page is unclear about what it represents and where to go next.

## URL of the Page with the Issue

https://make.wordpress.org/docs/handbook/

## Why is this a problem?
Because it's not very helpful to people who go there to learn how to get involved with the team.

[2022-07-05 18:34] zzap commented on #384
Analysing other teams Handbook landing pages:

- [Core](https://make.wordpress.org/core/handbook/) - who is it for, ways to contribute, best practices, tutorials, how to get help (more or less, sidebar navigation is outlined)
- Design - style guide in general, core treatment, wp.org treatment, other sites treatment (basically, outlining projects)
- [Accessibility](https://make.wordpress.org/access

[2022-07-06 12:28] theMikeD commented on #384
That's the "Plugin Reviewer's Handbook" not the "Plugin Developer's Handbook," for clarity :)

As for the initial observation...there is a section in the TOC literally called "Get Involved" that is sufficient for that purpose...?

[2022-07-11 15:00] stevenlin-x commented on #369
Thanks for reporting.

However, instead of revise the link text, the link in question and many of the other links on the page need to be removed since they all violate the recently published external linking policy (not on the allowlist).

https://make.wordpress.org/docs/tag/external-linking-policy/

[2022-07-12 09:07] leon-nugraha commented on #317
@femkreations I want to work on this

[2022-07-12 15:09] zzap commented on #384
Get involved page should give a quick overview how to get started but I'm trying to figure out how to make landing page more useful.

[2022-07-12 15:20] zzap commented on #384
Docs team handbook outline

- Accounts needed
- Places where things are happening
- Meetings
- Reporting issues
- Onboarding
- Projects

[2022-07-13 07:27] Leonardus-Nugraha commented on #317
Hi, I just found out that the comment author avatar in the comment query loop block uses the general avatar block, which already has separate tracker (https://github.com/WordPress/Documentation-Issue-Tracker/issues/269)
Do we still need a document for this?
![image (11)](https://user-images.githubusercontent.com/65521329/178675966-faddda97-5620-4aea-aad1-77f59cec478c.png)

[2022-07-13 07:33] Leonardus-Nugraha commented on #318
@femkreations hey, I want to work on this. Can you please assign me?

[2022-07-13 07:37] leon-nugraha commented on #206
Hi, I just found out that the comment author avatar in the comment query loop block uses the general avatar block, which already has separate tracker (https://github.com/WordPress/Documentation-Issue-Tracker/issues/269)
Do we still need a document for this
![178675966-faddda97-5620-4aea-aad1-77f59cec478c](https://user-images.githubusercontent.com/108468349/178677817-69134312-d8d2-4a8d-a17f-57c20d1

[2022-07-13 07:38] leon-nugraha commented on #318
@femkreations hey, I want to work on this, can you assign me please?

[2022-07-13 08:08] leon-nugraha commented on #317
Hi, I just found out that the comment author avatar in the comment query loop block uses the general avatar block, which already has separate tracker (https://github.com/WordPress/Documentation-Issue-Tracker/issues/269)
Do we still need a document for this?
![178675966-faddda97-5620-4aea-aad1-77f59cec478c](https://user-images.githubusercontent.com/108468349/178683690-54d734f0-7f25-4dab-a834-20efd2

[2022-07-13 09:52] zzap commented on #285
@femkreations can you please take over review for this one?

[2022-07-14 16:12] #369 closed

[2022-07-18 10:56] zzap opened #385 "Team roles - new Documentation team handbook page"
## What is the new page you are requesting?
The page that will hold description and responsibility for each team role in WordPress Documentation team.

## How will this new page help you?
It will give clear(er) insight to all documentation contributors about the roles they can take on and ways to contribute to WordPress documentation.

- [ ] Update landing handbook page with link to this page when

[2022-07-18 10:56] zzap commented on #384
## Documentation Contributor Handbook

This handbook contains information about how to contribute to WordPress documentation and be a member of the Documentation team.

[2022-07-18 13:51] zzap commented on #385
Team roles

Types:
- Reps (representatives)
- Contributors

Per project:
1. Onboarding
2. Content
3. Design
4. End user
    1. General
    2. Block editor
    3. Feedback Curator
5. Theme handbook
6. Plugin handbook
7. Common APIs
8. Code reference
    1. More Info Curator
    2. User Notes Curator
9. Block editor developer
10. Docs team handbook
11. Facilitating
    - Meetings
    - Issue triages

[2022-07-18 15:24] zzap commented on #385
## Meeting Facilitators

### Responsibilities:
- Post the agenda on the “Make Documentation” team [blog](https://make.wordpress.org/docs/).
- Lead the bi-weekly team meetings in [Slack](https://wordpress.slack.com/archives/C02RP4WU5).

### How do I do this job?
- Post the agenda in the Slack channel before the meeting (preferably several hours before). [Writing agenda](https://make.wordpress.org/d

[2022-07-18 15:28] zzap commented on #385
## Note Taker/Meeting Summarizers

### Responsibilities:

Take notes during weekly meetings and post them on the “Make Documentation” team [blog](https://make.wordpress.org/docs/).

How do I do this job?

- Take notes during (or after) the weekly meeting.
- Post the minutes on “Make Documentation”.

[2022-07-18 17:05] femkreations commented on #285
@emmasophieyoung Thank you so much for your work. The article looks great. @zzap I have reviewed the content and created the article in the WordPress support at https://wordpress.org/support/article/read-more-block/

[2022-07-18 17:10] femkreations commented on #242
https://wordpress.org/support/article/read-more-block/ Here is the updated Read More block page updated for 6.0.

[2022-07-18 18:05] femkreations commented on #206
This block is deprecated according to https://developer.wordpress.org/block-editor/reference-guides/core-blocks/. We will be using the Avatar block instead.

[2022-07-19 14:31] #248 closed

[2022-07-19 14:31] #160 closed

[2022-07-19 14:31] #125 closed

[2022-07-19 14:31] #193 closed

[2022-07-19 14:31] #242 closed

[2022-07-19 14:33] #149 closed

[2022-07-19 14:36] #141 closed

[2022-07-19 15:34] femkreations commented on #175
Unpublishing the page as the Meetup block is not available any more.

[2022-07-19 15:36] #175 closed

[2022-07-19 18:25] jaedm97 commented on #376
@zzap I would like to work on this issue. Can you please add me?

Thank you.

[2022-07-20 00:47] femkreations commented on #158
Review completed. Updated the article for 6.0 with the screenshots and content and added in ALT tags and a changelog.

[2022-07-20 00:47] #158 closed

[2022-07-20 00:50] femkreations commented on #290
Updated the article for 6.0 with the screenshots and content and added ALT tags and a changelog.

[2022-07-20 06:17] pratiweb opened #386 "Wrong link added in submit feedback section in each article"
https://wordpress.org/support/article/categories-block/

## Issue Description
When you are logged in wordpress org. you will get **Was this article helpful? How could it be improved?** section to add improvements in each support documentation.

There is link mention for official wordpress support forum which have unuseful id section name like
https://wordpress.org/support/forums/#bbpress-forums

!

[2022-07-20 11:06] zzap commented on #385
## Representative

A Rep is a person who takes responsibility for the Documentation team’s projects, in parts or in whole.

This means that this person is a go-to person for all new contributors on the project. Also, a rep is monitoring progress of the project, or its parts, and reports on it during team meetings.

One person can be rep for one or more projects but also can be rep for one project

[2022-07-20 14:31] zzap commented on #385
## GitHub issues coordinator

### Responsibilities:

- Monitor all new issues created in [GitHub repository](https://github.com/WordPress/Documentation-Issue-Tracker/issues) and label them appropriately.
- Assign contributors who express the interest to work on the issue.
- Welcome assigned contributors with information about the docs project the issue belongs to: who is the project rep, onboardin

[2022-07-20 21:36] colorful-tones commented on #342
@carolinan @kafleg @TeBenachi - this new doc is ready for review. This is my first contribution. Thanks!

@zzap I've moved label to `Content Review`. Is this correct process?

For overall group, I added in the certain links to Learn videos, which I'm not sure is a standard, but I thought it would be helpful to allow different learning modalities. It could like be a maintenance burden. I'm curious

[2022-07-20 22:43] femkreations commented on #121
Updated the page https://wordpress.org/support/article/adding-a-new-block/

[2022-07-20 22:44] #121 closed

[2022-07-20 22:45] femkreations commented on #308
Thank you @pls78 and @jaz-on for helping out with this article and screenshots. I reviewed and updated the article.

Updated the page with all the missing details for 6.0  https://wordpress.org/support/article/adding-a-new-block/

[2022-07-21 01:10] leon-nugraha commented on #318
@femkreations the draft is ready for review
https://docs.google.com/document/d/1kQSZ5JF5x3jAyVtNUy-nGisVcOmh0xCgxb8eX-CwEtA/edit?usp=sharing

Also, this is one of the gif file in the doc. Attaching it here to make it easier for publishing.
![wordpress-comment-author-name](https://user-images.githubusercontent.com/108468349/180108202-bb6bb26b-c204-4ad8-9467-afc1043d1f82.gif)

Let me know if you hav

[2022-07-21 12:49] zzap commented on #342
Yes, that's great @colorful-tones. As for Learn videos, I'd hold on with that. We do plan to link documentation to Learn resources but they are in the process of merging lessons and videos so the URLs might change very soon. This is why we are waiting with any sort of inner linking. But great thinking, nevertheless. It is what we plan eventually.

[2022-07-21 14:03] zzap opened #387 "Opinionated param description for $block_content"
## Issue Description
Description of the param `$block_content` is very opinionated about its usage:

`(string) The block content about to be appended.`

## URL of the Page with the Issue

https://developer.wordpress.org/reference/hooks/render_block/

## Section of Page with the issue
[Parameters](https://developer.wordpress.org/reference/hooks/render_block/#parameters)

## Why is this a problem?
B

[2022-07-21 15:19] colorful-tones commented on #342
@zzap thanks for clarifying. I've removed the links to video resources for now. 👍

[2022-07-21 17:45] TeBenachi commented on #342
@colorful-tones  thank you so much. Great write-up!
Looks great to me! It’s so clear and concise.

Just a couple of small minor points I noticed, if I may.

_currently_ may not be necessary for easier maintenance.

Adding “**from the code editor**” might help some developers clarify a little further.

I think the pattern topic can go under the [Advanced Theme Topics](https://developer.wordpress.or

[2022-07-21 18:48] colorful-tones commented on #342
@TeBenachi thanks for the feedback. I've integrated both of your suggestions.

I do not have the ability to add this new doc here. May I have access please? Or, are Themes Team reps only allowed to access and add?

[2022-07-21 19:19] richtabor commented on #342
I'd consider moving the PHP registration as the secondary method for adding patterns, as its simpler and less involved technically speaking. I would also add a bit of what use cases should lead to one method v. the other.

[2022-07-22 09:14] leon-nugraha commented on #316
@femkreations can you assign me for this one?

[2022-07-22 09:36] carolinan commented on #342
@colorful-tones the themes team do not have user management permission for the docs in order to give you permission.

[2022-07-22 10:51] carolinan commented on #342
I can see the list of users names that has access, but I do not see yours. I am also not sure which the correct user role would be.

[2022-07-22 11:34] colorful-tones commented on #342
Great point and I agree. I'll fix that up when I'm at my desk.

@richtabor I would have to lean on your experience and knowledge here. I'm not clear on the indicators of choosing one over the other and the value of adding that additional context?

[2022-07-22 11:36] colorful-tones commented on #342
@carolinan thanks for checking and clarifying. I'll reach out to the Docs team to see if they're able to give me access. 👍

[2022-07-22 14:15] samxmunoz commented on #165
I'll take this one. 👋🏼

[2022-07-22 14:19] femkreations commented on #134
Updated https://wordpress.org/support/article/blocks/ with the list of blocks in the Block Inserter for 6.0, Added links for the pages that are ready. Also added info for Reusable blocks and Most Used blocks. Thanks.

[2022-07-22 14:20] samxmunoz commented on #153
I'll take this one. 👋🏼

[2022-07-22 14:20] #134 closed

[2022-07-22 15:38] colorful-tones commented on #178
@respectyoda is attempting to work on this with internal guidance.

[2022-07-22 16:47] femkreations commented on #320
Its all yours:-) Thank you

[2022-07-22 16:49] respectyoda commented on #178
Here are all the screenshots to update the documentation. Please note that in versions older than 5.9, one could transform the embed into a Paragraph or a Groups block. But with 5.9 and newer, they can additionally transform it into a Columns block. I have attached screenshots for this new type of block.

<img width="656" alt="Reddit-screenshot-1" src="https://user-images.githubusercontent.com/360

[2022-07-22 16:50] femkreations commented on #316
Done. Thank you!

[2022-07-22 17:29] colorful-tones commented on #178
@femkreations @zzap can either of you assign this to @respectyoda please?

I'm doing a preliminary review right now of the work and will leave pertinent feedback. Thanks!

[2022-07-22 18:01] samxmunoz commented on #165
### Screenshots:
![WordPress tv Embed Doc SS 1](https://user-images.githubusercontent.com/43501707/180497412-15c8d2dd-983f-4473-bf7d-746e1550c338.png)
![WordPress tv Doc SS 2](https://user-images.githubusercontent.com/43501707/180497418-d4a0e446-b060-42b6-a4b9-8960eda456b6.png)
<img width="451" alt="WordPress tv Doc SS 3" src="https://user-images.githubusercontent.com/43501707/180497424-0e34d5d7-5

[2022-07-22 18:14] colorful-tones commented on #178
@femkreations @zzap this is ready for review and updating (if there is no further feedback). I took a run through with Aaron.

Thanks @respectyoda for working through this! 👏

[2022-07-22 18:19] respectyoda commented on #178
Thank you for bringing me onboard! @colorful-tones

[2022-07-22 19:17] richtabor commented on #342
I'd say that themes _should_ use the `/patterns` method, with the caveat that those patterns will not be available to sites running < WordPress 6.0. But if you're building a block theme, you should use the `/patterns` method 100% of the time.

[2022-07-22 19:18] richtabor commented on #342
Plugins that register patterns (though there aren't many) would need to use the PHP method.

[2022-07-22 19:53] colorful-tones commented on #342
@richtabor I swapped the sequence for `patterns/` and `PHP registration` sections. I also updated and added a small addition here:

Do you think that is adequate guidance?

[2022-07-22 20:59] samxmunoz commented on #165
Hello @zzap / @femkreations! All done with the screenshots & some suggestions to update the doc. Happy to make the updates myself if I have the proper permissions :)

[2022-07-22 21:04] colorful-tones commented on #342
I've submitted the post for review: "Block Patterns" under the "Advanced Theme Topics" (parent) on the Developer site.

Once approved, it would appear here: `https://developer.wordpress.org/themes/advanced-topics/block-patterns/`

Heads up @carolinan @kafleg @TeBenachi - I'm assuming it is you folks that will review and publish it?

Thanks everyone for your guidance! 🥳

[2022-07-22 21:26] dreamwhisper commented on #182
Let me know if anything else is needed.

<img width="456" alt="imgur" src="https://user-images.githubusercontent.com/1271053/180569829-28045eda-6b71-4768-97fe-92920cb20cd5.png">

<img width="329" alt="imgur-add" src="https://user-images.githubusercontent.com/1271053/180569712-e5a81a54-6b95-454f-8799-333e413589ff.png">

<img width="676" alt="imgur-embed" src="https://user-images.githubusercontent.c

[2022-07-22 21:33] colorful-tones commented on #182
@femkreations This is ready for review and publishing. Screenshots are all updated. Nice job @dreamwhisper 👏

[2022-07-23 03:21] colorful-tones commented on #342
Adding a note here to add in a new section to this doc that addresses how to conditionally load 3rd party blocks in patterns. As flagged by @carolinan [in Slack](https://wordpress.slack.com/archives/C015GUFFC00/p1658529329831819?thread_ts=1658476772.718039&channel=C015GUFFC00&message_ts=1658529329.831819).

[2022-07-24 15:11] zzap commented on #165
You have needed access now, @samxmunoz . Thank you so much for contribution :heart:

[2022-07-25 11:56] Ignasrimkunas commented on #319
@femkreations heya, here's the article https://docs.google.com/document/d/1K93zOq58NKaq4OPmRe-CcL-H-sDnDiO8jw8kG_VmEqI/edit?usp=sharing

[2022-07-25 15:16] samxmunoz commented on #165
This has been updated! 🎉

[2022-07-25 15:17] colorful-tones commented on #165
Nice work @samxmunoz ! Closing this out.

[2022-07-25 15:17] #165 closed

[2022-07-25 15:45] colorful-tones commented on #178
@zzap may I have access to [this site](https://wordpress.org/support/article/reddit-embed/) so I can update the screenshots please?

[2022-07-25 17:17] femkreations commented on #319
Thanks, @Ignasrimkunas and @emmasophieyoung for your help. This page has been published with the content and screenshots you provided. Awesome work.

https://wordpress.org/support/article/comment-date-block/

[2022-07-25 18:22] femkreations commented on #318
@leon-nugraha Thank you for the awesome work. The content looks great. I have created the article in WordPress
https://wordpress.org/support/article/comment-author-name-block/
Thanks!

[2022-07-26 07:51] zzap commented on #387
Created Trac ticket and patch https://core.trac.wordpress.org/ticket/56286

[2022-07-26 08:57] zzap commented on #385
## Onboarding coordinator

Onboarding process can last anywhere between 7 days and 4 weeks, depending on contributor's prior knowledge, skills, and experience. During this period potential new contributor should learn about documentation projects, team members and other contributors, and all the ways in which they can contribute to the Documentation team. It is not mandatory to attend Documentatio

[2022-07-26 13:34] zzap commented on #385
## Contributor Day Facilitator

[Contributor Days](https://make.wordpress.org/community/handbook/contributor-day/contributor-days/) are usually organised as a part of [WordCamp](https://make.wordpress.org/community/handbook/wordcamp-organizer/) but can be standalone events as well.

**It is NOT expected from Docs team Contributor Day Facilitator to organise the event.** Docs team Contributor Day F

[2022-07-26 14:47] colorful-tones commented on #156
@marconmartins are all screenshots in here? ☝️

[2022-07-26 14:50] colorful-tones commented on #162
@marconmartins are all screenshots attached for this? Thanks for your help!

[2022-07-26 14:53] colorful-tones commented on #155
This is ready for review. Just needs to be assigned and reviewed.

[2022-07-26 14:55] colorful-tones commented on #154
This is ready for review. It just needs to be assigned and reviewed.

[2022-07-26 14:58] colorful-tones commented on #151
This is ready for review.

[2022-07-26 14:59] colorful-tones commented on #150
This is ready for review.

[2022-07-26 15:25] colorful-tones commented on #384
@zzap I made a few grammatical updates to your post (still creepy that I can Edit your words). This seems like an overall improvement to me. 👏

The only thing I wonder about... the current page has a small callout about the Codex, which I feel like we might want to still consider having it? However, I would encourage us to push it towards the bottom and maybe give it special callout styling treatm

[2022-07-26 15:29] samxmunoz commented on #153
@colorful-tones yes I am still working on this one :)

[2022-07-26 17:55] colorful-tones commented on #342
@carolinan @justintadlock - I added a new section: "Using 3rd-party blocks". Please review and let me know if there is any feedback. Thanks!

[2022-07-26 20:25] annezazu commented on #342
@colorful-tones not sure if this is desired to be included but wanted to note some of the fun stuff from the [curating the editor doc](https://developer.wordpress.org/block-editor/how-to-guides/curating-the-editor-experience/#utilizing-patterns). Perhaps just linking off to this one is more than enough for now but it would be great to talk about locking, prioritizing patterns, etc.

[2022-07-26 20:45] colorful-tones commented on #342
@annezazu I think that is suitable for this doc and would be happy to add. I mostly want to get this published for now and could even add something while publishing the final doc, but just getting something published is better than nothing. 😄

I'll leave this open for another day or two for feedback, but then will likely publish and iterate from there.

[2022-07-26 22:38] annezazu commented on #342
I hear you there :D Sounds great.

[2022-07-27 00:41] colorful-tones commented on #178
The [original post](https://wordpress.org/support/article/reddit-embed/) has been updated and Changelog has been updated at the bottom of post. Closing this out.

Thanks for your awesome work @respectyoda !

[2022-07-27 00:41] #178 closed

[2022-07-27 06:30] Ignasrimkunas commented on #321
@femkreations heya assign me to this done, thanks!

[2022-07-27 06:30] Ignasrimkunas commented on #322
@femkreations heya assign me to this done, thanks!

[2022-07-27 08:07] leon-nugraha commented on #316
@femkreations
Ready for review:
https://docs.google.com/document/d/16ZuKEBfpGLSEj5FMAInnVirRU0EpkkUuPfp8vItECtk/edit?usp=sharing

Gif file on the doc:
![wordpress-comment-pagination](https://user-images.githubusercontent.com/108468349/181195618-69469ff4-26ea-4798-a0dd-9336180f003d.gif)

[2022-07-27 08:18] leon-nugraha commented on #315
Hi @femkreations, I'd like to work on this one

[2022-07-27 08:26] leon-nugraha commented on #270
@femkreations i'd like to work on this

[2022-07-27 10:41] samxmunoz commented on #153
Here are the screenshots I will be adding & updating. (fyi @colorful-tones & @zzap)

**Other Updates:**

- I will also be updating some of the information as it is outdated (especially around alignment) and copying from the **[WordPress.tv Doc](https://wordpress.org/support/article/wordpress-tv-embed-block/)**
- There is no changelog so I will add that to this doc

<img width="684" alt="Latest Com

[2022-07-27 14:43] femkreations commented on #322
Done. Thank you @Ignasrimkunas

[2022-07-27 17:11] estelaris opened #388 "Move articles from Helphub to Devhub"
## Issue Description

Move articles to DevHub. Some will fit in the new Advance Administration that will be created under DevHub as [per meta ticket #6411](https://meta.trac.wordpress.org/ticket/6411), while others can be merged into existing articles or included in other sections.
**_Articles that need to be moved in full are in this list. For articles that need sections removed, see the project

[2022-07-27 17:57] samxmunoz commented on #153
This has been updated & is ready to be closed - @colorful-tones care to do the honors?

https://wordpress.org/support/article/latest-comments-block

I've been speaking with @femkreations and @bph about templates & patterns for docs to help make the docs more consistent across the board - however, we're not ready with that yet - so the focus of this update was primarily on content updates (screensh

[2022-07-27 18:14] colorful-tones commented on #153
closing this out. Thanks @samxmunoz !

[2022-07-27 18:14] #153 closed

[2022-07-28 08:11] zzap commented on #384
Thank you for review @colorful-tones :raised_hands:

[2022-07-28 08:26] #384 closed

[2022-07-28 10:47] zzap commented on #385
## Issues triage facilitator

[2022-07-28 11:18] 3ele-projects opened #389 "Example code probably wrong | do_action"
## Issue Description
In the example there is the line:

$value = do_action( 'example_action', $arg1, $arg2 );

If you check the function at
https://github.com/WordPress/wordpress-develop/blob/6.0/src/wp-includes/plugin.php#L441-L479

there is no return.  So it seems that no value is returned.

## URL of the Page with the Issue

https://developer.wordpress.org/reference/functions/do_action)

## Sec

[2022-07-28 23:52] jopdop30 opened #390 "Spelling mistake in plugin handbook"
## Issue Description

On the 'Server Side PHP and Enqueuing' page of the plugin handbook there is spelling mistake where the author wrote the word 'sould' instead of 'should'.

## URL of the Page with the Issue

https://developer.wordpress.org/plugins/javascript/enqueuing/#:~:text=to%20someone%20who-,sould,-not%20use%20it

## Section of Page with the issue

The information box underneath the 'Loca

[2022-07-28 23:52] colorful-tones commented on #342
@zzap I've just clicked the 'Submit for Review' [on this draft](https://developer.wordpress.org/wp-admin/post.php?post=141733&action=edit). Curious, what team might be reviewing? Should I ping somebody?

[2022-07-29 00:14] carolinan commented on #342
Please no more pings 😄 once is enough unless you don't hear anything for several weeks.

[2022-07-29 01:05] carolinan commented on #342
@colorful-tones Are you still editing? The post is still locked.

[2022-07-29 01:12] colorful-tones commented on #342
@carolinan no, I am no longer editing.

[2022-07-29 02:08] carolinan commented on #342
I have some **suggestions**.

In the first paragraph it says:
"They offer a means to expedite and elevate the editorial experience by offering users a preset arrangement of blocks to start building right away."

As a non native English speaker, the use of expedite and elevate and editorial experience is just confusing to me.
My actual reaction was "Elevate? you mean like elevating an element in th

[2022-07-29 02:15] carolinan commented on #342
OK a few more things that came to mind after I posted the comment above:

1. Should it not include instructions for how to display the pattern in a template in a full site editing theme, using the pattern block?
3. Can we link to [Converting customizer settings to block patterns]( https://developer.wordpress.org/themes/block-themes/converting-customizer-settings-to-block-patterns/)?

[2022-07-29 02:18] carolinan commented on #342
On this list item `patterns/ folder (recommended for block themes)` can we add that it only works from 6.0?

[2022-07-29 11:07] Ignasrimkunas commented on #320
all done :) https://docs.google.com/document/d/1bF4rvlqea8E8vRRRlQjwFFFSiSx7W77SsydO0aIk1Vs/edit?usp=sharing

[2022-07-29 11:10] leon-nugraha commented on #316
@femkreations Draft ready for review
https://docs.google.com/document/d/16ZuKEBfpGLSEj5FMAInnVirRU0EpkkUuPfp8vItECtk/edit?usp=sharing
Gif file:
![wordpress-comment-pagination](https://user-images.githubusercontent.com/108468349/181747144-d9a6902a-704b-4c2e-8217-7c1277a6e8fe.gif)

[2022-07-29 13:07] kafleg opened #391 "Transferring Your Theme to a New Owner"
_This is a new page to add under the [releasing your theme](https://developer.wordpress.org/themes/releasing-your-theme/) section._

### Here is a Draft

Do you want to transfer your theme to the new owner? Or want to know the process of how to transfer a theme from one author to another?

There might be various reasons to transfer the theme. If you are not able to maintain it properly, then you c

[2022-07-29 13:32] kafleg commented on #391
Or I think we can update here in FAQs, https://make.wordpress.org/themes/handbook/faq/#how-do-i-transfer-my-theme-to-another-user

[2022-07-29 21:28] colorful-tones commented on #342
@carolinan thanks for all this awesome feedback! I'm going to look to incorporate it directly in the Make draft post. I'll drop a note here once it is all updated. 👍

[2022-07-29 22:39] colorful-tones commented on #342
I've changed to read: "They offer a means to refine the editorial experience by offering users a preset arrangement of blocks to start building right away." Does this seem clearer?

<hr>

Thank you! 👍

<hr>

I believe I've addressed this. Please peek and let me know.

<hr>

I've added clarification around this as well. Let me know.

<hr>

I've converted the example from a Cover block to an Image b

[2022-07-30 07:18] jagirbahesh commented on #390
I am interested  to resolve this issue.
I have also read the readme.md but i am not getting how to start.
Can any one guid for the same?

[2022-08-01 11:17] Renda02 commented on #386
Hi @pratiweb, I am interested in resolving this issue. May you kindly guide me?

[2022-08-01 12:11] zzap commented on #386
This issue is being worked on in this Trac ticket: https://meta.trac.wordpress.org/ticket/5758

[2022-08-01 12:11] #386 closed

[2022-08-01 12:13] carolinan commented on #391
Yes I think it is best to update the FAQ since this is for the theme directory, not themes in general.

[2022-08-01 13:18] zzap commented on #385
## Team rep (representative)

Read more at [official page](https://make.wordpress.org/updates/team-reps/).

[2022-08-01 13:53] zzap commented on #385
## Contributor

Contributor is everyone who has ever contributed to the Documentation team by:
- reporting an issue with any part or project maintained by the Documentation team,
- fixing, in part or whole, an issue with any part or project maintained by the Documentation team,
- performing any of the non project based roles,
- attending the team meeting and participating in discussions, and
- att

[2022-08-01 20:17] justintadlock opened #392 "Clarify issue with how layouts work when using theme.json"
## Issue Description

Wide/full alignments and layouts work differently when using a theme with a `theme.json` vs. one without.  A full description of this issue is outlined in [an ongoing Gutenberg ticket](https://github.com/WordPress/gutenberg/issues/33374).  A good breakdown of it is [in this comment](https://github.com/WordPress/gutenberg/issues/33374#issuecomment-1186836100).

The Theme Handb

[2022-08-01 23:18] femkreations commented on #268
Thank you @leonidasmi. The page has been updated with the screenshots you added.

https://wordpress.org/support/article/archives-block/

[2022-08-01 23:19] femkreations commented on #155
Thank you for your work @mileamadalin. The page has been updated with the screenshots.

https://wordpress.org/support/article/archives-block/

[2022-08-01 23:41] #155 closed

[2022-08-02 00:26] femkreations commented on #182
Thank you for your work @colorful-tones and @dreamwhisper. The page is published with updates. I also updated the changelog and added ALT tags for the images.

https://wordpress.org/support/article/imgur-embed/

[2022-08-02 00:26] #182 closed

[2022-08-02 00:33] andrewserong commented on #392
Thanks for opening this tracking issue @justintadlock, it'd be great to document many parts of the current state of the Layout support in addition to the content and wide sizes. I've started a draft PR over in https://github.com/WordPress/gutenberg/pull/42619 that is less about the specifics of `theme.json` and tries to give a bit more top-level overview about the current state of the Layout suppo

[2022-08-02 14:31] dknauss commented on #391
Where is the appropriate place to make edits to new drafts like this? (Assuming this is wanted.)

[2022-08-02 14:45] kafleg commented on #391
You can [create an issue](https://github.com/WordPress/Documentation-Issue-Tracker/issues/new/choose) and make the draft.

[2022-08-02 16:56] femkreations commented on #316
Thank you for your awesome work @leon-nugraha I have created the page with the contents.

https://wordpress.org/support/article/comment-pagination-block/

[2022-08-02 16:58] #213 closed

[2022-08-02 17:52] femkreations commented on #320
Thank you @Ignasrimkunas I've reviewed the content and created the new page.  Awesome work!
https://wordpress.org/support/article/comment-content-block/

[2022-08-02 17:55] #208 closed

[2022-08-02 20:05] justintadlock commented on #392
@andrewserong - I agree that it needs to be documented in both places.  I think this page of the Theme Handbook mostly needs to note the issue, but we need a deeper explanation of the features elsewhere.  I'm also working on a tutorial around layouts and alignments with the hope that it offers more clarity around how all of this works.

[2022-08-02 20:09] justintadlock commented on #392
The following is a first pass at an update for Layout section of the `theme.json` page in the Theme Handbook: https://developer.wordpress.org/themes/advanced-topics/theme-json/#layout

I'm trying to keep it relatively short (and we can go shorter) with links to relevant information for theme authors who want to dig into it more.  Let me know what you think or please make any adjustments.

---

##

[2022-08-03 09:57] zzap commented on #150
@femkreations all yours :point_up:

[2022-08-03 10:43] zzap commented on #151
@femkreations another one for you :raised_hands:

[2022-08-03 20:17] femkreations commented on #150
Thank you @marconmartins for the screenshots. I have updated the page with them.

https://wordpress.org/support/article/page-break-block/

[2022-08-03 20:17] #150 closed

[2022-08-03 21:11] femkreations commented on #151
Looks great. Thank you @telmott for the screenshots and videos. The page has been updated with them.
https://wordpress.org/support/article/separator-block/

[2022-08-03 21:11] #151 closed

[2022-08-04 17:35] femkreations commented on #162
Thank you @marconmartins for the screenshots. The page has been updated with them.

https://wordpress.org/support/article/soundcloud-embed/

[2022-08-04 17:36] #162 closed

[2022-08-04 18:49] femkreations commented on #156
@marconmartins Thank you. Awesome work getting the screenshots. I've updated the page with them.

https://wordpress.org/support/article/calendar-block/

[2022-08-04 18:51] femkreations commented on #274
Thank you @leonidasmi This page has been updated with the 6.0 screenshots.

https://wordpress.org/support/article/calendar-block/

[2022-08-04 18:52] #156 closed

[2022-08-04 23:19] femkreations commented on #154
Thank you @evrpress for the screen captures. I've updated the page with them https://wordpress.org/support/article/categories-block/

[2022-08-04 23:19] #154 closed

[2022-08-04 23:21] femkreations commented on #273
Thanks @evrpress and @suascat for your work.

This page has been updated for 6.0 with the screenshots.
https://wordpress.org/support/article/categories-block/

[2022-08-05 06:54] carolinan commented on #342
The page is published and added to the menu. Thank you!

[2022-08-05 06:54] #342 closed

[2022-08-05 14:09] estelaris opened #394 "[HelpHub] Content review in similar articles"
## Issue Description

The articles **Adding and moving blocks** and **Moving blocks** have similar content at the end.

## URL of the Page with the Issue

[Adding and moving blocks](https://wordpress.org/support/article/adding-a-new-block) and [Moving blocks](https://wordpress.org/support/article/moving-blocks/)

## Section of Page with the issue

https://wordpress.org/support/article/adding-a-new

[2022-08-05 16:18] justintadlock commented on #392
Updated text after cross-check with @kafleg. https://developer.wordpress.org/themes/advanced-topics/theme-json/#layout

[2022-08-05 16:18] #392 closed

[2022-08-05 16:20] kafleg commented on #392
Thank you Justin :)

[2022-08-05 17:02] femkreations opened #395 "Preferences modal redesign - 28329"

[2022-08-05 17:02] #395 closed

[2022-08-05 17:07] femkreations commented on #126
Adding tasks to 6.0 https://github.com/WordPress/Documentation-Issue-Tracker/issues/302 and closing this issue

[2022-08-05 17:07] #126 closed

[2022-08-05 17:24] femkreations commented on #129
Adding tasks to 6.0 [#340 ](https://github.com/WordPress/Documentation-Issue-Tracker/issues/340) and closing this issue

[2022-08-05 17:24] #129 closed

[2022-08-05 17:29] femkreations commented on #152
Adding tasks to 6.0 [#272 ](https://github.com/WordPress/Documentation-Issue-Tracker/issues/272) and closing this issue

[2022-08-05 17:29] #152 closed

[2022-08-05 19:36] femkreations commented on #246
Adding tasks to 6.0 [#295 ] and closing this issue

[2022-08-05 19:36] #246 closed

[2022-08-05 22:18] femkreations commented on #217
Adding to 6.0 #314 and closing this issue.

[2022-08-05 22:18] #217 closed

[2022-08-05 22:21] femkreations commented on #88
Adding to #287 and closing this issue.

[2022-08-05 22:21] #88 closed

[2022-08-05 22:29] femkreations commented on #204
Adding this to #298 and closing this issue

[2022-08-05 22:29] #204 closed

[2022-08-05 22:31] femkreations commented on #209
This task was completed in #319 for 6.0, hence closing this issue

[2022-08-05 22:31] #209 closed

[2022-08-05 22:33] femkreations commented on #212
This task is included in #315 for 6.0 hence closing this issue.

[2022-08-05 22:33] #212 closed

[2022-08-05 22:34] femkreations commented on #211
This task is being worked on in #321 for 6.0, hence closing this issue

[2022-08-05 22:34] #211 closed

[2022-08-05 22:35] femkreations commented on #210
This task is being worked on in #322 for 6.0 hence closing this issue.

[2022-08-05 22:35] #210 closed

[2022-08-05 22:47] femkreations commented on #228
Closing this as there is a task created for Post Author Block page #225. We don't have a separate Post Author Name block.

[2022-08-05 22:47] femkreations commented on #227
Closing this as there is a task created for Post Author Block page https://github.com/WordPress/Documentation-Issue-Tracker/issues/225. We don't have a separate Post Author Name block.

[2022-08-05 22:47] #227 closed

[2022-08-05 23:20] femkreations commented on #207
This task is completed in 6.0 #318 hence closing this issue.

[2022-08-05 23:20] #207 closed

[2022-08-07 17:40] femkreations commented on #394
@estelaris Thanks for catching this. I've added a link in the Add Block page to point to the Move page and moved the content to the Move page.
Also refreshed the content and title.

https://wordpress.org/support/article/adding-a-new-block/
https://wordpress.org/support/article/moving-blocks/

[2022-08-07 20:31] femkreations commented on #224
Adding tasks into #338 and closing this issue

[2022-08-07 20:31] #224 closed

[2022-08-08 06:20] Ignasrimkunas commented on #325
@femkreations heya assign me to this one, thanks!

[2022-08-08 06:20] Ignasrimkunas commented on #324
@femkreations heya assign me to this one, thanks!

[2022-08-08 06:20] Ignasrimkunas commented on #323
@femkreations heya assign me to this one, thanks!

[2022-08-08 09:59] #394 closed

[2022-08-08 21:12] joyously opened #397 "Plugin Handbook: two different addresses to get to same page"
## Issue Description
A callout paragraph has two different links that resolve to the same page.

## URL of the Page with the Issue
https://developer.wordpress.org/plugins/plugin-basics/activation-deactivation-hooks/

## Section of Page with the issue
First section, yellow callout

## Why is this a problem?
It appears that there are two pages about the same topic, thus more to research before under

[2022-08-09 00:03] femkreations commented on #221
There is no block named Navigation Area. We have a separate issue for Navigation block #297 Hence closing this.

[2022-08-09 00:03] #221 closed

[2022-08-09 00:51] theMikeD commented on #397
Done.

[2022-08-09 00:51] #397 closed

[2022-08-09 00:56] theMikeD commented on #390
Done.

[2022-08-09 00:56] #390 closed

[2022-08-09 06:32] Ignasrimkunas commented on #321
All done https://docs.google.com/document/d/15ZnpcmQA3MKJZnUOjgY2kzM532Mm5f23-9aSdL4yRkE/edit#heading=h.i0h9yjf1adgz

[2022-08-09 06:32] Ignasrimkunas commented on #322
https://docs.google.com/document/d/1E78Vsio4krKGLhRXPiRkarLDHMSl5nmGioAiqQB2AwA/edit#heading=h.i0h9yjf1adgz All done

[2022-08-09 07:07] leon-nugraha commented on #315
Ready for review
https://docs.google.com/document/d/1qBG86hC0jrd7KARIeiSeK80MqAWB5qpKQrwpQ1_aX_U/edit?usp=sharing

[2022-08-09 07:22] leon-nugraha commented on #270
_[New explanation for adding an individual button and the style preservation. This comes after the explanation for adding the buttons block]_

The Buttons block will come with one individual button block by default, within which you can customize the text, link, and style for the button. To add more buttons, click the plus (+) icon in the Buttons block, and a new button will appear. Note that the

[2022-08-09 09:34] zzap commented on #385
## Theme handbook

### Responsibilities
- Work on Theme handbook issues in [Issue Tracker repo](https://github.com/WordPress/Documentation-Issue-Tracker/issues/), whether it's creating a new page or just fixing a part of existing one.
- Report on progress at the Documentation team meetings - Project updates agenda item.

### How do I do this job?
- Look for [issues labeled with `themes` label](htt

[2022-08-09 16:57] zzap commented on #385
## Common APIs handbook

Project URL: https://developer.wordpress.org/apis/
Project issues label: `apis`
Project issues URL: https://github.com/WordPress/Documentation-Issue-Tracker/labels/apis

### Responsibilities
- Work on Common APIs handbook issues in [Issue Tracker repo](https://github.com/WordPress/Documentation-Issue-Tracker/issues/), whether it's creating a new page or just fixing a part

[2022-08-09 23:59] femkreations commented on #245
This is a deprecated block and is listed under https://wordpress.org/support/article/blocks/#deprecated. Closing this issue.

[2022-08-09 23:59] #245 closed

[2022-08-10 00:47] femkreations commented on #229
This block has been deprecated as notes in https://wordpress.org/support/article/blocks/#deprecated. CLosing this issue.

[2022-08-10 00:47] #229 closed

[2022-08-10 15:45] femkreations commented on #239
We are documenting this as part of the Pagination block and not keeping separate articles as this block is always part of the Pagination block. #237  Closing this issue

[2022-08-10 15:45] #239 closed

[2022-08-10 15:47] femkreations commented on #215
We are documenting this as part of the Pagination block and not keeping separate articles as this block is always part of the Pagination block. #237  Closing this issue. The pagination block will be linked in the Comments Query loop block page and the Query loop block page.

[2022-08-10 15:47] #215 closed

[2022-08-10 15:47] femkreations commented on #216
We are documenting this as part of the Pagination block and not keeping separate articles as this block is always part of the Pagination block. #237  Closing this issue. The pagination block will be linked in the Comments Query loop block page and the Query loop block page.

[2022-08-10 15:47] #216 closed

[2022-08-10 15:47] femkreations commented on #214
We are documenting this as part of the Pagination block and not keeping separate articles as this block is always part of the Pagination block. #237  Closing this issue. The pagination block will be linked in the Comments Query loop block page and the Query loop block page.

[2022-08-10 15:47] #214 closed

[2022-08-10 20:10] femkreations commented on #241
This is a technical block name with variations for Archive Title and Search Title(coming in 6.1). It is not visible to the end user. Hence closing this issue.

[2022-08-10 20:10] #241 closed

[2022-08-11 07:35] garretthyder opened #399 "Broken Link: wp-config-sample.php goes to a 4.4.2 trac tag that's not working"
## Issue Description
In the 'Default wp-config-sample.php' section - https://developer.wordpress.org/apis/wp-config-php/#default-wp-config-sample-php
The link to wp-config-sampe.php - https://core.trac.wordpress.org/browser/tags/4.4.2/src/wp-config-sample.php#L0
Is broken and goes to a dead trac tag.

Should be linked to trunk maybe? https://core.trac.wordpress.org/browser/trunk/wp-config-sample.p

[2022-08-11 15:33] lukecav opened #400 "Remove the Installing DesktopServer doc article"
## Issue Description
ServerPress the company behind DesktopServer has shut down and it is no longer possible to download DesktopServer.
https://wptavern.com/serverpress-is-shutting-down

## URL of the Page with the Issue
https://make.wordpress.org/core/handbook/tutorials/installing-a-local-server/desktopserver/

## Section of Page with the issue
https://make.wordpress.org/core/handbook/tutorials/i

[2022-08-11 19:01] annezazu opened #401 "Theme developer handbook: Add a page for theme resources/tools"
## What is the new page you are requesting?

As more tools are coming onto the scene for getting started with block themes, I think it makes sense to gather them in one place for folks to explore and find what fits their needs. Here's the list I have:

- [Create Block Theme plugin](https://wordpress.org/plugins/create-block-theme/) by theme contributors.
- [Theme Generator](https://fullsiteediting

[2022-08-13 00:16] annezazu commented on #401
Happy to draft something/collaborate with someone/etc. Just let me know how best to proceed as I haven't yet contributed to the Theme Handbook just yet!

[2022-08-13 14:15] zzap opened #404 "Create manifest.json"
Since we want Advanced administration handbook to be generated from GitHub repository, we will need to create manifest.json, for which we will have to know the exact structure/sitemap of the handbook.

Here are a couple of examples:
- Coding standards handbook: https://github.com/WordPress/wpcs-docs/blob/master/manifest.json
- Docs style guide: https://github.com/WordPress/WordPress-Documentation-

[2022-08-13 14:19] zzap commented on #404
Since we want Advanced administration handbook to be generated from GitHub repository, we will need to create manifest.json, for which we will have to know the exact structure/sitemap of the handbook.

Here are a couple of examples:
- Coding standards handbook: https://github.com/WordPress/wpcs-docs/blob/master/manifest.json
- Docs style guide: https://github.com/WordPress/WordPress-Documentation-

[2022-08-13 19:01] joyously opened #405 "Code Reference: need More Information on WP_Filesystem"
## Issue Description
There are a few confusing things regarding `WP_Filesystem` docs.

1. The code in the function `WP_Filesystem` uses a variable to instantiate a class, so the docs parser doesn't link the pages.
[code]
There is no link to the base class mentioned in the summary.
2. The return value is not really explained. Basically, the More Information section needs to say what happens using t

[2022-08-13 22:50] TonyGravagno opened #406 "Page for register_post_type menu_position needs an update"
## Issue Description
The list of integer values for menu_position indirectly, unintentionally, and inaccurately implies that the valid range for this field is 5 to 100. The actual text is also a bit misleading. This old text needs some love.

## URL of the Page with the Issue
https://developer.wordpress.org/reference/functions/register_post_type/#menu_position

## Section of Page with the issue
[P

[2022-08-14 10:52] tahmid-ul opened #407 "Style issue in the table of contents in summary page in the doc - plugin handbook"
## Issue Description

The **Table of content** in the [summary page](https://developer.wordpress.org/plugins/javascript/summary/) under the javascript category in the plugin handbook has incorrect formatting. There isn't any spacing around the **_Topics_** heading and also there is a list style applied to the list item - _**More Information**_

Here is a screenshot of the issue - https://prnt.sc/u

[2022-08-15 08:19] lucprincen commented on #388
@zzap can we add the advanced administration label to this issue?

[2022-08-15 08:20] lucprincen commented on #388
I'll do some work today and tomorrow to complete this list of todo's as we have an extensive google doc filled with pages that need to be ported over.

[2022-08-15 08:24] lucprincen commented on #388
We also currently have two projects that try to deal with **advanced administration** content which we might chose to merge? Feels like the content in "Inventory of technical parts from end user docs" should eventually be in an issue for the Advanced administration handbook.

![Schermafbeelding 2022-08-15 om 10 21 36](https://user-images.githubusercontent.com/3257545/184601670-09795e61-1cef-48f8-8

[2022-08-15 09:10] zzap commented on #388
Actually no. Not everything from HelpHub will end up in Advanced administration. Some of it is strictly for developers and will, most likely, go to Common APIs.

[2022-08-15 10:09] zzap commented on #385
## Design

### Responsibilities
- Review and maintain an accurate sitemap.
- Create pattern templates for the articles.

### How do I do this job?
- Check with other project reps about new articles being published and make sure they are using the correct category/subcategory (link to the GH project coming)
- Create pattern templates to be used when new articles are created.

[2022-08-15 13:40] lucprincen commented on #388
More pages added to the suggested fix:

- [ ] [Administration over ssl](https://wordpress.org/support/article/administration-over-ssl/)
- [ ] [Backing up your database](https://wordpress.org/support/article/backing-up-your-database/)
- [ ] [Backing up your WordPress files](https://wordpress.org/support/article/backing-up-your-wordpress-files/)
- [ ] [Before you create a network](https://wordpress.

[2022-08-15 20:25] theMikeD commented on #401
In general we do not link to third party sites.

[2022-08-15 23:38] jeffikus commented on #401
@theMikeD ok, at the very least Create Block Theme plugin is a WordPress project, so we should link to that somehow in the same manner we do for Create Block package here -> https://developer.wordpress.org/block-editor/getting-started/create-block/

[2022-08-16 04:24] trinadin opened #408 "Format API Example Broken Links"
## Issue Description

The page https://developer.wordpress.org/block-editor/how-to-guides/format-api/ has two links, "complete format-api example" and "format-api example" that both point to a GitHub page (https://github.com/WordPress/gutenberg-examples/tree/trunk/format-api) that 404s.

I think the correct GitHub page is here: https://github.com/WordPress/gutenberg-examples/tree/trunk/non-block-e

[2022-08-16 07:56] javiercasares opened #409 "Initial Handbook structure"
There is some need for a structure in the new Advanced Administration Handbook.

As we don't know how the final structure will be, some general big "categories" can be added, and then we can create documentation inside them. Initial idea:

- Server: information about Server / Hosting / sysadmin documentation.
- WordPress: information about WordPress configuration (advanced wp-config.php, advanced

[2022-08-16 08:04] zzap commented on #401
I would link to [Create Theme Plugin](https://wordpress.org/plugins/create-block-theme/) and [Theme Generator](https://fullsiteediting.com/block-theme-generator/) from fullsiteediting.com. Fullsiteediting site is extremely valuable resource, created by make team member solely for the open source benefit. It could have easily been under wp.org if we had the place for it at the time.

For the other

[2022-08-16 08:16] zzap commented on #409
Just to mention that we have External Linking Policy in making and these would need to follow some rules. We still don't have all the rules set but here are things to consider when linking to external resource from wp.org: https://make.wordpress.org/docs/tag/external-linking-policy/

[2022-08-16 08:18] javiercasares commented on #409
Yes, that "More Documentation" or the "Resources" was related to #328 ;)

[2022-08-16 08:19] zzap commented on #409
Thank you. Just wanted to be sure we're on the same page :)

[2022-08-16 08:23] javiercasares commented on #349
There are some tools about wp-config (one is mine):

- https://wpconfig.wpsysadmin.com/
- https://generatewp.com/wp-config/
- https://developer.wordpress.org/apis/wp-config-php/
- https://github.com/romslf/wp-config-generator
- https://developer.wordpress.org/cli/commands/config/

Also, I documented practically all the wp-config options here some time ago.

https://en.wpsysadmin.com/security/wordp