[2022-08-16 09:41] javiercasares commented on #409
I created a Doc having a first idea (it's going to change, so no problem changing documents from one section to another...).

https://docs.google.com/document/d/1fVIw3DztzyVY18RDPCGk-kDYTO6gzHtx81o7aitGijo/

[2022-08-16 12:46] theMikeD commented on #349
FYI we do not make links to external (non-WordPress owned) sites.

[2022-08-16 13:34] zzap commented on #385
## End user documentation - General

Project URL: https://wordpress.org/support/
Project issues label: user documentation
Project issues URL: https://github.com/WordPress/Documentation-Issue-Tracker/labels/user%20documentation

### Responsibilities
- Work on end user documentation issues in [Issue Tracker repo](https://github.com/WordPress/Documentation-Issue-Tracker/issues/), whether it's creatin

[2022-08-16 13:39] zzap commented on #385
## End user documentation - Block editor

Project URL: https://wordpress.org/support/article/blocks/
Project issues labels: user documentation, block editor
Project issues URL: https://github.com/WordPress/Documentation-Issue-Tracker/issues?q=is%3Aopen+label%3A%22user+documentation%22+label%3A%22block+editor%22

### Responsibilities
- Work on block editor end user documentation issues in [Issue Tr

[2022-08-16 13:57] javiercasares commented on #409
https://github.com/zzap/WordPress-Advanced-administration-handbook/pull/1

[2022-08-16 13:58] javiercasares commented on #404
https://github.com/zzap/WordPress-Advanced-administration-handbook/pull/2

[2022-08-16 15:24] zzap commented on #385
## End user documentation - Feedback curator

Project code name: HelpHub
Project URL: https://wordpress.org/support/wp-admin/edit-comments.php
Project issues labels: user documentation, block editor
Project issues URL: https://github.com/WordPress/Documentation-Issue-Tracker/labels/user%20documentation, https://github.com/WordPress/Documentation-Issue-Tracker/labels/block%20editor, [any of the ver

[2022-08-16 15:54] tillkruss opened #410 "Tidy up suggested object caching plugins"
## Issue Description
The "Persistent Cache Plugins" section is a bit outdated and could be improved. Discovered via WordPress/performance/issues/448.

## URL of the Page with the Issue
https://developer.wordpress.org/reference/classes/wp_object_cache/#persistent-cache-plugins

## Section of Page with the issue
Persistent Cache Plugins

## Why is this a problem?
1. The APCu plugin suggestion links

[2022-08-16 16:53] annezazu commented on #401
Thanks for clarifying! What's the process for getting the first two added in that case? Happy to write up a proposed blurb. I might defer a bit to @poena considering one of those tools is hers/due to her history with the theme team in navigating how best to approach adding these resources.

[2022-08-16 16:54] lucprincen commented on #410
Hi @tillkruss, thanks for reporting. I've removed the APCu suggestion, as its clearly out of date and updated warnings for both "W3 Total Cache" and "LiteSpeed Cache", but since this is my first edit to the handbook, I'd also like input of others on wether or not we should get rid of these two.

Your point seems completely valid to me, and I'd gladly get rid of the two other options, but before I

[2022-08-16 20:37] femkreations commented on #218
@anyk17 This page looks great. I added in the ALT tags for the images and published it.

https://wordpress.org/support/article/embed-block/

[2022-08-16 20:43] #218 closed

[2022-08-16 20:50] femkreations commented on #388
@lucprincen @zzap The oEmbed information has been pulled out of the Embeds article: https://wordpress.org/support/article/embeds/ and moved to the google doc shared below. Pls add this to the Advanced Administration Handbook. Thanks

https://docs.google.com/document/d/1ni59ohlSHeCH_BwRtxUXzGY1LLWqFiaaGQFcCjh_2rQ/edit?usp=sharing

[2022-08-17 00:34] tillkruss commented on #410
Makes sense.

We ran into this adding a new "Persistent Object Caching" section to the optimization docs as part of https://github.com/WordPress/wordpress-develop/pull/2890 and https://github.com/WordPress/performance/issues/448.

[2022-08-17 00:58] mhimon opened #411 "Repeated text "while while" in working with users page"
Repeated text 'while while'

## Issue Description
wp_create_user() creates a user using only the username, password and email parameters **while while**

## URL of the Page with the Issue
[https://developer.wordpress.org/plugins/users/working-with-users/](https://developer.wordpress.org/plugins/users/working-with-users/)

## Section of Page with the issue
![Screen Shot 2022-08-17 at 6 56 31 AM](ht

[2022-08-17 03:19] smileBeda opened #412 "Suggest to add new Boilerplate (maintained) to the List of Plugin Boilerplates"
## Status Quo
Currently the https://developer.wordpress.org/plugins/plugin-basics/best-practices/ page suggests a couple Plugin Boilerplates as starting points for aspiring (or experienced) DEVs to create Plugins.
See section [Boilerplate Plugins](https://developer.wordpress.org/plugins/plugin-basics/best-practices/#boilerplate-starting-points).
All of them are very good starting points, but all o

[2022-08-17 04:44] javiercasares commented on #388
Added to the AAH Doc.

[2022-08-17 08:41] zzap opened #413 "WordPress 6.1 release docs contributors"
WordPress 6.1 release is at the beginning. Docs focus leads are preparing everything for documenting. Meanwhile we're calling contributors to help out and learn how WordPress release is being documented.

**This issue will be used for volunteering and keeping track of all people who volunteered to participate. Once we have work ready, we will contact volunteers in WordPress [slack](https://make.wo

[2022-08-17 08:58] zzap commented on #401
As this is Themes handbook I don't want to interfere with what Themes team have in plan regarding structure and the info provided. I would suggest though, from the documentation user perspective, to keep the comparison table, that's a nice touch. Also, I'd love clearly noted reasons when I would use each tool and why. Which problem does it solve (better than other?) and which problem does it intro

[2022-08-17 09:25] carolinan commented on #401
Maybe there could be a resource page for both classic themes and block themes.
The Theme Check plugin and the [PHP code sniffer rules](https://github.com/WPTT/WPThemeReview) could also be added there.
But Theme Check and several other resources are already on the [Testing page](https://developer.wordpress.org/themes/releasing-your-theme/testing/)

[2022-08-17 09:27] carolinan commented on #401
It would be good to have an extensive description of how to use the create a block theme plugin, not only a link.

[2022-08-17 16:35] femkreations commented on #233
Not included in the core blocks for 5.9 and 6.0. Hence closing this.

[2022-08-17 16:35] #233 closed

[2022-08-17 16:35] femkreations commented on #231
Not included in the core blocks for 5.9 and 6.0. Hence closing this.

[2022-08-17 16:35] #231 closed

[2022-08-17 16:36] femkreations commented on #230
Not included in the core blocks for 5.9 and 6.0. Hence closing this.

[2022-08-17 16:36] #230 closed

[2022-08-17 16:49] tahmid-ul commented on #413
Hello @zzap, I would like to contribute to Wordpress 6.1 release docs.

Wordpress.org - **tahmidulkarim**
Github -  **tahmid-ul**

[2022-08-17 16:52] femkreations commented on #388
@javiercasares Can you pls share a link so I can add it to the Embed block page for reference? Thanks

[2022-08-17 18:28] samxmunoz commented on #186
I can take this one. 👋🏼

[2022-08-17 18:33] samxmunoz commented on #179
I can take this one! 👋🏼

[2022-08-17 18:36] samxmunoz commented on #177
I can take this one! 👋🏼

[2022-08-17 18:47] javiercasares commented on #388
https://docs.google.com/document/d/1fVIw3DztzyVY18RDPCGk-kDYTO6gzHtx81o7aitGijo/

[2022-08-17 19:50] femkreations commented on #321
Thanks, @Ignasrimkunas. The content looks great. I've created a new page for this block with the info.

https://wordpress.org/support/article/comment-reply-link-block/

[2022-08-17 20:30] femkreations commented on #322
Thank you for your work. The content looks great, I've created a new page for this block.

https://wordpress.org/support/article/comment-edit-link-block/

[2022-08-18 15:00] estelaris opened #414 "Review content in WordPress widgets"
## Issue Description

This article has references to the widget API (DevHub) and several links in the resources part to the Codex.

## URL of the Page with the Issue

https://wordpress.org/support/article/wordpress-widgets/

## Section of Page with the issue

[Widget API reference](https://wordpress.org/support/article/wordpress-widgets/#widget-areas)
[Outdated links to Codex and external site](ht

[2022-08-18 16:18] annezazu commented on #401
I really dig that idea. I'll rename this issue to be about theme resources and will work on getting more info for create block theme plugin. Would you be game to collaborate on this otherwise, @carolinan ?

[2022-08-18 18:50] theMikeD commented on #411
Fixed thanks @mhimon

[2022-08-18 18:50] #411 closed

[2022-08-18 21:08] femkreations commented on #270
Thank you for your work on this page. @leon-nugraha I have updated the page with your info. Also added some missing details from the previous releases.

https://wordpress.org/support/article/buttons-block/

[2022-08-19 05:32] Ignasrimkunas commented on #325
All done: https://docs.google.com/document/d/1OS4CrEssu4VQqa9BOj2es0aRSeWaGWNa3NmPxh--eNk/edit?usp=sharing

This should be the last of comments blocks

[2022-08-19 12:47] bethanylang opened #415 "Add Persistent Object Cache section and additional details to Optimization guide"
## Issue Description
The Performance team has reviewed the Optimization guide and would like to add a new section for Persistent Object Cache that explains what it is, how it can help load times, and how to use one. In addition, we'd like to add a new link to the [Persistent Cache Plugins](https://developer.wordpress.org/reference/classes/wp_object_cache/#persistent-cache-plugins) guide to the Fur

[2022-08-19 12:50] bethanylang commented on #415
These changes have been made to https://wordpress.org/support/article/optimization/. Closing this issue!

[2022-08-19 12:50] #415 closed

[2022-08-19 14:58] samxmunoz commented on #179
@zzap - this has been updated. Can you or @colorful-tones review & close this issue?

https://wordpress.org/support/article/slideshare-embed

[2022-08-19 15:48] femkreations commented on #315
Thanks @leon-nugraha The content looks great. I've created the new page https://wordpress.org/support/article/comment-template-block/

[2022-08-19 15:54] femkreations commented on #179
@samxmunoz This looks great. Thank you.

[2022-08-19 21:53] colorful-tones commented on #179
@samxmunoz you rock! Closing this out.

[2022-08-19 21:53] #179 closed

[2022-08-19 21:58] joyously opened #416 "Code Reference: More Info for WP_Query post_name__in parameter"
## Issue Description
The sentence is from past perspective, where 4.4 is future.

## URL of the Page with the Issue
https://developer.wordpress.org/reference/classes/wp_query/#post-page-parameters

## Section of Page with the issue
Post & Page Parameters

## Why is this a problem?
Other references in same paragraph indicate versions as past.

## Suggested Fix
Verify that the option was indeed adde

[2022-08-19 23:21] joyously opened #417 "Code Reference: More Info for WP_Rewrite links"
## Issue Description
The More Information section for WP_Rewrite has two links to itself. It looks very similar to the Rewrite API page, but actually has more details (but missing the info about `init` hook), yet it links to the API page in the Codex.
There is also a link to a support article for Pretty Permalinks, but it doesn't link to that section of the article.

## URL of the Page with the Is

[2022-08-21 14:57] atachibana commented on #414
@estelaris
Thank you for the heads up.
I have corrected the document as you indicated.

[2022-08-21 14:57] #414 closed

[2022-08-21 17:26] femkreations commented on #276
This page has been updated:
Added 6.0 screenshots and videos.
Updated block toolbar with Add button and replace the info with the updated process for adding images to the gallery.
Reordered the info to separate the block toolbar and block sidebar.
Adding Dimensions to the block settings with video.
Updating the block settings for images.
Adding details for image customizations with content, screen

[2022-08-22 09:40] estelaris opened #418 "Automated installation"
## Issue Description

## URL of the Page with the Issue

## Section of Page with the issue

## Why is this a problem?

## Suggested Fix

[2022-08-22 10:57] estelaris opened #419 "Repeated article"
## Issue Description

Two articles with the same content providing no new information to user

## URL of the Page with the Issue

[Block Types](https://wordpress.org/support/?post_type=helphub_article&p=11927095)
[Blocks](https://wordpress.org/support/article/blocks/)

## Section of Page with the issue

Entire draft

## Why is this a problem?

Repeated information

## Suggested Fix

- [ ] Delete d

[2022-08-22 16:23] femkreations commented on #419
Removed the duplicate draft. @estelaris @atachibana

[2022-08-22 20:44] annezazu commented on #401
[Here's a draft either way.](https://docs.google.com/document/d/1FH4bqRi2MUjWyBJP8EWvaoyt-LJ2JF-k6qK0IxX-B_4/edit?usp=sharing) I propose it lives under either Getting Started or Theme Basics. My instinct is Theme Basics at the very end but I trust you all here :D

[2022-08-23 05:08] tanazmasaba commented on #413
Hi @zzap 👋 I'd love to contribute to WordPress 6.1 release docs.

WordPress.org - tanazmasaba
Github - tanazmasaba

[2022-08-23 05:31] carolinan commented on #401
@dingo-d Would you like to write something short about https://github.com/WPTT/WPThemeReview for the theme developer handbook?

[2022-08-23 05:38] Ignasrimkunas commented on #232
@femkreations Heya, assign me this one. Thanks!

[2022-08-23 06:04] dingo-d commented on #401
I can't make any promises, currently, I need to focus on the WordPress PHP Coding Standards handbook PRs. After this is done, I could probably write something about it 🙂

[2022-08-23 09:51] estelaris opened #420 "External links in article Comment Spam"
## Issue Description

Still maintains links to Codex and an external site that I'm not even sure it is built with Wordpress

## URL of the Page with the Issue

[Comment spam](https://wordpress.org/support/article/comment-spam/)

## Section of Page with the issue

[Fighting comment spam](https://wordpress.org/support/article/comment-spam/#fighting-comment-spam)
[The good news](https://wordpress.org

[2022-08-23 11:57] estelaris opened #421 "[Helphub] Outdated screenshots on Content Visibility article"
## Issue Description

Screenshots are from older WP versions.

## URL of the Page with the Issue

https://wordpress.org/support/article/content-visibility/

## Section of Page with the issue

The entire article

## Why is this a problem?

outdated references

## Suggested Fix

- [ ] review content to see if it is still accurate
- [ ] add new screenshots

[2022-08-23 12:06] estelaris commented on #421
This has been resolved by creating a second article that explains the process in the Block editor

[2022-08-23 12:06] #421 closed

[2022-08-23 14:24] samxmunoz commented on #171
I'll take this one! 👋🏼

[2022-08-23 14:33] #183 closed

[2022-08-23 15:32] samxmunoz commented on #341
@femkreations - I can update this article with the screenshots provided by @hdvos, please assign to me!

[2022-08-23 16:28] samxmunoz commented on #186
@femkreations / @zzap - This article has been updated & is ready for review! 🎉

[2022-08-24 02:57] femkreations commented on #186
Looks good @samxmunoz Thank you.

[2022-08-24 02:57] #186 closed

[2022-08-24 13:02] estelaris opened #422 "Duplicated article Pages and Create a New Page"
## Issue Description

Two articles with similar information

## URL of the Page with the Issue

[Pages](https://wordpress.org/support/article/pages/)
[Creating a new page](https://wordpress.org/support/?post_type=helphub_article&p=11927012&preview=true) - draft

## Section of Page with the issue

Entire page

## Why is this a problem?

duplicated content

## Suggested Fix

- [x] review and update

[2022-08-24 23:39] femkreations commented on #422
@estelaris I have updated the page, and rewrote several parts with screenshots, and updated content. Also deleted the draft.

https://wordpress.org/support/article/pages/

[2022-08-25 05:57] dilipbheda opened #423 "Code Reference: Found extra bracket in do_action_ref_array document"
## Issue Description
Found an extra `<` bracket in the more information section

Ref: https://tinyurl.com/2g7u4w4h

## URL of the Page with the Issue
https://developer.wordpress.org/reference/functions/do_action_ref_array/

## Section of Page with the issue
I have found this issue in more information section.
https://developer.wordpress.org/reference/functions/do_action_ref_array/#more-information

[2022-08-25 09:48] emmasophieyoung commented on #323
https://docs.google.com/document/d/1sjSbO-X6eoNEhjyaVa-wA9lUa4C_SV_tAPsOlkMgGww/edit
@femkreations  ready for review

[2022-08-25 09:49] emmasophieyoung commented on #324
https://docs.google.com/document/d/12xzflYO0mBiFpaJxaWh5L_Zb-Pb1WmJFJc3HSYbdRAM/edit

^^from Ignas, ready for review @femkreations

[2022-08-25 09:50] emmasophieyoung commented on #325
https://docs.google.com/document/d/1lerABYls6_cAp2WvFAGazKg4HyOhWlT7m2xJp2iil7g/edit
@femkreations ready for review (also from Ignas ^^)

[2022-08-25 10:18] estelaris commented on #422
issue fixed

[2022-08-25 10:18] #422 closed

[2022-08-25 14:41] stevenlinx commented on #416
Thank you for reporting.

Yes, the option `post_name__in` was added since v4.4 as shown in the Core trac ticket below.

https://core.trac.wordpress.org/ticket/33065

I've made the revision.

[2022-08-25 14:52] stevenlinx commented on #423
Thank you for reporting.

1.)
I've removed the bracket `<` in question.

2.)
There are two other problems that I also fixed.

The `<pre></pre>` tag in the first two sample code are redundant.

I've removed them as well.

[2022-08-25 15:23] emmasophieyoung commented on #232
https://docs.google.com/document/d/1sIilM3SQENjy0szjIwAc12Xe8SVR_Rwb2CuFeQUnKOg/edit

[2022-08-25 15:36] estelaris opened #424 "Outdated content and links to Codex in CSS"
## Issue Description

The content needs to be reviewed and almost every link inside the articles links to a Codex article

## URL of the Page with the Issue

https://wordpress.org/support/article/css/

## Section of Page with the issue

Full article

## Why is this a problem?

Outdated documentation

## Suggested Fix

- [ ] Review and update content to today's CSS standards
- [ ] Remove links to C

[2022-08-25 15:53] estelaris commented on #419
Issue fixed

[2022-08-26 14:17] estelaris opened #425 "Is this a duplicated article? Dimension Controls Overview"
## Issue Description

There is a draft called Dimension controls in the editor since it has no content only the headers, it is difficult to say it us duplicated but the headings are also seen in the Dimension Controls Overview article

## URL of the Page with the Issue

[Dimension controls in the editor](https://wordpress.org/support/?post_type=helphub_article&p=15125181) draft
[Dimension controls

[2022-08-26 15:29] #416 closed

[2022-08-26 15:30] #423 closed

[2022-08-26 17:33] samxmunoz commented on #177
Hello! This has been updated & a video walkthrough created. 🎉

https://wordpress.org/support/article/dailymotion-embed/

Please review @zzap @femkreations - thank you!

[2022-08-26 18:40] samxmunoz commented on #171
Hello! This has been updated & a video walkthrough created. 🎉

https://wordpress.org/support/article/crowdsignal-embed

Please review @zzap @femkreations - thank you!

[2022-08-26 18:58] samxmunoz commented on #340
I'll handle the video for this one & updating the article - please assign to me @femkreations / @zzap

[2022-08-26 21:52] colorful-tones commented on #166
I've updated all the screenshots for 6.0, added a quick video walkthrough and updated the changelog. Closing this out.

[2022-08-26 21:52] #166 closed

[2022-08-29 05:17] leon-nugraha commented on #226
@femkreations I'll work on this

[2022-08-29 05:17] leon-nugraha commented on #225
@femkreations I'll work on this

[2022-08-29 13:29] Ignasrimkunas commented on #237
Heya @femkreations assign me to this one, thanks!

[2022-08-29 15:25] estelaris opened #426 "[HelpHub] FAQ's review content"
## Issue Description

there are several FAQ pages that need content review and decide if we keep them, move them to DevHub or delete them.

## URL of the Page with the Issue

- [ ] [FAQ Working with WordPress](https://wordpress.org/support/article/faq-working-with-wordpress/)
- [ ] [FAQ installation](https://wordpress.org/support/article/faq-installation/)
- [ ] [FAQ troubleshooting](https://wordp

[2022-08-29 16:35] estelaris opened #427 "Content review for Finding WP Help article"
## Issue Description

Outdated content and links to Codex and some to external sites

## URL of the Page with the Issue

[Finding WordPress help](https://wordpress.org/support/article/finding-wordpress-help/)

## Section of Page with the issue

Full article

## Why is this a problem?

Outdated information

## Suggested Fix

- [ ] Review and update content
- [ ] Update or remove outdated links

[2022-08-30 05:39] leon-nugraha commented on #413
Hi @zzap, I'd also love to contribute to WP 6.1 release docs

WordPress.org - leonnugraha
GitHub - leon-nugraha

[2022-08-30 10:14] estelaris opened #428 "Review content for Hosting WordPress"
## Issue Description

Update content to remove developer jargon

## URL of the Page with the Issue

[Hosting WordPress](https://wordpress.org/support/article/hosting-wordpress/)

## Section of Page with the issue

- Recommended setup
- Hosting providers

## Why is this a problem?

Making content easier to understand

## Suggested Fix

- [ ] **Recommended Setup** section should be re-written to, ba

[2022-08-30 14:54] Ignasrimkunas commented on #237
I was also wondering, can I also cover these topics for this block?

- Pagination Next Page block
- Pagination Page Numbers block
- Pagination Previous Page block

Similar to the ones I did for comment query block:

- https://github.com/WordPress/Documentation-Issue-Tracker/issues/325
- https://github.com/WordPress/Documentation-Issue-Tracker/issues/324
- https://github.com/WordPress/Documentation

[2022-08-30 15:14] femkreations commented on #171
Looks great. @samxmunoz Thanks for adding the ALT tags as well.

[2022-08-30 15:14] #171 closed

[2022-08-30 15:16] femkreations commented on #177
Awesome work @samxmunoz. Closing this task

[2022-08-30 15:16] #177 closed

[2022-08-31 05:26] Ignasrimkunas commented on #237
Ready for review @femkreations https://docs.google.com/document/d/1l6JCvjTMGfaI03dR2ATD8b6Oh6pwurVzpFswhbr2hF0/edit

[2022-08-31 11:15] estelaris opened #429 "Content review for article How WP processes post content"
## Issue Description

There are parts of this article that are not for end-user. I have added this article to the [Inventory of Technical Parts From End User Docs[(https://github.com/orgs/WordPress/projects/26/views/1)

## URL of the Page with the Issue

[How WordPress processes post content](https://wordpress.org/support/article/how-wordpress-processes-post-content/)

## Section of Page with the

[2022-08-31 17:10] femkreations commented on #237
Thanks @Ignasrimkunas.
Can you pls also add the info for Pagination Next Page, Pagination Page Numbers and Pagination Previous Page blocks in this google doc.
We discussed this in the [Slack channel](https://wordpress.slack.com/archives/C02RP4WU5/p1660056199303179) and it was decided to have one page with all the Pagination block info and then link this Pagination Block page to the Comments Query

[2022-09-01 10:56] estelaris opened #430 "[HelpHub] Content review for Creating a Search page"
## Issue Description

The page is focused on developer information but needs to refocus for Helphub end-users.

## URL of the Page with the Issue

[Creating a search page](https://wordpress.org/support/article/creating-a-search-page/)

## Section of Page with the issue

full article

## Why is this a problem?

developer jargon/content review

## Suggested Fix

- [ ]  Review and update content in t

[2022-09-01 14:49] estelaris opened #431 "Inserting images into Posts and Pages (Block Editor)"
## What is the new page you are requesting?

There is a page for [Inserting images into Posts and Pages](https://wordpress.org/support/article/inserting-images-into-posts-and-pages/) focused on the Classic Editor.

## How will this new page help you?

Keeping up with new features

[2022-09-01 14:54] estelaris commented on #431
Duplicated request

[2022-09-01 14:54] #431 closed

[2022-09-01 16:00] estelaris opened #432 "[HelpHub] Three articles on keyboard shortcuts?"
## Issue Description

There are 3 articles on keyboard shortcuts. Is there a reason for the draft article?

## URL of the Page with the Issue

[Keyboard shortcuts in Block Editor?](https://wordpress.org/support/?post_type=helphub_article&p=11032287) draft
[Keyboard shortcuts in Classic Editor](https://wordpress.org/support/article/keyboard-shortcuts/)
[Keyboard shortcuts in Block Editor](https://w

[2022-09-02 05:11] stevenlinx commented on #417
Thank you for the reporting.

I've revised the content.

1.) Regarding the self linked WP_Rewrite phrase, the source didn't link it. It's linked automatically.

2.) I also did an optional revision. I revised external link to the phrase "URL Rewriting" to linking to a Wikipedia article instead since the original external link violates external linking policy.

[2022-09-02 05:54] Ignasrimkunas commented on #237
@femkreations
Thank you! I've added information about the Next Page, Page Numbers, and Previous Page. Left a few comments in the doc and merged the part about the **More Options** button. Tell me if its good to go or if should I fix anything

[2022-09-02 15:17] colorful-tones commented on #401
@annezazu I would be happy to collaborate here. I aim to review [your Doc](https://docs.google.com/document/d/1FH4bqRi2MUjWyBJP8EWvaoyt-LJ2JF-k6qK0IxX-B_4/edit?usp=sharing) today and provide any feedback. Thanks for getting all of this going! 👏

[2022-09-02 18:42] annezazu commented on #401
Amazing! Thank you!

[2022-09-02 19:44] colorful-tones commented on #401
@annezazu awesome job covering all the good stuff. 😄

I made a few minor edits and added a blurb on _s (Underscores) and the WordPress Coding Standards for PHP_CodeSniffer.

I would say this is good to go. I agree that putting it at the bottom of the list under Theme Basics would seem logical.

One thing I would like to throw out for consideration: should we add a screenshot of both Create Block T

[2022-09-02 19:50] annezazu commented on #401
Thank you so much for stepping in here! This is a huge help. As for screenshots, I don't feel strongly either way. In my mind, it's one more thing to keep up to date but it also might add some nice visuals to an otherwise text heavy doc.

[2022-09-03 16:53] robinwpdeveloper opened #433 "Writing Posts page has a broken link (Screen Options)"
## Issue Description

Writing Posts page (dedicated to classic editor) has a broken link.
In the Screen Options section, there is a link called Screen Options  (Content from the page: There are more editing fields available to you than you see on first login. The [Screen Options](https://wordpress.org/getting-started/administration-screens/#screen-options) area allows you ...).

This link redirect

[2022-09-04 00:45] robinwpdeveloper commented on #433
@atachibana please review and let me know what is the correct url for this.

[2022-09-04 05:29] saug opened #434 "Theme image gallery documentation spacing issue"
## Issue Description
The page's main content and the Topics menu sidebar do not seem to fit in the same row due to which the main content has been pushed downwards resulting in significant gap between the page title and the main content.

## URL of the Page with the Issue
https://developer.wordpress.org/themes/functionality/media/galleries/

## Section of Page with the issue
https://developer.word

[2022-09-04 05:58] SujanNagaju opened #435 "[Themes] Theme Gallery documentation shortcode format"
## Issue Description
On the documentation I noticed two format for the shortcode which seems to be confusing in between them. One of the shortcode I noticed is is using double parenthseis [[gallery]] and the another is using the single parenthesis for the shortcode [ gallery id="123" ]

Shortcode with single parenthesis can be found in the ID section https://developer.wordpress.org/themes/function

[2022-09-04 06:18] atachibana commented on #433
@robinwpdeveloper
Please remove this link. We don’ t have Screen Options anymore in Gutenberg, so won't prepare the specific page of it.

[2022-09-04 07:38] robinwpdeveloper commented on #433
Link Removed. We can close this ticket now.
Thanks @atachibana for your help.

[2022-09-04 07:38] #433 closed

[2022-09-04 16:11] javiercasares commented on #328
Added into https://github.com/zzap/WordPress-Advanced-administration-handbook/pull/3

[2022-09-04 16:34] javiercasares commented on #332
Added into https://github.com/zzap/WordPress-Advanced-administration-handbook/pull/3

[2022-09-04 16:54] javiercasares commented on #349
Added into https://github.com/zzap/WordPress-Advanced-administration-handbook/pull/3

[2022-09-04 17:03] javiercasares commented on #424
Started at https://github.com/zzap/WordPress-Advanced-administration-handbook/pull/3

[2022-09-04 18:05] javiercasares commented on #388
Added to https://github.com/zzap/WordPress-Advanced-administration-handbook/pull/3

[2022-09-05 01:02] carolinan commented on #401
@colorful-tones Thank you!
The PHPCS standards for WordPress core are different from the standards for themes released on WordPress.org:
https://github.com/WPTT/WPThemeReview
I think the page should include both, and the specific use case for the theme standard should be mentioned (themes intended to be published in the official theme directory).

[2022-09-05 15:23] #417 closed

[2022-09-05 19:28] dingo-d commented on #401
@carolinan @annezazu left some suggestions in the abovementioned doc, hope this is ok 🙂

[2022-09-05 19:32] annezazu opened #436 "Add mention of being able to enable appearance tools via theme_support to handbook page"
## Issue Description

Currently, the converting to a classic theme is missing a very recent PR that likely can be added to this section to help folks adopt parts of FSE.

## URL of the Page with the Issue

https://developer.wordpress.org/themes/block-themes/converting-a-classic-theme-to-a-block-theme/

## Section of Page with the issue

Add under this section perhaps as a new heading: https://deve

[2022-09-05 19:49] annezazu commented on #401
Thank you! I have resolved all open comments and made slight changes. I imagine it just needs another read over and confirmation by @carolinan and/or @colorful-tones to finally ship 🥳

[2022-09-06 05:19] carolinan commented on #401
I think it is ready to be published.
If there are other resources that we can think of they can be added over time.

[2022-09-06 14:44] colorful-tones commented on #401
@carolinan, I'm so happy you pointed that out! 👍

I would be happy to get this into the Theme Handbook this afternoon. Thanks, team!

[2022-09-06 16:36] colorful-tones commented on #401
Ok, the page has been created and submitted for review on the Theme Handbook site. So, pending review for now.

[2022-09-07 00:14] colorful-tones commented on #436
I would be happy to take this on, but I'm unsure about the timeline. I could get the update ready and queue it up for publication to be for the 6.1 milestone.

Even if it is a matter of setting a personal reminder and circling back in a few weeks, I can also do that.

For now, I'll self-assign, but if anybody has a direction of when to publish, then feel free to drop your feedback.

Thanks for get

[2022-09-07 00:17] colorful-tones commented on #382
I would be happy to address this. I wonder how it is done on other areas of site for replicated, boilerplate content. Is this a reusable block?

[2022-09-07 00:25] annezazu commented on #436
I'm not quite sure either! I think it's safe to wait for 6.1 so perhaps plan for that and schedule the update if that's an option.

[2022-09-07 20:46] justintadlock opened #437 "Move "Block Themes" above "Classic Themes" in sidebar"
## Issue Description

It's a small thing, but I think it's important that we're showcasing block themes ahead of classic themes in the handbook.  Currently, the sidebar displays classic before blocks:

![themes-handbook-sidebar](https://user-images.githubusercontent.com/1816309/188973807-39dbe6bc-1358-4e44-b810-ad20cf32b52f.png)

## URL of the Page with the Issue

https://developer.wordpress.org/t

[2022-09-08 15:12] estelaris commented on #47
This article will be removed as the [Features](https://wordpress.org/about/features/) page under About is kept up-to-date

[2022-09-08 15:12] #47 closed

[2022-09-08 15:17] estelaris opened #438 "Maintain a secure site"
## What is the new page you are requesting?

Remove the non-technical parts of the article [Hardening WordPress](https://wordpress.org/support/article/hardening-wordpress/) and create and new article for HelpHub with the title Maintain a secure site.

## How will this new page help you?

HelpHub needs an article on basic security

[2022-09-09 20:36] cdbessig opened #439 "Mac Instructions for SVN no longer applicable in 11.0+"
## Issue Description

## URL of the Page with the Issue

https://make.wordpress.org/core/handbook/tutorials/installing-a-vcs/

## Section of Page with the issue

[code]

## Why is this a problem?

The instructions are outdated and with newer macs and newer macos versions the current instructions are misleading and wasteful in time to a contributor trying to get up to speed.

## Suggested Fix

[cod

[2022-09-11 17:04] cavalierlife commented on #289
I'd like to work on this one.

[2022-09-11 17:26] #265 closed

[2022-09-11 17:31] dknauss commented on #223
Working on it!

[2022-09-11 17:32] justincatches commented on #432
I'd like to work on this issue.

[2022-09-11 17:38] cavalierlife commented on #289
### Screenshots for 6.0
Add new spacer block with /

![Image](https://user-images.githubusercontent.com/28687464/189541348-49772276-96e3-4eac-9fde-4b08df482b83.jpeg)

[2022-09-11 17:41] #287 closed

[2022-09-11 17:49] cavalierlife commented on #289
@femkreations These screenshots are ready to review.

[2022-09-11 17:51] wmjohnston06 commented on #289
Donna,

Please run with it.  I'm embarrassed that I never finished it, but I've
had a string of other commitments since I got back from WCEU.

Thanks,

Mike

*Mike Johnston*
Founder | Author
MyManagementMentor.com
***@***.***
+1 812-350-4628

On 9/11/22 6:38 PM, Donna Cavalier wrote:

[2022-09-11 18:00] cavalierlife commented on #289
No need to be embarrassed, @wmjohnston06 . And since I'm a new contributor, it's always possible I shouldn't have interrupted your process. I have no idea! Either way, we'll call this a team effort, right? :)

[2022-09-11 18:11] jenmearns commented on #303
No videos in existing article.

[2022-09-11 18:16] justincatches commented on #432
I have reviewed the draft file [Keyboard shortcuts in Block Editor?](https://wordpress.org/support/?post_type=helphub_article&p=11032287).

It is an almost exact duplicate of [Keyboard shortcuts in Classic Editor](https://wordpress.org/support/article/keyboard-shortcuts/).

I recommend removing this doc: [Keyboard shortcuts in Block Editor?](https://wordpress.org/support/?post_type=helphub_article

[2022-09-11 18:20] dknauss opened #440 "Follow consistent naming for Navigation Block and Submenu Navigation Child Blocks"
## Issue Description
There are two related problems with naming in this article. 1) The Navigation Block is referred to here as an "advanced block" without explanation. It doesn't communicate what "advanced" means and why that matters, so this may be an unnecessary and unhelpful description unless advanced blocks are defined and grouped under that heading. 2) Submenu Navigation Blocks are referred

[2022-09-11 18:27] cavalierlife commented on #288
I will check and add screenshots for this one.

[2022-09-11 18:40] kkoppenhaver commented on #408
Just created a PR that addresses this and I will come back and update this issue when that PR is merged.

[2022-09-11 18:51] kkoppenhaver commented on #399
We have updated this link to the link to trunk as part of WCUS 2022 Contributor Day.

[2022-09-11 18:53] cavalierlife commented on #288
Updated 6.0 screenshots:

![Image](https://user-images.githubusercontent.com/28687464/189544313-25e7b246-4185-4856-b49d-4e933c390217.png)
![Image](https://user-images.githubusercontent.com/28687464/189544308-7170497c-d21a-4f56-87f3-d65e1a7c49db.png)
![Image](https://user-images.githubusercontent.com/28687464/189544314-fa181013-a899-4092-af87-9dcc5d1bab9f.jpeg)
![Image](https://user-images.githubus

[2022-09-11 18:55] #399 closed

[2022-09-11 18:58] cavalierlife commented on #288
@femkreations Please review the updated screenshots. Any not here are already up to date.

[2022-09-11 20:46] kathrynwp opened #441 "Twenty Twenty-Three: User Support Guide"
## What is the new page you are requesting?

A user guide for the Twenty Twenty-Three theme and its style variations.

## How will this new page help you?

With a new default theme coming with WordPress 6.1, users will find a getting-started guide helpful. It could include information like:

- How Twenty Twenty-Three works with Full Site Editing, including what templates and patterns are included

[2022-09-11 20:50] theblogsmith commented on #267
# Post Author Biography Block
Creating a _ post author biography block_ will allow you to embed a user's **Biographical Info** from the **About Yourself** section in **Users** > **Profile** into your page or post.

In order to add a _post author biography block_, click on the inserter icon.

![Image](https://user-images.githubusercontent.com/113307503/189547412-1a3230b9-73a0-4a19-8909-de5af84824b3

[2022-09-11 20:50] theblogsmith commented on #267
# Post Author Biography Block
Creating a _ post author biography block_ will allow you to embed a user's **Biographical Info** from the **About Yourself** section in **Users** > **Profile** into your page or post.

In order to add a _post author biography block_, click on the inserter icon.

![Image](https://user-images.githubusercontent.com/113307503/189547412-1a3230b9-73a0-4a19-8909-de5af84824b3

[2022-09-11 20:53] theblogsmith commented on #267
A few notes for context:

- This is my first documentation contribution so I'm still figuring things out! I used this page as a template: https://wordpress.org/support/article/audio-block/
- I copied some items that were the same from this page so double-check to make sure things aren't out-of-date.
- I changed up the language for this template item to be more specific/avoid "click here": _Detaile

[2022-09-11 20:59] zzap commented on #267
Thank you so much @theblogsmith, it is great.

Heading sizes should be mostly H2 with few nested H3s.

[2022-09-12 04:03] theblogsmith commented on #267
@femkreations @jennimckinnon - I can't mark the first checkbox so tagging you for review :) Let me know if there's anything I should keep in mind when contributing to documentation

[2022-09-12 13:51] colorful-tones commented on #401
@carolinan would you have time to review the Pending draft this week please?

[2022-09-12 16:37] samxmunoz commented on #341
@femkreations / @zzap - this doc has been updated. Can one of you give it a quick review? Thanks!

[2022-09-12 16:39] kkoppenhaver commented on #408
Not sure who has the permission to close this, but the above PR has been merged and this issue is resolved. @zzap @bph

[2022-09-12 23:07] carolinan commented on #401
It is published -What menu item should it go under?

[2022-09-12 23:45] colorful-tones commented on #401
I would nest it under Theme Basics and make it the bottom (maybe priory 100). Thanks @carolinan

[2022-09-13 00:21] annezazu commented on #401
Sounds good to me! Going to close this out. Thanks, all <3 <3

[2022-09-13 00:55] colorful-tones commented on #401
I'm reopening until we have this showing in the main navigation. I'm seeing that it is assigned to the Theme Basics as the Parent but I'm not seeing it appearing in the navigation. It might be caching and want to verify before closing this all out.

[2022-09-13 01:02] carolinan commented on #401
The menus are not set up to include new articles automatically, they need to be added on the menu screen.

[2022-09-13 01:14] carolinan commented on #401
Added.

[2022-09-13 01:25] colorful-tones commented on #401
Verifying that I'm seeing the published page and it is at the bottom of the Theme Basics menu. Thanks @carolinan amd @annezazu

This is all set.

[2022-09-13 01:25] #401 closed

[2022-09-13 03:56] fclaussen commented on #262
@femkreations sorry, I'm new to collaborating. Does this mean this issue should now be closed?

[2022-09-13 06:40] Ignasrimkunas commented on #184
@femkreations heya i will take this one

[2022-09-13 08:25] estelaris commented on #262
@fclaussen yes, this issue is now closed.

[2022-09-13 08:25] #262 closed

[2022-09-13 09:34] estelaris opened #442 "[HelpHub] Content review - New to WordPress - Where to Start"
## Issue Description

Content update, broken links and article structure review

## URL of the Page with the Issue

[New to WordPress - Where to start](https://wordpress.org/support/article/new-to-wordpress-where-to-start/)

## Section of Page with the issue

Full article

## Why is this a problem?

## Suggested Fix

- [x] Link on first paragraph [need help](https://wordpress.org/support/article/n

[2022-09-13 09:47] estelaris opened #443 "[HelpHub] Content review - Introduction to Blogging"
## Issue Description

Outdated screenshots and content. Article is too long

## URL of the Page with the Issue

[Introduction to Blogging](https://wordpress.org/support/article/introduction-to-blogging/)

## Section of Page with the issue

Full article

## Why is this a problem?

Outdated content and too long to read on mobile

## Suggested Fix

Section [Things Bloggers need to know](https://wordp

[2022-09-13 11:16] colorful-tones commented on #437
+1 for me. Thanks for bringing it up.

[2022-09-13 14:26] estelaris commented on #408
Closing as resolved

[2022-09-13 14:26] #408 closed

[2022-09-13 21:53] xtrembaker opened #444 "paginate_links() parameters type are incorrect"
## Issue Description
`prev_text` and `next_text` parameters type for the `paginate_links()` function are wrong in the documentation

## URL of the Page with the Issue
[Function paginate_links](https://developer.wordpress.org/reference/functions/paginate_links/)

## Section of Page with the issue
- `prev_text` type
- `next_text` type

## Why is this a problem?
It’s written that `prev_text` and `nex

[2022-09-14 07:36] leon-nugraha commented on #225
@femkreations ready for review
https://docs.google.com/document/d/1vjUAPgrx57c9Nc7bAqbNpwujnS3AISm8l91MgJ-ihVc/edit

[2022-09-14 07:37] leon-nugraha commented on #226
@femkreations ready for review
https://docs.google.com/document/d/1xsih9lU4TolixS3uQSVGGfv5ARdHDuuVP5Dc1H2LGGg/edit

[2022-09-14 08:57] hannaw93 commented on #308
I can pick up this issue :)

[2022-09-14 09:02] hannaw93 commented on #322
I can pick this up :)

[2022-09-14 09:08] agnieszkaszuba commented on #293
I'll pick this up

[2022-09-14 09:16] leonidasmi commented on #280
I'm picking this up to add screenshots for this :)

[2022-09-14 09:20] hannaw93 commented on #307
I will pick up this issue :)

[2022-09-14 09:22] #322 closed

[2022-09-14 09:23] #320 closed

[2022-09-14 09:23] #321 closed

[2022-09-14 09:24] #319 closed

[2022-09-14 09:24] #318 closed

[2022-09-14 09:25] LizaBogatyrev commented on #172
Assign this to me please :)

[2022-09-14 09:26] #316 closed

[2022-09-14 09:26] #315 closed

[2022-09-14 09:26] #290 closed

[2022-09-14 09:26] lnaima commented on #339
I'll work on this

[2022-09-14 09:27] #308 closed

[2022-09-14 09:28] #284 closed

[2022-09-14 09:29] #274 closed

[2022-09-14 09:29] #276 closed

[2022-09-14 09:30] #273 closed

[2022-09-14 09:30] #270 closed

[2022-09-14 09:30] #268 closed

[2022-09-14 09:54] lnaima commented on #339
Only one menu is slightly different (an icon), here's the screenshot. The reusable block icon is changed.
![Audio-block_More_options](https://user-images.githubusercontent.com/6752710/190122925-2d2c69a0-604a-471d-a1f1-56369347ae66.png)

Like @abigail0r I think there are some headings missing.

[2022-09-14 10:15] leonidasmi commented on #280
Grabbed a video for the transformation:

https://user-images.githubusercontent.com/12400734/190127728-1de76f1a-4970-4c44-937d-eabcf5040313.mp4

[2022-09-14 10:44] leonidasmi commented on #280
@zzap ☝️ 😃

[2022-09-14 10:46] agnieszkaszuba commented on #293
I have updated the following screenshots. As far as I could see, no other screenshots needed updating.

More options in the Post Featured Image block:
<img width="300" alt="featured-post-image-block-options-6 0" src="https://user-images.githubusercontent.com/32479012/190133467-b81044df-5b2c-4050-8efe-419d1b681f30.png">

Apply duotone filter in the Post Featured Image block
<img width="671" alt="fe

[2022-09-14 11:02] leonidasmi commented on #132
I'm picking this up to update the screenshots

[2022-09-14 11:11] leonidasmi commented on #132
**[HTML Anchor Syntax](https://wordpress.org/support/article/page-jumps/#html-anchor-syntax):**
![page-jump-01](https://user-images.githubusercontent.com/12400734/190138307-c7915fea-353c-44a1-9056-a07a3af12790.png)

**[Link to your HTML Anchor](https://wordpress.org/support/article/page-jumps/#link-to-your-html-anchor):**
![page-jump-02](https://user-images.githubusercontent.com/12400734/190138761

[2022-09-14 11:12] marinakoleva commented on #164
I'll try to add some updated screenshots.

[2022-09-14 11:23] leonidasmi commented on #180
I'm picking this up to update the screenshots!

[2022-09-14 11:41] hannaw93 commented on #307
Done/added:
Double escape unselects all blocks.
Add keyboard shortcut help modal.

[2022-09-14 11:44] zzap commented on #281
Hey @jaz-on , are you still working on this one?

[2022-09-14 12:02] hannaw93 commented on #167
I will pick this one up :)

[2022-09-14 12:02] lnaima commented on #297
I'll work on that

[2022-09-14 12:12] LizaBogatyrev commented on #172
Make sure all screenshots are relevant for the current version (6.0)
- found a few screenshots that could use an update.  See attached
find Kickstarter project - share button and options have been updated on Kickstarter
![KickstarterProject](https://user-images.githubusercontent.com/113512233/190143517-e71e8c26-d3b9-4f58-a0af-1076185e813b.png)
Create short link
![KickstarterEmbed](https://user-ima

[2022-09-14 12:14] hannaw93 commented on #203
I will pick this one up :)

[2022-09-14 12:15] LizaBogatyrev commented on #172
Changelog:
Updated 2022-09-14
Updated 6.0 screenshots

[2022-09-14 12:18] lnaima commented on #297
Transform menu has a new option: "Home link"
![Navigation_block_Transform](https://user-images.githubusercontent.com/6752710/190151402-1157c553-e0b2-47eb-96dc-0bf4a912d067.png)

[2022-09-14 12:20] lnaima commented on #297
Toolbar options have a new button
![Navigation_block_Toolbar](https://user-images.githubusercontent.com/6752710/190151821-aae1cf1d-816c-4bdd-ac2b-7ae0724d3cb6.png)

[2022-09-14 12:22] lnaima commented on #297
In layout "All to wrap to multiple lines" is "**Allow** to wrap to multiple lines"

[2022-09-14 12:37] LizaBogatyrev commented on #172
@zzap Please review the changes

[2022-09-14 12:50] marinakoleva commented on #164
Note: not every screenshot needed to be updated. Also, photo and screenshot from Flickr updated, so that they are consistent across the post (couldn't find the previous penguin 😿 ).

*** Embedded image from flickr**
<img width="1063" alt="Screenshot 2022-09-14 at 13 38 32" src="https://user-images.githubusercontent.com/90325221/190154919-b125eb9b-ec0f-4481-9d57-b02d93906c9e.png">
* **Find your pho

[2022-09-14 12:51] hannaw93 commented on #203
Started on a new article :) https://wordpress.org/support/wp-admin/post.php?post=16008957&action=edit

[2022-09-14 12:54] marinakoleva commented on #164
Github refused to apply my formatting, sorry!

[2022-09-14 17:37] kshirodpatel opened #445 "Typo error for Speed"
## Issue Description
Type error for speed. It has been mentioned as sped.

## URL of the Page with the Issue
https://developer.wordpress.org/apis/handbook/transients/#overview

## Section of Page with the issue

In this url, the paragraph has sped word, but it should be speed.

## Why is this a problem?
The sped word doesn't make any sense here.

## Suggested Fix
It should be speed not sped.

[2022-09-14 19:04] justintadlock opened #446 "Docs for block-based template parts in classic themes"
## Issue Description

WordPress 6.1 is introducing [block-based template part support](https://github.com/WordPress/gutenberg/pull/42729) for classic themes.  This is an important step for gradual adoption of FSE.  We need to update the "Gradual adoption" section of the "Converting a classic theme" page with info on how to make use of the feature.

## URL of the Page with the Issue

https://develo

[2022-09-14 19:34] justintadlock opened #447 "Block theme setup file structure should be simpler"
## Issue Description

The [file structure](https://developer.wordpress.org/themes/block-themes/block-theme-setup/#file-structure) for the block theme setup page in the handbook could be simplified.  In its current form:

[code]

I'd like to see that simplified down to a smaller selection since this is more of an introductory section to block theming:

[code]

I couldn't remember if `index.php` was

[2022-09-14 19:45] justintadlock opened #448 "Internationalization and theme.json"
## Issue Description

The [internationalization page](https://developer.wordpress.org/themes/block-themes/internationalization/) in the block themes section of the theme handbook does not touch on text in `theme.json` and `/styles/*.json` files.  While there is nothing specific that developers need to do in this instance, we should add a section that explains how this works so that there is no con

[2022-09-14 21:49] carolinan commented on #446
When this page is created, this section in the block editor handbook should be updated so that the content is not duplicated in two different handbooks:
https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#block-based-template-parts

[2022-09-14 22:49] carolinan commented on #447
I have created a draft update which is scheduled to be published on September 30:
https://developer.wordpress.org/wp-admin/post.php?post=142950&action=edit

One of the code blocks had also broken, and I updated it.

[2022-09-14 22:50] kafleg commented on #447
I'm on it.

[2022-09-14 23:04] kafleg commented on #447
Block themes require a `style.css` file and an `index.html` template file that you place inside a folder called templates.

Is this the correct statement?
can we break it down and make it more simple? It sounds like those two files should be inside the `templates` folder.

[2022-09-15 09:50] jaz-on commented on #281
Hi @zzap so sorry I forgot about this one! :/
Not sure I'll have time to finish it in the coming weeks... it may be better to release the ticket if someone else is available to handle it!

[2022-09-15 17:29] luizbills opened #449 "[DevHub] Put space between param name and type"
## Issue Description
when I double click on a parameter to quickly select it, I end up selecting the name and type at the same time.
![2022-09-15_14-23](https://user-images.githubusercontent.com/1798830/190471349-2d582b0d-0c37-416f-8d1c-37dc24a75680.png)

## URL of the Page with the Issue
https://developer.wordpress.org/reference/functions/wp_insert_user/#parameters

## Section of Page with the is

[2022-09-15 17:38] justintadlock commented on #447
Thanks for this, @carolinan.  It looks really good.

Personally, I'd opt for simplifying it down to the following because we already further explain it in the text that comes after:

[2022-09-15 20:12] justintadlock opened #450 "Theme handbook page for custom block styles"
## What is the new page you are requesting?

A page under the "Advanced" section of the theme handbook (or an alternative place if preferred) for using the [Block Styles API](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-styles/).

## How will this new page help you?

While there is an existing [Block Styles API](https://developer.wordpress.org/block-editor/referenc

[2022-09-15 20:21] justintadlock opened #451 "Migrate `wp_enqueue_style_block()` content to including CSS and JavaScript page"
## Issue Description

The Including CSS and JS page in the theme handbook does not currently have documentation on loading per-block stylesheets via `wp_enqueue_block_style()`.

## URL of the Page with the Issue

https://developer.wordpress.org/themes/basics/including-css-javascript/

## Why is this a problem?

With WordPress' ability to only load CSS for blocks on an as-needed basis, we should be

[2022-09-16 00:36] carolinan commented on #451
It does, but it is not in the basic section it is in the block theme section.
https://developer.wordpress.org/themes/block-themes/block-theme-setup/#including-css-for-block-styles

[2022-09-16 05:23] carolinan commented on #447
I have made the suggested change.

[2022-09-16 06:22] Ignasrimkunas commented on #184
@femkreations @zzap  ready for review https://docs.google.com/document/d/1xUIuKR2jCwmncahS_viduwIPb-eGolxa8mB3Zi3ovC8/edit?usp=sharing

[2022-09-16 10:18] TeBenachi commented on #448
Thanks for bringing it up. I would be happy to address this.

[2022-09-16 18:06] femkreations commented on #184
Thanks for your work @Ignasrimkunas Reviewed and updated the page.
https://wordpress.org/support/article/facebook-embed/

[2022-09-16 18:06] #184 closed

[2022-09-16 21:35] femkreations commented on #388
Adding one more page section to the list : https://wordpress.org/support/article/wordpress-feeds/#wordpress-built-in-feeds @javiercasares

[2022-09-16 22:03] femkreations commented on #341
Looks great. Thank you @samxmunoz

[2022-09-16 22:03] #341 closed

[2022-09-17 22:21] femkreations commented on #288
Thanks @cavalierlife for the screenshots. They made it easier to update the page. Here is the page with the updates.

https://wordpress.org/support/article/social-icons/.

Also, I updated the content for 6.0 adding the following– Change items justification, block settings items, dimension control, added ALT tags for the images, reformatted the article, corrected spellings, and converted Reusable b

[2022-09-17 22:21] #288 closed

[2022-09-19 01:16] femkreations commented on #267
Thank you @theblogsmith for your work.The content looks great. I've created the page using this info.

https://wordpress.org/support/article/post-author-biography-block/

[2022-09-19 01:16] #267 closed

[2022-09-19 09:13] estelaris opened #452 "[HelpHub] Content review - Password Best Practices"
## Issue Description

Last section recommends popular password managers and the last paragraph indicates that only KeePass is a free solution. Except for 1Password, all the other tools have a free plan.

## URL of the Page with the Issue

[Password Best Practices](https://wordpress.org/support/article/password-best-practices/)

## Section of Page with the issue

[Keeping track of your passwords](h

[2022-09-19 15:25] femkreations commented on #388
Adding #79 #73 #72 and #70 that has pages with sections that need to be moved into the Advanced Administration @javiercasares

[2022-09-19 16:18] bacoords opened #453 "Code blocks in the Theme Developer Handbook are missing line breaks"
## Issue Description
The Theme developer handbook has code blocks with PHP code examples, but the line breaks are missing. This causes the code to just stack up and is pretty un-readable. I've tested this logged in as well and on various browsers to make sure it wasn't just a cache issue.

## URL of the Page with the Issue
https://developer.wordpress.org/themes/template-files-section/page-template

[2022-09-20 09:47] zzap opened #454 "[6.1 release docs] Accessibility improvements DevNote"
All 6.1 closed tickets with accessibility focus: https://core.trac.wordpress.org/query?status=closed&focuses=~accessibility&milestone=6.1&group=component&col=id&col=summary&col=status&col=focuses&col=type&col=keywords&order=priority

[2022-09-20 12:04] estelaris opened #455 "[HelpHub] Content review: Preferences Overview"
## Issue Description

Non-working videos and broken images

## URL of the Page with the Issue

[Preferences Overview](https://wordpress.org/support/article/preferences-overview/)

## Section of Page with the issue

[General](https://wordpress.org/support/article/preferences-overview/#general)

## Why is this a problem?

Cause it is confusing

## Suggested Fix

Reload videos and images. Probably ne

[2022-09-20 13:02] eriktdesign opened #456 "[DevHub-Plugins] Broken(ish) link on Plugin Assets doc"
## Issue Description

In the _Filenames_ section of the [_Plugin Assets_ page in Developer Resources](https://developer.wordpress.org/plugins/wordpress-org/plugin-assets/#filenames), the example provided for a RTL image is for a plugin that was closed back in June '22. As such, the plugin assets are no longer there, so the example isn't helpful.

## URL of the Page with the Issue

https://develope

[2022-09-20 14:12] femkreations commented on #279
@samxmunoz Pls take a look and review the article. Also pls make sure the content is updated for 6.0

[2022-09-20 14:14] zzap commented on #317
Yes, that would be consistent.

[2022-09-20 14:20] zzap commented on #223
Hello @dknauss , are you still working on this issue?

[2022-09-20 14:23] dknauss commented on #223
Yes! Aiming to have it written this week.

On Tue, Sep 20, 2022 at 8:20 AM Milana Cap ***@***.***> wrote:

--

––––––––––––––––––––––––
*Dan Knauss*
newlocalmedia.com
Design. Build.. Sustain...
Canada: (780) 394-2700
United States: (515) 329-6560

[2022-09-20 14:23] zzap commented on #293
Hi @agnieszkaszuba , are you still working on this issue?

[2022-09-20 14:29] agnieszkaszuba commented on #293
no not currently :)

[2022-09-20 14:34] emmasophieyoung commented on #225
i'll review this

[2022-09-20 14:34] emmasophieyoung commented on #226
i'll review this

[2022-09-20 14:34] emmasophieyoung commented on #232
i'll review this

[2022-09-20 14:57] zzap commented on #223
Thank you ❤

[2022-09-20 17:16] Riyadh1734 commented on #272
I am reviewing this

[2022-09-21 16:55] femkreations commented on #243
This block is not available for 6.0

[2022-09-21 16:55] #243 closed

[2022-09-22 09:01] estelaris opened #457 "[HelpHub] Content review: Raw Handling (Copy-Paste support)"
## Issue Description

There is a missing reference in the content

## URL of the Page with the Issue

[Raw Handling (Copy-Paste support)](https://wordpress.org/support/?post_type=helphub_article&p=11080868&preview=true) - draft

## Section of Page with the issue

[Raw Handling (Copy-Paste support)/support-table](https://wordpress.org/support/?post_type=helphub_article&p=11080868&preview=true#suppo

[2022-09-22 11:16] stevenlinx commented on #405
1.) This item is not the domain of the Docs team to fix. This is the domain of the Meta team. If you want to see the class methods linked, you 'll want to ask Meta. At best, we can manually add the links to the More Information section, which is what I've done.

2.) & 4.) I assume the "direct" method is used if no parameters are specified.

3.) I've added the link from the Common APIs Handbook to

[2022-09-22 18:35] samxmunoz commented on #128
**Reproduction steps for "reinstall":**

1. Add a block from block directory or plugin
2. Add the block to a page
3. Disable the block (now that button will display where the block was before).
4. Click "reinstall"

[2022-09-23 09:43] estelaris opened #458 "[HelpHub] Content review: Comments in WordPress"
## Issue Description

Comments in WP is a very long article and it merges with Comment Moderation article.
## URL of the Page with the Issue

[Comments in WordPress](https://wordpress.org/support/article/comments-in-wordpress/)

## Section of Page with the issue

[Managing incoming comments](https://wordpress.org/support/article/comments-in-wordpress/#managing-incoming-comments)

## Why is this a

[2022-09-23 14:29] colorful-tones commented on #436
@annezazu it seems that the `add_theme_support( 'appearance-tools' )` did not actually make it into the 6.1 release. Therefore, I'm not sure it is worth highlighting yet. 🤔

See latest here: https://github.com/WordPress/gutenberg/pull/43337#issuecomment-1255711198

[2022-09-23 18:08] justintadlock commented on #446
**Requesting review and feedback for proposed section:**

---

### Adding block-based template parts in classic themes

Since WordPress 6.1, classic themes can add block-based template parts. The feature allows end-users to customize their output via Appearance > Template Parts in the WordPress admin.  Theme authors must register support to enable the feature:

[code]

From that point, developers

[2022-09-24 18:55] femkreations opened #459 "[HelpHub] Quote block"
Article: https://wordpress.org/support/article/quote-block/

## Updating for 6.1
- [ ] Restrict single block transforms to specific blocks. [44106](https://github.com/WordPress/gutenberg/pull/44106)
- [ ] Add missing typography supports [43567](https://github.com/WordPress/gutenberg/pull/43567)
- [ ] Fix Shift+Arrow partial selection for lists & quote. [42885](https://github.com/WordPress/gutenber

[2022-09-24 19:05] femkreations opened #460 "[HelpHub] List block"
Article:  https://wordpress.org/support/article/list-block/

## Updating for 6.1
- [ ]  Add spacing block supports. [43402](https://github.com/WordPress/gutenberg/pull/43402)
- [x]  Add missing typography block supports. [43311](https://github.com/WordPress/gutenberg/pull/43311)
- [ ]  Fix Shift+Arrow partial selection for lists & quote. [42885](https://github.com/WordPress/gutenberg/pull/42885)
-

[2022-09-24 19:13] femkreations commented on #460
Article:  https://wordpress.org/support/article/list-block/

## Updating for 6.1
- [ ]  Add spacing block supports. [43402](https://github.com/WordPress/gutenberg/pull/43402)
- [ ]  Add missing typography block supports. [43311](https://github.com/WordPress/gutenberg/pull/43311)
- [ ]  Fix Shift+Arrow partial selection for lists & quote. [42885](https://github.com/WordPress/gutenberg/pull/42885)
-

[2022-09-24 21:41] femkreations opened #461 "[HelpHub] Categories block"
Article: https://wordpress.org/support/article/categories-block/

## Updating for 6.1
- [x] Add spacing support. [43647](https://github.com/WordPress/gutenberg/pull/43647)
- [x] Add typography support. [43254](https://github.com/WordPress/gutenberg/pull/43254)
- [ ] Hide prefix and suffix placeholders in post terms. [42418](https://github.com/WordPress/gutenberg/pull/42418)
- [x] Add new option to

[2022-09-24 21:51] femkreations opened #462 "[HelpHub] Separator block"
Article:  https://wordpress.org/support/article/separator-block/

## Updating for 6.1
- [ ] Add top & bottom margin support. [40551](https://github.com/WordPress/gutenberg/pull/40551)

## Updating for 6.0
- [ ] Block Styles: Show style preview when hovered or focused. [34522](https://github.com/WordPress/gutenberg/pull/34522)

## General
- [ ] Make sure all screenshots are relevant to the latest v

[2022-09-25 00:20] femkreations opened #463 "[HelpHub] Gallery block"
Article: https://wordpress.org/documentation/article/gallery-block/

## Update for 6.3
- [x] Allow dragging-and-dropping images from the inserter to image blocks. [49673](https://github.com/WordPress/gutenberg/pull/49673)
- [x] Replace "Image size" with "Resolution" in image size controls. [49112](https://github.com/WordPress/gutenberg/pull/49112)
- [x] Update Gallery block to use consistent 40px

[2022-09-25 03:46] carolinan commented on #446
This text looks good to me.

[2022-09-25 17:56] femkreations commented on #313
Added tasks to work for 6.1

[2022-09-25 19:10] femkreations commented on #303
Added tasks for 6.1

[2022-09-25 19:12] femkreations commented on #275
Added tasks for 6.1

[2022-09-25 19:12] femkreations commented on #278
Added tasks for 6.1

[2022-09-25 21:56] femkreations commented on #310
Added 6.1 tasks

[2022-09-25 22:16] femkreations commented on #301
Added tasks for 6.1

[2022-09-25 22:25] femkreations opened #464 "[HelpHub] Working with blocks"
Article:  https://wordpress.org/support/article/working-with-blocks/

## Updating for 6.1
In this section: https://wordpress.org/support/article/working-with-blocks/#how-to-lock-and-unlock-a-block
- [ ] Add the 'Apply to inner blocks' option. [41876](https://github.com/WordPress/gutenberg/pull/41876)

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure vid

[2022-09-26 04:38] carolinan commented on #437
I have moved the menu items.

[2022-09-26 04:44] carolinan commented on #451
I think the "including CSS and Javascript" page needs to be rewritten / re-organised, my main concern is that it is not clear what works for what type of theme.

-There are lots of questions in the form of "Why isn't my JS loading in the site editor" and similar.

- Another concern of mine is that while reading this page, the reader has only briefly been introduced to the concept of there being mo

[2022-09-26 04:52] #437 closed

[2022-09-26 05:43] carolinan opened #465 "Theme handbook: Update "setting up a development environment""
## Issue Description

This page needs a refresh and we should reconsider the tools that are recommended:
Are these XML files and plugins still recommended? Are there better tools today that needs to be included?

-Introduce WP-CLI as an optional tool for the development environment.

## URL of the Page with the Issue

https://developer.wordpress.org/themes/getting-started/setting-up-a-development-

[2022-09-26 06:28] carolinan commented on #446
Should this concept be introduced on https://developer.wordpress.org/themes/basics/template-files/ or would that become overwhelming?

[2022-09-26 07:30] carolinan opened #466 "Theme handbook: update header.php example"
## Issue Description

In https://developer.wordpress.org/themes/template-files-section/partial-and-miscellaneous-template-files/#header-php,
an example from the theme Twenty Fifteen is used.

## Section of Page with the issue

[#header-php
](https://developer.wordpress.org/themes/template-files-section/partial-and-miscellaneous-template-files/#header-php)

## Why is this a problem?

This example i

[2022-09-26 07:45] yogskr commented on #235
Hi @femkreations! I want to work on this issue.

[2022-09-26 07:51] carolinan opened #467 "[Theme handbook] Update "Validating your theme" page"
## Issue Description

The "validating your theme" page does not bring up coding standards, or the concept of using linters for CSS PHP or JavaScript. Since this page is in the advanced section, there is room to extend the page and include modern tools.

## URL of the Page with the Issue

[Validating your theme
](https://developer.wordpress.org/themes/advanced-topics/validating-your-theme/)

[2022-09-26 08:09] carolinan commented on #467
There are 3 pages related to testing, we should consider creating a testing "chapter" instead.
https://developer.wordpress.org/themes/advanced-topics/theme-testing/
https://developer.wordpress.org/themes/advanced-topics/validating-your-theme/
https://developer.wordpress.org/themes/releasing-your-theme/testing/

[2022-09-26 14:13] samxmunoz commented on #279
@femkreations - FYI - this has been reviewed and updated. I am marking it as "completed"

[2022-09-26 14:51] #405 closed

[2022-09-26 16:54] annezazu commented on #436
I just saw that too and am going to try to follow up as best as I can but, yes. For now, we should pause this.

[2022-09-26 18:11] femkreations commented on #291
Added tasks for 6.1

[2022-09-26 18:29] femkreations opened #468 "[HelpHub] Template Editor"
Article: https://wordpress.org/support/article/template-editor/

## Updating for 6.1
- [x] Allow clearing name field while typing [42065](https://github.com/WordPress/gutenberg/pull/42065 )
- [x] Turn Template settings panel into a Template popover [41925](https://github.com/WordPress/gutenberg/pull/41925 )
- [x]  Include theme's templates in template list in post editor [41630](https://github.com

[2022-09-26 20:29] justintadlock commented on #446
[Added the block template parts section](https://developer.wordpress.org/themes/block-themes/converting-a-classic-theme-to-a-block-theme/#adding-block-template-parts-in-classic-themes).  Closing this ticket as complete since we reached that goal.

[2022-09-26 20:29] #446 closed

[2022-09-26 20:58] estelaris opened #469 "[DevHub] Content review: Video shortcode"
## Issue Description

Still contains links to Codex

## URL of the Page with the Issue

[Video shortcode](https://wordpress.org/support/article/video-shortcode/)

## Section of Page with the issue

[Related](https://wordpress.org/support/article/video-shortcode/#related)

## Why is this a problem?

Are links still valid? Are there plans to bring the other shortcode articles into DevHub?

## Sugges

[2022-09-26 21:09] estelaris opened #470 "[HelpHub] Content review: Weblog client"
## Issue Description

Is this article still relevant? The external links haven't been updated since 2012-2016, others are non-existent

## URL of the Page with the Issue

[Weblog client](https://wordpress.org/support/article/weblog-client/)

## Section of Page with the issue

[List of client software](https://wordpress.org/support/article/weblog-client/#list-of-client-software)

## Why is this a p

[2022-09-26 21:32] estelaris opened #471 "[HelpHub] Content review: WordPress Feeds"
## Issue Description

Outdated external links

## URL of the Page with the Issue

[WordPress feeds](https://wordpress.org/support/article/wordpress-feeds/)

## Section of Page with the issue

[More information and resources](https://wordpress.org/support/article/wordpress-feeds/) and throughout the full article

## Why is this a problem?

Outdated information in external links

## Suggested Fix

R

[2022-09-26 23:03] blogsmithteam commented on #266
@heyawhite @jennimckinnon @zzap @femkreations I'd like to claim this one! I can turn it around in a few weeks but let me know if there's more urgency. Who's the best person (or is it the assignee) to do that moving forward?

[2022-09-26 23:04] blogsmithteam commented on #269
@justintadlock let me know if you haven't made progress and have moved on from this and I'd be happy to take over!

[2022-09-26 23:06] blogsmithteam commented on #298
@femkreations can you assign me to this one? Happy to take it!

[2022-09-26 23:11] blogsmithteam commented on #266
Question though, is this a dupe task? https://github.com/WordPress/Documentation-Issue-Tracker/issues/225

[2022-09-26 23:17] blogsmithteam commented on #222
Can I take this one @femkreations?

[2022-09-26 23:18] blogsmithteam commented on #219
I could take this too @femkreations

[2022-09-26 23:19] blogsmithteam commented on #240
@femkreations I'll take this one if available :)

[2022-09-26 23:20] blogsmithteam commented on #238
I'll take this one too if available! @femkreations

[2022-09-26 23:34] Leonardus-Nugraha commented on #250
I'll take this one

[2022-09-27 05:26] dknauss commented on #223
https://docs.google.com/document/d/1YoRZdSFO_JFdyvHLDDyRaI3O-tN58dnkdUqLmbGnA1U/edit?usp=sharing

# **Submenu Block**

The _Submenu Block_ is an advanced block that can only be used as a child block of the Navigation Block released with WordPress 5.9. It allows you to create and edit the structure and appearance of submenus within your site's navigation menus. The _Submenu Block_ can be used with

[2022-09-27 05:51] emmasophieyoung commented on #226
@femkreations - This is reviewed and ready for you

Style match the rest of the pages
Screenshots are updated
Headings are all sentence case

Didn't do ->  ALT tags are in for the images

[2022-09-27 05:54] emmasophieyoung commented on #225
@femkreations - This is reviewed and ready for you

Style match the rest of the pages
Screenshots are updated
Headings are all sentence case

Didn't do ->  ALT tags are in for the images

[2022-09-27 05:54] emmasophieyoung commented on #232
@femkreations - This is reviewed and ready for you

Style match the rest of the pages
Screenshots are updated
Headings are all sentence case

Didn't do ->  ALT tags are in for the images

[2022-09-27 11:24] estelaris opened #472 "[HelpHub] Content review: WordPress Privacy"
## Issue Description

There are no individual props in HelpHub articles

## URL of the Page with the Issue

[WordPress Privacy](https://wordpress.org/support/article/wordpress-privacy/)

## Section of Page with the issue

Under [Consent of data collected](https://wordpress.org/support/article/wordpress-privacy/#consent-of-data-collected)

## Why is this a problem?

Plenty of times have article aut

[2022-09-27 13:30] estelaris opened #473 "[HelpHub] Content revision - duplicate: WP.org vs WP.com"
## Issue Description

There are two articles whose goal i to explain the difference between WP.org and WP.com

## URL of the Page with the Issue

[WordPress.org and WordPress.com](https://wordpress.org/support/article/wordpress-org-and-wordpress-com/)
[WordPress vs WordPress.com](https://wordpress.org/support/article/wordpress-vs-wordpress-com/)

## Section of Page with the issue

## Why is this a

[2022-09-27 14:07] colorful-tones commented on #336
I'll be working through this on Friday. Self assigning for now.

[2022-09-27 14:25] colorful-tones commented on #413
Count me in @zzap

WordPress.org - colorful-tones
Github - colorful-tones
Slack - colorful-tones

[2022-09-27 14:31] colorful-tones commented on #462
Grabbing this for Friday.

[2022-09-27 15:01] samxmunoz opened #474 "[HelpHub] Create a block pattern for Block Documentation"
To ensure block documentation is more consistent and to expedite the process of creating block documentation, we will create a block pattern that includes the core components of most block documentation.

The content that should be included in the pattern would be:

- Intro
- Steps
- Block Toolbar
- Block Settings

and then a docs contributor could simply add that pattern into a new document and f

[2022-09-27 18:49] lucprincen commented on #388
I've managed to include the text you referenced in #79 and #73 in [this pull-request](https://github.com/zzap/WordPress-Advanced-administration-handbook/pull/68) @femkreations, but the content for #72, #58 and #70 has already been removed; is there a place where we can retrieve the old technical content?

Additionally: I honestly have no idea where to 'put' the [build in feeds](https://wordpress.o

[2022-09-28 09:18] estelaris commented on #469
I found other shortcode articles and these can be used in the code block so they can remain in en-user documentation.

[2022-09-28 12:20] estelaris opened #475 "[HelpHub] Content review: Audio shortcode"
## Issue Description

The post contains links to Codex

## URL of the Page with the Issue

[Audio shortcode](https://wordpress.org/support/article/audio-shortcode/)

## Section of Page with the issue

## Why is this a problem?

[Related](https://wordpress.org/support/article/audio-shortcode/#related)

## Suggested Fix

Change the `string` link to the Glossary
Codex links should be redirected to ar

[2022-09-28 18:48] samxmunoz commented on #279
I have reviewed everything - the first item "Merge text settings into typography panel #36334" is still being discussed, but otherwise everything is good to go.

[2022-09-28 19:02] samxmunoz commented on #299
@femkreations / @zzap / @colorful-tones - I don't see the option to access the Widget Editor - is the widget editor deprecated?

<img width="382" alt="Screen Shot 2022-09-28 at 3 02 39 PM" src="https://user-images.githubusercontent.com/43501707/192867004-7f3ebc2c-8f97-4b76-b814-91caf9e3b4bc.png">

[2022-09-28 19:33] colorful-tones commented on #299
I have not followed the Widget transition closely and I'm likely out of the loop here to help. I feel like it is likely theme-dependent. Maybe try activating an older Twenty Twenty-something theme, e.g. Twenty Twenty-One.

This might also help shed some like (and was originally linked at the bottom of the existing doc resource): https://make.wordpress.org/core/2021/06/29/block-based-widgets-editor

[2022-09-28 20:14] samxmunoz commented on #299
This screenshot is from a new InstaWP spin up of TT2 so I'm not sure - you're right maybe I'll activate TT1 in which case though - is this something we _want_ in these "later" docs.

[2022-09-28 20:56] annezazu commented on #436
Punted for sure to 6.2. Let's revisit then :)

[2022-09-28 21:31] femkreations commented on #299
@colorful-tones @samxmunoz The block-based widget editor was introduced in 5.8 for folks who use the classic themes with widgets. With 5.8 WP install and a theme like 2020 you can see the block based widget editor.  This needs to be noted in the article. I am adding a note to the list of tasks.

[2022-09-28 21:54] femkreations commented on #388
@lucprincen You can find the deleted sections in this [google drive](https://drive.google.com/drive/u/1/folders/1e6ppOQ1SPF9dCoBMdCbOJC04-y4gfFWC)

[2022-09-28 23:37] colorful-tones commented on #436
I’ve removed the `6.1` label. I’m not sure if `tracking issue` is still relevant, and I’ll leave it alone.

[2022-09-28 23:45] femkreations opened #476 "[HelpHub] Dimension Settings overview"
Article : https://wordpress.org/support/article/dimension-controls-overview/

## Updating for 6.1
- [x] Update the article to match the 6.1 UI.
- [x] Add the list of blocks that support the Dimension controls. [Refer to this article](https://make.wordpress.org/core/2022/09/26/core-editor-improvement-catalyst-for-creativity/)
- [x] Update control labels to the new uppercase styles[42789](https://gi

[2022-09-28 23:49] femkreations commented on #476
@kathrynwp pls refer to this issue.

[2022-09-29 00:05] femkreations opened #477 "[HelpHub] Layout Settings overview"
## New page
- [x] Create a new article for the Layout settings under block settings
- [x] Make sure the URL slug under Permalink is: layout-settings-overview
- [x] Make sure the content in the article matches the 6.1 UI.
- [x] Add the list of blocks that support the Layout settings. [Refer to this article](https://make.wordpress.org/core/2022/09/26/core-editor-improvement-catalyst-for-creativity/)

[2022-09-29 00:07] femkreations opened #478 "[HelpHub] Typography Settings overview"
## New page
- [x] Create a new article for the Typography Settings under the block settings
- [x] Make sure the URL slug under Permalink is: typography-settings-overview
- [x] Make sure the content in the article matches the 6.1 UI.
- [x] Add the list of blocks that support the Typography settings. [Refer to this article](https://make.wordpress.org/core/2022/09/26/core-editor-improvement-catalyst-

[2022-09-29 00:15] femkreations opened #479 "[HelpHub] Color Settings overview"
## New page
- [x] Create a new article for the Color Settings under the block settings
- [x] Make sure the URL slug under Permalink is: color-settings-overview
- [x] Make sure the content in the article matches the 6.1 UI.
- [x] Add the list of blocks that support the Color settings. [Refer to this article](https://make.wordpress.org/core/2022/09/26/core-editor-improvement-catalyst-for-creativity/

[2022-09-29 00:17] femkreations opened #480 "[HelpHub] Border Settings overview"
## New page
- [x] Create a new article for the Border Settings under the block settings
- [x] Make sure the URL slug under Permalink is: border-settings-overview
- [x] Make sure the content in the article matches the 6.1 UI.
- [x] Add the list of blocks that support the Border settings. [Refer to this article](https://make.wordpress.org/core/2022/09/26/core-editor-improvement-catalyst-for-creativi

[2022-09-29 00:20] femkreations commented on #477
@kathrynwp pls refer to this issue related to the task - updating the end-user documentation for design consistency across all the blocks. Once you comment here, I can assign the task to you. Thanks.

[2022-09-29 00:20] femkreations commented on #478
@kathrynwp pls refer to this issue related to the task - updating the end-user documentation for design consistency across all the blocks. Once you comment here, I can assign the task to you. Thanks.

[2022-09-29 00:20] femkreations commented on #479
@kathrynwp pls refer to this issue related to the task - updating the end-user documentation for design consistency across all the blocks. Once you comment here, I can assign the task to you. Thanks.

[2022-09-29 00:20] femkreations commented on #480
@kathrynwp pls refer to this issue related to the task - updating the end-user documentation for design consistency across all the blocks. Once you comment here, I can assign the task to you. Thanks.

[2022-09-29 06:09] carolinan opened #481 "[Theme handbook] Document the Update URI header item"
## What is the new page you are requesting?

From WordPress 6.1, there is a new header in style.css that prevents third party themes from being updated by the wrong theme, if there is a theme with the same slug in the theme directory.

For a detailed explanation please see https://core.trac.wordpress.org/ticket/14179#comment:106

## How will this new page help you?

It will help theme developers s

[2022-09-29 16:36] samxmunoz commented on #299
Perfect, thank you for adding that @femkreations!

[2022-09-29 16:37] kathrynwp commented on #477
Thanks, @femkreations ! Feel free to assign the task to @Thelmachido

[2022-09-29 16:37] kathrynwp commented on #478
Thanks, @femkreations ! Feel free to assign the task to @Thelmachido

[2022-09-29 16:37] kathrynwp commented on #479
Thanks, @femkreations ! Feel free to assign the task to @Thelmachido

[2022-09-29 16:37] kathrynwp commented on #480
Thanks, @femkreations ! Feel free to assign the task to @Thelmachido

[2022-09-29 16:38] joyously commented on #481
It should explain the header from two perspectives:
* for themes that are not in the WP repo, the header instructs core what URI to use for updates, but the theme needs to supply a filter function corresponding to that URI (`"update_themes_{$hostname}"`) that puts the details into the fields that WP expects, to set the site transient
* for themes that are in the WP repo, don't use the header, and

[2022-09-29 17:36] femkreations commented on #480
@Thelmachido Pls comment here, only then I can assign the task to you.

[2022-09-29 17:39] femkreations commented on #479
@Thelmachido Pls comment here, only then I can assign the task to you.

[2022-09-29 17:40] femkreations commented on #478
@Thelmachido Pls comment here, only then I can assign the task to you.

[2022-09-29 17:40] femkreations commented on #477
@Thelmachido Pls comment here, only then I can assign the task to you.

[2022-09-29 18:23] femkreations opened #482 "[HelpHub] Revamp block settings section in the Text Block articles"
Review the existing Text block articles and replace the current content under Block settings with links to the newly created pages for

1. [ ] Typography,
2. [ ] Color,
3. [ ] Dimensions,
4. [ ] Layout,
5. [ ] Border settings.

Refer to [#476](https://github.com/WordPress/Documentation-Issue-Tracker/issues/476), [#477](https://github.com/WordPress/Documentation-Issue-Tracker/issues/477), [#478](ht

[2022-09-29 18:28] femkreations opened #483 "[HelpHub] Revamp block settings section in the Media Block articles"
Review the existing Media block articles and replace the current content under Block settings with links to the newly created pages for

1. [ ] Typography,
2. [ ] Color,
3. [ ] Dimensions,
4. [ ] Layout,
5. [ ] Border settings.

Refer to [#476](https://github.com/WordPress/Documentation-Issue-Tracker/issues/476), [#477](https://github.com/WordPress/Documentation-Issue-Tracker/issues/477), [#478](h

[2022-09-29 18:34] femkreations opened #484 "[HelpHub] Revamp block settings section in the Design Blocks articles"
Review the existing Design block articles and replace the current content under Block settings with links to the newly created pages for

1. [ ] Typography,
2. [ ] Color,
3. [ ] Dimensions,
4. [ ] Layout,
5. [ ] Border settings.

Refer to [#476](https://github.com/WordPress/Documentation-Issue-Tracker/issues/476), [#477](https://github.com/WordPress/Documentation-Issue-Tracker/issues/477), [#478](

[2022-09-29 18:38] femkreations opened #485 "[HelpHub] Revamp block settings section in the Widgets Blocks articles"
Review the existing Widget block articles and replace the current content under Block settings with links to the newly created pages for

1. [ ] Typography,
2. [ ] Color,
3. [ ] Dimensions,
4. [ ] Layout,
5. [ ] Border settings.

Refer to [#476](https://github.com/WordPress/Documentation-Issue-Tracker/issues/476), [#477](https://github.com/WordPress/Documentation-Issue-Tracker/issues/477), [#478](

[2022-09-29 18:41] femkreations opened #486 "[HelpHub] Revamp block settings section in the Embed Block articles"
Review the existing Embed block articles and replace the current content under Block settings with links to the newly created pages for

1. [ ] Typography,
2. [ ] Color,
3. [ ] Dimensions,
4. [ ] Layout,
5. [ ] Border settings.

Refer to [#476](https://github.com/WordPress/Documentation-Issue-Tracker/issues/476), [#477](https://github.com/WordPress/Documentation-Issue-Tracker/issues/477), [#478](h

[2022-09-29 18:49] femkreations opened #487 "[HelpHub] Revamp block settings section in the Theme Block articles"
Review the existing Theme block articles and replace the current content under Block settings with links to the newly created pages for

1. [ ] Typography,
2. [ ] Color,
3. [ ] Dimensions,
4. [ ] Layout,
5. [ ] Border settings.

Refer to [#476](https://github.com/WordPress/Documentation-Issue-Tracker/issues/476), [#477](https://github.com/WordPress/Documentation-Issue-Tracker/issues/477), [#478](h

[2022-09-29 18:51] femkreations commented on #482
Hi @Thelmachido Pls comment on this issue, so I can assign the task to you. Thanks for your help!

[2022-09-29 18:51] femkreations commented on #483
Hi @Thelmachido Pls comment on this issue, so I can assign the task to you. Thanks for your help! @kathrynwp

[2022-09-29 18:51] femkreations commented on #484
Hi @Thelmachido Pls comment on this issue, so I can assign the task to you. Thanks for your help! @kathrynwp

[2022-09-29 18:52] femkreations commented on #485
Hi @Thelmachido Pls comment on this issue, so I can assign the task to you. Thanks for your help! @kathrynwp

[2022-09-29 18:52] femkreations commented on #486
Hi @Thelmachido Pls comment on this issue, so I can assign the task to you. Thanks for your help! @kathrynwp

[2022-09-29 18:52] Thelmachido commented on #480
Hi, thank you for the pind

[2022-09-29 19:24] femkreations commented on #336
Closing this issue as we are moving the Border Properties to a separate new page and revamping all the block articles by linking to the new page. #480

[2022-09-29 19:24] #336 closed

[2022-09-29 19:44] femkreations commented on #279
Thanks for reviewing @samxmunoz. Since we are moving the Typography Settings to a separate new page and revamping all the block articles by linking to the new page, #478 let's leave the "Merge text settings into typography panel #36334" item for now. Closing this issue.

[2022-09-29 19:44] #279 closed

[2022-09-29 20:18] femkreations commented on #277
The Block Toolbar section needs to be updated with content and screenshots as we don't have 'Change alignment' in the block toolbar for the heading block.

Since we are moving the Block Settings to a separate new page and revamping all the block articles by linking to the new page, we don't need to update the Block Settings for the Heading block.

[2022-09-29 20:26] femkreations commented on #309
This has been updated.

[2022-09-29 20:26] #309 closed

[2022-09-29 20:36] femkreations commented on #293
Thanks @agnieszkaszuba for the work.

[2022-09-29 21:03] femkreations commented on #293
Adding tasks for 6.1. Pls make 6.1 updates first and then move into 6.0.
Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)
For 6.0, you can pick the screenshots added in the comments previously by @agnieszkaszuba. Thanks

[2022-09-29 21:13] femkreations commented on #280
Adding 6.1 tasks

## Notes
1. Pls make 6.1 updates first and then move into 6.0.
2. For 6.0, you can pick the screenshots/video added in the comments previously.

[2022-09-29 22:10] femkreations commented on #300
Thanks @jaz-on for adding in the content for this page.

[2022-09-29 22:14] femkreations commented on #300
Adding tasks for 6.1

1. We are not adding updates for the Block settings as we are revamping the block settings for all the block articles.
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)
4. For 6.0, you can pick the screenshots/videos added in the comments.

[2022-09-30 09:01] Thelmachido commented on #477
I am sorry for the late response, hello

[2022-09-30 09:16] jamieburchell opened #488 "Minor mistakes in Shortcode-ception section"
## Issue Description

Shortcode is displayed with double square brackets "[[shortcode]]" and function declaration starts with a number "5"

## URL of the Page with the Issue

[Shortcode-ception](https://developer.wordpress.org/plugins/shortcodes/enclosing-shortcodes/#shortcode-ception)

## Section of Page with the issue

Shortcode-ception

## Why is this a problem?

Too many square brackets / inva

[2022-09-30 09:29] jamieburchell opened #489 "update_post_meta function incorrectly cited as having a unique parameter flag"
## Issue Description
The documentation incorrectly states that the `update_post_meta` function has a `unique` flag as its last parameter

## URL of the Page with the Issue

https://developer.wordpress.org/plugins/metadata/managing-post-metadata/#updating-metadata

## Section of Page with the issue

## Why is this a problem?

The function signature is actually `int $post_id, string $meta_key, mixed

[2022-09-30 17:28] samxmunoz commented on #474
I created the block pattern (template), it is ready for review before we actually add it as a **pattern** - also, who will we have to work with to add it as a pattern?

https://wordpress.org/support/?post_type=helphub_article&p=16058701&preview=true

@femkreations @colorful-tones @zzap

[2022-09-30 18:11] colorful-tones commented on #474
A small nitpick and should not be a blocker, but it would be cool to put the Changelog in columns and save a few pixels of vertical space to get the "Top" and content side-by-side.

Also, there is a weird border around two sides of the Changelog. I would just remove all borders if possible.

This seems like it would be a great enhancement to expedite consistent doc creation. Nice work @samxmunoz

[2022-10-03 06:29] Ignasrimkunas commented on #205
@zzap @femkreations Heya will take this one

[2022-10-03 12:38] Thelmachido commented on #479
Hi, thank you for the ping I missed this one. Apologies

[2022-10-03 12:38] Thelmachido commented on #478
Hi, thank you for the ping I missed this one. Apologies

[2022-10-03 12:39] Thelmachido commented on #477
Hi, thank you for the ping I missed this one. Apologies

[2022-10-03 12:39] Thelmachido commented on #476
Hi, thank you for the ping I missed this one. Apologies

[2022-10-03 13:02] justintadlock commented on #447
Closing since this has now gone live.

[2022-10-03 13:02] #447 closed

[2022-10-03 17:18] femkreations commented on #232
Adding tasks for 6.1 .

## Notes
1. We are not adding updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)
4. For 6.0, you can pick the screenshots added in the comments previously.

[2022-10-03 17:29] femkreations commented on #271
Adding 6.1 tasks.

## Notes
1. We are not adding updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. For 6.0, you can pick the screenshots added in the comments previously.

[2022-10-03 17:36] femkreations commented on #289
Thanks @wmjohnston06 and @cavalierlife for adding in the content for the previous versions.

I am adding in the tasks for 6.1.

## Notes
1. We are not adding updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. For 6.0, you can pick the screenshots added in the comments previously.

[2022-10-03 17:50] femkreations commented on #225
Thanks @emmasophieyoung and @leon-nugraha for the content.

Adding in a few tasks for 6.1

## Notes
1. We are not adding updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3.  For 6.0, you can pick the screenshots added in the comments previously.

[2022-10-03 19:23] femkreations commented on #302
## Notes
1. We are not adding updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)
4. For 6.0, you can pick the screenshots added in the comments previously.

[2022-10-03 19:39] femkreations commented on #304
Added tasks for 6.1

## Notes
1. Pls make 6.1 updates first and then move into 6.0.
2. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)

[2022-10-03 19:44] femkreations commented on #464
Added 6.1 tasts. Some of the PRs for 6.1 have great videos that can be added to the article.

[2022-10-03 20:21] femkreations commented on #128
Added tasks for 6.1

## Notes
1. Pls make 6.1 updates first
2. Some of the PRs for 6.1 have great videos that can be added to the article

[2022-10-03 20:32] femkreations opened #490 "[HelpHub] Adding a new block"
Article: https://wordpress.org/documentation/article/adding-a-new-block/

## Update for 6.2
- [ ] Update the synced block hover styles in Inserter [46442](https://github.com/WordPress/gutenberg/pull/46442)
- [ ] Move document information and outline to list view panel [44788](https://github.com/WordPress/gutenberg/pull/44788)
- [ ] Don't show empty reusable tab if not allowed to insert reusable bl

[2022-10-03 20:55] femkreations commented on #281
Added 6.1 tasks

## Notes
1. We are not adding updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)

[2022-10-03 21:04] femkreations commented on #235
## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article

[2022-10-03 21:31] femkreations commented on #296
Added 6.1 tasks

[2022-10-03 21:34] femkreations commented on #269
@justintadlock are you still working on this? @blogsmithteam would you still be open to taking over this if Justin is not working?

[2022-10-03 21:43] femkreations commented on #282
Added tasks for 6.1

## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)

[2022-10-03 23:41] Leonardus-Nugraha commented on #250
@femkreations adding this block will effectively output the query loop block. Should we merge into the query loop block's article or should we write something to direct readers to the query loop block?
![image](https://user-images.githubusercontent.com/65521329/193704719-ffbfcdb3-da05-4925-8a90-52605bb00324.png)

[2022-10-04 00:04] femkreations commented on #237
Thanks @Ignasrimkunas.
I have added tasks for 6.1

## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)
4. For 6.0, you can pick the screenshots ad

[2022-10-04 00:11] femkreations commented on #317
Added this block to the list of deprecated blocks in the https://wordpress.org/support/article/blocks/#deprecated page. Closing this issue.

[2022-10-04 00:11] #317 closed

[2022-10-04 00:22] femkreations commented on #323
Thanks @Ignasrimkunas and @emmasophieyoung for this content.

We discussed this block in the [Slack channel](https://wordpress.slack.com/archives/C02RP4WU5/p1660056199303179) and it was decided to have one page documenting all the Pagination blocks - Previous, Page numbers, and Next blocks.

Hence closing this issue.

We can reuse the content in this google doc to create the content for the Pagina

[2022-10-04 00:22] #323 closed

[2022-10-04 00:23] femkreations commented on #324
Thanks @Ignasrimkunas and @emmasophieyoung for this content.

We discussed this block in the [Slack channel](https://wordpress.slack.com/archives/C02RP4WU5/p1660056199303179) and it was decided to have one page documenting all the Pagination blocks - Previous, Page numbers, and Next blocks.

Hence closing this issue.

We can reuse the content in this google doc to create the content for the Pagina

[2022-10-04 00:23] #324 closed

[2022-10-04 00:23] femkreations commented on #325
Thanks @Ignasrimkunas and @emmasophieyoung for this content.

We discussed this block in the [Slack channel](https://wordpress.slack.com/archives/C02RP4WU5/p1660056199303179) and it was decided to have one page documenting all the Pagination blocks - Previous, Page numbers, and Next blocks.

Hence closing this issue.

We can reuse the content in this google doc to create the content for the Pagina

[2022-10-04 00:23] #325 closed

[2022-10-04 00:30] femkreations opened #491 "[HelpHub] Comment Pagination block"
Article : https://wordpress.org/documentation/article/comment-pagination-block/

## Update for 6.2
- [x] Comment pagination numbers: add background color. [43902](https://github.com/WordPress/gutenberg/pull/43902)

## Update for 6.1
- [x]  Update the Comment Pagination Block page to include the information for Previous, Next, and Page Numbers blocks. (Similar to https://wordpress.org/documentation

[2022-10-04 00:30] femkreations commented on #491
Refer https://github.com/WordPress/Documentation-Issue-Tracker/issues/323 https://github.com/WordPress/Documentation-Issue-Tracker/issues/324 and https://github.com/WordPress/Documentation-Issue-Tracker/issues/325

[2022-10-04 00:39] femkreations commented on #339
Added tasks for 6.1

## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)
4. For 6.0, you can pick the screenshots added in the comments previously

[2022-10-04 11:43] Thelmachido opened #492 "[HelpHub] Tracking: Updating WP.org Block Documentation"
We will be documenting the new enhancements that have been introduced to blocks with the release of WP 6.1. In summary, the new block settings will consist of new typography, color, dimensions, more options, layout, and border settings.

This tracking issue will reflect the work that needs to be done in: -

1. Creating new articles to reflect the above settings
2. We already have an article that r

[2022-10-04 13:23] jennimckinnon commented on #266
I'm working on this one right now. It's my first documentation article so I'm a bit slower to make sure I'm following the style guide. I should be done this week.

[2022-10-04 13:46] femkreations commented on #479
Adding this article for reference https://make.wordpress.org/core/2022/09/26/core-editor-improvement-catalyst-for-creativity/

[2022-10-04 13:46] femkreations commented on #477
Adding this article for reference https://make.wordpress.org/core/2022/09/26/core-editor-improvement-catalyst-for-creativity/

[2022-10-04 13:46] femkreations commented on #476
Adding this article for reference https://make.wordpress.org/core/2022/09/26/core-editor-improvement-catalyst-for-creativity/

[2022-10-04 13:47] femkreations commented on #492
Also adding #480 Border Settings overview. Thanks

Adding this article for reference https://make.wordpress.org/core/2022/09/26/core-editor-improvement-catalyst-for-creativity/

[2022-10-04 13:47] femkreations commented on #480
Adding this article for reference https://make.wordpress.org/core/2022/09/26/core-editor-improvement-catalyst-for-creativity/

[2022-10-04 14:04] femkreations commented on #492
Adding #482 #483 #484 #485 #486 to track the progress of removing these sections from the existing block article pages.

[2022-10-04 14:12] femkreations commented on #223
Thanks @dknauss This content looks great. We will add this to the article.

[2022-10-04 14:13] femkreations commented on #164
Thanks @marinakoleva  This content looks great. We will add this to the article.

[2022-10-04 14:14] femkreations commented on #172
Thanks @LizaBogatyrev  This content looks great. Thank you for your work. We will add this to the article.

[2022-10-04 14:17] femkreations commented on #132
Thanks @leonidasmi The content looks great. Thanks for your work. We will add this to the WP article.

[2022-10-04 14:44] Thelmachido commented on #482
Thanks for the ping @femkreations

[2022-10-04 14:44] Thelmachido commented on #483
Thanks for the ping @femkreations

[2022-10-04 14:44] Thelmachido commented on #485
Thanks for the ping @femkreations

[2022-10-04 14:44] Thelmachido commented on #487
Thanks for the ping @femkreations

[2022-10-04 15:23] colorful-tones commented on #338
https://wordpress.org/support/article/block-pattern/#how-to-use-a-block-pattern

- [x] Make sure all screenshots are relevant to the latest version
- [x] Make sure videos are up to date
- [x] Add ALT tags for the images
- [x] Make sure the headings are in sentence case
- [x] Convert all reusable blocks to a ‘regular block’.
- [x] Update the changelog at the end of the article

[2022-10-04 15:28] colorful-tones commented on #338
https://wordpress.org/support/article/pages-add-new-screen/

I feel like the title for this doc should read: `Pages > Add New screen`. Perhaps I'm confused about the rules of sentence case.  I'm using this as my reference point: [Sentence Case Capitalization](https://apastyle.apa.org/style-grammar-guidelines/capitalization/sentence-case) @femkreations

[2022-10-04 15:44] colorful-tones commented on #338
https://wordpress.org/support/article/submit-your-block-pattern-to-the-directory/

I made some grammatical and spelling updates, but I still need to work through the checklist.

[2022-10-04 17:08] bph opened #493 "Outreach to component maintainers WP 6.1"
## Outreach to component maintainers for Field Guide "But Wait, There is More!" section (WordPress 6.1)

[Publishing Field Guide](https://make.wordpress.org/core/handbook/tutorials/publishing-the-field-guide/)
"Each Component team is sent a group direct message in Slack, pulling the list of maintainers from the [individual component pages](https://make.wordpress.org/core/components/)"

Example mes

[2022-10-04 17:57] femkreations commented on #340
Added tasks for 6.1

## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)
4. For 6.0, you can pick the screenshots added in the comments previously

[2022-10-04 22:39] femkreations opened #494 "[HelpHub] Pocket Casts Embed bock"
## What is the new page you are requesting?

New article is required for the Pocket Casts Embed block

## New page
- [ ] Create a new article for the Pocket Casts Embed block
- [ ] Make sure the URL slug under Permalink is: pocket-casts-embed-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.
- [ ] Convert all reusable blocks to a ‘regular block’.

[2022-10-04 22:46] justintadlock commented on #269
Sorry about that.  I missed the replies.  @blogsmithteam, feel free to go ahead with it.

[2022-10-04 23:03] femkreations opened #495 "[HelpHub] Update Reddit icon"
Article: https://wordpress.org/support/article/reddit-embed/

## Updating for 6.1
- [ ] Embed: Update Reddit icon [43326](https://github.com/WordPress/gutenberg/pull/43326)

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure the headings are in sentence case
- [ ] Convert all reusable

[2022-10-05 05:18] Ignasrimkunas commented on #232
@femkreations Heya, I've reworked the article: https://docs.google.com/document/d/1sIilM3SQENjy0szjIwAc12Xe8SVR_Rwb2CuFeQUnKOg/edit?usp=sharing

- Went over the updates for 6.1 section, added new information along with GIF (similar to the one found in PR)
- Updated all the screenshots along with the More options button section (some functionality was removed, like the "Select parent block" button)

[2022-10-05 15:21] nikkifurls commented on #488
Hello! I'd like to work on this. This will be my first contribution :) thank you!

[2022-10-05 16:15] nikkifurls commented on #488
1. Fix double square brackets

Change
`This means that if the $content parameter of a shortcode handler contains another shortcode, it won’t be parsed. In this example, [[shortcode]] will not be processed:`
to
`This means that if the $content parameter of a shortcode handler contains another shortcode, it won’t be parsed. In this example, [shortcode] will not be processed:`

2. Fix function declar

[2022-10-05 16:43] nikkifurls commented on #489
Hello! I'd like to work on this :)

[2022-10-05 17:31] femkreations commented on #307
Adding tasks for 6.1

[2022-10-05 17:51] nikkifurls commented on #489
Change
[code]
to
[code]

[2022-10-05 17:58] femkreations commented on #283
Added 6.1 tasks

## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)

[2022-10-05 17:59] femkreations commented on #272
Added 6.1 tasks

## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)
4. For 6.0, you can pick the screenshots added in the comments previously.

[2022-10-05 17:59] femkreations commented on #297
Added 6.1 tasks

## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)
4. For 6.0, you can pick the screenshots added in the comments previously.

[2022-10-05 18:01] femkreations commented on #459
Added 6.1 tasks

## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Pls make 6.1 updates first and then move into 6.0.
3. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)

[2022-10-05 18:13] nikkifurls commented on #445
This issue is N/A – this verbiage is correct:
`Also of note is that Transients are inherently sped up by caching plugins`

[2022-10-05 18:14] femkreations opened #496 "[HelpHub] Table block"
Article: https://wordpress.org/documentation/article/table-block/

## Updating for 6.2
- [x] Display fixed width table cells option by default [47536](https://github.com/WordPress/gutenberg/pull/47536)

## Updating for 6.1
- [x] Remove redundant block name from "settings" panels [40275](https://github.com/WordPress/gutenberg/pull/40275)

## Updating for 6.0
- [x] Block Styles: Show style preview w

[2022-10-05 18:14] femkreations commented on #496
## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles

[2022-10-05 18:37] femkreations opened #497 "[HelpHub] Buttons block"
Article: https://wordpress.org/documentation/article/buttons-block/

## Updating for 6.2
- [x] Fix/flex controls bugs [47533](https://github.com/WordPress/gutenberg/pull/47533)

## Updating for 6.0
- [x] Block Styles: Show style preview when hovered or focused. [34522](https://github.com/WordPress/gutenberg/pull/34522)

## General
- [x] Make sure all screenshots are relevant to the latest version

[2022-10-05 18:42] nikkifurls commented on #449
New markup for `<ul class="param-hash">...</ul>`:

[code]

[2022-10-05 18:43] femkreations opened #498 "[HelpHub] Social Icons block"
Article: https://wordpress.org/documentation/article/social-icons/

## Updating for 6.2
- [x] Add rel attribute for Social Icons [45469](https://github.com/WordPress/gutenberg/pull/45469)
- [x] Add anchor support for dynamic blocks [44771](https://github.com/WordPress/gutenberg/pull/44771)

## Updating for 6.1
- [x] Enable alpha on color pickers [43453](https://github.com/WordPress/gutenberg/pull/

[2022-10-05 18:50] femkreations commented on #335
The block styles need to be updated only for the tag cloud block.

[2022-10-05 19:00] femkreations commented on #180
Thank you @leonidasmi The content looks great. We will add this to the article.

[2022-10-05 21:27] femkreations commented on #238
@blogsmithteam Assigned to you. Let me know if you still want to work on this one as well.

[2022-10-05 21:28] femkreations commented on #240
@blogsmithteam Assigned to you. Let me know if you still want to work on this one as well.

[2022-10-05 21:31] femkreations commented on #269
## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2.Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)

[2022-10-05 21:32] femkreations commented on #222
## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)

[2022-10-05 21:32] femkreations commented on #298
## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)

[2022-10-05 21:32] femkreations commented on #238
## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)

[2022-10-05 21:32] femkreations commented on #240
## Notes
1. We are not adding detailed updates for the Block settings as we are revamping the block settings for all the block articles
2. Some of the PRs for 6.1 have great videos that can be added to the article (even for the Block settings section)

[2022-10-05 21:44] femkreations commented on #236
Closing this issue as this is a technical name for the variations Post categories block and Post Tags block which are already documented.

[2022-10-05 21:44] #236 closed

[2022-10-05 21:56] femkreations commented on #203
@hannaw93 are you still working on this?

[2022-10-05 21:59] femkreations commented on #219
@blogsmithteam Assigned this to you as well Let me know if you don't want to work on this any more. Thanks much

[2022-10-06 00:04] femkreations commented on #250
@Leonardus-Nugraha The Posts List block is a variation of the query loop. It was only created for one purpose: To give it an easier name. "Query loop" was considered too technical.

https://github.com/WordPress/gutenberg/issues/32268

Since this block is available in the front end, lets have a separate article and write up something to direct readers to the query loop article. Thanks

[2022-10-06 00:37] femkreations opened #499 "[HelpHub] Twenty Fifteen: Add gradient background options that fit the theme color scheme"
Trac ticket: https://core.trac.wordpress.org/ticket/49760

Article: https://wordpress.org/support/article/twenty-fifteen/

[2022-10-06 00:43] femkreations opened #500 "#49762 Twenty Thirteen: Add gradient background options that fit the theme color scheme"
Trac: https://core.trac.wordpress.org/ticket/49762

[2022-10-06 04:25] bph commented on #493
## Cron Component
### Add error logging and hooks to wp-cron.php
In #56048 error logging was added to WP-Cron to indicate when an event fails to get rescheduled or unscheduled. The actions `cron_reschedule_event_error` and `cron_unschedule_event_error` have been introduced to allow developers to run custom tracking on these errors.

### Non blocking wp-cron.php with LSAPI
In #54668 requests to wp-

[2022-10-06 04:26] bph commented on #493
**Network/Sites component** - Jonny Harris is working directly with Milana.

[2022-10-06 04:29] bph commented on #493
## Embeds Component:

#55771 [Support for Google Data Studio](https://core.trac.wordpress.org/ticket/55771)
#55860 [Pocket Casts as an oEmbed provider](https://core.trac.wordpress.org/ticket/55860)
 #56733 [Tumblr reader URLs](https://core.trac.wordpress.org/ticket/56733)

[2022-10-06 16:21] stevenlinx commented on #444
Thank you for reporting.

However, the Issue in question is the domain of the Make Core team.

The Parameters section of the page comes from in-line doc of the source code.

In this case, it is these two lines.
https://github.com/WordPress/wordpress-develop/blob/6.0.2/src/wp-includes/general-template.php#L4200-L4201

So you'll need to file a ticket over at Core trac.
https://core.trac.wordpress.or

[2022-10-06 18:56] theMikeD commented on #445
Agreed. Is correct as is.

[2022-10-06 18:56] #445 closed

[2022-10-07 00:07] femkreations opened #501 "[HelpHub] Video block"
Article: https://wordpress.org/support/article/video-block/

## Updating for 6.1
- [ ] Display upload error notices using snackbars. [43892](https://github.com/WordPress/gutenberg/pull/43892)
- [ ] Mark which attributes of the video should be considered content. [44038](https://github.com/WordPress/gutenberg/pull/44038)
- [ ] Remove redundant block name from "settings" panels [40275](https://githu

[2022-10-07 00:17] femkreations opened #502 "[HelpHub] Archives block"
Article: https://wordpress.org/support/article/archives-block/

## Updating for 6.1
- [ ] Add a control to make block's dropdown label invisible. [43025](https://github.com/WordPress/gutenberg/pull/43025)
- [ ] Remove redundant block name from "settings" panels [40275](https://github.com/WordPress/gutenberg/pull/40275)

## General
- [ ] Make sure all screenshots are relevant to the latest version

[2022-10-07 01:45] femkreations opened #503 "[HelpHub] Block Patterns"
Article: https://wordpress.org/support/article/block-pattern/

## Updating for 6.1
- [ ] Bundle new collection of Header and Footer block patterns. [43157](https://github.com/WordPress/gutenberg/pull/43157)

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure the headings are in senten

[2022-10-07 01:54] femkreations opened #504 "[HelpHub] Site Logo block"
Article:  https://wordpress.org/documentation/article/site-logo-block/

## Updating for 6.2
- [x] Update placeholder style [44190](https://github.com/WordPress/gutenberg/pull/44190)
- [x] Apply width to logo container in editor [45821](https://github.com/WordPress/gutenberg/pull/45821)

## Updating for 6.1
- [x] Polish placeholder radius and enable duotone on image setup state. [43425](https://git

[2022-10-07 02:00] femkreations opened #505 "[HelpHub] File block"
Article:  https://wordpress.org/support/article/file-block/

## Updating for 6.1
- [x] Display upload error notices using snackbars. [43893](https://github.com/WordPress/gutenberg/pull/43893)
- [x] Remove redundant block name from "settings" panels [40275](https://github.com/WordPress/gutenberg/pull/40275)

## General
- [x] Make sure all screenshots are relevant to the latest version
- [x] Make su

[2022-10-07 02:38] femkreations opened #506 "[HelpHub] Search block"
Article:  https://wordpress.org/support/article/search-block/

## Updating for 6.1
- [x] Remove margins from the input [42959](https://github.com/WordPress/gutenberg/pull/42959)

## General
- [x] Make sure all screenshots are relevant to the latest version
- [x] Make sure videos are up to date
- [x] Add ALT tags for the images
- [x] Make sure the headings are in sentence case
- [x] Convert all reu

[2022-10-07 03:41] stevenlinx commented on #444
Then, the change is already being requested and committed.

I assume you're new here.

On DevHub, the Description/Parameters/Return/Hooks sections on a Code Reference page are dynamically generated from the source code. Once the source code is changed and committed, the page content on DevHub will get reflected in the next release.
https://github.com/WordPress/wordpress-develop/blob/6.0.2/src/wp-i

[2022-10-07 07:42] wpbt opened #507 "slightly wrong information in the example"
On this handbook (REST API) link: https://developer.wordpress.org/rest-api/using-the-rest-api/global-parameters/#_embed
there is a slightly mistake in first paragraph: 'For example, a post can link to the parent post, or to comments on the post.'
Posts don't have parent posts. And if we replace 'post' with 'page' then that also doesn't make sense in the sentence because pages won't have comments.

[2022-10-07 14:04] nikkifurls commented on #444
Oh, perfect! That makes sense. Thank you for explaining that :)

Sounds like this one can be closed!

[2022-10-07 15:15] #444 closed

[2022-10-07 15:47] stevenlinx commented on #389
Thank you for reporting.

However, this is the scope of the Make Core team because "the example in the Description section of the page" is derived from the Docblock of the source code.

Specifically, these lines:
https://github.com/WordPress/wordpress-develop/blob/6.0/src/wp-includes/plugin.php#L413-L427

FYI, on DevHub, the Description/Parameters/Return/Hooks sections of a Code Reference page are

[2022-10-07 16:30] zzap commented on #454
Anne will do this

[2022-10-07 16:30] #454 closed

[2022-10-07 16:42] femkreations opened #508 "[HelpHub] Archive Title block"
Article:  https://wordpress.org/support/article/archive-title-block/

## Updating for 6.1
- [x] Add a setting to hide the prefix in the archive title. [42594](https://github.com/WordPress/gutenberg/pull/42594)
- [x] Try a single icon for title blocks. [40596](https://github.com/WordPress/gutenberg/pull/40596)

## General
- [x] Make sure all screenshots are relevant to the latest version
- [x] Make

[2022-10-07 17:08] femkreations opened #509 "[HelpHub] Search Results Title block"
## New page
- [x] Create a new article for the Search Results Title block
- [x] Make sure the URL slug under Permalink is: search-results-title-block
- [x] At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.

## Update for 6.1
- [x] Add a search title variation. [42662](https://github.com/WordPress/gutenberg/pull/42662)

## General
- [x] Make sure all screenshot

[2022-10-07 17:14] femkreations opened #510 "[HelpHub] Post Title block"
Article:  https://wordpress.org/support/article/post-title-block/

## Updating for 6.1
- [ ] Try a single icon for title blocks. [40596](https://github.com/WordPress/gutenberg/pull/40596)

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure the headings are in sentence case
- [ ] Conve

[2022-10-07 17:20] femkreations opened #511 "[HelpHub] Comments Title block"
## New page
- [ ] Create a new article for the Comments Title block
- [ ] Make sure the URL slug under Permalink is: comments-title-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.

## Update for 6.1
- [ ] Try a single icon for title blocks [40596](https://github.com/WordPress/gutenberg/pull/40596)
- [ ] Create comments title with simple styling

[2022-10-07 23:05] femkreations opened #512 "[HelpHub] Table of Contents block"
## New page
- [ ] Create a new article for the Table of Contents block
- [ ]  Make sure the URL slug under Permalink is: table-of-contents-block
- [ ] 	At the top of the page, under the title, add the  ‘Link back to blocks’ reusable block.

## Update for 6.1
- [ ] re-enable + use static markup and only support core Heading and Page Break blocks [29739](https://github.com/WordPress/gutenberg/pull/2

[2022-10-07 23:30] femkreations opened #513 "[HelpHub] Remove redundant block name from "settings" panels"
## Update for 6.1
- [ ]  Remove redundant block name from "settings" panels [40275](https://github.com/WordPress/gutenberg/pull/40275)

Update the settings screenshots for the following articles.
- [ ] https://wordpress.org/support/article/latest-comments-block/
- [ ] https://wordpress.org/support/article/rss-block/
- [ ] https://wordpress.org/support/article/tag-cloud-block/

[2022-10-08 01:03] sabernhardt commented on #454
(The current [draft is in Google Docs](https://docs.google.com/document/d/1ULUTXv_KM8qGzhIMW9SMyxEEDTDKFpvmISnsGdQHACI/edit).)

[2022-10-08 07:36] stevenlinx commented on #489
I've made the revision.

[2022-10-08 17:00] femkreations opened #514 "[HelpHub] Comment Template block"
Article: https://wordpress.org/support/article/comment-template-block/

Note for 6.1
Fix comments no results placeholder not appearing [40234](https://github.com/WordPress/gutenberg/pull/40234)

[2022-10-08 17:22] femkreations opened #515 "[HelpHub] Block Themes"
Article: https://wordpress.org/support/article/block-themes/

## Update for 6.1
Update screenshot and info for the following:
Add a help tab in the Theme Install screen for the new "Block Themes" search filter. [#56405](https://core.trac.wordpress.org/ticket/56405)

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tag

[2022-10-08 17:45] femkreations opened #516 "[HelpHub] Appearance Menus"
Article: https://wordpress.org/support/article/appearance-menus-screen/

## Update for 6.1
Update screenshots and info for the following
Active buttons Bulk select are confusing while menu is empty[#54799](https://core.trac.wordpress.org/ticket/54799)

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the imag

[2022-10-08 17:49] femkreations opened #517 "[HelpHub] Permalink settings screen."
Article: https://wordpress.org/support/article/settings-permalinks-screen/

## Update for 6.1
Update screenshot and info for the following:
Permalinks screen, add guiding introduction to structure selection.[#55947](https://core.trac.wordpress.org/ticket/55947)

## General
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags fo

[2022-10-10 00:06] abhansnuk opened #518 "Editor Components Dev Notes for WordPress 6.1"

[2022-10-10 00:12] abhansnuk commented on #518
2nd review done
- small edits
- queries for @bph: are we leaving 'components' with cap C in headline and in doc?

[2022-10-10 00:15] abhansnuk opened #519 "Block styles generation (Style Engine)"
**2022/10/10 Update from @abhansnuk**

To check:
Categories: General or Core, or both. If it is core as well, we need to update the other ones in review too.

Second review and minor edits done, mostly for non-English speakers.

@bph:
- note in this, have kept 'Style Engine' with capital 'E'. To be checked, to add to capitalization list to use in future.
- in props: should the author of the dev ch

[2022-10-10 13:49] bph commented on #519
Thank you.  published!

[2022-10-10 13:49] #519 closed

[2022-10-10 14:04] bph opened #520 "Styling Elements in Block Themes"
**Update 9/10/22: update by Abha - doing second review.**

I have edited your comment as this ticket is a note rather than an issue. Can we convert notes to issues to be able to add comments to the ticket please, and if so, do they go in the document-issue-tracker repo? Thanks @bph.

Reviewed. Edits added, including:
- adding an intro incorporating what @bph has added in the excerpt
- followed sen

[2022-10-10 14:25] bph commented on #520
Thank you, Abha! Agreed on Global Styles being Styles now, thanks for catching it.

I don't know about title in code blocks, should we?

[2022-10-10 14:38] bph commented on #518
Thank you!

[2022-10-10 14:38] #518 closed

[2022-10-10 14:42] mayankguptadotcom opened #521 "Add DDEV Page to Install Local Server Docs"
## What is the new page you are requesting?

https://make.wordpress.org/core/handbook/tutorials/installing-a-local-server/
On this page, I'd like to add [DDEV](https://ddev.com), an open-source command line tool that helps install multiple WordPress local installs and it works across multiple OSes (Windows, Linux, OSX, WSL2)

## How will this new page help you?
It helps developers launch new proje

[2022-10-10 14:47] mayankguptadotcom opened #522 "Remove Desktopserver references from the docs"
## Issue Description
DesktopServer has shut down and isn't available anymore.

## URL of the Pages with the Issue
- [Installing a local server](https://make.wordpress.org/core/handbook/tutorials/installing-a-local-server/)
- [Installing DesktopServer](https://make.wordpress.org/core/handbook/tutorials/installing-a-local-server/desktopserver/)
- [Installing from Zip](https://make.wordpress.org/core

[2022-10-10 15:17] bph commented on #520
And it's published

[2022-10-10 15:17] #520 closed

[2022-10-10 15:22] samxmunoz commented on #474
@colorful-tones - I hear you, this was changelog block taken from another article & I think it as a standard had some extra padding up top - but I'm not 100% sure. I'll take a look!

[2022-10-10 22:55] femkreations commented on #313
@pls78 are you still working on this page?

[2022-10-11 10:21] pls78 commented on #313
@femkreations Hi, no I'm not. Is there something needed by my side? 🙂

[2022-10-11 11:56] bph opened #523 "Block API changes in WordPress 6.1"
https://make.wordpress.org/core/?p=98762&preview=1&_ppp=e0fb8d7e8f
Changed:

- "traditional WordPress theming" to "traditional WordPress template handling."
- rephrase: The template path is prefixed with file: and is relative to the location of the block.json file, following the [npm specification](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#local-paths).
- Note:  The entire file is

[2022-10-11 14:24] colorful-tones commented on #459
I still have this on my radar and will try to get moving this week.

[2022-10-11 14:56] mayankguptadotcom commented on #170
@zzap - i'm happy to work on this one.
Not clear about the second point - Make sue videos are up to date, there aren't any videos on that page.

[2022-10-11 18:18] femkreations commented on #304
Thanks @mrfoxtalbot Its all yours!

[2022-10-11 19:21] femkreations commented on #170
Hi @mayankguptadotcom I've assigned the task to you. Thanks for your help. If there is no video on the page, you can ignore that item on the checklist.

[2022-10-12 00:00] femkreations commented on #340
@samxmunoz would you be able to update this page for 6.1?

[2022-10-12 02:54] kafleg opened #524 "Update theme tags description"
The theme tags description is not written for block themes. We need to adjust those tags descriptions which will cover both classic and block themes.

## Issue Description
For example, `custom-menu` tag has description of `Support custom menus, use register_nav_menu()/register_nav_menus(), and wp_nav_menu()` . But the block theme also supports the logo and that tag can use in the block theme.

We

[2022-10-12 05:34] Ignasrimkunas commented on #237
@femkreations Updated https://docs.google.com/document/d/1l6JCvjTMGfaI03dR2ATD8b6Oh6pwurVzpFswhbr2hF0/edit#

- Added video links from PR's for the typography section both for pagination block and for (next, previous and page numbers)
- Left placeholders for Block settings section
- Replaced screenshots with 6.1 version

[2022-10-12 12:42] abhansnuk commented on #523
Reviewed

[2022-10-12 17:38] kathrynwp commented on #441
Here is the draft article:

https://wordpress.org/support/wp-admin/post.php?post=16093494&action=edit

@femkreations Let me know what you think so far, this is my first time writing a support article.

Thanks to TT3 development lead Sarah Norris (@mikachan) for feedback on the first draft, and @annezazu for inspiration taken from her Twenty Twenty-Two support article!

[2022-10-12 19:00] femkreations commented on #441
@kathrynwp This looks great. Thanks for your work.

- Pls also add that this is the first default block theme marked as accessibility-ready as noted by Ann in [this article](https://make.wordpress.org/core/2022/10/11/wordpress-6-1-accessibility-improvements/) -under Themes.
- Remove the reference to Twenty Twenty-Two in the first line.

Other than that, great job with the article. Please add scree

[2022-10-12 20:30] kathrynwp commented on #441
@femkreations Thanks for having a look so quickly!

Oops, good catch, fixed.

Looks like TT2 was also accessibility-ready, so what do you think about this revision to the first line:

Will add more screenshots and let you know when they're there.

Great, I'll be sure to double-check that all those are adhered to. Thanks!

[2022-10-12 21:42] annezazu commented on #441
This sounds great to me for what it's worth.

Of note, Twenty Twenty-Two has bundled style variations in place as of WordPress 6.0! However, this is the first community submitted style variations so this statement is both true in a sense but a bit confusing. I might simplify it to: "Twenty Twenty-Three is the first default theme to incorporate a collection of community submitted style variations"

[2022-10-12 21:47] #523 closed

[2022-10-12 22:30] femkreations commented on #441
Thanks for clarifying Ann. I'd go with this version just for simplicity.
"Twenty Twenty-Three includes a collection of ten community-submitted style variations."

[2022-10-13 02:45] Leonardus-Nugraha commented on #225
Updated the draft for 6.1

[2022-10-13 04:48] smileBeda opened #525 "Empty "Dashboard Widget Example" section"
## Issue Description
The `Example Dashboard widget` section is empty

## URL of the Page with the Issue
https://developer.wordpress.org/apis/handbook/

## Section of Page with the issue
https://developer.wordpress.org/apis/handbook/dashboard-widgets/example-dashboard-widget/

## Why is this a problem?
It is empty, thus useless.

## Suggested Fix
There are plenty of examples on its [parent page](ht

[2022-10-13 14:33] colorful-tones commented on #338
@femkreations I'm wondering if we could deprecate this doc: https://wordpress.org/support/article/pages-add-new-screen/

And merge any missing data (very little if any) into the better: https://wordpress.org/support/article/pages/
🤔

[2022-10-13 16:04] kathrynwp commented on #441
Thank you, @femkreations and @annezazu! I've made that wording update.

[2022-10-13 16:13] #389 closed

[2022-10-13 16:13] #439 closed

[2022-10-13 16:14] #449 closed

[2022-10-13 16:15] #489 closed

[2022-10-13 22:36] mayankguptadotcom commented on #521
@stevenlinx - I've created a document https://docs.google.com/document/d/1JGEoZtaVUv5LiPPvgd3Monf7jTlziTKc-2TSovyS0jY/edit#heading=h.fgqs9gmg2byr

Please let me know if it needs to be further improved.

[2022-10-14 07:43] Thelmachido opened #526 "More Options for blocks"
Article: https://wordpress.org/support/article/more-options/

### Updating for 6.1

- [ ] Update the article to match the 6.1 UI
- [ ] Make sure all screenshots are relevant to the latest version
- [ ] Make sure videos are up to date
- [ ] Add ALT tags for the images
- [ ] Make sure the headings are in sentence case
- [ ] Convert all reusable blocks to a ‘regular block’.
- [ ] Update the changelog

[2022-10-14 15:10] stevenlinx commented on #522
Thank you for filing.

However, the pages in question is from the Core handbook.

So to request the changes, you'll need to:

Drop in on the #Core Slack channel to ask them.
https://wordpress.slack.com/messages/core/

OR

File a ticket over at Core trac.
https://core.trac.wordpress.org

FYI, please see the Coverage section of README.md:
https://github.com/WordPress/Documentation-Issue-Tracker#cove

[2022-10-14 21:42] mayankguptadotcom commented on #521
@stevenlinx - Thank you! I'm still figuring out the processes.
This is getting discussed in the [next docs meeting](https://make.wordpress.org/docs/2022/10/11/summary-of-docs-team-meeting-october-11-2022/)

[2022-10-17 11:54] stevenlinx commented on #488
Thank you for filing.

I've made the revision.

[2022-10-17 15:11] femkreations commented on #313
Here is the draft of the Styles Overview page https://wordpress.org/support/wp-admin/post.php?post=16104506&action=edit covering all the trackers in [this one](https://github.com/WordPress/Documentation-Issue-Tracker/issues/313) for 6.1 and 6.0.
I have not included Fluid Typography as I understand it is currently in theme.json only. @annezazu

[2022-10-17 19:49] annezazu commented on #313
That's correct! Reviewed as per my messages in slack.

[2022-10-17 20:48] femkreations commented on #305
Here is the updated Site Editor with 6.1 changes. I have updated the videos and screenshots for 6.1. Some of the repetitive content for Templates and Template Editor has been removed and moved into those pages.
Also some of the unchecked tasks here are to be included in Template Editor pages instead.

https://wordpress.org/support/wp-admin/post.php?post=16107857&action=edit

[2022-10-18 01:22] mayankguptadotcom commented on #170
![issuu-block-controls](https://user-images.githubusercontent.com/8931305/196313143-a1dd1ff0-e222-4957-b324-81fb4f900dde.jpg)
![issuu-alignment](https://user-images.githubusercontent.com/8931305/196313144-2c7e85e4-6a66-40d6-ba15-732033c939f4.jpg)
![issuu-group-block-controls](https://user-images.githubusercontent.com/8931305/196313146-9e4ac66f-4997-4ee0-a1ae-9ef9adfb3f4a.jpg)
![issuu-share-copy-li

[2022-10-18 14:28] bph commented on #512
Didn't make it into 6.1

[2022-10-18 14:29] mayankguptadotcom commented on #180
@femkreations - I can review the rest.

[2022-10-18 14:29] mayankguptadotcom commented on #176
@femkreations I can pick this one.

[2022-10-18 14:30] femkreations commented on #512
Closing this item as it didn't make it to 6.1

[2022-10-18 14:30] #512 closed

[2022-10-18 14:36] mayankguptadotcom commented on #170
@femkreations @zzap - One thing I noticed though, Issuu wants users to upgrade now for embedding actual content.
It does embed the document - but shows an overlay saying "Why I can't see my embed"

do we add that information in the document or is it not of our concern?

[2022-10-18 14:46] zzap commented on #474
Love the pattern. I say "Ship it!" :sweat_smile:

[2022-10-18 14:47] estelaris commented on #474
@samxmunoz and @colorful-tones don't worry too much about the changelog, there is a new design recommendation for it

[2022-10-18 14:48] colorful-tones commented on #474
@estelaris sounds good! I did not want us to get too hung up on it. I agree, that this is ready to ship. Thanks @samxmunoz 👏

[2022-10-18 14:54] zzap commented on #474
This is complete pattern

[code]

[2022-10-18 15:02] zzap commented on #474
I created pattern in https://wordpress.org/patterns/

It's pending review right now

[2022-10-18 15:02] samxmunoz commented on #474
💃🏼 Yes! Go team! 🚀

[2022-10-18 16:49] femkreations commented on #301
Linking this one to  #526 which is worked on currently.

[2022-10-18 16:50] femkreations commented on #526
@mrfoxtalbot @Thelmachido This page also needs to include the tasks listed in #301

[2022-10-18 16:52] femkreations commented on #338
@colorful-tones Yes that is a great idea.  Pls add all relevant info from [Pages Add New screen](https://wordpress.org/support/article/pages-add-new-screen/) to [Pages](https://wordpress.org/support/article/pages/)

And unpublish [Pages Add New screen](https://wordpress.org/support/article/pages-add-new-screen/)

@estelaris Can you pls make a note of this for redirecting the [Pages Add New screen]

[2022-10-18 17:12] colorful-tones commented on #459
@femkreations @zzap All of the checklist items are complete. Most of the 6.1 additions were quality of life and I feel they did not warrant any specific additional details, but happy to reconsider.

All changes are published. https://wordpress.org/support/article/quote-block/

I'm passing this over to you for review.

[2022-10-18 18:18] estelaris commented on #338
@colorful-tones and @femkreations before deprecating anything make sure they are not Classi Editor vs Block Editor info.

If you see ticket #192 there are the following articles
- [ Pages ]( https://wordpress.org/support/article/pages/) > Create pages
- [ Pages Add New Screen](https://wordpress.org/support/article/pages-add-new-screen/) > Pages add new screen (Classic Editor)
- [ Pages Add New Scr

[2022-10-18 19:38] mayankguptadotcom commented on #170
Updated the article.

* [x]  Make sure all screenshots are relevant to the latest version
* [ ]  Make sure videos are up to date - **Not applicable.**
* [x]  Add ALT tags for the images
* [x]  Make sure the headings are in sentence case
* [x]  Convert all reusable blocks to a ‘regular block’.
* [x ]  Update the changelog at the end of the article

@femkreations - can you please review it from your

[2022-10-19 10:59] zzap opened #527 "Contributor Day - 25th October, 2022"
## Welcome to the WordPress Documentation team's Contributor Day

You can join us via [Zoom](https://us02web.zoom.us/j/88088421252?pwd=cnlRSW84YjlwdjRtYStnVXZnV0Vwdz09) on 25th October, between 10AM UTC and 8PM UTC.

## New contributors

If this is your first time contributing to the Documentation team, please make sure you have following accounts:
- [WordPress.org account](https://login.wordpress

[2022-10-20 02:43] Leonardus-Nugraha commented on #527
I'll join, although won't be for the whole 10 hours
WP: @leonnugraha

[2022-10-20 02:44] Leonardus-Nugraha commented on #527
I'll join, although won't be for the whole 10 hours.
WP: leonnugraha

[2022-10-21 03:29] ejpadero commented on #527
WordPress.org username: @barn2support
Thank you.

[2022-10-21 08:38] nullbytes commented on #527
:wave: w.org: nullbyte

[2022-10-21 15:09] mayankguptadotcom commented on #521
@stevenlinx @zzap - I've created a core ticket instead, closing this ticket.
https://core.trac.wordpress.org/ticket/56879

[2022-10-21 15:09] #521 closed

[2022-10-21 15:10] mayankguptadotcom commented on #522
@stevenlinx - have created a core ticket as per your suggestion - https://core.trac.wordpress.org/ticket/56878
@zzap : closing this

[2022-10-21 15:10] #522 closed

[2022-10-21 15:18] femkreations commented on #468
This page is ready and scheduled for publishing on the release date. I could not find the  Archive-PostType template UI in my version with the 2023 theme. Hence that has not been added to the doc. Ps review

https://wordpress.org/support/wp-admin/post.php?post=16122581&action=edit @bph @zzap

[2022-10-21 17:18] #488 closed

[2022-10-21 21:10] ethanclevenger91 opened #528 "SSL on reverse proxy code example update"
## Issue Description
The code example currently on this page will throw PHP notices when running WP-CLI commands, potentially in other situations in which `wp-config.php` is loaded outside the context of a normal web request, or when the request is missing expected headers.

## URL of the Page with the Issue
https://wordpress.org/support/article/administration-over-ssl/

## Section of Page with th

[2022-10-23 15:05] ivahyael commented on #527
Joining too! 👋🏼

wordpress: @ivahyael

[2022-10-23 15:15] ivah-y commented on #527
Joining too! 👋

WordPress: @ivahyael

[2022-10-24 01:12] actual-saurabh commented on #527
WP.org username **saurabhshukla**

[2022-10-24 05:17] yogskr commented on #511
Heya @Leonardus-Nugraha ! I'd like to work on this issue.

[2022-10-24 10:29] Alireza-Naji commented on #527
.wordpress.org/gwmorteza

[2022-10-24 11:33] ravahdati commented on #527
wordpress.org/vadatiertebat

[2022-10-24 18:13] tahmid-ul commented on #527
WordPress.org username: tahmidulkarim

[2022-10-24 19:36] kathrynwp commented on #441
@annezazu also mentioned that there is a new TT3 video coming out soon, so we may want to embed that in the doc as well.

[2022-10-25 02:23] nielslange commented on #527
Count me in! w.org: nielslange

[2022-10-25 03:23] Ignasrimkunas commented on #527
WP.org: wigno

[2022-10-25 09:07] carolinan commented on #450
Draft: https://developer.wordpress.org/wp-admin/post.php?post=143053&action=edit

[2022-10-25 09:29] carolinan commented on #448
I have added the information about theme.json and scheduled the update for **November 7**.
The entry in the changelog needs to be updated before publishing.

[2022-10-25 09:32] carolinan commented on #382
Do we know if a block pattern or reusable block exists for this?
It would also be useful to have a pattern for the changelog at the bottom of the pages.

[2022-10-25 10:12] Ignasrimkunas commented on #515
@zzap Will take this

[2022-10-25 10:19] zzap commented on #515
All yours @Ignasrimkunas :tada:

[2022-10-25 10:21] Ignasrimkunas commented on #515
@zzap All done, https://docs.google.com/document/d/1KTShUupDhxqKv9tXs00VrnqOQP4fQs9u8ovqnqZb3gE/edit?usp=sharing

Updated the screenshot and added mention about it in the text

[2022-10-25 10:27] Ignasrimkunas commented on #280
@zzap Will take this

[2022-10-25 10:34] Leonardus-Nugraha commented on #505
I'll work on this one

[2022-10-25 10:38] actual-saurabh commented on #514
Can I take this up?

[2022-10-25 10:39] ninthcoder commented on #527
wordpress.org username: ninthcoder

[2022-10-25 10:42] zzap commented on #388
- [Before Installing](https://wordpress.org/support/article/before-you-install/) is moved [here](https://github.com/zzap/WordPress-Advanced-administration-handbook/blob/main/before-install/index.md).

[2022-10-25 10:45] javiercasares commented on #388
I like very much having a REST-API / whatever usual endpoints... or just like some examples from the WordPress.org news site... having examples for the latest posts, authors or whatever :)

[2022-10-25 10:49] nielslange opened #529 "Theme handbook: Broken code snippets on "Setting up a Development Environment" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/getting-started/setting-up-a-development-environment/#wp-debug are broken.

<table>
<tr>
<td valign="top">WP_DEBUG
<br><br>

<img width="665" alt="Screenshot 2022-10-25 at 17 46 00" src="https://user-images.githubusercontent.com/3323310/197753637-114d1d04-fcab-4678-8705-8ce86e0576be.png">
</td>
<td valign="top">WP_DE

[2022-10-25 11:07] nielslange opened #530 "Theme handbook: Broken code snippets on "Theme Functions" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/basics/theme-functions/ are broken.

## Example of a broken code snippet

<img width="681" alt="Screenshot 2022-10-25 at 18 06 37" src="https://user-images.githubusercontent.com/3323310/197757420-d70732eb-f250-4cec-a644-0f61e82cbcd7.png">

## URL of the Page with the Issue

- https://developer.wordpress.org/themes/ba

[2022-10-25 11:11] carolinan commented on #232
Text content and images look correct to me 👍

[2022-10-25 11:16] jhimross commented on #527
WordPress.org
Username: jhimross

[2022-10-25 11:18] Leonardus-Nugraha commented on #505
@femkreations added the update for 6.1, merge text link settings and download button settings section (based on 6.1), and add some screenshot updates.

https://docs.google.com/document/d/1RW48zg1OUGF-PGpDniNsXLBLWPafMJuhvzDnH_GjUnQ/edit?usp=sharing

[2022-10-25 11:20] carolinan commented on #468
The update looks good to me 👍

[2022-10-25 11:24] actual-saurabh commented on #514
On https://wordpress.org/support/article/comment-template-block/ everything refers to the template editing experience, not the experience inside a post editor.

Why that matters is that in the post editor the block displays differently based on whether there are comments on the post with [#40234](https://github.com/WordPress/gutenberg/pull/40234) adding a "No results found" message. (It obviously

[2022-10-25 11:26] actual-saurabh commented on #514
Sorry, newbie here. I see what I missed. The issue referenced threw me off. :slightly_smiling_face:

[2022-10-25 11:31] Leonardus-Nugraha commented on #513
Screenshot for latest comment block:
![image](https://user-images.githubusercontent.com/65521329/197760979-ca3aa7f7-2384-43fa-8d7f-3acc6f58c363.png)

Screenshot for RSS block:
![image](https://user-images.githubusercontent.com/65521329/197761657-5fa6467c-b73a-41ca-9c38-b79833af866e.png)

Screenshot for tag cloud block:
![image](https://user-images.githubusercontent.com/65521329/197762280-6f406f20-

[2022-10-25 11:36] actual-saurabh commented on #514
I found out that the doc only refers to the template editing experience. In this case, I can confirm that there are no changes in the description or the screenshots. (The Color settings are only applicable to the Comment Query Loop)
![Screenshot from 2022-10-25 16-32-43](https://user-images.githubusercontent.com/1739834/197763436-9b5ae6e2-97ff-4dde-b7fa-782cd6c3d732.png)

[2022-10-25 11:36] nielslange opened #531 "Theme handbook: Broken and incorrect formatted code snippets"
I went through the entire Theme handbook identifying code snippets that are broken or incorrect formatted. This issue aims to keep track of 'em all.

## Broken code snippets

A broken code snippet is a code snippet that is available, but is hard to see. Here's an example of such a code snippet:

<img width="681" alt="Screenshot 2022-10-25 at 18 13 05" src="https://user-images.githubusercontent.com

[2022-10-25 11:36] jennimckinnon commented on #527
👋 wp.org: @ninianepress

[2022-10-25 11:39] Ignasrimkunas commented on #280
@zzap, both the 6.1 and 6.0 updated. Redid all the screenshots and videos. I also added explanations for the new functionalities and left only the placeholders for the Block Settings section

https://docs.google.com/document/d/1IRKea-dgu4Ci6bp8KCwAPh1-K8Is2-YgiKTg4QM7sFk/edit?usp=sharing

[2022-10-25 11:40] carolinan commented on #460
I have started working on this.

[2022-10-25 12:02] Leonardus-Nugraha commented on #509
I'll work on this

[2022-10-25 12:04] jhimross commented on #418
Can I work on this issue?

[2022-10-25 12:16] Leonardus-Nugraha commented on #235
Draft: https://docs.google.com/document/d/1Qy9HzUG90VVXPHPxoSAS86YM1K6dtPuA28N3lElyb7A/edit?usp=sharing (written by @yogskr) Waiting for edits/review (cc: @emmasophieyoung)
Commenting here to update the progress :sweat_smile:

[2022-10-25 12:17] Leonardus-Nugraha commented on #250
https://docs.google.com/document/d/1ZxPLx-mbgLs2WW1wk1u7zNXR82jQ2LyoxsS48mLVcH4/edit?usp=sharing
Wrote instructions how to add the block then link it to Query Loop block

[2022-10-25 12:17] nielslange commented on #529
Closing this issue as the problem had been resolved: https://developer.wordpress.org/themes/getting-started/setting-up-a-development-environment/#wp-debug

[2022-10-25 12:17] #529 closed

[2022-10-25 12:27] actual-saurabh commented on #514
Changes
1. The Comment Query Block seems to be renamed to simply Comments
![Screenshot from 2022-10-25 17-44-20](https://user-images.githubusercontent.com/1739834/197770433-c28f0f75-6b4a-4e89-a5c9-830d8dac5802.png)
![Screenshot from 2022-10-25 17-48-51](https://user-images.githubusercontent.com/1739834/197771124-b7cbd97b-6e33-4958-9c7a-1789c90a3ec9.png)
1. The "More Settings" is titled "More Optio

[2022-10-25 12:33] tahmid-ul commented on #458
I would like to work on this issue.

[2022-10-25 12:34] actual-saurabh commented on #514
Just to clarify, the screenshots in 1 above are not for inclusion in the doc, just evidence for the changes.

[2022-10-25 12:35] nielslange opened #532 "Theme handbook: Broken code snippets on "Pagination" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/pagination/ are broken.

## Example of a broken code snippet

<img width="680" alt="Screenshot 2022-10-25 at 19 34 26" src="https://user-images.githubusercontent.com/3323310/197774161-a6b63523-b441-40bc-8ffc-2c6818f0fd2b.png">

## URL of the Page with the Issue

- https://developer.wordpress.org/themes/

[2022-10-25 12:41] nielslange opened #533 "Theme handbook: Broken code snippets on "Video" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/media/video/ are broken.

## Example of a broken code snippet

<img width="680" alt="Screenshot 2022-10-25 at 19 40 33" src="https://user-images.githubusercontent.com/3323310/197775453-f516ef65-d7b8-443c-ba78-fd31a0e3744a.png">

## URL of the Page with the Issue

- https://developer.wordpress.org/themes

[2022-10-25 12:44] nielslange opened #534 "Theme handbook: Broken code snippets on "Accessibility" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/accessibility/ are broken.

## Example of a broken code snippet

<img width="683" alt="Screenshot 2022-10-25 at 19 43 45" src="https://user-images.githubusercontent.com/3323310/197776082-21d031da-d0e7-45c4-88a8-2fffd59183b5.png">

## URL of the Page with the Issue

- https://developer.wordpress.org/them

[2022-10-25 12:48] ivahyael commented on #471
Hi @zzap 👋 I would like to contribute and work on this.

[2022-10-25 12:49] nielslange opened #535 "Theme handbook: Incorrect formatted code snippets on "Template Files" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/basics/template-files/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="690" alt="Screenshot 2022-10-25 at 19 49 09" src="https://user-images.githubusercontent.com/3323310/197777249-9891d132-94d9-4f9f-9d47-02af34feaefc.png">

## URL of the Page with the Issue

- https://develop

[2022-10-25 12:52] tahmid-ul commented on #472
I would like to work on this issue.

[2022-10-25 12:54] nielslange opened #536 "Theme handbook: Incorrect formatted code snippets on "Organizing Theme Files" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/basics/organizing-theme-files/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="684" alt="Screenshot 2022-10-25 at 19 52 57" src="https://user-images.githubusercontent.com/3323310/197778017-dacc2777-51f1-47af-8c40-8a6cb3464a2d.png">

## URL of the Page with the Issue

- https:/

[2022-10-25 12:55] kraftner commented on #503
I'm having a look at this issue.

[2022-10-25 12:56] kraftner commented on #527
wp.org: [kraftner](https://profile.wordpress.org/kraftner)

[2022-10-25 12:57] nielslange opened #537 "Theme handbook: Incorrect formatted code snippets on "Template Hierarchy" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/basics/template-hierarchy/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="682" alt="Screenshot 2022-10-25 at 19 57 12" src="https://user-images.githubusercontent.com/3323310/197778895-27239be8-2e27-4663-a5c9-daed14696b40.png">

## URL of the Page with the Issue

- https://dev

[2022-10-25 13:01] nielslange opened #538 "Theme handbook: Incorrect formatted code snippets on "Including CSS & JavaScript" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/basics/including-css-javascript/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="681" alt="Screenshot 2022-10-25 at 20 00 34" src="https://user-images.githubusercontent.com/3323310/197779664-06e303f4-b00b-4cfc-8209-95146d22020f.png">

## URL of the Page with the Issue

- https

[2022-10-25 13:03] nielslange opened #539 "Theme handbook: Incorrect formatted code snippets on "Converting customizer settings to block patterns" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/block-themes/converting-customizer-settings-to-block-patterns/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="692" alt="Screenshot 2022-10-25 at 20 02 41" src="https://user-images.githubusercontent.com/3323310/197780129-0fc30dc7-5e54-45f0-ada6-6e0a080ef694.png">

## URL of th

[2022-10-25 13:06] Leonardus-Nugraha commented on #509
Draft ready for editing (cc: @emmasophieyoung)
https://docs.google.com/document/d/1yQWf5iRMyDgeoDD4k_uWAx5RsixsmPg-gGAqqPl7pr8/edit#

[2022-10-25 13:06] nielslange opened #540 "Theme handbook: Incorrect formatted code snippets on "Post Template Files" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/template-files-section/post-template-files/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="686" alt="Screenshot 2022-10-25 at 20 06 32" src="https://user-images.githubusercontent.com/3323310/197780989-3d8b6ee4-c9fb-4dbc-a96c-e47d51a9bce3.png">

## URL of the Page with the Iss

[2022-10-25 13:10] nielslange opened #541 "Theme handbook: Incorrect formatted code snippets on "Attachment Template Files" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/template-files-section/attachment-template-files/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="681" alt="Screenshot 2022-10-25 at 20 10 28" src="https://user-images.githubusercontent.com/3323310/197781827-b2b47a13-6e03-4c07-bc70-df4ab70b8b5c.png">

## URL of the Page with t

[2022-10-25 13:13] nielslange opened #542 "Theme handbook: Incorrect formatted code snippets on "Partial and Miscellaneous Template Files" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/template-files-section/partial-and-miscellaneous-template-files/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="691" alt="Screenshot 2022-10-25 at 20 12 58" src="https://user-images.githubusercontent.com/3323310/197782432-5be6a0a1-0354-43e7-888c-280dc55e0a1a.png">

## URL of

[2022-10-25 13:15] nielslange opened #543 "Theme handbook: Incorrect formatted code snippets on "Comment Template" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/template-files-section/partial-and-miscellaneous-template-files/comment-template/ are incorrect formatted.

## Example of an incorrect formatted code snippet

## URL of the Page with the Issue

- https://developer.wordpress.org/themes/template-files-section/partial-and-miscellaneous-template-files/comment-template/

[2022-10-25 13:18] nielslange opened #544 "Theme handbook: Incorrect formatted code snippets on "Taxonomy Templates" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/template-files-section/taxonomy-templates/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="687" alt="Screenshot 2022-10-25 at 20 18 23" src="https://user-images.githubusercontent.com/3323310/197783708-033cc9a9-d5f7-49c0-a1ce-7eb5a24a9118.png">

## URL of the Page with the Issu

[2022-10-25 13:22] kraftner commented on #503
So, this is my first attempt at working on documentation. Pardon me if there is anything I am doing wrong. :see_no_evil:

Starting with the easy part of reviewing everything under "General"

Fine as is.

The video is fine apart from the fact that in 6.1 the default theme will be twenty-twenty-two and hence the shown patterns are different. But the UI itself looks the same.

Fine as is.

Fine as is

[2022-10-25 13:23] nielslange opened #545 "Theme handbook: Incorrect formatted code snippets on "Conditional Tags" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/basics/conditional-tags/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="691" alt="Screenshot 2022-10-25 at 20 23 01" src="https://user-images.githubusercontent.com/3323310/197784803-22e610c7-8c9c-4b1e-9f1b-14d39d930a08.png">

## URL of the Page with the Issue

- https://devel

[2022-10-25 13:24] kraftner commented on #503
Okay, I now just noticed that this includes writing new documentation for something complex looking at https://github.com/WordPress/gutenberg/pull/43157 which I feel is not good for a first issue.

Retreating here. :grinning:

[2022-10-25 13:26] nielslange opened #546 "Theme handbook: Incorrect formatted code snippets on "Administration Menus" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/administration-menus/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="688" alt="Screenshot 2022-10-25 at 20 26 41" src="https://user-images.githubusercontent.com/3323310/197785643-4ae5df59-5536-4c6d-993b-18dc054bcc7f.png">

## URL of the Page with the Issue

- ht

[2022-10-25 13:29] zzap commented on #388
[Nginx](https://wordpress.org/support/article/nginx/) has a PR [here](https://github.com/zzap/WordPress-Advanced-administration-handbook/pull/79).

[2022-10-25 13:33] kathrynwp commented on #441
@mikachan Thanks for the quick reply, and I'm sorry about the lack of access, totally overlooked that! Here's a screenshot you can peek at, let me know if this works well enough:

![whole-page-screenshot](https://user-images.githubusercontent.com/7662449/197787174-c71f88d9-2f7c-4281-a378-201f185dbcf0.png)

[2022-10-25 13:36] carolinan commented on #460
I believe this update is ready for review (I do not have permission to check the boxes in the first issue).

[2022-10-25 13:39] samxmunoz commented on #460
@carolinan - I will review. Thank you!

[2022-10-25 13:41] carolinan commented on #527
wp.org: poena

[2022-10-25 13:49] carolinan commented on #424
I will work on this today.

[2022-10-25 13:52] ivahyael commented on #471
**Ready for review**

[2022-10-25 14:02] nielslange opened #547 "Theme handbook: Incorrect formatted code snippets on "Custom Headers" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/custom-headers/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="688" alt="Screenshot 2022-10-25 at 21 02 48" src="https://user-images.githubusercontent.com/3323310/197794734-03f2aadb-815d-4837-aa7c-9ca3044c2add.png">

## URL of the Page with the Issue

- https://

[2022-10-25 14:03] samxmunoz commented on #460
Hi @carolinan - I've checked off the items that have been updated, we're still missing a few things here for the 6.1 updates.

Let me know if you have any questions! There are some videos in the associated PRs that we can use.

[2022-10-25 14:04] nielslange opened #548 "Theme handbook: Incorrect formatted code snippets on "Custom Logo" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/custom-logo/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="680" alt="Screenshot 2022-10-25 at 21 04 38" src="https://user-images.githubusercontent.com/3323310/197795179-fbce3c30-9c67-4e7f-a5b7-84a186ce3b05.png">

## URL of the Page with the Issue

- https://dev

[2022-10-25 14:07] nielslange opened #549 "Theme handbook: Incorrect formatted code snippets on "Post Formats" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/post-formats/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="694" alt="Screenshot 2022-10-25 at 21 06 37" src="https://user-images.githubusercontent.com/3323310/197795681-2d9114b4-dcd7-4070-b8d6-2979d63247d6.png">

## URL of the Page with the Issue

- https://de

[2022-10-25 14:09] kraftner commented on #510
## Block toolbar

- Updated screenshots for the block toolbar
- Captions can all stay the same
- Added new/changed alt texts where relevant

---

![grafik](https://user-images.githubusercontent.com/2428517/197788232-5222196b-b0f2-4805-b9a5-7300ac72088f.png)
ALT: slash command triggering the block inserter proposing the title block

---

![grafik](https://user-images.githubusercontent.com/2428517/1

[2022-10-25 14:12] nielslange opened #550 "Theme handbook: Incorrect formatted code snippets on "Sticky Posts" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/sticky-posts/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="685" alt="Screenshot 2022-10-25 at 21 12 12" src="https://user-images.githubusercontent.com/3323310/197797108-debf61e8-73cf-4376-a57d-7e21462811aa.png">

## URL of the Page with the Issue

- https://de

[2022-10-25 14:12] kraftner commented on #510
The "Block Settings" section is still to be done. I'll try to do that in the next days, but if someone else wants to continue I'm fine with it as well. Will comment here again before I continue.

[2022-10-25 14:15] nielslange opened #551 "Theme handbook: Incorrect formatted code snippets on "Sidebars" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/sidebars/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="679" alt="Screenshot 2022-10-25 at 21 15 03" src="https://user-images.githubusercontent.com/3323310/197797844-901ea516-7f62-4d23-9894-4ca29cdc7579.png">

## URL of the Page with the Issue

- https://develo

[2022-10-25 14:15] samxmunoz commented on #527
wp.org: [@samanthaxmunoz](https://profiles.wordpress.org/samanthaxmunoz) ❤️

[2022-10-25 14:17] nielslange opened #552 "Theme handbook: Incorrect formatted code snippets on "Widgets" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/widgets/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="693" alt="Screenshot 2022-10-25 at 21 17 49" src="https://user-images.githubusercontent.com/3323310/197798582-dee73727-4883-40dd-8737-33b0c3ac1b52.png">

## URL of the Page with the Issue

- https://develop

[2022-10-25 14:19] jhimross commented on #418
**Updates/Changes:**
1. Updated old links
2. Updated old information and instructions
3. Updated old screenshots
4. Added QuickInstall

---------------------------------------------------------------------------------

Although WordPress is straightforward to install, you can use one of the one-click auto-installers typically available from hosting companies. The most popular auto-installers,[ Sof

[2022-10-25 14:19] nielslange opened #553 "Theme handbook: Incorrect formatted code snippets on "Images" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/media/images/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="680" alt="Screenshot 2022-10-25 at 21 19 33" src="https://user-images.githubusercontent.com/3323310/197799021-5cdf2eb3-a365-4845-afea-805f420f450a.png">

## URL of the Page with the Issue

- https://de

[2022-10-25 14:21] #472 closed

[2022-10-25 14:22] nielslange opened #554 "Theme handbook: Incorrect formatted code snippets on "Galleries" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/media/galleries/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="694" alt="Screenshot 2022-10-25 at 21 22 18" src="https://user-images.githubusercontent.com/3323310/197799681-4c99c24c-339f-4612-a249-0a23db9ba312.png">

## URL of the Page with the Issue

- https:/

[2022-10-25 14:22] carolinan commented on #460
1. Spacing - I added a new but short sentence under the headline "Block settings".
3.  Multiselect -Not sure what to add here, I think this is a bug fix rather than new feature?
4+ 5. Wrapper blocks - The text was updated to
"You can transform the List Block into the Paragraph Block, Heading Block, Quote Block, Columns or Group. You can unwrap list items and replace the list with the individual bl

[2022-10-25 14:24] nielslange opened #555 "Theme handbook: Incorrect formatted code snippet on "Featured Images & Post Thumbnails" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/functionality/featured-images-post-thumbnails/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="686" alt="Screenshot 2022-10-25 at 21 24 29" src="https://user-images.githubusercontent.com/3323310/197800255-f47fd342-34e2-46b0-8d06-c428da67509b.png">

## URL of the Page with the

[2022-10-25 14:27] nielslange opened #556 "Theme handbook: Incorrect formatted code snippets on "The Customizer JavaScript API" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/customize-api/the-customizer-javascript-api/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="683" alt="Screenshot 2022-10-25 at 21 26 53" src="https://user-images.githubusercontent.com/3323310/197800911-d2958aec-a61f-4115-a1a0-2de9ba9e4d61.png">

## URL of the Page with the Is

[2022-10-25 14:28] zzap commented on #424
This one will be moved to Advanced administration handbook.

[2022-10-25 14:30] nielslange opened #557 "Theme handbook: Incorrect formatted code snippets on "Advanced Usage" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/customize-api/advanced-usage/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="664" alt="Screenshot 2022-10-25 at 21 30 08" src="https://user-images.githubusercontent.com/3323310/197801750-e34842a3-3aee-4f17-8708-c530fce31131.png">

## URL of the Page with the Issue

- https://

[2022-10-25 14:32] nielslange opened #558 "Theme handbook: Incorrect formatted code snippets on "Child Themes" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/advanced-topics/child-themes/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="681" alt="Screenshot 2022-10-25 at 21 32 19" src="https://user-images.githubusercontent.com/3323310/197802288-d3be60f9-16ee-4702-850f-3af7429ecfc5.png">

## URL of the Page with the Issue

- https://

[2022-10-25 14:35] nielslange opened #559 "Theme handbook: Incorrect formatted code snippets on "JavaScript Best Practices" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/advanced-topics/javascript-best-practices/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="679" alt="Screenshot 2022-10-25 at 21 34 52" src="https://user-images.githubusercontent.com/3323310/197802911-973ff89a-c6e9-482e-9449-edd7fbaecd7f.png">

## URL of the Page with the Issu

[2022-10-25 14:39] nielslange opened #560 "Theme handbook: Incorrect formatted code snippets on "Block patterns" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/themes/advanced-topics/block-patterns/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="687" alt="Screenshot 2022-10-25 at 21 38 10" src="https://user-images.githubusercontent.com/3323310/197803790-332dc718-16b3-4ff2-96b9-d66b60db6416.png">

## URL of the Page with the Issue

- https:

[2022-10-25 14:39] jennimckinnon commented on #266
This is currently marked as experimental so I'm keeping this open for now for when it has been sorted. @blogsmithteam this should also answer your question as well.

[2022-10-25 14:44] carolinan commented on #536
Fixed

[2022-10-25 14:47] ejpadero commented on #452
@zzap @jennimckinnon Please could I try working on this?

[2022-10-25 14:59] carolinan commented on #532
Fixed

[2022-10-25 15:15] nielslange commented on #530
Closing this issue as all code snippets have been corrected: https://developer.wordpress.org/themes/basics/theme-functions/

[2022-10-25 15:15] #530 closed

[2022-10-25 15:30] #313 closed

[2022-10-25 15:35] colorful-tones commented on #474
Update: @zzap [made us aware](https://wordpress.slack.com/archives/C02RP4WU5/p1666604946246389?thread_ts=1666105237.857679&cid=C02RP4WU5) that her pattern was not approved.

Based on my research today I've come to understand that the Meta team is currently working through [the redesign process for many `.org` sites](https://make.wordpress.org/meta/2022/10/21/wordpress-org-redesign-update/). [HelpH

[2022-10-25 15:44] colorful-tones commented on #382
I'm not sure how/if there is the ability to create block patterns, which would seem ideal. I've [reached out ](https://wordpress.slack.com/archives/C02QB8GMM/p1666711195483709)to the Meta team in Slack for guidance, but they're likely busy with the redesign work.

[2022-10-25 15:44] nielslange commented on #533
Closing this issue as all code snippets have been corrected: https://developer.wordpress.org/themes/functionality/media/video/

[2022-10-25 15:44] #533 closed

[2022-10-25 15:58] nielslange commented on #534
Closing this issue as all code snippets have been corrected: https://developer.wordpress.org/themes/functionality/accessibility/

[2022-10-25 15:58] #534 closed

[2022-10-25 16:11] nielslange commented on #535
Closing this issue as all code snippets have been corrected: https://developer.wordpress.org/themes/basics/template-files/

[2022-10-25 16:11] #535 closed

[2022-10-25 16:27] nielslange commented on #536
Closing this issue as the code snippet had been formatted: https://developer.wordpress.org/themes/basics/organizing-theme-files/

[2022-10-25 16:27] #536 closed

[2022-10-25 16:54] femkreations commented on #302
Here is the page scheduled for Nov 1st. https://wordpress.org/support/wp-admin/post.php?post=16133030&action=edit

Updated screenshots to show the View button in the top toolbar, time to read

Content tweaked. FAQ removed. Added a section with videos on how to use the block editor.

Added new videos to show tips to work with the Editor

[2022-10-25 17:01] nielslange commented on #548
Closing this issue as the code snippets have been formatted: https://developer.wordpress.org/themes/functionality/custom-logo/

[2022-10-25 17:01] #548 closed

[2022-10-25 17:06] nielslange commented on #537
Closing this issue as the code snippets have been formatted: https://developer.wordpress.org/themes/basics/template-hierarchy/

[2022-10-25 17:06] #537 closed

[2022-10-25 17:11] nielslange commented on #538
Closing this issue as the code snippets have been formatted: https://developer.wordpress.org/themes/basics/including-css-javascript/

[2022-10-25 17:11] #538 closed

[2022-10-25 17:32] femkreations opened #561 "[HelpHub] How to Use the Preview Function"
Article: https://wordpress.org/support/article/how-to-use-the-preview-function/

## Update for 6.1

Update this page to show the toolbar with the View button instead of the Preview

[2022-10-25 17:46] nielslange commented on #539
Closing this issue as the code snippets have been formatted: https://developer.wordpress.org/themes/block-themes/converting-customizer-settings-to-block-patterns/

[2022-10-25 17:46] #539 closed

[2022-10-25 17:53] nielslange commented on #540
Closing this issue as the code snippets have been formatted: https://developer.wordpress.org/themes/template-files-section/post-template-files/

[2022-10-25 17:53] #540 closed

[2022-10-25 18:14] femkreations commented on #561
Here is the page https://wordpress.org/support/wp-admin/post.php?post=16133271&action=edit
Set for Publish on Nov 1st.
Updated screenshots and content for 6.1.
Added info for Site Editor
Added ALT tags for the images
Added video to show the feature

[2022-10-25 18:41] bph commented on #468
Very thorough! Excellent work @femkreations.

For the category-specific Template, it would be more intuitive to show more categories in the screenshot.
![Screen Shot 2022-10-25 at 14 29 08](https://user-images.githubusercontent.com/39980/197854011-376555d8-6626-44d3-ab83-beebd06e43d9.png)

In the resource links section, I would remove the link to the GoDaddy tutorial and add links to the Learn.Wor

[2022-10-25 19:04] bph commented on #468
Just saw this:

The Archive post Type is only available when a site has a Custom Post Type other than post or page, like movie or book. The theme/plugin would need to create the Custom post Type first via code.

You could add something like:
`"Should your site also include a so-called Custom Post Type, like movie, book or recipe, you will also be able to create separate template for those archive

[2022-10-25 19:32] ejpadero commented on #452
**Original last paragraph:**

**Suggested change:**
While most password managers are a paid service, if you're looking for a free solution, some may offer a time-based trial or plan.

===

I hope this helps, @femkreations . Please let me know if any further revision is needed. Thanks!

[2022-10-25 19:55] jennimckinnon commented on #561
@femkreations Reviewed this article, and I suggest these edits:

1. Change "It is used to preview what your post/page or the site you are currently working on, looks like with the current changes applied" to "It's used to preview what your post, page, or site looks like with the current changes applied."
<img width="868" alt="image" src="https://user-images.githubusercontent.com/9810898/197864553-

[2022-10-25 23:57] femkreations commented on #310
Completed this page https://wordpress.org/support/wp-admin/post.php?post=16133878&action=edit and set for Publish on Nov 1st.
Added screenshots and content update for 6.1
Added content for Site Editor Preferences with screenshots

[2022-10-26 04:08] ivahyael commented on #455
Hi, I hope I still contribute. May I work on this issue? 👋

[2022-10-26 09:14] mikachan commented on #441
No worries, thanks for adding the screenshot!

Yes, all these names look correct to me 👍 I think "Default" works well here too.

The styles in the screenshots look up to date (colours, fonts), however, some of the screenshots include the "Latest Posts" and "View more" headings above the query loop, which have since been removed. The text is extremely tiny, so possibly difficult to notice, but it i

[2022-10-26 11:10] carolinan commented on #541
Fixed.

[2022-10-26 11:21] carolinan commented on #560
Fixed.

[2022-10-26 11:25] carolinan commented on #542
Fixed.

[2022-10-26 14:56] bph opened #562 "Commercial Link on Theme Hierarchy page"
@AndrewJDFerguson posted this on the Dev Blog theme repo:
_Not sure if this is the correct place to add this issue, but neither is having a commercial link buried in content on the developer.wordpress.org.

If you view https://developer.wordpress.org/themes/basics/template-hierarchy/#visual-overview you will notice a link "You can also [interact with this diagram](http://wphierarchy.com/)." The li

[2022-10-26 16:18] samxmunoz commented on #474
Awesome thanks for sharing an update here @colorful-tones! Appreciated.

[2022-10-26 17:09] femkreations commented on #455
This page has been reworked for 6.1. Refer to https://github.com/WordPress/Documentation-Issue-Tracker/issues/310

[2022-10-26 17:27] kathrynwp commented on #441
@mikachan Thank you for all the feedback!

- I've kept "Default"
- I've added creator names to the captions for the 10 style variations. Here's a screenshot of what that now looks like:

<img width="751" alt="Twenty_Twenty-Three_–_WordPress_org_Forums" src="https://user-images.githubusercontent.com/7662449/198095028-a914cfba-d9de-483b-b882-fe5eaa240b1b.png">

- I'm looking into the issue with the

[2022-10-26 18:57] samxmunoz commented on #340
@femkreations / @zzap - this is **READY FOR REVIEW** for the 6.1 release (scheduled for Nov 1 @ 6:00 am UTC).

[2022-10-27 09:21] kraftner commented on #510
- In this section some changes to the text are needed as well.
- Updated screenshots for the block toolbar
- Captions can all stay the same
- Added new/changed alt texts where relevant

---

## Block Settings

![grafik](https://user-images.githubusercontent.com/2428517/198240157-92e67cde-cf4b-4631-b6d9-cccf0dc8e698.png)
ALT: Block Settings Sidebar with an emphasis on the "settings" button in the E

[2022-10-27 09:27] mikachan commented on #441
Thank you, this looks good to me!

I don't feel strongly about this, it's a very minor detail.

[2022-10-27 09:32] kraftner commented on #510
Looking at the dimensions settings I noticed that these need some slight updating concerning the new slider UI. But since this seems to be a verbatim copy of https://wordpress.org/support/article/dimension-controls-overview/ , which also needs updating for 6.1 to include the new UI, I was wondering if these are really all handled separately for all blocks or if this is something handled via reusab

[2022-10-27 11:11] nielslange commented on #555
Closing this issue as the code formatting had been corrected in https://developer.wordpress.org/themes/functionality/featured-images-post-thumbnails/.

[2022-10-27 11:11] #555 closed

[2022-10-27 16:18] stevenlinx commented on #525
I wonder if this sub-page should just be deleted.

As you said, there are already 5 examples on the parent page.

[2022-10-27 16:34] stevenlinx commented on #528
Thank you for filing.

Yes, according to the coding standard, you do need curly braces for control structures.
https://developer.wordpress.org/coding-standards/wordpress-coding-standards/php/#brace-style

I've made the revision.

[2022-10-27 17:15] samxmunoz commented on #172
I'll be updating this article.

[2022-10-27 17:16] samxmunoz commented on #164
I'll update this article.

[2022-10-27 18:06] mikachan opened #563 "[Theme handbook] color naming best practices"
## What is the new page you are requesting?

It may not require an entirely new page, but it would be great to include a section which encourages the use of a standardized naming convention for theme colors.

It could work well in a new section here, on the theme.json page: https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#css-custom-properties-presets-custom

Or perhap

[2022-10-27 23:58] femkreations commented on #303
Updated the page https://wordpress.org/support/wp-admin/post.php?post=16141282&action=edit

[2022-10-28 18:43] samxmunoz commented on #172
@femkreations / @zzap - this one is READY FOR REVIEW!!! 🎉 💃🏼

[2022-10-28 19:11] samxmunoz commented on #164
@zzap and @femkreations - this is **Ready for review!!!**

[2022-10-28 19:20] samxmunoz commented on #132
I'll be updating this doc. 🚀

[2022-10-28 19:38] samxmunoz commented on #132
@femkreations & @zzap - I updated this one and it's READY FOR REVIEW. 🚀

**Note I added quite a bit to this doc, I added the fact that this could be done with various blocks any that have the `anchor` attribute within the Core Blocks Reference and added a video!**

[2022-10-28 20:40] ravahdati commented on #295
@femkreations | every block in gutenberg needs a seperate page and users hasn't be confused.

[2022-10-29 01:38] nielslange commented on #541
Closing this as the formatting had been corrected: https://developer.wordpress.org/themes/template-files-section/attachment-template-files/

[2022-10-29 01:38] #541 closed

[2022-10-29 01:52] nielslange commented on #542
Closing this issue as the formatting had been fixed: https://developer.wordpress.org/themes/template-files-section/partial-and-miscellaneous-template-files/

[2022-10-29 01:52] #542 closed

[2022-10-29 02:11] nielslange commented on #543
Closing this as all formattings have been corrected: https://developer.wordpress.org/themes/template-files-section/partial-and-miscellaneous-template-files/comment-template/

[2022-10-29 02:11] #543 closed

[2022-10-29 02:31] nielslange commented on #544
Closing this issue as all formattings have been corrected: https://developer.wordpress.org/themes/template-files-section/taxonomy-templates/

[2022-10-29 02:31] #544 closed

[2022-10-29 03:14] nielslange commented on #545
Closing this issue as all formattings have been corrected: https://developer.wordpress.org/themes/basics/conditional-tags/

[2022-10-29 03:14] #545 closed

[2022-10-29 03:36] nielslange commented on #546
Closing this issue as the formattings have been corrected: https://developer.wordpress.org/themes/functionality/administration-menus/

[2022-10-29 03:36] #546 closed

[2022-10-29 03:57] nielslange commented on #547
Closing this issue as the formattings have been corrected: https://developer.wordpress.org/themes/functionality/custom-headers/

[2022-10-29 03:57] #547 closed

[2022-10-29 04:03] nielslange commented on #549
Closing this issue as the formattings have been corrected: https://developer.wordpress.org/themes/functionality/post-formats/

[2022-10-29 04:03] #549 closed

[2022-10-29 04:14] nielslange commented on #550
Closing this issue as all formattings have been corrected: https://developer.wordpress.org/themes/functionality/sticky-posts/

[2022-10-29 04:14] #550 closed

[2022-10-29 04:29] nielslange commented on #551
Closing this issue as all formattings have been corrected: https://developer.wordpress.org/themes/functionality/sidebars/

[2022-10-29 04:29] #551 closed

[2022-10-29 04:39] nielslange commented on #552
Closing this issue as the formattings have been corrected: https://developer.wordpress.org/themes/functionality/widgets/

[2022-10-29 04:39] #552 closed

[2022-10-31 06:37] #528 closed

[2022-10-31 07:51] yogakrisanta commented on #494
Yooo @Leonardus-Nugraha! I'll work on this.

[2022-10-31 14:45] bph commented on #493
## General Component
Work has continued to improve support for PHP 8, 8,1, and introduce partial support for the new 8.2 version of PHP. (an aside,
[@sergey](https://wordpress.slack.com/team/U02RQHNND)
, we should probably coordinate a “PHP 8.2 and WordPress 6.1+” post on Make. Can coordinate with
[@hellofromtonya](https://wordpress.slack.com/team/U04NQ8LM3)
 and
[@jrf](https://wordpress.slack.com

[2022-10-31 15:28] colorful-tones commented on #474
I opened a new Trac ticket, as advised by the #meta team. https://meta.trac.wordpress.org/ticket/6556

[2022-11-01 01:39] nielslange commented on #553
Closing this issue as all formattings have been corrected: https://developer.wordpress.org/themes/functionality/media/images/

[2022-11-01 01:39] #553 closed

[2022-11-01 02:06] nielslange commented on #554
Closing this issue as all formattings have been corrected: https://developer.wordpress.org/themes/functionality/media/galleries/

[2022-11-01 02:06] #554 closed

[2022-11-01 02:16] nielslange commented on #556
Closing this issue as the formattings have been corrected: https://developer.wordpress.org/themes/customize-api/the-customizer-javascript-api/

[2022-11-01 02:16] #556 closed

[2022-11-01 02:19] nielslange commented on #557
Closing this issue as the formatting had been corrected: https://developer.wordpress.org/themes/customize-api/advanced-usage/

[2022-11-01 02:19] #557 closed

[2022-11-01 02:29] nielslange commented on #558
Closing this issue as the formattings have been corrected: https://developer.wordpress.org/themes/advanced-topics/child-themes/

[2022-11-01 02:29] #558 closed

[2022-11-01 02:34] nielslange commented on #559
Closing this issue as all formattings have been corrected: https://developer.wordpress.org/themes/advanced-topics/javascript-best-practices/

[2022-11-01 02:34] #559 closed

[2022-11-01 02:41] nielslange commented on #560
Closing this issue as all formattings have been fixed: https://developer.wordpress.org/themes/advanced-topics/block-patterns/

[2022-11-01 02:41] #560 closed

[2022-11-01 02:45] nielslange commented on #531
@zzap I'm closing this issue as all listed issues have been resolved. 😀

[2022-11-01 02:45] #531 closed

[2022-11-01 15:22] femkreations commented on #441
@kathrynwp Thanks so much for working on this page and doing a fabulous job. We use sentence cases on headings as a guide. So Color Palette is Color palette, Full Site Editing support etc. Hope that clarifies. Its a minor change.

[2022-11-01 18:53] bph commented on #493
Double-checked responses from component maintainers I updated the field guide:

- Maria DB minimup requirement
- link preload
- Embeds oEmbed

This tracking issue is all done.

[2022-11-01 18:53] #493 closed

[2022-11-01 18:57] kathrynwp commented on #441
@femkreations Thanks for confirming, I've made the update!

[2022-11-02 02:42] kathrynwp commented on #441
The new page is now live!

https://wordpress.org/support/article/twenty-twenty-three/

I'll be dropping in the new TT3 video as soon as it's ready, but I'll go ahead and close this out for now.

[2022-11-02 02:42] #441 closed

[2022-11-03 22:00] msangapu-msft opened #564 "Need help updating Azure content and links"
## Issue Description
Hi team, I'm a Technical Writer for Microsoft Azure and we discovered a couple areas that need updating.

## URL of the Page with the Issue
https://wordpress.org/support/article/installing-wordpress-at-popular-hosting-companies/#installing-wordpress-at-microsoft-azure

## Section of Page with the issue
**Installing WordPress at Microsoft Azure**

## Why is this a problem?
- Th

[2022-11-04 09:35] shabnam611 commented on #167
I will pick this one

[2022-11-04 09:40] pls78 commented on #173
I'm picking it up :)

[2022-11-04 09:45] michaelbriantina commented on #495
I'll pick up this one!

[2022-11-04 10:09] iolandasequino commented on #168
I'm picking up this issue :D

[2022-11-04 10:10] Yvonne-Palanca commented on #299
I'll pick this one up!

[2022-11-04 10:16] hannaw93 commented on #443
I will pick this up :)

[2022-11-04 10:22] hannaw93 commented on #442
I will pick this one up :)

[2022-11-04 10:33] nielsbroekzitter commented on #272
I will make make 6.1 updates

[2022-11-04 11:01] michaelbriantina commented on #495
I modified the article (https://wordpress.org/support/article/reddit-embed/) and made sure that all screenshots and information, as well as the updated Reddit icon, were updated for WP 6.1.

I set it to a scheduled update as of November 30, 2022, in case anyone wanted to review it beforehand. Thanks!

[2022-11-04 11:23] Yvonne-Palanca commented on #299
I don't have the option to modify the article https://wordpress.org/support/article/block-based-widgets-editor/. So I shared a Google doc for the testing  I made using the WordPress 6.0 and Twenty twenty-one theme.

https://docs.google.com/document/d/1ctWJd4kq_EeDCoMrNLnL4I4tQJf-0HLYhFp-ZuAbQfE/edit?usp=sharing

[2022-11-04 12:12] shabnam611 commented on #167
[https://docs.google.com/document/d/19IF6H_ZrkS8RlONzmnptp31rV3Pl0_F73ycj9tV_qys/edit#](url)

Update screenshots - Steps to Embed a video from VideoPress:
step 3
Updated screenshots - Steps to Embed a video from VideoPress:
step 4 [first and third image]
Update screenshots - Change Alignment
Update screenshots - Edit URL
Update screenshots - More Options
Edited the headings in sentence case

[2022-11-04 12:33] iolandasequino commented on #168
I've update the screenshots of this article to reflect the layout in the 6.0.2 version. I've edited the `Hide Block settings` heading to `Hide more settings` and added the "None" option to the `Change alignment` section.

Here is the document I created: https://docs.google.com/document/d/117B4dSdHK5rM03RTnVFHpzK2Y4cbnoekAD4LoAk8stA/edit?usp=sharing

[2022-11-04 12:44] nielsbroekzitter commented on #272
![Color Settings](https://user-images.githubusercontent.com/117441367/199975382-3ac3e617-bdc0-4e8d-ab87-3abc09c8e814.jpg)
![Columns](https://user-images.githubusercontent.com/117441367/199975386-b9cc7775-6f28-4133-a17f-b71015ec31e8.jpg)
![Editor view of columns as a Group with Color settings controls](https://user-images.githubusercontent.com/117441367/199975387-afb72296-f958-4ca9-9b64-51a37ef110f

[2022-11-04 13:06] nielsbroekzitter commented on #272
Also made a video about the new typography function

https://user-images.githubusercontent.com/117441367/199979393-977f5a2f-7716-46b5-91b2-c6d8a032f8dd.mp4

[2022-11-04 13:15] pls78 commented on #173
The updated article can be found [here](https://docs.google.com/document/d/1kQ-ep3bjYVFQAQhdJPqLe7-g6PiBpbtCuxESV1O4jM0/edit?usp=sharing).
* Some of the screenshots have been updated: please note I have also update all the screenshots where the artist is present, for consistency, as the ReverbNation artist page changed over time
* Screenshots filenames have been kept consistent with the previous o

[2022-11-04 13:32] hannaw93 commented on #442
Adjusted slightly structure: so that a section has links after the explanation, instead of vice versa.
From mentioned tasks done:
- Link on first paragraph [need help] now leads to the form, but paragraph not removed
- Links (all) updated/replaced
- Kept [Introduction to Blogging?](https://wordpress.org/support/article/introduction-to-blogging/) since there is an issue about updating it
- Removed

[2022-11-04 13:35] nielsbroekzitter commented on #464
Making new videos for the section https://wordpress.org/support/article/working-with-blocks/#how-to-lock-and-unlock-a-block

[2022-11-04 13:37] pls78 commented on #443
I'm picking this up :)

[2022-11-04 13:54] nielsbroekzitter commented on #283
Wordking on justification controls video

[2022-11-04 14:03] pls78 commented on #443
I reviewed the article as far as the 'Trackbacks' sub-section included; I found the following problem:
* The 'Feeds' link should be updated from https://codex.wordpress.org/Introduction_to_Blogging#Feeds to https://wordpress.org/support/article/introduction-to-blogging/#feeds
* The 'stand-alone “weblog client” software' link should be updated from https://codex.wordpress.org/Weblog_Client to https

[2022-11-05 04:45] nielslange opened #565 "Plugin handbook: Incorrect formatted code snippets"
In #531, I recently double-checked and corrected all code snippets of the theme handbook. This issue aims to collect all incorrect formatted code snippets that appear within the plugin handbook.

## Incorrect formatted code snippets

An incorrect formatted code snippet is a code snippet that currently has no format, is using a wrong indentation or has some other kind of formatting issue. Here's an

[2022-11-05 04:52] nielslange opened #566 "Plugin handbook: Incorrect formatted code snippets on "Header Requirements" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/plugin-basics/header-requirements/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="693" alt="Screenshot 2022-11-05 at 11 52 08" src="https://user-images.githubusercontent.com/3323310/200101775-6827f8a8-f658-4929-bb28-d5cdafb9a9ec.png">

## URL of the Page with the Issue

- ht

[2022-11-05 04:56] nielslange opened #567 "Plugin handbook: Incorrect formatted code snippets on "Activation / Deactivation Hooks" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/plugin-basics/activation-deactivation-hooks/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="682" alt="Screenshot 2022-11-05 at 11 56 16" src="https://user-images.githubusercontent.com/3323310/200101893-7544c0fd-a3b1-463e-81fa-3456356a15e9.png">

## URL of the Page with the I

[2022-11-05 04:58] nielslange opened #568 "Plugin handbook: Incorrect formatted code snippets on "Uninstall Methods" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/plugin-basics/uninstall-methods/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="684" alt="Screenshot 2022-11-05 at 11 58 17" src="https://user-images.githubusercontent.com/3323310/200101962-f97035ae-89fa-454b-89c7-efe6c6e3744d.png">

## URL of the Page with the Issue

- http

[2022-11-05 05:00] nielslange opened #569 "Plugin handbook: Incorrect formatted code snippets on "Best Practices" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/plugin-basics/best-practices/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="688" alt="Screenshot 2022-11-05 at 12 00 35" src="https://user-images.githubusercontent.com/3323310/200102019-5f8a8179-f7d6-4f3a-86a3-389abb1f7050.png">

## URL of the Page with the Issue

- https:/

[2022-11-05 05:04] nielslange opened #570 "Plugin handbook: Incorrect formatted code snippets on "Determining Plugin and Content Directories" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/plugin-basics/determining-plugin-and-content-directories/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="688" alt="Screenshot 2022-11-05 at 12 03 40" src="https://user-images.githubusercontent.com/3323310/200102107-3eef388b-bdd2-4ea2-bb69-ff570ba33482.png">

## URL of the Pa

[2022-11-05 05:06] nielslange opened #571 "Plugin handbook: Incorrect formatted code snippets on "Checking User Capabilities" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/security/checking-user-capabilities/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="688" alt="Screenshot 2022-11-05 at 12 06 13" src="https://user-images.githubusercontent.com/3323310/200102198-f30183d3-4d84-482e-bae5-a4f427a1a6d9.png">

## URL of the Page with the Issue

-

[2022-11-05 05:08] nielslange opened #572 "Plugin handbook: Incorrect formatted code snippets on "Data Validation" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/security/data-validation/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="679" alt="Screenshot 2022-11-05 at 12 08 01" src="https://user-images.githubusercontent.com/3323310/200102261-3f5c3ce6-0f1a-478d-986d-085fadc90a1d.png">

## URL of the Page with the Issue

- https://dev

[2022-11-05 05:09] nielslange opened #573 "Plugin handbook: Incorrect formatted code snippets on "Securing (sanitizing) Input" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/security/securing-input/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="687" alt="Screenshot 2022-11-05 at 12 09 28" src="https://user-images.githubusercontent.com/3323310/200102303-7fde14f0-fddc-4071-8fe7-96c1ef9b4873.png">

## URL of the Page with the Issue

- https://deve

[2022-11-05 05:13] nielslange opened #574 "Plugin handbook: Incorrect formatted code snippets on "Securing (escaping) Output" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/security/securing-output/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="688" alt="Screenshot 2022-11-05 at 12 13 22" src="https://user-images.githubusercontent.com/3323310/200102386-6e727132-f154-4c63-bc4a-d4e24e868066.png">

## URL of the Page with the Issue

- https://dev

[2022-11-05 05:17] nielslange opened #575 "Plugin handbook: Incorrect formatted code snippets on "Nonces" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/security/nonces/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="686" alt="Screenshot 2022-11-05 at 12 16 55" src="https://user-images.githubusercontent.com/3323310/200102485-3a84f252-9f8e-45b3-b131-d3810ebbe081.png">

## URL of the Page with the Issue

- https://developer.wo

[2022-11-05 05:26] nielslange opened #576 "Plugin handbook: Incorrect formatted code snippets on "Actions" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/hooks/actions/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="690" alt="Screenshot 2022-11-05 at 12 25 48" src="https://user-images.githubusercontent.com/3323310/200103540-8bfa990b-d187-4a96-9df5-3ddcd45b0f5f.png">

## URL of the Page with the Issue

- https://developer.word

[2022-11-05 05:27] nielslange opened #577 "Plugin handbook: Incorrect formatted code snippets on "Filters" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/hooks/filters/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="688" alt="Screenshot 2022-11-05 at 12 27 36" src="https://user-images.githubusercontent.com/3323310/200103962-b3633d64-cbb9-4634-a0db-652661b03821.png">

## URL of the Page with the Issue

- https://developer.word

[2022-11-05 05:33] nielslange opened #578 "Plugin handbook: Misleading code snippets on "Custom Hooks" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/hooks/custom-hooks/ are misleading.

## Example of an misleading code snippet

<img width="688" alt="Screenshot 2022-11-05 at 12 30 17" src="https://user-images.githubusercontent.com/3323310/200104073-d289bd66-cb59-4ee3-b5e6-424d3e155869.png">

## URL of the Page with the Issue

- https://developer.wordpress.org/plu

[2022-11-05 05:48] nielslange opened #579 "Plugin handbook: Incorrect formatted code snippets on "Advanced Topics" page"
## Issue Description

Some code snippet on https://developer.wordpress.org/plugins/hooks/advanced-topics/ are incorrect formatted.

## Example of an incorrect formatted code snippet

<img width="681" alt="Screenshot 2022-11-05 at 12 47 56" src="https://user-images.githubusercontent.com/3323310/200104602-7efaf86d-e189-4ab9-996e-3f69af40c088.png">

## URL of the Page with the Issue

- https://develo